{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block extra_js_to_load %}
    pombola_settings.extra_js.push( '//cdnjs.cloudflare.com/ajax/libs/geo-location-javascript/0.4.8/geo-min.js' );
    pombola_settings.extra_js.push( '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js' );

    var mapDrilldownSettings = {
      {% if settings.COUNTRY_APP == 'kenya' %}
        mapitAreaType: 'con',
      {% endif %}

      i18n: {
        "browser not supported": "Your browser does not support Google Maps. Please <a href=\"/search/\">search</a> for your constituency instead.",
        "drag to find":          "Drag map to your location or search by full place name below.",
        "geolocating":           "Trying to find your current location&hellip;",
        "could not geolocate":   "There was a problem finding your current location.",
        "location found":        "Map has been centred on your current location.",
        "area not found":        "No matching areas were found.",

        "zero geocoder results":      "Place name not found, please try another",
        "geocoder error":             "There was a problem searching for that place name",
        "geocoder results displayed": "Result now shown as pins on map",
        "geocoder searching":         "Searching &hellip;"
      }
    };

    pombola_settings.extra_js.push( 'js/map-drilldown.js' );
{% endblock %}

{% block extra_headers %}
{% endblock %}


{% block breadcrumbs %}
    {# Hide bread crumbs on the home page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block content %}


<style type="text/css">
  #map-drilldown-canvas {
    background-color: #ccc;
    width: 100%;
    height: 400px;
  }

  .gmap-control {
    display: none;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }

  #map-drilldown-message {
    margin-top: 30px;
    width: 80%;
    font-size: 16px;
  }

  #map-drilldown-message div.location {
    margin-top: 0.5em;
  }

</style>


<div class="map-drilldown">

  <div id="map-drilldown-canvas">
    loading&hellip;
  </div>

  <div id="map-drilldown-message" class="gmap-control">
    <div class="instruction">loading&hellip;</div>
    <div class="location">&nbsp;</div>
    <form action="#" class="search">
      <input type="search" placeholder="Full place name" />
      <input type="submit" value="Search" />
    </form>
  </div>

</div>


{% endblock %}
