{% extends 'base.html' %}
{% load pipeline %}

{% block title %}Map{% endblock %}

{% block extra_js_to_load %}
    pombola_settings.extra_js.push( '//cdnjs.cloudflare.com/ajax/libs/geo-location-javascript/0.4.8/geo-min.js' );
    pombola_settings.extra_js.push( '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js' );

    var mapDrilldownSettings = {
      {% if settings.COUNTRY_APP == 'kenya' %}
        mapitAreaType: 'con'
      {% endif %}
    };

    addExtraJS([ {% javascript 'map' %} null ]);

{% endblock %}

{% block extra_headers %}
{% endblock %}


{% block breadcrumbs %}
    {# Hide bread crumbs on the home page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block content %}


<style type="text/css">
  #map-drilldown-canvas {
    background-color: #ccc;
    width: 100%;
    height: 400px;
  }

  .gmap-control {
    display: none;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }

  #map-drilldown-message {
    margin-top: 30px;
    width: 80%;
    font-size: 16px;
  }

  #map-drilldown-message div.location {
    margin-top: 0.5em;
  }

</style>


<div class="map-drilldown">

  <div id="map-drilldown-canvas">
    loading&hellip;
  </div>

  <div id="map-drilldown-message" class="gmap-control">
    <div class="instruction">loading&hellip;</div>
    <div class="location"></div>
  </div>

</div>


{% endblock %}
