<div class="overview-section" id="national">
    <h3>View candidates by party</h3>
    <ul class="overview-list">
        {% for party in running_party_list %}
            <li>
                <a href="{% url "sa-election-candidates-national-party" election_year=election_year party_name=party.slug %}">{{ party.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<div class="overview-section" id="provincial">
    <h3>View candidates by province</h3>

    <ul class="overview-list">
        {% for province in province_list %}
            <li>
                <a href="{% url "sa-election-candidates-national-province" election_year=election_year province_name=province.slug %}">{{ province.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>
