{% extends 'south_africa/election_base.html' %}

{% block content %}



    <div class="election-page-header" id="top">
        <h2>National Election</h2>
        <p>The National Assembly consists of 400 members elected by proportional representation with a closed list approach. Two hundred members will be elected from national party lists; the other 200 will be elected from provincial party lists in each of the nine provinces. The President of South Africa will be chosen by the National Assembly after the election. </p>
    </div>

    {% include "south_africa/election/_national.html" %}

{% endblock %}
