{% extends 'south_africa/election_base.html' %}

{% block content %}
     <div class="election-page-header" id="top">
        <h2>Provincial</h2>
        <p>The National Council of Provinces (NCOP) consists of 90 members, ten elected by each provincial legislature. The NCOP members will be elected by the provincial legislatures in proportion to the party makeup of the legislatures. </p>
        <p>The premiers of each province will be chosen by the winning majority in each provincial legislature.</p>
    </div>
    {% include "south_africa/election/_provincial.html" %}

{% endblock %}
