{% extends 'base.html' %}

{% block title %}Map{% endblock %}

{% block extra_js_to_load %}
    mzalendo_settings.extra_js.push( '//cdnjs.cloudflare.com/ajax/libs/geo-location-javascript/0.4.8/geo-min.js' );
    mzalendo_settings.extra_js.push( '//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js' );
    mzalendo_settings.extra_js.push( 'js/map-drilldown.js' );
{% endblock %}

{% block extra_headers %}
{% endblock %}


{% block breadcrumbs %}
    {# Hide bread crumbs on the home page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block content %}


<style type="text/css" media="screen">
  #map-drilldown-canvas {
    background-color: #ccc;
    width: 100%;
    height: 400px;
  }
  
  .gmap-control {
    background-color: white;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;    
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }

  #map-drilldown-message {
    width: 60%;
    font-size: 16px;    
  }
  
  #geo-locate-me-button {
    width: 10%;
  }
  
  
</style>


<div class="map-drilldown">

  <div id="map-drilldown-canvas">
    loading&hellip;
  </div>

  <div id="map-drilldown-message" class="gmap-control">
    Drag and zoom the map to search for an area.
  </div>
  
  <div id="geo-locate-me-button" class="gmap-control">
    <a href="#">Find me!</a>
  </div>

</div>


{% endblock %}
