{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Mzalendo</h1>

    <p>This is the homepage of the pre-alpha Mzalendo 2.0</p>

    <ul>
        <li><a href="{% url person_list %}">people</a></li>
        <li><a href="{% url organisation_list %}">organisations</a></li>
        <li><a href="{% url place_list %}">places</a></li>
    </ul>

    <div class="action_button">
        <a href="{% url position 'mp' %}">Members of Parliament</a>
    </div>
    
    <div class="action_button">
        <a href="{% url organisation_kind 'party' %}">Political Parties</a>
    </div>
    

{% endblock %}

