{% extends 'base_with_maps.html' %}

{% block title %}Location Search{% endblock %}

{% block content %}

{# TODO - add autolocate magic here #}
{# TODO - map showing locations found #}
{# TODO - search using the map as a drilldown #}


<h2>Location Search</h2>

<div class="content_box">
    <form method="get" action="{% url location_search %}">
        <input type="search" name="loc" placeholder="location name" value="{{ loc }}"/>
        <input type="submit" value="search" />
    </form>

    <ul class="search_hints">
        <li><a href="{% url location_search %}?loc=Nairobi">Nairobi</a></li>
        <li><a href="{% url location_search %}?loc=Kenyatta">Kenyatta</a></li>
        <li><a href="{% url location_search %}?loc=0.515,35.266">0.515, 35.266</a> (co-ordinates for Eldoret)</li>        
    </ul>

</div>

{% if loc and not results %}

    <p>There were no matches for '<strong>{{ loc }}</strong>' - please try another search.</p>

{% endif %}

{% if areas %}

    <h2>Matching areas</h2>

    <ul class="listing">
    {% for object in areas %}
        {% include 'core/generic_list_item.html' %}
    {% endfor %}
    </ul>
    

{% endif %}

{% if results %}

    <h2>Possible Matches</h2>

    <div id="map_canvas" style="width:50%; min-width: 240px; height:400px"></div>
        
    <ul>
        {% for result in results %}
        <li>
            <a href="{% url location_search %}?loc={{ result.lat }},{{ result.lng }}">
                {{ result.name }}                
            </a>
        </li>

        
        <script type="text/javascript" charset="utf-8">
            add_marker_to_map(
                {
                    lat:  {{ result.lat }},
                    lng:  {{ result.lng }},
                    name: "{{ result.name }}",
                    url:  "{% url location_search %}?loc={{ result.lat }},{{ result.lng }}"
                }
            );
        </script>

        {% endfor %}
    </ul>
{% endif %}


{% endblock %}

