{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <h1>{{ object.name }}</h1>

        {% if object.summary %}
        <div class="summary markdown">
            {{ object.summary }}
        </div>
    {% endif %}

    {% include "core/contact_list.html" with contacts=object.contacts.all %}

    
    {% if object.place_set.all %}
        <h2>Related places</h2>
    
        <ul>
        {% for place in object.place_set.all %}
            <li><a href="{{ place.get_absolute_url }}">{{ place.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}



    {% if positions %}
        <h2>Related people</h2>
    
        <ul class="listing">
        {% for position in positions %}
            <li class="position">
                <div class="thumb">
                    <img src="http://dummyimage.com/60x60/ddd/888.png" />
                </div>

                <div class="name">
                    <a href="{{ position.person.get_absolute_url }}">{{ position.person.name }}</a>
                </div>

                {{ position.title.name }}

                {% if object.place %}
                    in <a href="{{ position.place.get_absolute_url }}">{{ position.place.name }}</a>                
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}

{% endblock %}

