{% extends 'base.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <h1>{{ object.name }}</h1>


    {% include "core/contact_list.html" with contacts=object.contacts.all %}


    <h2>Related organisations</h2>

    <ul>
    {% for position in object.position_set.all %}
        <li>
            <a href="{{ position.organisation.get_absolute_url }}">{{ position.organisation.name }}</a>:
            {{ position.title }}
            ( {{ position.display_start_date }} to {{ position.display_end_date }} )
            </li>
    {% empty %}
        <li>There are no related organisations</li>
    {% endfor %}
    </ul>


{% endblock %}

