{% extends 'base.html' %}
{% load comments %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    {% if object.is_mp %}
        <h2>Kenyan Member of Parliament (MP) Profile Page</h2>
    {% endif %}    

    <h1>
        {{ object.title }}
        {{ object.name }}        
    </h1>
    
    {% if object.name != object.legal_name %}
        <p>Full name: {{ object.legal_name }}</p>
    {% endif %}
    
    {% if object.additional_names %}
        <p>Also known as:
        {% for name in object.additional_names %}
            {% if not forloop.first %}
                {% if forloop.last %}or{% else %},{% endif %}
            {% endif %}
            <strong>{{ name }}</strong>
        {% endfor %}</p>
    {% endif %}

    {% if object.date_of_birth %}
        Born: {{ object.date_of_birth }} {# TODO - add age in years #}
    {% endif %}

    {# TODO - add death date too if it exists #}

    <div>
        {% thumbnail object.primary_image "200x200" as im %}
        <img  class="person_photo" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% endthumbnail %}
    </div>    

    <div class="content_box">
        <h3>Current Political Positions</h3>
        {% include 'core/position_section.html' with positions=object.position_set.all.political.currently_active %}
    </div>

    <div class="content_box">
        <h3>Previous Political Positions</h3>
        {% include 'core/position_section.html' with positions=object.position_set.all.political.currently_inactive %}
    </div>

    {% include "core/contact_list.html" with contacts=object.contacts.all %}

    <div class="content_box">
        <h3>Job History</h3>
        {% include 'core/position_section.html' with positions=object.position_set.all.other %}
    </div>

    <div class="content_box">
        <h3>Education</h3>
        {% include 'core/position_section.html' with positions=object.position_set.all.education %}
    </div>


    <div class="content_box">        
        {% include 'comments/detail_page_comments.html' %}
    </div>

{% endblock %}

