{% extends 'base.html' %}
{% load comments %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    {% spaceless %}    
    <div class="person_photo">
        {% thumbnail object.primary_image "200x200" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% empty %}
            <img src="http://dummyimage.com/200x200/ddd/888.png" height="200" width="200" />
        {% endthumbnail %}
    </div>
    {% endspaceless %}
    

    <h1>{{ object.name }}</h1>

    {% include "core/contact_list.html" with contacts=object.contacts.all %}


    <h2>Related organisations</h2>

    <ul class="organisation">
    {% for position in object.position_set.all %}
        <li>
            
            {% if position.is_ongoing %}<strong>{% endif %}
            {{ position.title }}
            {% if position.is_ongoing %}</strong>{% endif %}
            
            {% if position.has_known_dates %}
                ({{ position.display_start_date }} &rarr; {{ position.display_end_date }})
            {% endif %}

            <br />

            <a href="{{ position.organisation.get_absolute_url }}">{{ position.organisation.name }}</a>
                        
            </li>
    {% empty %}
        <li>There are no related organisations</li>
    {% endfor %}
    </ul>

    {% include 'comments/detail_page_comments.html' %}

{% endblock %}

