{% extends 'base_with_maps.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <h1>{{ object.name }}</h1>

    {% if object.organisation %}
    <p>part of <a href="{{ object.organisation.get_absolute_url }}">{{ object.organisation.name }}</a></p>
    {% endif %}


    {% if object.mapit_id %}
    
        {# Ideally all of this would be in an external js file. For now it is the only JS on site so leaving it here #}
    
        <div id="map_canvas" style="width:50%; min-width: 240px; height:300px"></div>
        
        <script type="text/javascript" charset="utf-8">
            add_kml_to_map( '{{ settings.MAPIT_URL }}/area/{{ object.mapit_id }}.kml?simplify_tolerance=0.001' );            
        </script>

    {% endif %}
    

    {% if object.child_places.count %}        
        <div class="content_box">
            <h3>Areas within {{ object.name }}</h3>
            
            <ul class="listing">
            {% for child in object.child_places.all %}
                <li>
                    <a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                </li>
            {% empty %}
                <li>No child places</li>
            {% endfor %}
            </ul>            
        </div>
    {% endif %}


    <div class="content_box todo">
        <h3>Data on this place</h3>

        <p>For example population, demographics, CDF reports etc etc.</p>

    </div>


{% endblock %}

