{% extends 'base.html' %}
{% load thumbnail %}
{% load pagination_tags %}

{% block title %}{{ title.name }}{% endblock %}

{% block content %}

    <h1>{{ title.name_plural }}</h1>

    {% if title.summary %}
        <p>{{ title.summary }}</p>
    {% endif %}

    {% autopaginate object_list %}

    <ul class="listing">
    {% for position in object_list %}
        <li class="place">
        
            <div class="thumb">
                {% thumbnail position.person.primary_image "60x60" crop="center" as im %}
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                {% empty %}
                    <img src="http://dummyimage.com/60x60/ddd/888.png" />
                {% endthumbnail %}
            </div>
        
            <div class="name">
                <a href="{{ position.person.get_absolute_url }}">{{ position.person.name }}</a>
            </div>
        </li>
    {% empty %}
        <li>There are none in the system yet</li>
    {% endfor %}
    </ul>

    {% paginate %}

{% endblock %}

