{% extends 'base.html' %}
{% load comments %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <h1>{{ object.name }}</h1>
    
    {% if object.summary %}
        <div class="summary">
            {{ object.summary|linebreaksbr }}
        </div>
    {% endif %}
    
    {% with org=object.primary_organisation %}
        {% if org %}
        <div class="content_box">
            <h3>
                {{ org.name }}
                {% if org.place %}
                    (<strong>{{ org.place }}</strong>)
                {% endif %}
            </h3>
            
            {% if org.summary %}
                <div class="summary">
                    {{ org.summary|linebreaksbr }}
                </div>
            {% endif %}

            <a href="{{ org.get_absolute_url }}">more details&hellip;</a>
        </div>
        {% endif %}
    {% endwith %}

    <div class="content_box">
        <h3>Current Position Holders</h3>
        {% include 'core/position_section.html' with positions=object.position_set.all.currently_active top_entry='person+place' %}
    </div>

    <div class="content_box">
        <h3>Past Position Holders</h3>
        {% include 'core/position_section.html' with positions=object.position_set.all.currently_inactive top_entry='person+place' %}
    </div>
    
{% endblock %}

