{% load switch %}

<ul class="listing">
{% for position in positions %}
    <li class="position">
        
        {% switch top_entry %}
            {% case 'person+place' %}
                {% if position.is_ongoing %}<strong>{% endif %}
                    <a href="{{ position.person.get_absolute_url }}">{{ position.person.name }}</a>
                {% if position.is_ongoing %}</strong>{% endif %}                

                {% if position.place %}            
                    (<a href="{{ position.place.get_absolute_url }}">{{ position.place.name }}</a>)
                {% endif %}

            {% else %}
                {% if position.is_ongoing %}<strong>{% endif %}
                    <a href="{{ position.title.get_absolute_url }}">{{ position.title }}</a>
                {% if position.is_ongoing %}</strong>{% endif %}
                
                {% if position.place %}            
                    (<a href="{{ position.place.get_absolute_url }}">{{ position.place.name }}</a>)
                {% endif %}

        {% endswitch %}

        <div style="float: right">
            {{ position.display_dates|safe }}
        </div>

        {% switch bottom_entry %}

            {% case "none" %}

            {% else %}
                {% if position.organisation %}
                    <br>
                    <a href="{{ position.organisation.get_absolute_url }}">{{ position.organisation.name }}</a>
                {% endif %}
                        
                {% if position.note %}
                    <br>
                    {{ position.note }}
                {% endif %}

        {% endswitch %}

    </li>
{% empty %}
    <li>No records found.</li>
{% endfor %}
</ul>
