<ul class="listing">
{% for position in positions %}
    <li class="position">
        
        {% if position.is_ongoing %}<strong>{% endif %}
        {{ position.title }}
        {% if position.is_ongoing %}</strong>{% endif %}

        {% if position.place %}            
            (<a href="{{ position.place.get_absolute_url }}">{{ position.place.name }}</a>)
        {% endif %}

        <div style="float: right">
            {{ position.display_dates|safe }}
        </div>

        {% if position.organisation %}
            <br>
            <a href="{{ position.organisation.get_absolute_url }}">{{ position.organisation.name }}</a>
        {% endif %}
                
        {% if position.note %}
            <br>
            {{ position.note }}
        {% endif %}

    </li>
{% empty %}
    <li>No records found.</li>
{% endfor %}
</ul>
