#staging_header {
  background-color: #f8dbdb;
  color: #903233;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  text-align: center;
}

.notice {
  text-align: center;
  padding: 0.5em;
  background-color: #f7f7f7;
}
@media print {
  .notice {
    display: none;
  }
}

div.error {
  border: 2px solid #f00;
  background-color: #fcc;
  text-align: center;
  font-size: 125%;
  padding: 5px;
  margin: 1em 0;
}

ul.ui-autocomplete li {
  list-style: none;
}

.view-selector {
  float: right;
}

.grid-listing-item {
  float: left;
  width: 210px;
  margin: 10px;
  padding: 5px;
  overflow: hidden;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 12px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 12px;
  box-shadow: rgba(0, 0, 0, 0.3) 1px 1px 12px;
}
.grid-listing-item span.name {
  font-size: 120%;
  display: block;
  height: 2.5em;
  overflow: hidden;
}
