/*
Syntax error: Invalid CSS after "...tional-assembly": expected ";", was ".jpg');"
        on line 1411 of /data/vhost/za.mzalendo.dev.mysociety.org/pombola/pombola/core/static/sass/_south-africa_overrides.scss
        from line 42 of /data/vhost/za.mzalendo.dev.mysociety.org/pombola/pombola/core/static/sass/south-africa.scss

Backtrace:
/data/vhost/za.mzalendo.dev.mysociety.org/pombola/pombola/core/static/sass/_south-africa_overrides.scss:1411
/data/vhost/za.mzalendo.dev.mysociety.org/pombola/pombola/core/static/sass/south-africa.scss:42
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1147:in `expected'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1083:in `expected'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1078:in `tok!'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:585:in `declaration_or_ruleset'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1121:in `call'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1121:in `rethrow'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:591:in `declaration_or_ruleset'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:553:in `block_child'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:545:in `block_contents'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:534:in `block'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:528:in `ruleset'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:590:in `declaration_or_ruleset'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1121:in `call'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:1121:in `rethrow'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:591:in `declaration_or_ruleset'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:553:in `block_child'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:545:in `block_contents'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:534:in `block'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:528:in `ruleset'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:552:in `block_child'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:545:in `block_contents'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:82:in `stylesheet'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/scss/parser.rb:27:in `parse'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/engine.rb:342:in `_to_tree'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/engine.rb:274:in `to_tree'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:225:in `visit_import'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:53:in `map'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:53:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:109:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:121:in `with_environment'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:108:in `visit_children'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:128:in `visit_root'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `send'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/base.rb:37:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:100:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:7:in `send'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/visitors/perform.rb:7:in `visit'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/tree/root_node.rb:20:in `render'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/engine.rb:315:in `_render'
/var/lib/gems/1.8/gems/sass-3.2.10/lib/sass/../sass/engine.rb:262:in `render'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
/usr/lib/ruby/vendor_ruby/1.8/rubygems/custom_require.rb:36:in `to_proc'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `call'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:73:in `run_callback'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:55:in `callback_action'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm/path.rb:31:in `create'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:26:in `created'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `each'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:25:in `created'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm/state/directory.rb:17:in `refresh'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/inotify.rb:12:in `add_handler'
/home/matthew/.gem/ruby/1.8/gems/rb-inotify-0.9.2/lib/rb-inotify/notifier.rb:205:in `call'
/home/matthew/.gem/ruby/1.8/gems/rb-inotify-0.9.2/lib/rb-inotify/notifier.rb:205:in `watch'
/home/matthew/.gem/ruby/1.8/gems/rb-inotify-0.9.2/lib/rb-inotify/watcher.rb:41:in `[]'
/home/matthew/.gem/ruby/1.8/gems/rb-inotify-0.9.2/lib/rb-inotify/watcher.rb:41:in `callback!'
/home/matthew/.gem/ruby/1.8/gems/rb-inotify-0.9.2/lib/rb-inotify/event.rb:128:in `callback!'
/home/matthew/.gem/ruby/1.8/gems/rb-inotify-0.9.2/lib/rb-inotify/notifier.rb:238:in `process'
/home/matthew/.gem/ruby/1.8/gems/rb-inotify-0.9.2/lib/rb-inotify/notifier.rb:238:in `each'
/home/matthew/.gem/ruby/1.8/gems/rb-inotify-0.9.2/lib/rb-inotify/notifier.rb:238:in `process'
/home/matthew/.gem/ruby/1.8/gems/rb-inotify-0.9.2/lib/rb-inotify/notifier.rb:221:in `run'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm/backends/inotify.rb:20:in `run'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm/monitor.rb:26:in `run'
/var/lib/gems/1.8/gems/fssm-0.2.10/lib/fssm.rb:70:in `monitor'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/commands/watch_project.rb:87:in `perform'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/var/lib/gems/1.8/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/var/lib/gems/1.8/gems/compass-0.12.2/bin/compass:30
/var/lib/gems/1.8/gems/compass-0.12.2/bin/compass:44:in `call'
/var/lib/gems/1.8/gems/compass-0.12.2/bin/compass:44
/usr/local/bin/compass:19:in `load'
/usr/local/bin/compass:19
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"...tional-assembly\": expected \";\", was \".jpg');\"\A         on line 1411 of /data/vhost/za.mzalendo.dev.mysociety.org/pombola/pombola/core/static/sass/_south-africa_overrides.scss\A         from line 42 of /data/vhost/za.mzalendo.dev.mysociety.org/pombola/pombola/core/static/sass/south-africa.scss"; }
