{% extends 'shell.html' %}

{% block content %}
<div class="hansardContainer elevencol">
    <div id="hansardIntro">
        <h1 class="hansardH1">The Hansard</h1>
        <p>The official record of the Ghanaian Parliament is called the Hansard – named after the British publication of parliamentary proceedings.</p>
        <p>We have the Hansards of the Ghana Parliament dating back to 2008. Browse through them below, or search via the box above.</p>
    </div>
    
    <div class="hansardMeta">
        <h2 id="title">[Latest Date]</h2>
        <ul id="content">
            <li><a href="#">Question Period</a></li>
            <li><a href="#">Workforce Integration Organization</a></li>
            <li><a href="#">Boys and Girls Club</a></li>
            <li><a href="#">Brain Tumour Awareness Month</a></li>
            <li><a href="#">The Economy</a></li>
            <li><a href="#">Food Safety Question Period</a></li>
            <li><a href="#">Queen's Diamond Jubilee</a></li>
            <li><a href="#">Youth Criminal Justice</a></li>
            <li><a href="#">Foreign Investment</a></li>
            <li><a href="#">Member for New Town</a></li>
            <li><a href="#">Jobs and Growth Act, 2012</a></li>
        </ul>

        <h2>Recent</h2>
        <ul>
            {# recent dates #}
        </ul>

        <h2>Past</h2>
        <ul>
        </ul>
    </div>
</div>
{% endblock %}