{% load switch %}

{# object is the place #}

{% if object.data_set.count %}
<div class="content_box">
    {% for data in object.data_set.all %}
    
    <div class="scorecards_entry">

        <h3>{{ data.category.name }}: {{ data.pretty_value }}</h3>
        
        {# TODO - we should link to more details on the category #}
        {# data.category.synopsis #}

        <div class="markdown">{{ data.general_remark }}</div>

        {% if data.comparative_remark %}
        <p>
        {% switch data.comparative_remark %}
            {% case 'a_much_better' %} This is a  <strong>much better than average</strong> performance.
            {% case 'b_better'      %} This is a  <strong>better than average</strong>      performance.
            {% case 'c_average'     %} This is an <strong>average</strong>                  performance.
            {% case 'd_worse'       %} This is a  <strong>worse than average</strong>       performance.
            {% case 'e_much_worse'  %} This is a  <strong>much worse than average</strong>  performance.
        {% endswitch %}
        </p>
        {% endif %}

        {% if data.equivalent_remark %}
        <div class="markdown">{{ data.equivalent_remark }}</div>
        {% endif %}

        <div>
            <strong>source:</strong>
            <a href="{{ data.source_url}}">{{ data.source_name }}</a>
        </div>

    </div>
    {% endfor %}

</div>
{% endif %}
