{% load url from future %}

<div id="breadcrumb">
    <nav class="wrapper">
        <ul>
            <li><a href="/">Home</a> 
        {% for n in section.get_ancestors %}
            {% if includethis or n.id != section.id %}
                <span class="sep">&raquo;</span>
                {% if forloop.counter == 1 %}
                  <li>
                    {% if n.slug == 'questions' %}
                      <a href="{% url 'section-list-question' %}">{{ n.title }}</a>
                    {% elif n.slug == 'committee-minutes' %}
                      <a href="{% url 'section-list-committee-minutes' %}">{{ n.title }}</a>
                    {% elif n.slug == 'hansard' %}
                      <a href="{% url 'section-list-hansard' %}">{{ n.title }}</a>
                    {% endif %}
                {% else %}
                    <li><a href="{% url 'speeches:section-view' n.get_path %}">{{ n.title }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        </ul>
    </nav>
</div>
