{% comment %}

This include should not be used directly - use it via the special template tag instead:

    {% section_prev_next_links section as captured_section_prev_next_links %}

    {{ captured_section_prev_next_links }}

    ... blah blah ...

    {{ captured_section_prev_next_links }}

{% endcomment %}

{% load url from future %}

{% if previous or next %}
  <ul class="pager">
    {% if previous %}
      <li class="previous"><a href="{% url 'speeches:section-view' previous.get_path %}">&larr; {{ previous.title }}</a>
    {% endif %}
    {% if next %}
      <li class="next"><a href="{% url 'speeches:section-view' next.get_path %}">{{ next.title }} &rarr;</a>
    {% endif %}
  </ul>
{% endif %}
