{% extends 'base.html' %}
{% load staticfiles %}
{% load url from future %}
{% load i18n %}
{% load za_speeches %}

{% block title %}{% blocktrans with title=section.title %}View Section: {{ title }}{% endblocktrans %}{% endblock %}

{% block breadcrumbs %}
    {% include "speeches/_breadcrumbs.html" with section=object.section includethis=1 %}
{% endblock %}

{% block content %}

<div class="page-header">

{% comment %}

    {% include "speeches/_section_user_actions.html" %}

    <h1>{{ section.title }}</h1>

{% endcomment %}

</div>

{% comment %}
{% section_prev_next_links section as captured_section_prev_next_links %}

{{ captured_section_prev_next_links }}
{% endcomment %}

<ul>
    <li id="s{{ node.id }}" class="speech speech-border"{% if object.speaker.colour %} style="border-left-color: #{{ object.speaker.colour }};"{% endif %}>
    {% include "speeches/speech.html" with speech=object nosection="1" noli=1 %}
    </li>
</ul>


{% comment %}
{{ captured_section_prev_next_links }}
{% endcomment %}

{% endblock %}
