{% extends "default_base.html" %}


{% block title_suffix %} :: Mzalendo{% endblock %}

{% block css_headers %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/kenya.css?{{ settings.STATIC_GENERATION_NUMBER }}" />
{% endblock %}

{% block site_wide_message %}
  <div class="notice">

    Get involved:
    
    discuss on <a href="https://twitter.com/search?q=%23Decision2013+OR+%23KenyaDecides">Twitter</a>,
    learn <a href="http://www.iebc.or.ke/index.php/voter-information/voter-education">about voting</a> and
    find your <a href="/find-polling-station">polling station</a>!

  </div>
{% endblock %}
