{% extends "default_base.html" %}


{% block title_suffix %} :: Mzalendo{% endblock %}

{% block css_headers %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/kenya.css?{{ settings.STATIC_GENERATION_NUMBER }}" media="screen, handheld" />
{% endblock %}

{% block site_header_logo %}

    <a href="{% url home %}" id="logo">Mzalendo</a>
        
{% endblock %}

{% block site_wide_message %}

<div class="notice">
  Remember to <a href="/register-to-vote">register to vote</a> - deadline is 18 Dec 2012!
</div>

{% endblock %}
