<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Down :: Mzalendo</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="cleartype" content="on">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/kenya.css" media="screen, handheld" />

        <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">
        
    </head>
    <body>
        <header id="site-header" class="down">
            <div class="wrapper">
                <a href="{% url home %}" id="logo" class="down">Mzalendo</a>
            </div>
        </header>

      	<div id="breadcrumb-replacement">&nbsp;</div> 

        <div id="page" class="down">
            <div class="page-wrapper wrapper">
			    <h1>Sorry, Mzalendo is down for maintenance.</h1>
			    <h2>Please try again soon.</h2>
			    
			    <p><!-- Reason for downtime goes here --></p>
			    
            </div>
        </div>

        <footer id="site-footer"></footer>
    </body>
</html>

