{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body_attributes %} class="election-home" {% endblock %}

{% block extra_js_to_load %}
    mzalendo_settings.extra_js.push( 'js/feeds.js' );
    mzalendo_settings.extra_js.push( 'js/election_countdown.js' );
{% endblock %}

{% block css_headers %}
    {{ block.super }}
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}kenya/election-homepage/base.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}kenya/election-homepage/layout.css" media="only screen and (min-width: 640px)" />
{% endblock %}

{% block site_wide_message %}
  {# Don't show on homepage #}
{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on the home page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block header %}

  {% include 'staging_header.html' %}

  <header id="site-header">
    <div class="wrapper">
  
      <a href="/" id="logo">Mzalendo</a>
  
      <div id="election_countdown" data-description="Time until 2013 General Election polls open" data-until="2013/3/4 06:00:00 UTC+0300">
          <h4>2013 General Election polls opens <span class="election-date">Monday 4th March</span></h4>
          <span class="countdown_row countdown_show5">
              <span class="countdown_section countdown_icon"><span></span></span>
              <span class="countdown_section countdown_day"><span class="countdown_amount">--</span><br>Days</span>
              <span class="countdown_section countdown_hour"><span class="countdown_amount">--</span><br>Hours</span>
              <span class="countdown_section countdown_minute"><span class="countdown_amount">--</span><br>Minutes</span>
              <span class="countdown_section countdown_second"><span class="countdown_amount">--</span><br>Seconds</span>
          </span>
  
          <!--              <span class="countdown_row countdown_descr">...</span> -->
      </div>
    
  
  
  
      <menu id="mobile-top-tools">
          <ul>
              <li><a href="/accounts/login/?next=/">login</a></li>
              <li><a href="#footer-menu" class="m-icon-nav">menu</a></li>
              <li><a href="/search/" class="icon-search"><img src="/static/images/search-icon.png" alt="search"/></a></li>
          </ul>
      </menu>
    </div>
  </header>

  {% include 'main_menu.html' %}

{% endblock %}

{% block content %}
  <div class="election-home-left">
      <div class="callout-search">
          <h2>Do you know who you can vote for?</h2>
          <p>Find out! Enter the name of your <a href="/place/is/constituency/">Constituency</a> or <a href="/place/is/county/">County</a> in the box below. Don’t know the name of your Constituency?  <a href="/map">Find it using our map</a>.
          </p>
          <div class="styled-search">
              <input type="text" class="search-box">
              <input type="submit" value="Search" class="search-btn">
          </div>
      </div>
  
      <div class="callout-search">
          <h2>Check out a specific aspirant:</h2>
          <p>Enter their name in the box below to find them</p>
          <div class="styled-search">
              <input type="text" class="search-box">
              <input type="submit" value="Search" class="search-btn">
          </div>
      </div>
  
      <h2>Frequently viewed:</h2>
      <ul class="frequently-viewed">
          <li><a href="#"><img src="http://dummyimage.com/122x140"><h4>Ledama Olekina</h4></a></li>
          <li><a href="#"><img src="http://dummyimage.com/122x140"><h4>Ledama Olekina</h4></a></li>
          <li><a href="#"><img src="http://dummyimage.com/122x140"><h4>Ledama Olekina</h4></a></li>
          <li><a href="#"><img src="http://dummyimage.com/122x140"><h4>Ledama Olekina</h4></a></li>
      </ul>
  </div>
  <div class="election-home-right">
    
  {% if settings.BLOG_RSS_FEED %}
      <h2 class="static">Editorial</h2>
      <ul id="home-news-list" data-blog-rss-feed="{{ settings.BLOG_RSS_FEED }}">
          <li>
              Loading news&hellip;
          </li>
      </ul>
  {% endif %}

  
  </div>
{% endblock %}
