{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}Home{% endblock %}

{% block body_attributes %} class="election-home" {% endblock %}

{% block extra_js_to_load %}
    mzalendo_settings.extra_js.push( 'js/feeds.js' );
    mzalendo_settings.extra_js.push( 'js/election_countdown.js' );
{% endblock %}

{% block css_headers %}
    {{ block.super }}
    
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}kenya/election-homepage/base.css" />
{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on the home page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block header %}

  {% include 'staging_header.html' %}

  <header id="site-header">
    <div class="wrapper">
  
      <a href="/" id="logo">Mzalendo</a>
  
      <div id="election_countdown" data-until="2013/3/4 06:00:00 UTC+0300">
          <h4>2013 polls open: <span class="election-date">Monday 4th March</span></h4>
          <span class="countdown_row countdown_show5">
              <span class="countdown_section countdown_icon"><span></span></span>
              <span class="countdown_section countdown_day"><span class="countdown_amount">--</span><br>Days</span>
              <span class="countdown_section countdown_hour"><span class="countdown_amount">--</span><br>Hours</span>
              <span class="countdown_section countdown_minute"><span class="countdown_amount">--</span><br>Minutes</span>
              <span class="countdown_section countdown_second"><span class="countdown_amount">--</span><br>Seconds</span>
          </span>
  
          <!--              <span class="countdown_row countdown_descr">...</span> -->
      </div>
    
    </div>
  </header>

  {% include 'main_menu.html' %}

{% endblock %}

{% block content %}
  <div class="election-home-left">
      <div class="callout-search">
          <h2>Do you know who you can vote for?</h2>
          <p>Find out! Enter the name of your <a href="/place/is/constituency/">Constituency</a> or <a href="/place/is/county/">County</a> in the box below. Don’t know the name of your Constituency?  <a href="/map">Find it using our map</a>.
          </p>
          <form class="styled-search" action="{% url core_search %}">
              <input type="text" class="search-box" name="q" value="" placeholder="Placename">
              <input type="submit" value="Search" class="search-btn">
          </form>
      </div>
  
      <form class="callout-search" action="{% url core_search %}">
          <h2>Check out a specific aspirant:</h2>
          <p>Enter their name in the box below to find them</p>
          <div class="styled-search">
              <input type="text" class="search-box" name="q" value="" placeholder="Aspirant's name">
              <input type="submit" value="Search" class="search-btn">
          </div>
      </form>
  
      <h2>Presidential Aspirants:</h2>
      <ul class="presidential-aspirants">
        {% for person in featured_persons %}
          <li>
            <a href="{{ person.get_absolute_url }}">
              {% thumbnail person.primary_image "122x140" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
              {% empty %}
                <img src="{{STATIC_URL}}images/person-200x200.jpg" width="122" height="140"/>
              {% endthumbnail %}
              <h4>{{ person.name }}</h4>
            </a>
          </li>
        {% endfor %}
      </ul>
  </div>
  <div class="election-home-right">
    
  {% if settings.BLOG_RSS_FEED %}
      <h2 class="static">Editorial</h2>
      <ul id="home-news-list" data-blog-rss-feed="{{ settings.BLOG_RSS_FEED }}">
          <li>
              Loading news&hellip;
          </li>
      </ul>
  {% endif %}

  
  </div>
{% endblock %}
