<!DOCTYPE HTML>
<html lang="en-gb">
<head>
  <meta charset="UTF-8">
  <meta name="creator" content="http://www.mysociety.org/">
  <meta http-equiv="imagetoolbar" content="false">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Welcome to Mzalendo</title>
  <link rel="icon" type="image/png" href="{{ STATIC_URL }}images/favicon.png">

  <script type="text/javascript" charset="utf-8">
      window.mzalendo_settings = {
          google_analytics_account : '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}',
          facebook_app_id:           '{{ settings.FACEBOOK_APP_ID }}',
          static_url:                '{{ STATIC_URL }}',
          static_generation_number:  '{{ settings.STATIC_GENERATION_NUMBER }}',
          extra_js: []
      };

      {% block extra_js_to_load %}
          // no extra js added to be loaded
      {% endblock %}

  </script>


  <script src="{{ STATIC_URL }}js/libs/modernizr-2.0.6.custom.js"></script>
  <script src="{{ STATIC_URL }}js/loader.js?{{ settings.STATIC_GENERATION_NUMBER }}"></script>
    

  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}kenya/intro/intro.css?{{ settings.STATIC_GENERATION_NUMBER }}" media="screen, handheld" />

</head>
<body>
  
  <header>
    <h1 id="logo">Welcome to Mzalendo</h1>
  </header>
  
  <nav id="mzalendo_main_actions">
    <ul>
      <li class="action1">
        <a href="/position/mp/">
          Is your MP working for you?
          <strong>Find your MP here</strong>
        </a>
      </li>
      
      <li class="action2">
        <a href="http://www.mzalendo.com/blog/">
          Keep up to date
          <strong>Read our blog</strong>
        </a>
      </li>
      
      <li class="action3">
        <a href="/">
          See our other
          <strong>Democracy tools</strong>
        </a>
      </li>
    </ul>
  </nav>
  
  <div id="mzalendo_search">

    <label for="mz-search">Search for your <a href="/position/mp/">MP</a>, <a href="/place/is/constituency/">Constituency</a> or&nbsp;<a href="/place/is/county/">County</a>:</label>

    <div id="mzalendo_search_box" class="cf">
      <form action="{% url core_search %}" method="get" id="header-search">
        <input class="search-autocomplete-name" id="mz-search" name="q" autofocus type="text" value="">
        <input class="submit-search" type="submit" value="Search">
      </form>
    </div>

  </div>
  

  <div id="mzalendo_about">
    <p><strong>Since 2003 our mission has been to <q>keep an eye on the Kenyan parliament</q>.</strong><br>
    We seek to promote a stronger public voice and to enhance public participation in politics by providing relevant information about the National Assembly’s activities, MPs and aspirants ahead of the 2013 elections.</p>
  </div>
  

  <div id="fb-root" />

  
</body>
</html>