{% load thumbnail %}

{% with featured_person as p %}
      <div class="panel panel-default">
        <h3 class="panel-heading">Featured Profile</h3>
        <div class="panel-body" style="height: 425px;">
            <div class="col-xs-12 text-center">
                {% thumbnail p.primary_image "200x200" as img %}
                    <img class="center-block img-thumbnail img-circle img-responsive" src="{{ img.url }}" alt="{{ p.name }}" width="{{ img.width }}" height="{{ img.height }}" >

                    </img>
                    <!-- scorecard badge -->

                {% empty %}
                    <img class="center-block img-thumbnail img-circle img-responsive" src="{{STATIC_URL}}images/avatar.png" width="{{ img.width }}" height="{{ img.height }}"/>
                {% endthumbnail %}
              <ul class="list-inline ratings text-center" title="Ratings">
              </ul>
            </div>
            <!--/col-->

           <div class="col-xs-12">
            <div class="text-center text-responsive text-muted">
                <h4>Hon. {{ p.title }} {{ p.name }}</h4>

                <div class="col-xs-12">
                  {% for place in p.constituencies %}
                    <p class="muted-text">
                        <i class="fa fa-globe">
                           MP for  <a href="{{ place.get_absoulte_url }}">{{ place.name }} </a>
                        </i>
                    </p>
                  {% endfor %}
                </div>
                <div class="col-xs-12">
                  {% for party in p.parties %}
                    <p class="muted-text">
                        <i class="fa fa-institution" src="{{ party.primary_image.url }}">
                        <a href="{{ party.get_absolute_url }}">
                            <strong> {{ party.name }} </strong>
                        </a>
                        </i>
                    </p>
                  {% endfor %}
                </div>
            </div>
          </div>
          <div class="col-xs-12 text-center">
              <h4 class="muted-text">
                <a href="{{ p.get_absolute_url }}" class="label label-info"><span class="fa fa-user"> View Profile</span></a>
              </h4>
            </div>
            <!--/col-->
            <div class="clearfix"></div>
          </div>
          <!--/row-->
        </div>
        <!--/panel-body-->
      </div>
      <!--/panel-->

{% endwith %}
