{% load thumbnail %}
{% load hidden %}

{% comment %}

{% with object.position_set.all as positions %}
<div class="typo-left elevencol">
    <h1>Members of Parliament</h1>
    <p>
        There are currently {{ positions.count }} MPs.
    </p>

    <ul class="position-list">
        {% for position in positions %}
        {% with position.person as person %}
        <li class="positionArea">
            <a href="{{ person.get_absolute_url }}">
                {% thumbnail person.primary_image "60x60" as img %}
                <img src="{{ img.url }}" alt="{{ person.name }}" class="avatar"
                     width="{{ img.width }}" height="{{ img.height }}" />
                {% empty %}
                <img class="avatar" src="#" />
                {% endthumbnail %}
                <span class="name">{{ person.name }}</span>
            </a>
            <strong>Party:</strong>
            <a href="{{ person.parties.0.get_absolute_url }}">{{ person.parties.0.name }}</a><br />
            <strong>Constituency:</strong>
            <a href="{{ person.constituencies.0.get_absolute_url }}">
                {{ person.constituencies.0.name }}
            </a><br />
            <span class="more">
                <a href="{{ person.get_absolute_url }}">more info</a>
            </span>
        </li>
        {% endwith %}
        {% endfor %}
    </ul>
</div>
{% endwith %}
{% endcomment %}

{% load pagination_tags %}
{% load bootstrap_pagination %}
{% autopaginate positions %}
<div class="panel panel-default">
<h3 class="panel-heading">Members of Parliament</h3>
<div class="panel-body">
    <div class="text-center row search-filters">
        <form method="get">
            <span><i class="fa fa-globe"> Where: </i><span>
            <select class="selectpicker"  data-style="btn-sm btn-default" name="place_slug">
                <option value="">All</option>
                {% for place in places  %}
                    <option
                        {% if place_slug = place.slug %}selected="selected"{% endif %}
                        value="{{ place.slug }}"
                    >{{ place.name }} ({{ place.kind.name }})
                </option>
                {% endfor %}
            </select>

            <input class="btn btn-sm  btn-default" type="submit" value="Search" />
        </form>
    </div>

    <ul class="list-group listing position-listing">
     {% for position in positions %}
        {% with position.person as person %}
        <li class="col-xs-12 col-sm-6 list-group-item text-center positionArea">

            <a href="{{ person.get_absolute_url }}">
                {% thumbnail person.primary_image "100x100" as img %}
                <img class="img-thumbnail img-circle" src="{{ img.url }}" alt="{{ person.name }}" class="avatar"
                     width="{{ img.width }}" height="{{ img.height }}" />
                {% empty %}
                <img class="img-thumbnail img-circle" src="{{ STATIC_URL}}images/avatar.png" width="100" height="100"/>
                {% endthumbnail %}
            <h3 class="name">{{ person.name }}</h3>
            </a>
            <strong><i class="fa fa-institution"> Party: </i></strong>
            <a href="{{ person.parties.0.get_absolute_url }}">{{ person.parties.0.name }}</a>
            <strong><i class="fa fa-globe"> Constituency: </i></strong>
            <a href="{{ person.constituencies.0.get_absolute_url }}">
                {{ person.constituencies.0.name }}
            </a>

        </li>
        {% endwith %}
        {% empty %}
            <li>No records found.</li>
        {% endfor %}
    </ul>


    {% if page_obj.paginator.num_pages > 1  %}
    <div class="col-xs-12 row text-center">
            {% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}
    </div>
    {% endif %}
</div>
</div>
