/* Login Page */
#login-pagetitle {
  display: none; }

#login {
  p.error {
    background: $colour_white;
    padding: 10px;
    color: $colour_red;
    margin: 0; }
  form {
    overflow: hidden;
    margin-bottom: 10px;
    label {
      position: absolute;
      left: -999999px; }
    input#id_username,
    input#id_password {
      width: 90%;
      margin: 10px auto;
      font-size: 14px;
      padding: 3px 5px;
      display: block;
      background: $colour_white;
      border: 1px solid $colour_middling_grey; }
    input.login-button {
      @include button-reset-text;
      cursor: pointer;
      float: right;
      margin: 0 10px;
      border: 0;
      background: #000000;
      @include background(linear-gradient(#707070, black));
      &:hover {
        background: #707070;
        @include background(linear-gradient(black, #707070)); } }
    p.forgot-register {
      float: left;
      margin: 0 10px;
      a {
        display: block;
        color: $colour_grey; } } }
  .login-social {
    margin: 10px;
    float: left;
    a {
      text-decoration: none;
      color: #666666;
      display: block;
      margin: 10px 0; } } }

@media only all and (min-width: 640px) {
  #login-pagetitle {
    display: block;
    background: $colour_muted;
    margin: 0 auto;
    padding: 10px;
    width: 300px; }
  #login {
    background: $colour_muted;
    padding: 0 10px 10px 10px;
    overflow: hidden;
    margin: 0 auto;
    width: 300px;
    p.error {
      @include border-radius(6px); }
    form {
      width: 300px;
      input#id_username,
      input#id_password {
        width: 288px;
        margin: 10px 0; }
      input.login-button {
        margin: 0; }
      p.forgot-register {
        margin: 0; } }
    .login-social {
      margin: 0; } } }
