#breadcrumb,
#breadcrumb-replacement {
  display: none; }

.page-title {
  display: block;
  background: $colour7;
  padding: 10px;
  &.has-sub-menu {
    margin: 0;
    padding-right: 40px;
    position: relative; }
  .m-sub-menu-trigger {
    @include button-reset;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 1px solid $colour_middling_grey;
    height: 24px;
    width: 24px;
    background: #d2d2d2 url(../images/chevron-down-alt.png) center no-repeat;
    @include background(url(../images/chevron-down-alt.png) center no-repeat, linear-gradient(white, #d2d2d2));
    &.active {
      background: #d2d2d2 url(../images/chevron-up-alt.png) center no-repeat;
      @include background(url(../images/chevron-up-alt.png) center no-repeat, linear-gradient(#d2d2d2, white)); } } }

@media only screen and (min-width: 640px) {
  #breadcrumb {
    display: block;
    height: 40px;
    nav {
      ul {
        @include list-reset-soft;
        display: block;
        width: 100%;
        padding: 10px 0;
        margin-bottom: 10px;
        float: left;
        li,
        li.page-title,
        li a {
          display: inline;
          padding: 0;
          color: $colour_grey;
          background: none;
          text-decoration: none;
          font: {
            size: 12px;
            weight: normal; }; }
        li .sep {
          padding-left: 0.5em;
          padding-right: 0.5em; }
        li a:hover {
          text-decoration: underline;
          color: $colour_blackish; } } } }
  #breadcrumb-replacement {
    display: block;
    height: 20px;
    background-color: #fff; } }

@media only screen and (min-width: 640px) and (max-width: 960px) {
  #breadcrumb {
    padding: 0 10px; } }
