
#page .election-area-page #map_canvas{
        width: 100%;
        height: 100%;
}

.election-area-page{
    header{
      
      margin-top: 10px;
        
        .map-box{
            float: right;
            width: 50%;
            height: 120px;
            margin:0 10px;
        }

        hgroup{
            
            padding: 0 10px;

            h1 {
                font-size: 200%;
                margin: 0;
                padding: 0;
                background-color: white;
                line-height: 1em;
            }

            div.additional {
                line-height: 1.2;
                color: #4d4d4d;
            }
        }
    
    }
    
    .content_box > p {
      margin-left:  10px;
      margin-right: 10px;
    }
}


@media only all and (min-width: 640px) {

  .election-area-page{
      header{

          .map-box{
              width: 300px;
              height: 200px;
              margin-left:100px;
          }

          hgroup{
              
              padding: 50px 0;
              
              h1{
                  clear:left;
                  font-size: 48px;
              }

              div.additional {
                  clear:left;
                  font-weight: normal;
                  line-height: 1.4;
                  font-size: 21px;
                  color: #4d4d4d;
              }
          }
      
      }
 
      .content_box > p {
        margin-left:  0;
        margin-right: 0;
      }
    
  }
}