ul.hansard_entries {
  em {
    font-style: italic; }
  strong {
    font-weight: bold; }
  li {
    margin-bottom: 0.5em;
    list-style: none; }
  li.scene {
    margin-left: 2em; }
  li.speech p {
    margin-left: 1em; }
  li.search_hansard {
    text-align: right;
    padding: 0.2em; }
  li.page_number {
    text-align: right;
    background: #eee;
    padding: 0.2em; } }
