// ============ info page markdown styles ============

.infopage {
  margin: 20px 0;
  h1 {
    margin: 0 10px 20px 10px; }
  h2, h3 {}
  h4 {
    margin: 30px 0 10px 0;
    padding: 0 10px 5px 10px;
    border-bottom: 2px solid $colour7;
    line-height: 20px; }
  p {
    padding: 0 10px; }
  ul, ol, dl {
    margin: 0 10px; }
  hr {
    border: none;
    background: $colour_green;
    height: 2px; } }

@media only screen and (min-width: 640px) {
  .infopage {
    margin: 0;
    h1 {
      margin: 0 0 20px 0; }
    h4 {
      padding: 0 0 5px 0; }
    p {
      padding: 0; }
    ul, ol, dl {
      margin: 0; } } }
