.local-aspirants{
    @extend .clearfix;
    
    h3{
        clear:both;
    }
    
    ul{
        @include list-reset-nopad;
        li{ // Needs to be this specific to overide list reset
            @extend .grid-listing-item;
            @include box-shadow(none);
            padding: 13px;
            height: 340px;

            p{
                margin:  0;
                padding: 0;
            }
        }
        
    }

    p.election-child-places{
        font-size: larger;
        margin-top: 15px;
    }

}

@media only all and (min-width: 640px), print {

    .local-aspirants{
        border-top: 3px solid #009748;
        margin-top: 24px;
        padding: 10px 0;
    }
}