.local-aspirants{
    @extend .cf;
    border-top: 3px solid #009748;
    margin-top: 24px;
    padding: 10px 0;
    
    h3{
        clear:both;
    }
    
    ul{
        @include list-reset-nopad;
        margin: 0 -13px;
        li{ // Needs to be this specific to overide list reset
            @extend .grid-listing-item;
            @include box-shadow(none);
            padding: 13px;
            height:300px;
            
        }
    }
     
}