#main-menu {
  nav {
    width: 100%;
    ul {
      @include list-reset-soft;
      width: 100%;
      li {
        position: relative;
        a {
          display: block;
          height: 20px;
          padding: 10px;
          font: {
            size: 18px;
            weight: bold; };
          color: $colour_white;
          text-decoration: none;
          background: $colour_black;
          border-bottom: 2px solid $colour_white;
          &:hover {
            background: $colour_blackish; } }
        &:last-child a,
        &.last a {
          border-bottom: none; }
        ul {
          position: absolute;
          z-index: 20;
          left: -999999px; } } } } }

.m-sub-menu {
  @include list-reset-soft;
  background: $colour7;
  li {
    margin: 0 10px;
    border-top: 1px solid $colour_black;
    a {
      display: block;
      padding: 10px 0;
      &:hover {
        text-decoration: none; } } } }

@media only screen and (min-width: 320px) and (max-width: 640px) {
  #main-menu nav ul li a {
    @include background(linear-gradient($colour_blackish / 1.4, $colour_black));
    &:hover {
      @include background(linear-gradient($colour_black, $colour_blackish / 1.4)); } } }
