div.object_menu {
  width: 100%;

  ul {
    @include list-reset-soft;
    
    li {
      display: inline-block;
      margin: 0 0.5em 0.2em 0;

      a {
        text-decoration: underline;
      }
    }

  }
}

