@import "reset";
@import "common";

@mixin rounded-corners ( $radius ) {
    -moz-border-radius: $radius;
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

@mixin subtle-links () {
    a       { color: inherit; text-decoration: none; };
    a:hover { text-decoration: underline; };
}

html {
    font-family: Arial;
    font-size: 16px;
}

sup {vertical-align: super; }

h1 { font-size: 32px; margin-top: 24px; margin-bottom: 8px;}
h2 { font-size: 24px; margin-top: 16px; margin-bottom: 8px;}
h3 { font-size: 20px; margin-top: 20px; margin-bottom: 8px;}

h1, h2, h3, h4 {
    font-weight: bold;
}

p {
    margin-bottom: 1em;
}

strong {
    font-weight: bold;
}

small {
    font-size: 75%;
}

th, td {
    padding: 0.25em;
}

body {
    background-color: #ccc;    
}

#wrapper {
    max-width: 940px;
    margin: 0 auto;
    background-color: #fff;
}

#header {

    padding: 0.5em;
    
    background-color: #555;
    color: #fff;
    @include subtle-links;

    #logo {
        float: left;
    }

    ul{
        float: right;
        li {
            display: inline;
            padding-left: 1em;
            font-size: 75%;
        }
    }
    
    form {
        display: inline;
        input { width: 6em; }
    }
}

#content {
    padding: 1em;
}

#footer {
    margin-top: 2em;
    border-top: 1px dotted #bbb;
    padding: 0.5em;
    color: #888;
    text-align: center;

    @include subtle-links;

    ul{
        li {
            display: inline;
            margin: 0 0.3em;
        }
    }

    ul.utilities{
        li {
            font-size: 75%;
        }
    }
}

ul.listing {
    li {
        border: 1px solid #eee;
        padding: 0.25em;
        overflow: hidden;
    	width: 100%;
    }
    
    li:nth-child(odd) {
        background-color: #eee;
    }

    div.thumb {
        height: 60px;
        width:  60px;
        color: #ddd;
        border: 1px solid #bbb;
        float: left;
        margin-right: 1em;
    }

    div.name {
        font-size: 150%;
        font-weight: bold;
    }
}


div.action_button {
    padding: 1em;
    margin: 0.5em;
    border: 1px solid #bbb;
    background-color: #eee;
}

img.person_photo {
    border: 1px solid #888;
}

form {
    
    blockquote {
        padding: 1em;
        border: 1px solid #ddd;
        background-color: #eee;
    }
    
    label {
        padding-left: 2px;
        display: block;
        font-size: 80%;
    }
    
    li, p {
        padding: 0 1em;
    }
}

ul.errorlist, p.error {
    background-color: #fcc;
}

dl.comments {
    dt, dd {
        border: 2px solid #ccc;
        padding: 0.25em;
    }
    
    dt {
        background-color: #ccc;
    }

    dd {
        margin-bottom: 1em;
    }

    a.flag, a.permalink {
        float: right;
        padding-left: 1em;
    }
}

div.pagination {
    margin-bottom: 1em;
    text-align: center;

    .prev, .page, .next {
        border: 1px solid #aaa;
        background-color: #eee;
        padding: 0.2em;
        margin: 0.1em;
        display: inline-block;
    }

    .current {
        border-color: #888;
        background-color: #ccc;
        font-weight: bold;
    }
    
    .disabled {
        border-color: #ddd;
        color: #888;
    }
}

div.todo {
    opacity: 0.3;
}

div.summary {
    border: 1px solid #ccc;
    border-width: 1px 0;
    background-color: #eee;
    padding: 1em;
    margin-bottom: 1em;
    font-size: 90%;
}

div.content_box {
    border: 1px solid #ccc;
    @include rounded-corners(10px);

    padding: 1em;
    margin-bottom: 1em;

    h2, h3, h4 {
        margin: 0 0 0.25em 0;
    }
}

ul.search_hints {
    font-size: 80%;
    color: green;

    li {
        display: inline;
        padding: 0 0.5em;
    
        a {
            color: inherit;
        }
    }
}

ul.location_breadcrumb {
    li {
        display: inline;
    }

    li + li::before {
        content: " → ";
    }
}


@mixin compact_dl ( $term_width ) {
    padding: 0.5em;
    font-size: 90%;
    
    dt {
        float: left;
        clear: left;
        width: $term_width;
        text-align: right;
        font-weight: bold;
    }

    dt:after {
        content: ":";
    }

    dd {
        margin: 0 0 0 $term_width + 0.5em;
        padding: 0 0 0.5em 0;
    }
   
}


div.project_detail {    
    dl {
        @include compact_dl(12em);
    }
}


div.scorecards_entry {
    dl {
        @include compact_dl(6em);
    }
}


/* For markdown snippets we need to restore the HTML to something roughly standard */
div.markdown{
    ul, ol { margin-left: 2em; }

    ul li { list-style-type: disc; }
    ol li { list-style-type: decimal; }

    blockquote {
	    padding-left: 1em;
	}
    blockquote p:before { content: '“'; }
    blockquote p:after  { content: '”'; }
    
    margin-bottom: 1em;
}

ul.hansard_entries {
    
    em {
        font-style: italic;
    }
    
    li {
        margin-bottom: 0.5em;
    }
    
    li.scene {
        margin-left: 2em;
    }
    
    li.speech p {
        margin-left: 1em;
    }

    li.page_number {
        text-align: right;
        background: #eee;
        padding: 0.2em;
    }
}