@media only screen and (min-width: 640px) {
  #tab-nav {
    display: block;
    border-bottom: 1px solid #bbb;
    margin: 30px 0 0 0;
    z-index: 1;
    position: relative;
    height: 38px;
    ul {
      @include list-reset;
      position: relative;
      z-index: 2;
      li {
        display: inline;
        float: left;
        a {
          display: block;
          float: left;
          color: $colour_green;
          text-decoration: none;
          font-size: 13px;
          padding: 9px 15px 8px 15px;
          margin-right: 4px;
          border: 1px solid #bbb;
          @include background(linear-gradient(white, #f6f6f6));
          &:hover {
            background: #fff;
            color: $colour_light_green; } }
        &.active a {
          color: $colour_black;
          padding: 9px 15px;
          background: #fff;
          border-bottom: 1px solid #fff;
          @include border-radius(0 0 2px 2px); } } } } }

@media only screen and (min-width: 640px) {
  .tab-wrapper {
    clear: both;
    border-left: 1px solid #bbb;
    padding: 15px 0 0 15px;
    position: relative;
    top: -1px; } }
