/* -------------------------------------------------------------- 

BASIC CSS
mzalendo.com

AUTHOR: Josh Angell, Supercool
josh [at] supercooldesign.co.uk

  1. RESET / CORE
  2. BASIC TYPOGRAPHY, LINKS AND IMAGES
  3. BASIC LAYOUT
  4. SHARED ELEMENTS
  5. PAGE SPECIFIC
  6. MEDIA QUERIES

-------------------------------------------------------------- */



/* 1. RESET / CORE
-------------------------------------------------------------- */
@import "compass/reset";
@import "core";
@import "common";


body {
  // default highlight on buttons links etc
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // Prevent mobile zooming while remain desktop zooming.
  // github.com/shichuan/mobile-html5-boilerplate/issues/closed#issue/14
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

/* 2. BASIC TYPOGRAPHY, LINKS AND IMAGES
-------------------------------------------------------------- */
body {
  font-family: 'Arial', sans-serif;
  color:#444;
  font-size:100%;
  background:$colour7;
}

p, h1, h2, h3 {
  margin-bottom:15px;
  line-height:20px;
}
h1, h2, h3, h4 {
  color:$colour5;
}
p {
  font-size:14px;
  line-height:20px;
}
a {
  color:$colour1;
  text-decoration:none;
  &:hover {
    color:#004422;
    text-decoration:underline;
  }
}
.vcard {
  li.address p {
    line-height:15px;
    padding-top:4px;
  }
  a {
    text-decoration:none;
    font-size:12px;
  }
}
h1 {
  font: {
    size:24px;
    weight:bold;
  }
  line-height:25px;
}
h2 {
  font: {
    size:18px;
    weight:bold;
  }
  margin-bottom:10px;
}
h3 {
  font: {
    size:16px;
    weight:bold;
  }
  margin-bottom:10px;
}
h4 {
  font: {
    size:14px;
    weight:bold;
  }
}

ul, ol {
  @include list-reset-copy;
}

ol li {
  list-style:decimal;
}

dl {
  dt {
    font: {
      size:14px;
      weight:bold;
    }
    line-height:20px;
  }
  dd {
    font-size:14px;
    line-height:20px;
    margin-bottom:5px;
  }
}

b, strong {
  font-weight:bolder;
}

i, em {
  font-style:italic;
}

blockquote {
  padding-left: 10px;
  p:before {
    content: '“';
  }
  p:after {
    content: '”';
  }
}

pre {
  font-family: monospace;
}

.btn-text-green {
  @include button-text-green;
}
.btn-text-red {
  @include button-text-red;
}

.big-btn-text-green {
  @include big-button-text-green;
}
.big-btn-text-red {
  @include big-button-text-red;
}

.m-fb {
  @include big-button-reset-text;
  @include background(linear-gradient(#0042C2/0.9, #0042C2));
  &:hover {
    @include background(linear-gradient(#0042C2, #0042C2/0.9));
  }
}
.m-twitter {
  @include big-button-reset-text;
  @include background(linear-gradient(#74CFDC/0.95, #74CFDC));
  &:hover {
    @include background(linear-gradient(#74CFDC, #74CFDC/0.95));
  }
}


/* 3. BASIC LAYOUT
   320px - following the Mobile First principle
   cols    1   2   3    4    5    6    7    8    9    10
   px      30  60  90   120  150  180  210  240  270  300
-------------------------------------------------------------- */
.wrapper {
  width: 100%;
}

#site-header {
  clear:both;
  background:$colour1;
  .wrapper {
    overflow:hidden;
    #logo {
      display:block;
      margin-left:10px;
      float:left;
      height:42px;
      text-indent:-999999em;
      width:147px;
      background:url(../images/m-logo.png) 0 center no-repeat;
    }
    menu#m-top-tools {
      float:right;
      button {
        @include button-reset;
        display:inline;
        border-left:1px solid $colour6;
        &.m-icon-nav {
          text: {
            indent:0;
            transform:uppercase;
          }
          height:42px;
          color:$colour6;
          padding:0 15px 0 10px;
          background:url(../images/m-menu-nub.png) right center no-repeat;
          &.active {
            background:url(../images/m-menu-nub-r.png) right center no-repeat;
          }
        }
        &.icon-search {
          height:42px;
          width:42px;
          margin-left:10px;
          background:url(../images/search-icon.png) center no-repeat;
          &.active {
            background:url(../images/close.png) center no-repeat;
          }
        }
      }
    }
    #search {
      clear:both;
      height:26px;
      padding:6px 10px;
      display:block;
      background:$colour7;
      border-bottom:2px solid $colour6;
      input {
        padding:1px 4px;
        border:1px solid $colour8;
        height:22px;
        width:214px;
        float:left;
      }
      button {
        @include button-reset;
        width:64px;
        height:26px;
        float:left;
        margin-left:10px;
        background:$colour5 url(../images/search-icon.png) center no-repeat;
        &:hover {
          background-color:$colour4;
        }
      }
    }
    menu#site-user-tools {
      // clear:both;
      float:right;
      ul {
        @include list-reset-soft;
        li {
          // display:block;
          // font: {
            // size:18px;
            // weight:bold;
          // }
          // background:$colour7;
          // border-bottom:2px solid $colour6;
          // height:20px;
          padding:10px;
          &.logged-in-name {
            display:none;
          }
          a {
            color:$colour6;
            text-decoration:none;
            &:hover {
              color:$colour5;
            }
          }
        }
      }
    }
  }
}

#main-menu {
  nav {
    width:100%;
    ul {
      @include list-reset-soft;
      width:100%;
      li {
        position:relative;
        a {
          display:block;
          height:20px;
          padding:10px;
          font: {
            size:18px;
            weight:bold;
          }
          color:$colour6;
          text-decoration:none;
          background:$colour5;
          border-bottom:2px solid $colour6;
          &:hover {
            background:$colour4;
          }
        }
        &:last-child a,
        &.last a {
          border-bottom:none;
        }
        ul {
          position:absolute;
          z-index:20;
          left:-999999px;
        }
      }
    }
  }
}

#breadcrumb,
#breadcrumb-replacement {
  display:none;
}

.page-title {
  display:block;
  background:$colour7;
  padding:10px;
  &.has-sub-menu {
    margin:0;
    padding-right:40px;
    position:relative;
  }
  .m-sub-menu-trigger {
    @include button-reset;
    position:absolute;
    right:10px;
    top:10px;
    border:1px solid $colour13;
    height:24px;
    width:24px;
    background:#d2d2d2 url(../images/chevron-down-alt.png) center no-repeat;
    @include background(
      url(../images/chevron-down-alt.png) center no-repeat,
      linear-gradient(#ffffff, #d2d2d2)
    );
    &.active {
      background:#d2d2d2 url(../images/chevron-up-alt.png) center no-repeat;
      @include background(
        url(../images/chevron-up-alt.png) center no-repeat,
        linear-gradient(#d2d2d2, #ffffff)
      );
    }
  }
}

.m-sub-menu {
  @include list-reset-soft;
  background:$colour7;
  li {
    margin:0 10px;
    border-top:1px solid $colour5;
    a {
      display:block;
      padding:10px 0;
      &:hover {
        text-decoration:none;
      }
    }
  }
}

#site-footer {
  clear:both;
  border-top:4px solid $colour1;
  background:$colour7;
  overflow:hidden;
  >.wrapper {
    display:table;
    caption-side:top;
    position: relative;
    padding-top:5px;
  }
  p {
    font-style:italic;
    color:$colour4;
  }
  ul {
    @include list-reset-soft;
    clear:both;
    margin: 0 10px;
    li {
      border-top:1px solid $colour13;
      padding:5px 0;
      a:hover {
        text-decoration:none;
      }
    }
    &.nav {
      li:first-child {
        border-top:none;
      }
    }
  }
  .subscribe-box {
    display:table-caption;
    padding:10px;
    background:$colour1;
    h2 {
      color:$colour6;
      margin:0;
      text-transform:uppercase;
      font-weight:normal;
      background:url(../images/chevron-right.png) right 0 no-repeat;
      &.active {
        background-image:url(../images/chevron-down.png);
      }
    }
    form {
      label {
        display:block;
        color:$colour6;
        font-size:15px;
        margin:15px 0 10px 0;
      }
      .subscribe-fields {
        overflow:hidden;
        input.email {
          height:20px;
          float:left;
          border:none;
          font-size:15px;
          padding:6px 8px;
          width:200px;
        }
        input.button {
          cursor:pointer;
          float:left;
          width:32px;
          height:32px;
          border:none;
          margin-left:-2px;
          text-indent:-999999px;
          background:$colour4 url(../images/chevron-right.png) 9px center no-repeat;
          @include background(
            url(../images/chevron-right.png) 9px center no-repeat,
            linear-gradient($colour4, $colour5)
          );
          &:hover {
            background:$colour4/0.9 url(../images/chevron-right.png) 9px center no-repeat;
            @include background(
              url(../images/chevron-right.png) 9px center no-repeat,
              linear-gradient($colour4/0.9, $colour5)
            );
          }
          &:active {
            background:$colour5 url(../images/chevron-right.png) 9px center no-repeat;
            @include background(
              url(../images/chevron-right.png) 9px center no-repeat,
              linear-gradient($colour5, $colour4)
            );
          }
        }
      }
    }
  }
}

#page {
  background:$colour6;
  padding-bottom:30px;
  .page-wrapper {
    display:table;
    position:relative;
    caption-side:bottom;
  }
  .title-space {
    min-height:130px;
    margin-left:120px;
    margin-top:10px;
    h1 {
      margin:0;
    }
    p {
      font-style:italic;
    }
  }
  .profile-pic {
    position:absolute;
    top:10px;
    left:10px;
    width:100px;
    img,
    #map_canvas {
      width:100px;
      height:100px;
    }
  }
  .small-container {
    h3.scorecard-overall {
      padding:10px;
      margin-bottom:10px;
      border:none;
      background:none;
      span {
        padding-top:20px;
        margin-top:-20px;
        height:22px;
      }
    }
    ul.scorecard {
      @include list-reset-soft;
      @include inline-block;
      li {
        article {
          padding:10px;
          background:$colour9;
          color:$colour5;
          border-bottom:2px solid $colour6;
          overflow:hidden;
          header {
            p {
              margin:-20px 0 0 0;
              padding-top:20px;
              &.score-good {
                background:url(../images/score-good.png) right 0 no-repeat;
              }
              &.score-average {
                background:url(../images/score-average.png) right 0 no-repeat;
              }
              &.score-bad {
                background:url(../images/score-bad.png) right 0 no-repeat;
              }
            }
            .details {
                span.shout {
                  display:block;
                  background:$colour8;
                  color:$colour6;
                  margin:10px 0;
                  padding:10px;
                  font-weight:bold;
                  clear:both;
                  @include border-radius(5px);
                  p {
                    font-size: 100%;
                    float: none;
                    padding: 4px;
                    margin: 0 auto;
                  }
                  &.shout-good {
                    background-color: $colour1;
                  }
                  &.shout-average {
                    background-color: $colour14;
                  }
                  &.shout-bad {
                    background-color: $colour11;
                  }
                }
                .source {
                    display: block;
                    padding-right: 1em;
                    text-align:right;
                    font-style: italic;
                    a {
                      font-style: normal;
                    }
                }
             }
          }
          div.details {
            // height:0px;
          }
        }
      }
    }
  }
  .profile-info {
    .constituency-party {
      h3 {
        margin:0;
      }
      ul {
        @include list-reset-soft;
        li {
          border-top:2px solid $colour6;
          a {
            font-size:13px;
            display:block;
            background:$colour9 url(../images/chevron-right.png) right center no-repeat;
            color:$colour5;
            padding:0 10px;
            text-decoration:none;
            &:hover {
              background-color:$colour6;
            }
            span {
              font-style:italic;
            }
          }
        }
      }
    }
    .vcard {
      @include list-reset-soft;
      overflow:hidden;
      li {
        .label {
          text-transform:uppercase;
          color:$colour8;
          font-size:11px;
          float:left;
          clear:left;
          width:40px;
          margin-left:10px;
        }
        p {
          padding-left:45px;
        }
      }
    }
  }
  .large-container {
    p {
      margin-left:10px;
      margin-right:10px;
    }
    h3 {
      border-top:none;
      border-bottom:2px solid $colour5;
      background:none;
      padding:0 0 5px 0;
      margin:20px 10px;
    }
    h4 {
      font-weight:normal;
    }
    .tab {
      overflow:hidden;
    }
    section {
      ul {
        @include list-reset-soft;
        margin:20px 0;
        li {
          border-bottom:1px solid $colour5;
          margin:0 10px 5px 10px;
          &:last-child,
          &.last {
            border-bottom:none;
          }
          p {
            margin:0 0 5px 0;
            font: {
              style:italic;
              size:13px;
            }
          }
        }
        &.tools {
          @include list-reset;
        }
      }
    }
    article {
      
    }
    .tab-nav a {
      color:$colour5;
      text-decoration:none;
    }
    #comments {
      .big-btn-text-green {
        display:none;
      }
    }
    ul.comments li section {
      // max-width:590px;
    }
  }
  .social-and-tools {
    display:table-caption;
    .fb-like,
    .twitter-share-button,
    iframe {
      display:none;
    }
    ul {
      @include list-reset-soft;
      margin:20px 0;
      li {
        a {
          display:block;
          padding:10px;
          margin:5px 10px;
          font: {
            size:17px;
            weight:bold;
          }
        }
      }
    }
  }
  h2, h3 {
    border-top:4px solid $colour1;
    background:$colour7;
    padding:10px;
  }
}

/* 4. SHARED ELEMENTS
-------------------------------------------------------------- */
ul.hansard_entries {
  em {
      font-style: italic;
  }
  
  strong {
      font-weight: bold;
  }

  li {
      margin-bottom: 0.5em;
      list-style: none;
  }
  
  li.scene {
      margin-left: 2em;
  }
  
  li.speech p {
      margin-left: 1em;
  }
  
  li.page_number {
      text-align: right;
      background: #eee;
      padding: 0.2em;
  }
}

ul.comments {
  @include list-reset-soft;
  li {
    display:block;
    overflow:hidden;
    position:relative;
    background:$colour12;
    padding:15px 15px 30px 15px;
    margin-bottom:5px;
    img {
      width:40px;
      height:40px;
      border:5px solid $colour7;
      float:left;
      margin:0 20px 10px 0;
    }
    section {
      float:left;
      clear:left;
      max-width:840px;
      p {
        margin-left:0;
        margin-right:15px;
        font-size:12px;
        &.meta {
          font-style:italic;
        }
      }
      h4 {
        font-weight:bold;
      }
      .read-more-wrap {
        position:absolute;
        right:15px;
        bottom:15px;
      }
      a.read-more {
        @include button-reset-text;
      }
      ul {
        @include list-reset-copy;
        &.tools {
          @include list-reset;
          position:absolute;
          right:15px;
          top:15px;
          li {
            margin-left:5px;
            a {
              @include button-reset-text;
              &.like {
                @include button-text-green;
              }
              &.report {
                @include button-text-red;
              }
            }
          }
        }
      }
    }
  }
}

ul.listing {
  @extend .comments;
  li {
    padding:15px;
    h4 a {
      text-decoration:none;
      color:$colour5;
    }
    img {
      width:60px;
      height:60px;
      margin-bottom:0;
    }
    section {
      float:none;
      clear:none;
      padding:0 40px 0 90px;
      p {
        margin:0 !important;
      }
      .kind {
        position:absolute;
        top:15px;
        right:15px;
      }
      .read-more-wrap {
        top:35px;
        bottom:auto;
      }
      .meta {
        color:$colour8;
      }
      a.read-more {
        display:block;
        text-indent:-999999px;
        padding:0;
        width:24px;
        height:24px;
        background:$colour5 url(../images/chevron-right.png) 6px 2px no-repeat;
        @include border-radius(24px);
        &:hover {
          background:$colour4 url(../images/chevron-right.png) 6px center no-repeat;
        }
      }
    }
  }
}

h3.scorecard-overall {
  display:block;
  font-weight:bold;
  color:$colour5;
  span {
    font-weight:normal;
    display:block;
    height:44px;
    background:url(../images/m-smiley-sprite.png) right -3px no-repeat;
    &.score-overall-good {
      background-position:right -3px;
    }
    &.score-overall-average {
      background-position:right -53px;
    }
    &.score-overall-bad {
      background-position:right -103px;
    }
  }
}


.pagination {
  overflow:hidden;
  margin:10px 0;
  a,
  span {
    @include inline-block;
    padding:6px 10px;
    background:#F6F6F6;
    text-decoration:none;
    border:2px solid #F6F6F6;
    &:hover {
      background-color:#333333;
      color:#ffffff;
      border:2px solid #333333;
    }
    &.prev {
      padding-left:34px;
      background-position:5px -67px;
      background-repeat:no-repeat;
      background-image:url(../images/pagination.png);
    }
    &.next {
      padding-right:34px;
      background-position:right 3px;
      background-repeat:no-repeat;
      background-image:url(../images/pagination.png);
    }
  }
  .disabled {
    display:none;
  }
  .current {
    background:none;
    &:hover {
      color:#444444;
      background:none;
      border:2px solid #F6F6F6;
    }
  }
}

.btn-question {
  @include inline-block;
  width: 15px;
  height: 15px;
  margin:-4px 0 0 5px;
  text-indent:-999999px;
  background:url(../images/question.png) 0 0 no-repeat;
  &:hover {
    background-position:0 -21px;
  }
}



/* 5. PAGE SPECIFIC
-------------------------------------------------------------- */
/* HOME */
#page {
  .home-left,
  .home-right {
    h2 {
      margin:0 0 10px 0;
      background:none;
      border-top:none;
      color:$colour8;
      font-size:24px;
      text-transform:uppercase;
      &#home-intro {
        display:none;
      }
    }
    h3 {
      background:none;
      border-top:none;
    }
  }
  .home-right {
    .social-and-tools {
      display:block;
    }
  }
}
#home-search {
  background:$colour9;
  padding:10px;
  overflow:hidden;
  label {
    display:block;
    margin-bottom:10px;
    color:$colour8;
    font: {
      weight:bold;
      size:17px;
    }
  }
  input {
    border:none;
    font-size:15px;
    padding:6px 8px;
    float:left;
    margin:0;
    width:200px;
  }
  button {
    @include button-reset;
    float:left;
    width:50px;
    height:30px;
    background:$colour2 url(../images/search-icon.png) center no-repeat;
    @include background(
              url(../images/search-icon.png) center no-repeat,
              linear-gradient($colour2, $colour1)
            );
    &:hover {
      background:$colour1 url(../images/search-icon.png) center no-repeat;
      @include background(
                url(../images/search-icon.png) center no-repeat,
                linear-gradient($colour1, $colour2)
              );
    }
  }
  >a {
    float:left;
    margin:10px 0 0 0;
    color:$colour8;
    font-size:14px;
    text-decoration:none;
    &:hover {
      text-decoration:underline;
    }
  }
}

.featured-person {
  color:#333333;
  margin:0 0 30px 0;
  border-top:3px solid $colour13;
  border-bottom:3px solid $colour13;
  background:$colour9;
  overflow:hidden;
  img {
    float:left;
    max-width: 90px;
    height:auto;
  }
  .featured-person-info {
    position:relative;
    margin-left:110px;
    min-height: 130px;
    .feature-nav {
      display:none;
    }
    h2 {
      padding-left:0 !important;
      margin-bottom:0 !important;
      a {
        font-size:18px;
        text-transform:none;
        &:hover {
          text-decoration:none;
        }
      }
    }
    .feature-person-role {
      color:$colour8;
      font-style:italic;
    }
    .feature-person-summary {
      display:none;
    }
    .rating-container {
      position:absolute;
      bottom:0;
      right:10px;
      margin:0;
      .rating {
        max-width:300px;
        margin:0 40px 7px 0;
        font-size:17px;
      }
      .rating-img {
        position:absolute;
        right:0;
        bottom:0;
        height:32px;
        width:32px;
          &.bad {
            background:url(/static/images/d-smiley-sprite.png) -78px -82px no-repeat;
          }
          &.average {
            background:url(/static/images/d-smiley-sprite.png) -40px -42px no-repeat;
          }
          &.good {
            background:url(/static/images/d-smiley-sprite.png) -1px 0 no-repeat;
          }
      }
    }
  }
  &.featured-person-placeholder {
    text-align: center;
    height: 250px;
    background: $colour1 url(/static/images/logo-450-x-150.png) center center no-repeat;
  }
}

ul#home-news-list {
  @include list-reset-soft;
  border-top:5px solid $colour9;
  padding-top:15px;
  li {
    margin-bottom:15px;
    padding-bottom:15px;
    border-bottom:3px solid $colour9;
    &:last-child {
      border-bottom:0;
    }
    h3, p {
      padding:0 10px;
      margin:0;
      a {
        text-decoration:none;
      }
    }
    p {
      &.meta {
        font: {
          style:italic;
          size:13px;
        }
        margin-bottom:10px;
      }
    }
    img {
      float:right;
      margin:0 10px;
    }
  }
}
#home-mpratings {
  border-top:5px solid $colour9;
  padding:15px 10px 10px 10px;
  img {
    float:left;
    widht:60px;
    margin-right:10px;
  }
  h3.scorecard-overall {
    padding:0 0 0 70px;
    margin:0;
  }
}
#twitter,
.tw-nub,
.tw-follow {
  display:none;
}
#home-links {
  margin-bottom:30px;
  a {
    &.aspirants {
      @include border-radius(5px 5px 0 0);
      color:$colour6;
      display:block;
      margin:10px 10px 3px 10px;
      padding:10px;
      background:$colour1;
      @include background(linear-gradient($colour1/0.9, $colour1));
      &:hover {
        text-decoration:none;
        background:$colour1/0.9;
        @include background(linear-gradient($colour1, $colour1/0.9));
      }
    }
    &.citizens {
      @include border-radius(0 0 5px 5px);
      color:$colour6;
      display:block;
      margin:0 10px 10px 10px;
      padding:10px;
      background:$colour2;
      @include background(linear-gradient($colour2/0.9, $colour2));
      &:hover {
        text-decoration:none;
        background:$colour2/0.9;
        @include background(linear-gradient($colour2, $colour2/0.9));
      }
    }
  }
}

/* Login Page */
#login-pagetitle {
  display:none;
}
#login {
  p.error {
    background:$colour6;
    padding:10px;
    color:$colour11;
    margin:0;
  }
  form {
    overflow:hidden;
    margin-bottom:10px;
    label {
      position:absolute;
      left:-999999px;
    }
    input#id_username,
    input#id_password {
      width:90%;
      margin:10px auto;
      font-size:14px;
      padding:3px 5px;
      display:block;
      background:$colour6;
      border:1px solid $colour13;
    }
    input.login-button {
      @include button-reset-text;
      cursor:pointer;
      float:right;
      margin:0 10px;
      border:0;
      background:#000000;
      @include background (linear-gradient(#707070, #000000));
      &:hover {
        background:#707070;
        @include background (linear-gradient(#000000, #707070));
      }
    }
    p.forgot-register {
      float:left;
      margin:0 10px;
      a {
        display:block;
        color:$colour8;
      }
    }
  }
  .login-social {
    margin:10px;
    float:left;
    a {
      text-decoration:none;
      color:#666666;
      display:block;
      margin:10px 0;
    }
  }
}


/* appearances tab bits */
h2 a.appearances-trigger {
  background:url(../images/chevron-right-alt.png) right center no-repeat;
  display:block;
  &.active {
    background:url(../images/chevron-down-alt.png) right center no-repeat;
  }
}