/* -------------------------------------------------------------- 

DESKTOP CSS
mzalendo.com

AUTHOR: Josh Angell, Supercool
josh [at] supercooldesign.co.uk

  1. RESET / CORE
  2. DESKTOP LAYOUT
  3. MEDIA QUERIES

-------------------------------------------------------------- */



/* 1. RESET / CORE
-------------------------------------------------------------- */
@import "core";


/* 2. DESKTOP LAYOUT
   960px
   cols    1   2   3    4    5    6    7    8    9    10   11    12    13    14    15    16    17    18    19    20    21    22    23    24    25    26    27    28    29    30    31    32
   px      30  60  90   120  150  180  210  240  270  300  330   360   390   420   450   480   510   540   570   600   630   660   690   720   750   780   810   840   870   900   930   960
-------------------------------------------------------------- */
.wrapper {
  max-width:960px;
  margin:0 auto;
}
#site-header {
  background:$colour1;
  @include background(linear-gradient($colour1/0.75, $colour1));
  height:60px;
  .wrapper {
    position:relative;
    overflow:visible;
    menu#site-user-tools {
      display:block;
      position:absolute;
      right:200px;
      top:15px;
      ul {
        @include list-reset-soft;
        li {
          color:#fff;
          margin-left:10px;
          float:left;
          a {
            color:#fff;
            text-decoration:none;
            &:hover {
              text-decoration:underline;
            }
          }
        }
      }
    }
    #logo {
      position:absolute;
      left:0;
      top:10px;
      height:34px;
      width:418px;
      background:url(../images/d-logo.png) 0 center no-repeat;
    }
    #search {
      position:absolute;
      top:10px;
      right:0;
      background:transparent;
      padding:0;
      height:auto;
      border:none;
      input {
        width:100px;
        border:1px solid $colour5;
        font-size:14px;
      }
      button {
        width:26px;
        height:26px;
        margin:0 0 0 -2px;
      }
    }
  }
}
#main-menu {
  background:$colour5;
  @include background(linear-gradient($colour5, $colour4/1.4));
  nav {
    text-align:center;
    ul {
      @include inline-block;
      // overflow:hidden;
      width:auto;
      li {
        display:inline;
        float:left;
        height:40px;
        border-right:2px solid $colour5;
        &:last-child,
        &.last {
          border-right:0;
        }
        a {
          float:left;
          border-bottom:0;
          font: {
            size:16px;
            weight:normal;
          }
          padding:10px 16px;
          @include background(linear-gradient($colour5, $colour4/1.4));
          &:hover {
            @include background(linear-gradient($colour4/1.4, $colour5));
          }
        }
      }
    }
  }
}

#breadcrumb {
  height:40px;
  nav {
    ul {
      @include list-reset-soft;
      display:block;
      width:100%;
      border-bottom:1px solid $colour7;
      padding:10px 0;
      margin-bottom:10px;
      float:left;
      li,
      li.page-title,
      li a {
        display:inline;
        padding:0;
        color:$colour8;
        display:inline;
        background:none;
        text-decoration:none;
        font: {
          size:12px;
          weight:normal;
        }
      }
      li a:hover {
        text-decoration:underline;
        color:$colour4;
      }
    }
  }
}

#page {
  display:block;
  position:relative;
  overflow:hidden;
  .title-space {
    max-width:510px;
    min-height:0;
    float:left;
    clear:left;
    margin:0 0 10px 240px;
  }
  .profile-pic {
    height:200px;
    width:210px;
    position:absolute;
    top:0;
    left:0;
    img {
      width:auto;
      height:200px;
    }
  }
  .small-container {
    max-width:510px;
    clear:left;
    margin-left:240px;
    h3.scorecard-overall {
      margin:0;
      padding:15px 10px 10px 10px;
      background:$colour9;
      border-bottom:2px solid $colour6;
      span {
        @include inline-block;
        height:25px;
        padding:5px 0 0 130px;
        margin:-5px 0 0 24px;
        background:url(../images/d-smiley-sprite.png) 0 0 no-repeat;
        &.score-overall-good {
          background-position:left -2px;
        }
        &.score-overall-average {
          background-position:left -44px;
        }
        &.score-overall-bad {
          background-position:left -82px;
        }
      }
    }
    ul.scorecard {
      @include list-reset-soft;
      display:block;
      li {
        article {
          &:hover {
            cursor:pointer;
            background-color:$colour7;
          }
          &.active {
            background-color:$colour7;
            header{
              background:url(../images/arrow-up.png) right 0 no-repeat;
            }
          }
          header {
            overflow:hidden;
            background:url(../images/arrow-down.png) right 0 no-repeat;
            h4 {
              float:left;
              width:120px;
            }
            p {
              float:left;
              max-width:250px;
              font-style:italic;
              margin:0 0 0 20px;
              padding:0 0 4px 60px;
              &.score-good {
                background:url(../images/score-good.png) left 0 no-repeat;
              }
              &.score-average {
                background:url(../images/score-average.png) left 0 no-repeat;
              }
              &.score-bad {
                background:url(../images/score-bad.png) left 0 no-repeat;
              }
            }
          }
          div.details {
            float:left;
            display:block;
            margin-top:10px;
            p {
              font-size:13px;
            }
          }
        }
      }
    }
  }
  .profile-info {
    min-height:200px;
    width:210px;
    position:absolute;
    top:210px;
    left:0;
    h3 {
      text-transform:uppercase;
      color:$colour8;
      font-size:12px;
      margin-bottom:0;
    }
    .constituency-party {
      ul {
        margin-bottom:10px;
        li {
          border:0;
          margin-bottom:5px;
          a {
            background:$colour10;
            color:$colour6;
            padding:5px;
            @include border-radius(5px);
            &:hover {
              background:$colour11;
            }
          }
        }
      }
    }
    .vcard li .label {
      margin:0;
    }
  }
  .large-container {
    position:relative;
    max-width:720px;
    float:left;
    clear:left;
    margin-left:240px;
    .left-col,
    .right-col {
      width:335px;
      float:left;
    }
    .left-col {
      margin-right:30px;
    }
    p, h3 {
      margin-left:0;
      margin-right:0;
    }
    section {
      h3 {
        margin:20px 0 0 0;
      }
      ul {
        margin-bottom:30px;
        li {
          margin-left:0;
          margin-right:0;
        }
      }
    }
    article {
      h3 {
        margin:20px 0 5px 0;
        border:none;
      }
    }
    #tab-nav {
      display:block;
      border-bottom: 1px solid #bbb;
      margin: 30px 0 0 0;
      z-index:1;
      position:relative;
      height:38px;
      ul {
        @include list-reset;
        position:relative;
        z-index:2;
        li {
          display: inline;
          float:left;
          a {
            display: block;
            float:left;
            color:$colour1;
            text-decoration:none;
            font-size:13px;
            padding:9px 15px 8px 15px;
            margin-right:4px;
            border:1px solid #bbb;
            @include background(linear-gradient(#fff, #f6f6f6));
            &:hover{
              background: #fff;
              color:$colour2;
            }
          }
          &.active a {
            color:$colour5;
            padding:9px 15px;
            background:#fff;
            border-bottom:1px solid #fff;
            @include border-radius(0 0 2px 2px);
          }
        }
      }
    }
    .tab-wrapper {
      clear:both;
      border-left:1px solid #bbb;
      padding:15px 0 0 15px;
      position:relative;
      top:-1px;
    }
  }
  #comments {
    display:block;
    .big-btn-text-green {
      float:right;
      @include inline-block;
    }
    h3 {
      clear:both;
    }
  }
  .social-and-tools {
    display:block;
    width:180px;
    float:right;
    .fb-like,
    .twitter-share-button,
    iframe {
      display:inline;
      float:left;
      width:84px !important;
    }
    .twitter-share-button {
      width:96px !important;
    }
    ul {
      clear:both;
      margin:30px 0 0 0;
      li {
        a {
          padding:5px;
          margin:5px 0;
          font: {
            size:14px;
            weight:normal;
          }
        }
      }
    }
  }
  h2, h3 {
    border-top:none;
    background:none;
    padding:0;
  }
}

/* 3. MEDIA QUERIES
   for tablets mainly, but also smaller screens
   that can't handle 960px
-------------------------------------------------------------- */
@media only screen and (min-width: 640px) and (max-width: 960px) {
  #page {
    .title-space h1 {
      margin-top:35px;
    }
    .fb-like,
    .twitter-share-button {
      margin-top:7px;
    }
    .social-and-tools {
      display:block;
      width:auto;
      position:absolute;
      right:0;
      top:0;
      float:none;
      ul {
        margin:0;
        float:left;
        clear:none;
        li {
          display:inline;
          a {
            display:inline-block;
          }
        }
      }
    }
  }
}