// reset everything
@import "compass/reset";

// variables and macros
@import "colours_default";
@import "colours_nigeria";
@import "core";

// very general styling
@import "common";
@import "html_elements";
@import "buttons";

// specific chunks of all or several pages
@import "header";
@import "menu";
@import "breadcrumb";
@import "footer";
@import "page";
@import "tabs";
@import "search";

// specific pages and parts of pages
@import "hansard";
@import "comments";
@import "listing";
@import "scorecard";
@import "pagination";
@import "ajax_dialog";
@import "home_page";
@import "auth_pages";
@import "appearances";
@import "info_pages";

// overides to external features
@import "social";

@import "nigeria_overrides";
