

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>
            Constituency & County Aspirants for Wajir County
             :: Mzalendo
        </title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
        <meta http-equiv="cleartype" content="on">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        

        
    <link rel="stylesheet" type="text/css" href="/static/css/kenya.css?25" media="screen, handheld" />


        <script type="text/javascript" charset="utf-8">
            window.mzalendo_settings = {
                google_analytics_account : 'UA-660910-5',
                facebook_app_id:           '315517795130516',
                static_url:                '/static/',
                static_generation_number:  '25',
                extra_js: [],
                map_bounds: { 
                  north: 5,
                  east:  44,
                  south: -5,
                  west:  33.5
                }
            };

            
                // no extra js added to be loaded
            

        </script>
        

        <!--[if (lt IE 9) & (!IEMobile)]>
            <script src="/static/js/respond.v1.1.0.min.js"></script>
        <![endif]-->

        <script src="/static/js/libs/modernizr-2.0.6.custom.js"></script>
        <script src="/static/js/loader.js?25"></script>

        <link rel="icon" type="image/png" href="/static/images/favicon.png">

        <link href="/static/css/jquery-ui-1.8.17.custom.css?25" media="screen" rel="stylesheet" type="text/css" />
        
        
        
    </head>
    <body>

        



<header id="site-header">
    <div class="wrapper">

        <a href="/" id="logo">Mzalendo</a>


        <menu id="mobile-top-tools">
            <ul>
                <li>
                    
                        <a href="/accounts/login/?next=/position/aspirant-president/">login</a>
                    
                </li>
                <li><a href="#footer-menu" class="m-icon-nav">menu</a></li>
                <li><a href="/search/" class="icon-search"><img src="/static/images/search-icon.png" alt="search"/></a></li>
            </ul>
        </menu>

        <form action="/search/" method="get" id="header-search">
            <input class="search-autocomplete-name" type="text" name="q" placeholder="search&hellip;" />
            <button type="submit">Submit</button>
        </form>
        
        <menu id="site-user-tools">
            <ul>
                
                    <li class="login"><a href="/accounts/login/?next=/position/aspirant-president/">login</a></li>
                
            </ul>
        </menu>
    </div>
</header>


<div id="main-menu">
    <nav class="wrapper">
        <ul>
            
                


<li><a href="/">Home</a></li>
<li><a href="/info/democracy-resources">Democracy Resources</a>
    
    <ul id="democracy-resources">
        <li>
            <a href="/info/citizens-rights">Citizens Rights &amp; Responsibilities</a>
        </li>
        <li>
            <a href="/info/how-democracy-works">How Our Democracy Works</a>
        </li>
        <li>
            <a href="/info/democracy-faq">Democracy FAQs</a>
        </li>
        <li>
            <a href="/info/constitution-2010">Constitution 2010</a>
        </li>
        <li>
            <a href="/info/election-legislation">Election Legislation</a>
        </li>
        <li>
            <a href="/info/democracy-documents">Democracy Documents</a>
        </li>
    </ul>
    
</li>


<li>
  <a href="/position/mp/">MPs</a>
  
  <ul id="parliament-overview">    
    <li><a href="/organisation/is/party/">Political Parties</a></li>
    <li><a href="/organisation/is/coalition/">Coalitions</a></li>
  </ul>                    
  
</li>

<li><a href="/info/parliament-overview">Parliament</a>
    
    <ul id="parliament-overview">
        <li>
            <a href="/info/parliament-overview">Parliament Overview</a>
        </li>
        <li>
            <a href="/info/ministry-overview">Ministry Overview</a>
        </li>
        <li>
            <a href="/info/committee-overview">Committee Overview</a>
        </li>
        <li>
            <a href="/info/bills-overview">Bills Overview</a>
        </li>

        
            <li>
                <a href="/hansard/">Hansard</a>
            </li>
        

        <li>
            <a href="/info/political-parties">Political Parties</a>
        </li>
    </ul>                    
    
</li>
<li><a href="/info/places-overview">Places</a>
    
    <ul id="places-overview">
        <li>
            <a href="/map/">Find using map</a>
        </li>
        <li>
            <a href="/info/places-overview">Places Overview</a>
        </li>
        <li>
            <a href="/place/is/constituency/">Constituencies</a>
        </li>
        <li>
            <a href="/place/is/county/">Counties</a>
        </li>
    </ul>
    
</li>
<li><a href="/info/2012-overview">Election</a>
    
    <ul id="2012">
        <li>
            <a href="/info/2012-overview">Election Overview</a>
        </li>

        <li><a href="/position/aspirant-president/?view=grid">Presidential Aspirants</a></li>
        <li><a href="/position/aspirant-mp/">Aspirant MPs</a></li>
        <li><a href="/position/aspirant-governor/">Aspirant Governors</a></li>
        <li><a href="/position/aspirant-senator/">Aspirant Senators</a></li>
        <li><a href="/position/aspirant-ward-representative/">Aspirant Ward reps</a></li>
        <li><a href="/position/aspirant-women-representative/">Aspirant Women reps</a></li>


    </ul>
    
</li>
<li><a href="http://mzalendo.com/blog/">Blog</a></li>
<li><a href="/info/newsletter">Newsletter</a></li>
<li><a href="/info/mzalendo-overview">About</a>
    
    <ul id="mzalendo-overview">
        <li>
            <a href="/info/mzalendo-overview">Mzalendo Overview</a>
        </li>
        <li>
            <a href="/info/site-faq">Site FAQs</a>
        </li>
        <li>
            <a href="/info/policies">Policies</a>
        </li>
        <li>
            <a href="/info/partners">Partners</a>
        </li>
        <li>
            <a href="/info/scorecard-faq">Scorecard FAQs</a>
        </li>
        <li>
            <a href="/info/contact">Contact</a>
        </li>
    </ul>
    
</li>

            
        </ul>
    </nav>
</div>



        

        
        <div id="breadcrumb">
            <nav class="wrapper">
                <ul>
                    <li><a href="/" title="Breadcrumb link to the homepage.">Home</a>  <span class="sep">&raquo;</span>  </li><li><a href="#" title="">Election</a>  <span class="sep">&raquo;</span> </li><li>Constituency & County Aspirants</li>
                </ul>
            </nav>
        </div>
        

        <div id="page">
            <div class="page-wrapper wrapper election-area-page">
                

              <header>
                  <div class="map-box example">
                    
                  </div>
                <hgroup>
                  <h1 class="page-title">Wajir County</h1>
                  <h2>is a county in the 2013 Kenyan Elections and is contained within <a href="#">North-Eastern Province</a>.</h2>
                </hgroup>

                
              </header>
              
              
              <div class="content_box">
                
                <div class="local-aspirants">
                    <h3>MP Aspirants in Wajir County</h3>
                    <p>There are six constituencies in Wajir County.<br>
                        Select your constituency to view the Aspirant MPs:</p>
                    <ul>

                        <li>
                          <a href="#/person/url/">
                              <img src="../images/example-county-map.png" width="210" height="210"/>
                              <span class="name">Eldas</span>
                          </a>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="../images/example-county-map.png" width="210" height="210"/>
                              <span class="name">Tarbaj</span>
                          </a>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="../images/example-county-map.png" width="210" height="210"/>
                              <span class="name">Wajir North</span>
                          </a>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="../images/example-county-map.png" width="210" height="210"/>
                              <span class="name">Wajir South</span>
                          </a>
                        </li>
                        
                        <li>
                          <a href="#/person/url/">
                              <img src="../images/example-county-map.png" width="210" height="210"/>
                              <span class="name">Wajir East</span>
                          </a>
                        </li>
                        
                        <li>
                          <a href="#/person/url/">
                              <img src="../images/example-county-map.png" width="210" height="210"/>
                              <span class="name">Wajir West</span>
                          </a>
                        </li>
                        
                    </ul>
                </div>
                
                <div class="local-aspirants">
                    <h3>Governor Aspirants for <a href="#">Wajir County</a></h3>
                    <ul>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua Martha Karua Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                    </ul>
                </div>
                
                <div class="local-aspirants">
                    <h3>Senator Aspirants for <a href="#">Wajir County</a></h3>
                    <ul>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                    </ul>
                </div>
                
                <div class="local-aspirants">
                    <h3>Women Representative Aspirants for <a href="#">Wajir County</a></h3>
                    <ul>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                    </ul>
                </div>
                
                <div class="local-aspirants">
                    <h3>Presidential Aspirants for <a href="#">Kenya</a></h3>
                    <ul>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>

                        <li>
                          <a href="#/person/url/">
                              <img src="http://info.mzalendo.com/media_root/cache/fd/5a/fd5a15047f6b54e431e746ad1923d49a.jpg" width="210" height="210"/>
                              <span class="name">Martha Karua</span>
                          </a>
                          <span class="party">Kenya National Generic Party of Long Party Names</span>
                        </li>
                        
                    </ul>
                </div>
                
              </div>
   

        
            </div>
        </div>

        <footer id="site-footer">
            <div class="wrapper">
                <div id="footer-menu" class="footer-section">
    <h4>Mzalendo</h4>
    <ul class="nav">
        
            


<li><a href="/">Home</a></li>
<li><a href="/info/democracy-resources">Democracy Resources</a>
    
    <ul id="democracy-resources">
        <li>
            <a href="/info/citizens-rights">Citizens Rights &amp; Responsibilities</a>
        </li>
        <li>
            <a href="/info/how-democracy-works">How Our Democracy Works</a>
        </li>
        <li>
            <a href="/info/democracy-faq">Democracy FAQs</a>
        </li>
        <li>
            <a href="/info/constitution-2010">Constitution 2010</a>
        </li>
        <li>
            <a href="/info/election-legislation">Election Legislation</a>
        </li>
        <li>
            <a href="/info/democracy-documents">Democracy Documents</a>
        </li>
    </ul>
    
</li>


<li>
  <a href="/position/mp/">MPs</a>
  
  <ul id="parliament-overview">    
    <li><a href="/organisation/is/party/">Political Parties</a></li>
    <li><a href="/organisation/is/coalition/">Coalitions</a></li>
  </ul>                    
  
</li>

<li><a href="/info/parliament-overview">Parliament</a>
    
    <ul id="parliament-overview">
        <li>
            <a href="/info/parliament-overview">Parliament Overview</a>
        </li>
        <li>
            <a href="/info/ministry-overview">Ministry Overview</a>
        </li>
        <li>
            <a href="/info/committee-overview">Committee Overview</a>
        </li>
        <li>
            <a href="/info/bills-overview">Bills Overview</a>
        </li>

        
            <li>
                <a href="/hansard/">Hansard</a>
            </li>
        

        <li>
            <a href="/info/political-parties">Political Parties</a>
        </li>
    </ul>                    
    
</li>
<li><a href="/info/places-overview">Places</a>
    
    <ul id="places-overview">
        <li>
            <a href="/map/">Find using map</a>
        </li>
        <li>
            <a href="/info/places-overview">Places Overview</a>
        </li>
        <li>
            <a href="/place/is/constituency/">Constituencies</a>
        </li>
        <li>
            <a href="/place/is/county/">Counties</a>
        </li>
    </ul>
    
</li>
<li><a href="/info/2012-overview">Election</a>
    
    <ul id="2012">
        <li>
            <a href="/info/2012-overview">Election Overview</a>
        </li>

        <li><a href="/position/aspirant-president/?view=grid">Presidential Aspirants</a></li>
        <li><a href="/position/aspirant-mp/">Aspirant MPs</a></li>
        <li><a href="/position/aspirant-governor/">Aspirant Governors</a></li>
        <li><a href="/position/aspirant-senator/">Aspirant Senators</a></li>
        <li><a href="/position/aspirant-ward-representative/">Aspirant Ward reps</a></li>
        <li><a href="/position/aspirant-women-representative/">Aspirant Women reps</a></li>


    </ul>
    
</li>
<li><a href="http://mzalendo.com/blog/">Blog</a></li>
<li><a href="/info/newsletter">Newsletter</a></li>
<li><a href="/info/mzalendo-overview">About</a>
    
    <ul id="mzalendo-overview">
        <li>
            <a href="/info/mzalendo-overview">Mzalendo Overview</a>
        </li>
        <li>
            <a href="/info/site-faq">Site FAQs</a>
        </li>
        <li>
            <a href="/info/policies">Policies</a>
        </li>
        <li>
            <a href="/info/partners">Partners</a>
        </li>
        <li>
            <a href="/info/scorecard-faq">Scorecard FAQs</a>
        </li>
        <li>
            <a href="/info/contact">Contact</a>
        </li>
    </ul>
    
</li>

        
    </ul>
</div>

<div class="footer-section">
    <h4>About</h4>
    <ul class="utilities">
        <li><a href="/info/policies">Privacy</a></li>
        <li><a href="/feedback/?url=http://info.mzalendo.com/position/aspirant-president/?view=grid" class="feedback_link">Give us feedback</a></li>
        
        
        
        
    </ul>
</div>

<div class="footer-section subscribe-box">
    <h2>Email Newsletter</h2>

    <form action="http://mzalendo.us2.list-manage.com/subscribe/post?u=c0b4940a102336a932a5c30c4&amp;id=9963e6377d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <label for="mce-EMAIL">Subscribe to receive updates</label>
        <div class="subscribe-fields">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address here" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
    </form>
</div>

            </div>
        </footer>
        
    </body>
</html>
