{% load thumbnail %}

<div class="featured-person">
    <a href="{{ featured_person.get_absolute_url }}">
        {% thumbnail featured_person.primary_image "200x200" as im %}
            <img src="{{ im.url }}" alt="{{ featured_person.name }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% empty %}
            <img src="{{STATIC_URL}}images/avatar-200x200.jpg" />
        {% endthumbnail %}
    </a>
    <div class="featured-person-info">
        <div class="feature-nav">
            <a class="feature-prev" href="/?before={{ featured_person.slug }}">previous</a>
            <a class="feature-next" href="/?after={{ featured_person.slug }}">next</a>
        </div>
        
        <h2><a href="{{ featured_person.get_absolute_url }}">{{ featured_person.title }}{{ featured_person.name }}</a></h2>

        {% if featured_person.is_politician %}
        <p class="feature-person-role">Politician</p>
        {% endif %}
        
        <div class="feature-person-summary">
            {{ featured_person.summary }}
        </div>
        {% comment %}
            Note it is odd for a featured person to not have a scorecard, simply because this is shown
            on the home page as "MP RATINGS" -- so admin should be careful to only tick "can_be_featured"
            for Person instances that are both indeed MPs and rated. This case is handled here, but 
            really it's inappropriate to be featuring such a Person.
        {% endcomment %}
        {% if featured_person.show_overall_score %}
            <div class="rating-container">
                <div class="rating">
                    <a href="{{ featured_person.get_absolute_url }}">
                        Mzalendo Rating: 
                        {% if featured_person.has_scorecards %}
                            <strong>{{ featured_person.scorecard_overall_as_word|capfirst }}</strong>
                        {% else %}
                            None
                        {% endif %}
                    </a>
                </div>
                {%if featured_person.has_scorecards %}
                    <a class="rating-img {{ featured_person.scorecard_overall_as_word }}" href="{{ featured_person.get_absolute_url }}"></a>
                {% endif %}
            </div>
        {% endif %}
    </div>
</div>

