{% extends 'base.html' %}
{% load pagination_tags %}

{% block title %}Places{% endblock %}

{% block content %}

    <h1 class="page-title">Places</h1>

    <div class="tab-wrapper">

        <h2 class="tab-nav tab-static-link {% if not kind %}tab-active{% endif %}" rel="#all"><a href="{% url place_kind_all %}">All</a></h2>
        <div class="tab markdown" id="all">
            {% if not kind %}
                {% include 'core/generic_list.html' %}
            {% endif %}
        </div>

        {% for place_kind in all_kinds %}
            <h2 class="tab-nav tab-static-link {% if kind == place_kind %}tab-active{% endif %}" rel="#{{ place_kind.slug }}"><a href="{% url place_kind slug=place_kind.slug %}">{% firstof place_kind.plural_name place_kind.name %}</a></h2>
            <div class="tab markdown infopage" id="{{ place_kind.slug }}">
                {% if kind == place_kind %}
                    
                    {% if kind.summary %}
                        <p>{{ kind.summary }}</p>
                    {% endif %}

                    {% include 'core/generic_list.html' %}
                {% endif %}
            </div>
        {% endfor %}


    </div>
    
{% endblock %}
