{% load thumbnail %}

<ul class="listing">
    {% for person in object.related_people %}
        <li>
            <a href="{{ person.get_absolute_url }}">
                {% thumbnail person.primary_image "90x90" as im %}
                <img src="{{ im.url }}" alt="{{ person.name }}" width="{{ im.width }}" height="{{ im.height }}" />
                {% empty %}
                <img src="{{STATIC_URL}}images/avatar-90x90.jpg" />
                {% endthumbnail %}
            </a>
        
            <section>
                <h4><a href="{{ person.get_absolute_url }}">{{ person.name }}</a></h4>
                <div class="read-more-wrap"><a href="{{ person.get_absolute_url }}" class="read-more">read more</a></div>
            </section>
        </li>
    {% endfor %}

    {% for child_place in object.child_places.all %}
        {% with position=child_place.current_politician_position %}
            {% with person=position.person %}
                {% if person %}
                    <li>                
                        <a href="{{ person.get_absolute_url }}">
                            {% thumbnail person.primary_image "90x90" as im %}
                                <img src="{{ im.url }}" alt="{{ person.name }}" width="{{ im.width }}" height="{{ im.height }}" />
                            {% empty %}
                                <img src="{{STATIC_URL}}images/avatar-90x90.jpg" />
                            {% endthumbnail %}
                        </a>
                
                        <section>
                            <h4><a href="{{ person.get_absolute_url }}">{{ person.name }}</a></h4>
                            <p>{{ position.title }} of <a href="{{ child_place.get_absolute_url }}">{{ child_place.name }}</a></p>
                            <div class="read-more-wrap"><a href="{{ person.get_absolute_url }}" class="read-more">read more</a></div>
                        </section>
                    </li>
                {% endif %}
            {% endwith %}
        {% endwith %}
    {% endfor %}
</ul>
