{% extends 'base.html' %}
{% load thumbnail %}
{% load switch %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <div class="view-selector">
        <a href="{% url position_pt pt_slug=object.slug %}?view=grid">View as grid</a>
    </div>

    <h1 class="page-title">{{ object.name }}</h1>
    
    {% if object.summary %}
        <div class="summary markdown">
            {{ object.summary }}
        </div>
    {% endif %}
    
    <div class="content_box">
        <h3>Current Position Holders</h3>
        {% include 'core/position_position_section.html' with positions=positions.order_by_place %}
    </div>

{% endblock %}

