.person-write-form,
.person-write-intro {
    max-width: 44em;
}

.person-write-form {
    @include clearfix();

    @media (min-width: 640px) {
        margin: 2em 0 4em;
    }

    p {
        margin-bottom: 1.5em;
    }

    label {
        display: block;
        margin-bottom: 0.5em;

        small {
            display: block;
            color: $colour_grey;

            @media (min-width: 640px) {
                display: inline;
                margin-left: 0.5em;

                &.new-line {
                    display: block;
                    margin-left: 0;
                }
            }
        }
    }

    select,
    input[type="text"],
    input[type="email"],
    textarea {
        box-sizing: border-box;
        width: 100%;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        padding: 0.5em 0.75em;
        border-radius: $border_radius;
        border: 1px solid $colour_grey;
        font-family: inherit;
        font-size: 1em;

        &:focus {
            border-color: $colour_secondary;
            box-shadow: 0 0 5px rgba($colour_secondary, 0.5);
        }
    }

    .chosen-container-multi {
        .chosen-choices {
            padding: 0.5em 0.75em;
            border-radius: $border_radius;
            border: 1px solid $colour_grey;
            background-image: none;
        }
    }

    .chosen-container-active {
        .chosen-choices {
            border-color: $colour_secondary;
            box-shadow: 0 0 5px rgba($colour_secondary, 0.5);
        }
    }

    input[disabled] {
        color: $colour_grey;
        background: $colour_light_grey;
        cursor: not-allowed;
    }

    @media (min-width: 640px) {
        .row {
            @include clearfix();
            margin: 0 -1em;
        }

        .col-sm-6 {
            box-sizing: border-box;
            float: left;
            width: 50%;
            padding: 0 1em;
        }
    }

    .privacy-reminder {
        border: 1px solid #e6e6e6;
        border-width: 1px 0;
        padding: 1.5em 0;
        margin-bottom: 2em;

        & > :last-child {
            margin-bottom: 0;
        }
    }
}

// Custom version of the write form, with a coloured background,
// and a label that looks like a heading.
.person-write-form--emphasised {
    background-color: mix(#fff, $colour_green, 80%);
    padding: 2em;
    box-sizing: border-box;

    label {
        font-family: $font_family_lato;
        font-size: 1.4em;
        font-weight: bold;

        small {
            font-family: 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans;
            font-size: 0.7em;
            font-weight: normal;
            margin-top: 0.5em;
        }
    }

    .button.pull-right {
        margin-bottom: 0;
    }
}

.person-write-thread {
    max-width: 48em;
    margin: 0 auto;
}

.person-write-message {
    padding: 1.5em;
    margin-bottom: 1.5em;

    @media (min-width: 640px) {
        padding: 2em;
        margin-bottom: 2em;
        box-shadow: 0 3px 3px rgba(#000, 0.1);
        border: 1px solid $colour_muted;
        background-color: #fff;
    }
}

.person-write-message--reply {
    background-color: mix($colour_amber, #fff, 5%);

    @media (min-width: 640px) {
        margin-left: 6em;
    }
}

.person-write-message__meta {
    @include clearfix();
    font-size: 0.8em;

    @media (min-width: 640px) {
        font-size: 1em;
    }

    dt, dd {
        font-size: inherit;
        line-height: inherit;
    }

    dt {
        float: left;
        max-width: 6em;
    }

    dd {
        padding-left: 7em;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.person-write-message__content {
    line-height: 1.4em;
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid $colour_muted;
}

.person-write-flash {
    max-width: 48em;
    margin: 2em auto;

    li {
        list-style: none;
        padding: 1em 1.5em;
        border-radius: $border_radius;
        background-color: mix($colour_amber, #fff, 20%);
    }

    li.success {
        background-color: mix($colour_green, #fff, 20%);
    }

    li + li {
        margin-top: 1em;
    }
}

.person-write-intro {
    margin-bottom: 2em;

    p {
        margin-bottom: 1.5em;
    }
}

.person-write-intro__notice {
    padding: 0 0 0 4.5em;
    background: transparent url('../images/rep-locator-tooltip.png') 0 50% no-repeat;
    @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
        background-image: url('../images/rep-locator-tooltip@2.png');
    }
    background-image: url('../images/rep-locator-tooltip.svg'), none;
    background-size: 52px 52px;
}
