.person-write-form {
    @media (min-width: 640px) {
        max-width: 48em;
        margin: 2em auto;
        padding: 0 1em;
    }

    p {
        margin-bottom: 1.5em;
    }

    label {
        display: block;
        margin-bottom: 0.5em;

        small {
            display: block;
            color: $colour_middling_grey;

            @media (min-width: 640px) {
                display: inline;
                margin-left: 0.5em;
            }
        }
    }

    input[type="text"],
    input[type="email"],
    textarea {
        box-sizing: border-box;
        width: 100%;
        padding: 0.5em 0.75em;
        border-radius: $border_radius;
        border: 1px solid $colour_muted;
        font-family: inherit;
        font-size: 1em;

        &:focus {
            border-color: $colour_secondary;
            box-shadow: 0 0 5px rgba($colour_secondary, 0.5);
        }
    }

    input[disabled] {
        color: $colour_grey;
        background: $colour_light_grey;
        cursor: not-allowed;
    }

    @media (min-width: 640px) {
        .row {
            @include clearfix();
            margin: 0 -1em;
        }

        .col-sm-6 {
            box-sizing: border-box;
            float: left;
            width: 50%;
            padding: 0 1em;
        }
    }
}

.person-write-message {
    @media (min-width: 640px) {
        max-width: 46em;
        margin: 2em auto;
        padding: 2em;
        box-shadow: 0 3px 3px rgba(#000, 0.1);
        border: 1px solid $colour_muted;
        background-color: #fff;
    }
}

.person-write-message__meta {
    @include clearfix();

    dt, dd {
        font-size: inherit;
        line-height: inherit;
    }

    dt {
        float: left;
        max-width: 6em;
    }

    dd {
        padding-left: 7em;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }
}

.person-write-message__content {
    line-height: 1.4em;
    margin-top: 1.5em;
    padding-top: 1.5em;
    border-top: 1px solid $colour_muted;
}
