/* Countdown */

@import "base_fonts";

.countdown_row {
    /* min-width stops the timer from jumping around when the time is ticking down */
    @media (min-width: 640px) and (max-width: 880px) {
        min-width: 13.1875em;
    }
    @media only all and (min-width: 640px), print {
        position: absolute;
        right: 0;
        min-width: 18.375em;
    }
}

@import url('http://fonts.googleapis.com/css?family=Oswald&text=0123456789');
.countdown_section {
    display: inline-block;
    text-align: center;
}

.countdown_amount {
    display: block;
    font-family: 'Oswald', 'Arial Narrow', 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans sans-serif;
    font-size: 3.75em;
    @media (min-width: 640px) and (max-width: 880px) {
        font-size: 2.5em;
    }

    &:after {
        content: ":";
    }
    &.last {
        &:after {
            content: "";
        }
    }
}

.countdown_label {
    display: block;
    font-family: $font_family_lato;
    font-size: 0.875em;
}
