*.pyc
*~
\#*\#
\.\#*
.idea/

.sass-cache
.bundle
web/down.default.html
/web/down.html
/pombola/core/static/sass/admin.css
/pombola/core/static/sass/countdown.css
/pombola/core/static/sass/jquery-ui.css
/pombola/kenya/static/sass/kenya.css
/pombola/nigeria/static/sass/nigeria.css
/pombola/south_africa/static/sass/countdown.css
/pombola/south_africa/static/sass/south-africa.css
/staticfiles
*.sublime-project
*.sublime-workspace
*.DS_Store
.project
.pydevproject
build/
tmp/
/.env
/data/*
!/data/.gitkeep
.vagrant/
.ruby-version
