[submodule "commonlib"]
	path = commonlib
	url = git://git.mysociety.org/commonlib
[submodule "external/django-1.3"]
	path = external/django-1.3
	url = git://github.com/django/django.git
[submodule "external/django-date-extensions"]
	path = external/django-date-extensions
	url = git://github.com/evdb/django-date-extensions.git
[submodule "external/django-bcrypt"]
	path = external/django-bcrypt
	url = git://github.com/dwaiter/django-bcrypt.git
[submodule "external/django-registration-defaults"]
	path = external/django-registration-defaults
	url = git://github.com/yourcelf/django-registration-defaults.git
[submodule "external/django-registration"]
	path = external/django-registration
	url = git://github.com/CoatedMoose/django-registration.git
[submodule "external/django-webtest"]
	path = external/django-webtest
	url = git://github.com/kmike/django-webtest.git
[submodule "external/wiki_content"]
	path = external/wiki_content
	url = git@github.com:mysociety/mzalendo.wiki.git
