# List all Python package requirements this project has.
#
# more details: http://www.pip-installer.org/en/latest/requirements.html

### General useful bits
py-bcrypt
PyYAML
Mercurial
PIL >= 1.1.7

### Database drivers
psycopg2

### Django related
Django>=1.4,<1.5
django-pagination
South>=0.8


### Pombola dependencies
sorl-thumbnail
django_date_extensions
django-ajax-selects

Markdown

### Use a fork of django-markitup so that we get correct truthiness
-e hg+https://bitbucket.org/evdb/django-markitup/@fe49ef12c614#egg=django-markitup

requests>=1.0
pyelasticsearch
django-haystack>=2.1.0

# Testing helpers 
httplib2
WebTest>=1.3.2
django-webtest
-e git://github.com/nathforge/django-mechanize.git#egg=django-mechanize
selenium
django-selenium

# Hansard parsing is quite particular
BeautifulSoup==3.2.1
BeautifulSoup4
unidecode
python-memcached

# django-mapit
-e git://github.com/mysociety/mapit.git@master#egg=django-mapit

python-dateutil

coverage>=3

## votematch
django-model-utils

parsedatetime

# TODO - change to pypi package 'pygeocoder' link once https://bitbucket.org/xster/pygeocoder/pull-request/5 merged and published.
-e hg+https://evdb@bitbucket.org/evdb/pygeocoder@add-components#egg=pygeocoder
