# List all Python package requirements this project has.
#
# more details: http://www.pip-installer.org/en/latest/requirements.html

### General useful bits
py-bcrypt==0.4
PyYAML==5.1
Pillow==6.1.0

### Database drivers
psycopg2==2.8.2

### Django related
Django==1.8.18
django-pagination==1.0.7
django-bcrypt==0.9.2
django-pipeline==1.5.4
django-pipeline-compass-rubygem==0.1.8
django-formtools==2.1

### API related
djangorestframework==3.3.2

### Django related registration
# The registration app is a little out of date - get it from the repo direct....
# django-registration
-e git+git://github.com/ubernostrum/django-registration@af917d4936973820fa1be2336db3ca922d27b89d#egg=django-registration
django-registration-defaults==0.3

### Pombola dependencies
sorl-thumbnail==12.4.1
django_date_extensions==0.1dev
django-ajax-selects==1.4.2
django-autocomplete-light==2.3.3
django-slug-helpers==0.0.3
django-file-archive==0.0.2
django-info-pages==0.0.5

Markdown==2.5.1

lxml==3.6.2

# Note that django-markitup (for v2.1 at least) adds a recent jQuery (v2.0.3) to
# the admin pages, which other code then relies on, for example the
# django-autocomplete-light. If removing/changing this requirement please ensure
# that the behaviour is not altered. If you need to reintroduce jQuery manually
# into the admin then commit c5fdf97df10782c098592e89503fce461840dcda may be
# useful as a reference.
django-markitup==2.3.0

requests==2.6.0
elasticsearch==0.4.5
django-haystack==2.6.1
# Required (but not a declared requirement) of elasticsearch
urllib3==1.24.2

# Testing helpers
django-nose==1.4.3
yanc==0.2.4
httplib2==0.11.3
WebTest==2.0.15
django-webtest==1.7.8
requests-mock==1.4.0

git+git://github.com/nathforge/django-mechanize.git@d9537ccf8cc66bc7913df0c95fd532699ec88fdc
selenium==2.53.6
django-selenium==0.9.7

# Hansard parsing is quite particular
BeautifulSoup==3.2.1
beautifulsoup4==4.3.2
Unidecode==0.04.16
python-memcached==1.53

# django-mapit
-e git+git://github.com/mysociety/mapit@d692d2788167516a9963563937bb8ed8a0e475e1#egg=django-mapit

# SayIt and ZA hansard scrapers - need to be made available to be added as an optional app
# Note, if the subsequent -e are ever removed, please remove manually from virtualenv/src !
-e git+git://github.com/mysociety/sayit.git@89952e69826ce4ad5717fa445339ca68727e7fd0#egg=django-sayit

mysociety-django-sluggable==0.2.7
-e git+git://github.com/mysociety/popolo-name-resolver@a6fca27e080acdb475e6fd2e1382592b0c0a0fc5#egg=popolo-name-resolver

mysociety-django-popolo==0.0.5
mysociety-django-images==0.0.6

python-dateutil==2.4.2

# Packages that are helpful for development:
coverage==3.7.1
django-debug-toolbar==1.4
django-extensions==1.7.4

## votematch
django-model-utils==2.3.1

parsedatetime==1.4

pygeocoder==1.2.5

# Dependencies of our dependencies
Django-Select2==4.3.2
Shapely==1.5
WebOb==1.4
amqp==1.4.6
anyjson==0.3.3
audioread==1.0.3
billiard==3.3.0.19
bleach==1.4
celery==3.1.17
chardet==2.3
cssselect==0.9.1
django-bleach==0.3
django-celery==3.1.16
django-qmethod==0.0.3
django-subdomain-instances==2.0
django-tastypie==0.12.1
html5lib==0.999
kombu==3.0.24
mechanize==0.2.5
mimeparse==0.1.3
mock==1.3.0
nose==1.3.4
parslepy==0.2.0
python-magic==0.4.6
pytz==2014.10
simplejson==3.6.5
six==1.10.0
slumber==0.6.2
sqlparse==0.1.14
virtualenv==1.11.6
waitress==0.8.9
wsgi-intercept==0.8
wsgiref==0.1.2

# We cannot pin these to specific versions, because they're OS/Python version
# dependant, and there's no single version which will work for the variety of
# environments we have to support.

# This comes as standard in Python 2.7+ anyway
# Pinned to 1.1 rather than 1.2.1 to save us having to use --allow-all-external
argparse==1.1

# Used for keeping an eye on this file.
pip-tools==0.3.5

# Other things presumably installed as dependencies of stuff above
python-mimeparse==0.1.4


#necessary to process unicode csv files for ZA elections data
unicodecsv==0.9.4

# Used to format budgetary things into local currency strings
babel==2.6.0

# Pin certifi to a version that works with OpenSSL 1.0.1 - see
# https://github.com/certifi/python-certifi/issues/26
certifi==2015.04.28

cffi

# everypolitician packages
everypolitician==0.0.13
everypolitician-popolo==0.0.11
