{% extends 'base.html' %}
{% load switch %}

{% block title %}
    Projects in {{ place.name }}
{% endblock %}

{% block content %}

    <p>Note: this page is mostly a placeholder. We need to decide how this information is best presented.</p>

    <h1>Projects in <a href="{{ place.get_absolute_url }}">{{ place.name }}</a></h1>
    
    <ul class="listing">
        {% for p in projects.all %}
            <li>
                <strong>{{ p.project_name }}</strong> - {{ p.status }}<br>
                {{ p.remarks }}<br>
                estimated: {{ p.estimated_cost }}, total so far: {{ p.total_cost }}
            </li>
        {% empty %}
            <li>No projects found.</li>
        {% endfor %}
    </ul>

{% endblock %}
