{% load humanize %}
{# 'object' is the place #}

{% if object.project_set.count %}
    <div class="content_box">
        <h3>CDF Projects</h3>

        <p>
            There are <a href="{% url project_in_place slug=object.slug %}">{{ object.project_set.count }} CDF projects</a> in {{ object.name }}.
            These are the most expensive:
        </p>

        {% for p in object.project_set.all|slice:":10" %}
            <strong>{{ p.project_name }}</strong>:
            Ksh {{ p.total_cost|floatformat|intcomma }}
            spent on {{ p.activity_to_be_done }}.
            <br>
        {% endfor %}

    </div>
{% endif %}
