<h4>Sign up to our mailing list</h4>
<div class="email-signup">

    <form method="post" action="https://mail4.marketingautomation.services/prospector/thanks/MzawMDE2MrUwBwA/f224712b-064b-4d8f-8aa8-c4f3ebf691e8" id="form_f224712b-064b-4d8f-8aa8-c4f3ebf691e8" enctype="multipart/form-data" target="_blank">
          <label for="field_350159876" class="visuallyhidden">Email</label>
          <input type="email" name="field_350159876" value="" id="350159876" maxlength="255" class="required email" placeholder="Your email">
          <input type="hidden" name="formid__sb" value="f224712b-064b-4d8f-8aa8-c4f3ebf691e8" />
          <input type="hidden" name="companyprofileid__sb" value="MzawMDE2MrUwBwA" />

          <button id="submit_button" type="submit" name="submit__sb" class="button mailing-list-button">Sign up </button>
    </form>
</div>
