<h4>Sign up to our mailing list</h4>
<div class="email-signup">

    <form method="post" name="SubscribeForm" action="http://www.graphicmail.co.za/RWCode/subscribe.asp?SiteID=45864&Mode=subscribe&resize=0" target="_blank" >
        <label for="Email" class="visuallyhidden">Email</label>
      <input type="email" name="Email" id="Email" placeholder="Your email" /><input type="submit" value="Sign up" class="button mailing-list-button">
      <input type="hidden" name="628173" value="on">
    </form>
</div>
