{% extends 'base.html' %}
{% load pagination_tags %}

{% block title %}{% if kind %}{{ kind.name }}{% endif %}{% endblock %}

{% block content %}

    <h1 class="page-title">
        {% if kind %}
            {{ kind.name }}
        {% else %}
            Committees
        {% endif %}
    </h1>

    {% if committees %}

        {% autopaginate committees %}

        <ul class="unstyled-list committee-list">

        {% for committee in committees %}
        <li class="list-of-things-item {{ committee.css_class }}-list-item{% if not committee.show_active %} inactive{% endif %}">
            <p>
                <a href="{{ committee.get_absolute_url }}" class="committee-list__name">
                {{ committee.short_name }}
                </a>
            </p>
           
            <div class="committee-list__links">
                <a href="{% url 'organisation_messages' slug=committee.slug %}">View messages</a>
                <a href="{% url 'writeinpublic-committees:writeinpublic-new-message-step' step='recipients' %}?person_id={{ committee.pk }}">Write a public message</a>
            </div>
        </li>
        {% endfor %}

        </ul>

        {% include "core/_search_pagination_text.html" %}

        {% paginate %}

    {% else %}
        <p>No committees were found</p>
    {% endif %}

{% endblock %}
