{% with child_places=child_places %}
  {% if child_places.count %}
    {% comment %}
      Note that this regroup relies on the default ordering of places by slug, which
      puts constituency offices in alphabetical order by party because the party name
      is a prefix in the office/area name.
    {% endcomment %}
    {% regroup child_places by party as child_places_regrouped %}

    {% for cp in child_places_regrouped %}
      <div class="content_box">
        <h3>{{ cp.grouper.name }} offices in {{ object.name }}</h3>
            
        <ul class="unstyled-list">
          {% for child in cp.list %}
            {% include child_place_template|default:"core/place_places_child.html" with object=child %}
          {% endfor %}
        </ul>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}
