{% load thumbnail %}

<li id="constituency-office-{{ object.id }}">
  <div class="fifty-fifty-layout">
    <div class="column">
      <span class="name">
        <a href="{{ object.organisation.get_absolute_url }}">{{ object.organisation.name }}</a>
        {% if object.distance != None %}
          <span class="distance">{{ object.distance.km|floatformat:1 }}km</span>
        {% endif %}
      </span>

      <ul>
        {# I imagine we'll only get the one postal address per office... #}
        {% for address in object.postal_addresses %}
          <li class="constituency-office-address">{{ address.value }}</li>
        {% endfor %}
      </ul>
    </div>
    <div class="column">
      {% if not skip_positions %}
        <ul class="unstyled-list">
        {% for position in object.related_positions %}
          {% with object=position.person %}
            {% include 'core/generic_list_item.html' %}
          {% endwith %}
        {% endfor %}
        </ul>
      {% endif %}

      {% for person_entry in object.office_people_entries %}

        <a href="{{ person_entry.person.get_absolute_url }}">
          {% thumbnail person_entry.person.primary_image "58x58" crop="center" as im %}
            <img class="constituency-office-mp-photo" src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
          {% empty %}
            <img class="constituency-office-mp-photo" src="{{STATIC_URL}}images/person-90x90.jpg" width="58" height="58" />
          {% endthumbnail %}

          <p class="constituency-office-mp-name">{{ person_entry.person.name }}</p>
        </a>

        {% for pos in person_entry.positions %}
          <p class="constituency-office-mp-title">
            {{ pos.title }} ({{ pos.organisation.name }})
          </p>
        {% endfor %}

        <br clear="both" />

      {% endfor %}

      <script>
        add_marker_to_map({
          lat: {{ object.location.y }},
          lng: {{ object.location.x }},
          name: "{{object.organisation.name }}",
          {% if object.party_slug_for_icon %}
          marker_icon: "{{ STATIC_URL }}images/party-map-icons/{{ object.party_slug_for_icon }}.png",
          {% endif %}
          url: "#constituency-office-{{ object.id }}"
        });
      </script>
    </div>
  </div>
</li>

