<section>
  <h1><a href="{{ object.get_absolute_url }}">{{ object.organisation.name }}</a> ({{ object.distance.km|floatformat:1 }}km)</h1>

  <ul>
    {# I imagine we'll only get the one postal address per office... #}
    {% for address in object.postal_addresses %}
      <li>{{ address.value }}</li>
    {% endfor %}
  </ul>

  <ul>
    {% for position in object.related_positions %}
      {% with object=position %}
        {% include 'core/generic_list_item.html' %}
      {% endwith %}
    {% endfor %}
  </ul>
</section>
