{% extends 'base.html' %}

{% block title %}Election{% endblock %}

{% block body_attributes %} class="election" {% endblock %}

{% block intro_content %}
    <div class="election-header">
        <div class="wrapper">
            <h1>Elections 2014</h1>
            <div class="navigation-tabs">
                <nav role="navigation">
                    <ul>
                        <li><a href="#" class="current">Home</a></li>
                        <li><a href="#">National election</a></li>
                        <li><a href="#">Provincial election</a></li>
                        <li><a href="#">Statistics</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="election-body">
{% endblock %}


{% block content %}
{% endblock %}


