{% extends 'south_africa/election_base.html' %}

{% block content %}
    <div class="election-page-header" id="top">
        <h2>{{ party.name }}</h2>
        <h3>Candidates for the {{ election_year }} {{ election_type }} election </h3>
        {% if province_name %}
          <p class="election-page-subtitle"> <a href="{% url "sa-election-overview-"|add:election_type election_year=election_year %}#provincial">{{ province.name }} <span class="change-province">change</span></a></p>
        {% endif %}
    </div>

<div class="overview-section" id="provincial">
    <h3>Provincial candidates</h3>
    <ul class="overview-list">
        {% for province in province_list %}
            <li>
                <a href="{% url "sa-election-candidates-national-province-party" election_year=2014 province_name=province.slug party_name=party.slug %}">{{ province.name }}</a>
            </li>
        {% endfor %}
    </ul>
</div>

<h3>National candidates</h3>
<div class="party-list">
    <ul>
        {% for candidate in party_election_list %}
            <li><a href="{{ candidate.person.get_absolute_url }}">{{ candidate.person }}</a> <span class="candidate-title">{{ candidate.title }}</span></li>
        {% endfor %}
    </ul>
    <a href="#top">Back to top</a>
</div>
{% endblock %}
