{% extends 'base.html' %}

{% block title %}Election{% endblock %}

{% block body_attributes %} class="election" {% endblock %}

{% block intro_content %}
    <div class="election-header">
        <div class="wrapper">
            <h1>Elections 2014</h1>
            <div class="navigation-tabs">
                <nav role="navigation">
                    <ul>
                        <li><a href="{% url "sa-election-overview-year" election_year=2014 %}" class="current">Home</a></li>
                        <li><a href="{% url "sa-election-overview-national" election_year=2014 %}">National election</a></li>
                        <li><a href="{% url "sa-election-overview-provincial" election_year=2014 %}">Provincial election</a></li>
                        <li><a href="{% url "sa-election-statistics-year" election_year=2014 %}">Statistics</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="election-body">
{% endblock %}


{% block content %}
{% endblock %}


