{% extends 'south_africa/election_base.html' %}

{% block content %}
    <div class="election-page-header" id="top">
        <h2>{{ party.name }}</h2>
        <h3>Candidates for the {{ election_year }} {{ election_type }} election </h3>
        {% if province_name %}
          <p class="election-page-subtitle"> <a href="#">{{ province.name }} <span class="change-province">change</span></a></p>
        {% endif %}
    </div>
<div class="party-list">
    <ul>
        {% for candidate in party_election_list.position_set.all %}
            <li>{{ candidate.person }}</li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
