{% extends 'south_africa/election_base.html' %}

{% block content %}
    <div class="election-page-header" id="top">
        <h2>Candidates for the {{ election_year }} {{ election_type }} election</h2>
        <p class="election-page-subtitle"> <a href="{% url "sa-election-overview-"|add:election_type election_year=election_year %}#provincial">{{ province.name }} <span class="change-province">change</span></a></p>
    </div>

        {% for election_list in province_election_lists %}
            <div class="party-list">
                <a href="#top" class="back-to-top">Back to top</a>
                <h3>{{ election_list.party.name }} <span class="for-province">for {{ province.name }}</span></h3>
                <ul>
                    {% for candidate in election_list.candidates|slice:":10" %}
                        <li><a href="{{ candidate.person.get_absolute_url }}">{{ candidate.person }}</a> <span class="candidate-title">{{ candidate.title }}</span></li>
                    {% endfor %}
                </ul>
                {% if election_list.candidates|length > 10 %}
                    {% if election_type == 'provincial' %}
                        <a href="{% url "sa-election-candidates-provincial-party" election_year=election_year province_name=province.slug party_name=election_list.party.slug %}">View all</a>
                    {% elif election_type == 'national' %}
                        <a href="{% url "sa-election-candidates-national-province-party" election_year=election_year province_name=province.slug party_name=election_list.party.slug %}">View all</a>
                    {% endif %}
              {% endif %}
            </div>
        {% endfor %}


{% endblock %}
