{% extends "base.html" %}
{% load url from future %}

{% block extra_js_to_load %}
    pombola_settings.extra_js.push( 'js/hide-reveal.js' );
{% endblock %}

{% block title %}Hansard{% endblock %}


{% block content %}

{% if show_lateness_warning %}
  <p>Note: There is a delay in the release of Hansard transcripts of about six months</p>
{% endif %}

<div class="clearfix">
  <p style="float: right;">
    <a class="js-reveal-all-link" href="#">Expand all subsections</a>
  </p>
</div>


{% regroup entries by section.parent.title.strip as by_title %}
{% for t in by_title %}
    {% regroup t.list by start_date as by_date %}
    <div>
        <a class="js-hide-reveal-link hansard-section-title has-dropdown-dark" href="#{{ t.grouper|slugify }}">
            <h2> {{ t.grouper }} </h2>
            {% for d in by_date %}
                {{ d.grouper }} {% if not forloop.last %},{% endif %}
            {% endfor %}
        </a>

        <div class="js-hide-reveal hansard-section" id="{{ t.grouper|slugify }}">
            {% for item in t.list %}
            <p>
                <a href="{% url 'speeches:section-view' item.section.id %}">{{ item.section.title }}</a>
                ({{ item.speech_count }})
            </p>
            {% endfor %}
        </div>

    </div>
{% endfor %}
{% endblock %}
