{% extends "base.html" %}
{% load pipeline %}

{% block extra_js_to_load %}
    addExtraJS([ {% javascript 'hide-reveal' %} null ]);
{% endblock %}

{% block title %}Hansard{% endblock %}


{% block content %}

{% if show_lateness_warning %}
  <p>Note: There is a delay in the release of Hansard transcripts of about six months</p>
{% endif %}

<div class="clearfix">
  <p style="float: right;">
    <a class="js-reveal-all-link" href="#">Expand all subsections</a>
  </p>
</div>


{% regroup entries by parent.title.strip as by_title %}
{% for t in by_title %}
  {% with first_section_id=t.list.0.id %}
    {% regroup t.list by speech_start_date as by_date %}
    <div>
        <a class="js-hide-reveal-link hansard-section-title has-dropdown-dark" href="#{{ t.grouper|slugify }}-{{ first_section_id }}">
            <h2> {{ t.grouper }} </h2>
            {% for d in by_date %}
                {{ d.grouper }} {% if not forloop.last %},{% endif %}
            {% endfor %}
        </a>

        <div class="js-hide-reveal hansard-section" id="{{ t.grouper|slugify }}-{{ first_section_id }}">
            {% for item in t.list %}
            <p>
                <a href="{% url 'speeches:section-view' item.get_path %}">{{ item.title }}</a>
                ({{ item.speech_count }})
            </p>
            {% endfor %}
        </div>

    </div>
  {% endwith %}
{% endfor %}

<br ><br >
<div class="step-pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}">
              Previous
          </a>
        {% endif %}

        <span class="current">
          Page <strong>{{ page_obj.number }}</strong> of <strong>{{ page_obj.paginator.num_pages }}</strong>
        </span>

        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}">
              Next
          </a>
        {% endif %}
    </span>
</div>

{% endblock %}
