{% extends "info/infopage_detail.html" %}

{% block content %}
    <h1 class="page-title" data-sub-menu-id="{{ object.slug }}">{{ object.title }}</h1>

    <h4>Sign up to our mailing list</h4>
    <div class="email-signup">

        <form method="post" name="SubscribeForm" action="http://www.graphicmail.co.za/RWCode/subscribe.asp?SiteID=45864&Mode=subscribe&resize=0" target="_blank" >
          <input type="text" name="Email" /><input type="submit" value="Sign up" class="button mailing-list-button">
          <input type="hidden" name="628173" value="on">
        </form>
    </div>

    <div class="markdown infopage">
        {{ object.content_with_anchors|safe }}
    </div>
{% endblock %}
