{% extends 'south_africa/latlon_detail_base_view.html' %}
{% load pipeline %}

{% block title %}{{ object.name }} - Local Politicians{% endblock %}

{% block extra_js_to_load %}
    addExtraJS([ {% javascript 'tabs' %} null ]);
{% endblock %}

{% block subcontent %}

<div class="tabs ui-tabs ui-widget rep-locator-container">
  <ul class="rep-locator-tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header">
    <li class="ui-state-default">
      <a href="#mps" class="ui-tabs-anchor active">{{ mp_data | length }} MP{{ mp_data | length | pluralize }}</a>
    </li>
    <li class="ui-state-default">
      <a href="#mpls" class="ui-tabs-anchor active">{{ mpl_data | length }} MPL{{ mpl_data | length | pluralize }}</a>
    </li>
    <li class="ui-state-default">
      <a href="#councillors" class="ui-tabs-anchor">{{ ward_data | length }} Ward Councillor{{ ward_data | length | pluralize }}</a>
    </li>
  </ul>

  <!-- TODO: Map should show ward close-up when councillor tab is selected -->
  {% javascript 'google-map' %}
  <script>
    var ward_kml_urls = [];
    var constituency_offices_marker_data = [];
  </script>
  <div id="map_canvas" style="width: 100%; height: 400px;"></div>

  <div id="mps" class="tab-content ui-tabs-panel ui-widget-content">

    <ul class="rep-locator-reps">
      {% for person_data in mp_data %}
        {% include 'south_africa/local_rep_list_item.html' with skip_positions=1 %}
      {% empty %}
        <li>No MPs found.</li>
      {% endfor %}
    </ul>

  </div>
  <div id="mpls" class="tab-content ui-tabs-panel ui-widget-content">

    <ul class="rep-locator-reps">
      {% for person_data in mpl_data %}
        {% include 'south_africa/local_rep_list_item.html' with skip_positions=1 %}
      {% empty %}
        <li>No MPLs found.</li>
      {% endfor %}
    </ul>

  </div>
  <div id="councillors" class="tab-content ui-tabs-panel ui-widget-content">

    <ul class="rep-locator-reps">
      {% for ward_councillor in ward_data %}
        {% include 'south_africa/local_rep_list_item.html' with person_data=ward_councillor skip_positions=1  %}
        {% if ward_councillor.ward_mapit_area_id %}
        <script>
          ward_kml_urls.push('http://mapit.code4sa.org/area/{{ ward_councillor.ward_mapit_area_id }}.kml');
        </script>
        {% endif %}
      {% empty %}
        <li>No ward councillor found.</li>
      {% endfor %}
    </ul>

  </div>
</div>

{% endblock %}
