{% extends 'base.html' %}

{% block breadcrumbs %}
{% include 'core/override_breadcrumb.html' with override_path='/places/' %}
{% endblock %}

{% block content %}

  <form action="{% url "core_geocoder_search" %}" class="rep-locator-search">
    <label for="id_q" class="rep-locator-search__label">Show representatives for:</label>
    <div class="rep-locator-search__inputs">
      {% include "south_africa/_search_box.html" %}
    </div>
  </form>

  <!-- TODO: Decide what to do with this -->
  <!-- <a href="{% url "info_page" slug="constituency-offices" %}">About Constituency Offices</a> -->

  {% block subcontent %}
  {% endblock %}

{% endblock %}
