{% extends 'south_africa/latlon_detail_base_view.html' %}

{% block title %}{{ object.name }} - Local Politicians{% endblock %}

{% block subcontent %}
  <div class="column">

    <h2>Ward Councillors</h2>

    <ul class="unstyled-list list-of-constituency-offices">
      {% for ward_councillor in ward_data %}
        {% include 'south_africa/local_rep_list_item.html' with person_data=ward_councillor %}
      {% empty %}
        <li>No ward councillor found.</li>
      {% endfor %}
    </ul>

    <h2>MPs and MPLs</h2>

    <ul class="unstyled-list list-of-constituency-offices">
      {% for person_data in mp_mpl_data %}
        {% include 'south_africa/local_rep_list_item.html' with skip_positions=0 %}
      {% empty %}
        <li>No MPs or MPLs found.</li>
      {% endfor %}
    </ul>

  </div>
{% endblock %}
