{% extends 'base.html' %}
{% load url from future %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

  <h1>Find your representatives</h1>

  <form action="{% url "core_geocoder_search" %}">
    {% include "south_africa/_search_box.html" %}
  </form>

  <script src="{{ STATIC_URL }}js/map.js?{{ settings.STATIC_GENERATION_NUMBER }}"></script>

  <div id="map_canvas" style="width: 100%; height: 400px;"></div>

  <h2>Constituency offices</h2>

  <ul class="unstyled-list list-of-constituency-offices">
    {% for object in nearest_offices %}
      {% include 'south_africa/constituency_office_list_item.html' with skip_positions=1 %}
    {% empty %}
      <li>
        <p>No local offices found.</p>
      </li>
    {% endfor %}
  </ul>

  <h2>National politicians</h2>

  <ul class="unstyled-list">
      {% for politician in politicians %}
        {% include "core/generic_list_item.html" with object=politician %}
      {% empty %}
        <li>
          <p>No politicians found</p>
        </li>
      {% endfor %}
  </ul>

{% endblock %}
