{% extends 'base.html' %}
{% load url from future %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

  <h1>Find your representatives</h1>

  <form action="{% url "core_geocoder_search" %}">
    {% include "south_africa/_search_box.html" %}
  </form>

  <div id="map_canvas"></div>

  <ul class="listing">
    {% for object in nearest_offices %}
      {% include 'south_africa/constituency_office_list_item.html' %}
    {% empty %}
      <section>
        <p>No local offices found.</p>
      </section>
    {% endfor %}
  </ul>

{% endblock %}
