{% extends 'base.html' %}
{% load compressed %}

{% block breadcrumbs %}
{% include 'core/override_breadcrumb.html' with override_path='/places/' %}
{% endblock %}

{% block content %}


  <h1>Find your representatives</h1>
  <a href="{% url "info_page" slug="constituency-offices" %}" class="button secondary-button about-constituency-office">About Constituency Offices</a>

  <form action="{% url "core_geocoder_search" %}">
    {% include "south_africa/_search_box.html" %}
    <p>
        E.g.
        <a href="{% url "core_geocoder_search" %}?q=Long+Street">Long Street</a>,
        <a href="{% url "core_geocoder_search" %}?q=Cape+Town">Cape Town</a>,
        <a href="{% url "core_geocoder_search" %}?q=Soweto">Soweto</a>

    </p>
  </form>

  {% compressed_js 'google-map' %}

  <div id="map_canvas" style="width: 100%; height: 400px;"></div>

  <div>

    {% block subcontent %}
    {% endblock %}

  </div>
{% endblock %}
