{% extends 'south_africa/latlon_detail_base_view.html' %}
{% load pipeline %}
{% load staticfiles %}

{% block title %}{{ object.name }} - Local Politicians{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'tabs' %}
  {% javascript 'rep-locator' %}
  {% javascript 'google-map' %}
{% endblock %}

{% block subcontent %}

{% if ward_data_not_available %}
  <div class="ward-councillor-api-down">
    Ward councillor data is currently unavailable. Please try
    again later to find your ward councillor details.
  </div>
{% else %}
  <p>You can learn more about the finances for this ward's local municipality on
    <a href="https://municipalmoney.gov.za/profiles/municipality-{{ ward_data.0.muni_id }}/" target="_blank">Municipal Money</a>
  </p>
{% endif %}

<div class="tabs ui-tabs ui-widget rep-locator-container">
  <ul class="rep-locator-tabs ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header">
    <li class="ui-state-default">
      <a href="#councillors" class="ui-tabs-anchor" data-rep-locator-tooltip=".rep-locator-tooltip--councillors">{{ ward_data | length }} Ward Councillor{{ ward_data | length | pluralize }}</a>
    </li>
    <li class="ui-state-default">
      <a href="#mps" class="ui-tabs-anchor" data-rep-locator-tooltip=".rep-locator-tooltip--mps">{{ mp_data | length }} MP{{ mp_data | length | pluralize }}</a>
    </li>
    <li class="ui-state-default">
      <a href="#mpls" class="ui-tabs-anchor" data-rep-locator-tooltip=".rep-locator-tooltip--mpls">{{ mpl_data | length }} MPL{{ mpl_data | length | pluralize }}</a>
    </li>
  </ul>

  <div class="rep-locator-tooltip rep-locator-tooltip--councillors">
    <p>Your ward councillor provides a link between you &amp; your local council.</p>
    <p>They ensure the council looks after the needs of local people.</p>
  </div>
  <div class="rep-locator-tooltip rep-locator-tooltip--mps">
    <p>Your Member of Parliament (MP) is a link between you &amp; national government.</p>
    <p>Your MP can help to obtain info, advice or make a complaint.</p>
  </div>
  <div class="rep-locator-tooltip rep-locator-tooltip--mpls">
    <p>Your Member of Provincial Legislature (MPL) is a link between you &amp; provincial government.</p>
    <p>Your MPL can help to obtain info, advice or make a complaint.</p>
  </div>

  <script>
    var ward_kml_urls = [];
    var constituency_offices_marker_data_mps = [];
    var constituency_offices_marker_data_mpls = [];
  </script>
  <div id="map_canvas" style="width: 100%; height: 400px;"></div>

  <div id="councillors" class="tab-content ui-tabs-panel ui-widget-content">

    <ul class="rep-locator-reps">
      {% for ward_councillor in ward_data %}
        {% include 'south_africa/local_rep_list_item.html' with person_data=ward_councillor extended=1 %}
        {% if ward_councillor.ward_mapit_area_id %}
        <script>
          ward_kml_urls.push('http://mapit.code4sa.org/area/{{ ward_councillor.ward_mapit_area_id }}.kml');
        </script>
        {% endif %}
      {% empty %}
        <li>No ward councillor found.</li>
      {% endfor %}
    </ul>

  </div>
  <div id="mps" class="tab-content ui-tabs-panel ui-widget-content">

    <ul class="rep-locator-reps">
      {% for person_data in mp_data %}
        {% include 'south_africa/local_rep_list_item.html' with skip_contact_details=1 %}
      {% empty %}
        <li>No MPs found.</li>
      {% endfor %}
    </ul>

  </div>
  <div id="mpls" class="tab-content ui-tabs-panel ui-widget-content">

    <ul class="rep-locator-reps">
      {% for person_data in mpl_data %}
        {% include 'south_africa/local_rep_list_item.html' with skip_contact_details=1 %}
      {% empty %}
        <li>No MPLs found.</li>
      {% endfor %}
    </ul>

  </div>

  <div class="rep-locator-logos">
    <a href="http://speakupmzansi.org.za/">
      <img src="{% static 'images/rep-locator-credit-speak-up-mzansi.png' %}">
    </a>
    <a href="http://code4sa.org/">
      <img src="{% static 'images/rep-locator-credit-code4sa.png' %}">
    </a>
  </div>

</div>

{% endblock %}
