{% extends 'base.html' %}
{% load pipeline static %}

{% block title %}MP Attendance{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  <script type="text/javascript">
    var POSITION = '{{ position|escapejs }}';
  </script>
  {% javascript 'attendance-table' %}
{% endblock %}

{% block css_headers %}
  {{ block.super }}
  {% stylesheet 'datatables' %}
{% endblock %}

{% block body_attributes %} class="mp-attendance" {% endblock %}

{% block content %}
<h1 class="page-title">MP and Minister Attendance</h1>
<div class="major-column">
  <p>Explore the committee meeting attendance records for the members and ministers of parliament.</p>
</div>

<div class='mp-attendance-filter'>
  <form class='filter-attendance' action="{% url 'mp-attendance' %}" method="get">
    <div class="col-50">
      <div class="filter radio">
        <label>
          <input type="radio" name="position" value="ministers"{% if position == "ministers" %} checked{% endif %}/>
          Show ministers and deputy ministers *
        </label>
        <label>
          <input type="radio" name="position" value="mps" {% if position == "mps" %}checked{% endif %}/>
          Show MPs
        </label>
        <span class="note">
        * Ministerial attendance is not compulsory but is encouraged <br/>
        &nbsp; Ministerial attendance captured only since mid 2016
        </span>
      </div>

    </div>
    <div class="col-50">
      <div class="filter select">
        <label>Select a year:</label>
        <select name="year">
         {% for yr in years %}
          <option value="{{ yr }}" {% if yr == year %}selected{% endif %}>{{ yr }}</option>
         {% endfor %}
        </select>
      </div>
      <div class="filter select">
        <label>Choose a party:</label>
        <select name="party">
          <option value="" selected>All</option>
         {% for pty in parties %}
          <option value="{{ pty }}" {% if pty == party %}selected{% endif %}>{{ pty }}</option>
         {% endfor %}
        </select>
      </div>

      <input class="button" type="submit" value="Show attendance">
    </div>
    <div class="clear"></div>

  </form>

  {% if party %}
   <div class="col-50">
    {% if position == 'mps' %}
      {% if aggregate_attendance >= 0 %}
        <h2 class="average-attendance">{{ aggregate_attendance }}%</h2>
        <p>Average attendance for {{ party }}</p>
      {% else %}
        <p>Not enough data to calculate average attendance.</p>
      {% endif %}
    {% endif %}
   </div>
  {% endif %}

  <div class="clear"></div>

  <hr>
  <div class="col-50">
    <p class="attendance__disclaimer">Methodology: MPs are recorded as absent whether they have, or have not submitted apologies.</p>
    <p class="attendance__disclaimer">Please note: People's Assembly has suspended access to attendance of the MPs of small parties.</p>
  </div>
  <div class="col-50">
    <p class="attendance__disclaimer">DISCLAIMER: This is not the official attendance record of Parliament. This information has been obtained via the Parliamentary Monitoring Group. PMG makes every effort to compile reliable and comprehensive information, but does not claim that the data is 100% accurate and complete.</p>
    <a class="button download" href="{{ download_url }}">Download raw data</a>
  </div>

  <div class="clear"></div>

</div>

<table id="mp-attendance">
  <thead>
    <tr>
      <th>Name</th>
      <th>Party</th>
      {% if position == 'ministers' %}
      <th>Position</th>
      <th>Present</th>
      {% else %}
      <th>Meetings</th>
      <th>Present</th>
      <th>Arrived late</th>
      <th>Departed Early</th>
      {% endif %}
    </tr>
  </thead>
  <tbody>
   {% for member in attendance_data %}
    <tr>
      <td><a href="{{ member.pa_url }}">{{ member.name }}</td>
      <td>{{ member.party_name }}</td>
      {% if position == 'ministers' %}
      <td>
        {% if member.position == 'minister' %}Minister{% endif %}
        {% if member.position == 'deputy-minister' %}Deputy minister{% endif %}
      </td>
      <td>{{ member.present }}</td>
      {% else %}
      <td>{{ member.total }}</td>
      <td width="15%">
        <div class="attendance">
          <div class="attendance-perc">{{ member.present }}%</div>
          <div class="attendance-bar">
            <div class="bar present" style="width:{{ member.present }}%"></div>
            <div class="bar absent" style="width:{{ member.absent }}%"></div>
          </div>
        </div>
      </td>
      <td width="15%">
        <div class="attendance">
          <div class="attendance-perc">{{ member.arrive_late }}%</div>
          <div class="attendance-bar">
            <div class="bar late-early" style="width:{{ member.arrive_late }}%"></div>
          </div>
        </div>
      </td>
      <td width="15%">
        <div class="attendance">
          <div class="attendance-perc">{{ member.depart_early }}%</div>
          <div class="attendance-bar">
            <div class="bar late-early" style="width:{{ member.depart_early }}%"></div>
          </div>
        </div>
      </td>
      {% endif %}
    </tr>
   {% endfor %}
  </tbody>
</table>

{% endblock %}
