{% extends 'base.html' %}
{% load thumbnail %}
{% load pipeline %}
{% load switch %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <h1 class="page-title">Members of Parliament</h1>

    <form action="{% url "core_search" %}">
        <div class="inline-search-box people-list-inline-search">
            <label for="id_q" class="inline-search-box__label">Find a person by name</label>
            <input id="id_q" name="q" class="js-mp-profiles-live-filter" type="text" value="{{ query }}" placeholder="e.g. Baleka Mbete">
            <input type="hidden" name="section" value="persons">
            <input type="submit" value="Search" class="button">
        </div>
    </form>

    <div class="content_box mp-profiles-list js-mp-profiles-all">
        {% for letter, positions in grouped_by_sort_letter %}
          <h2 class="mp-profiles-list-letter" id="{{ letter }}">{{ letter }}</h2>
          <ul class="unstyled-list list-of-profiles-by-letter">
            {% for position in positions %}
              {% include "core/generic_list_item.html" with object=position.person organisation_kind=position.organisation.kind skip_positions=1 skip_parties=1 lazy_load_images=1 %}
            {% endfor %}
          </ul>
        {% empty %}
          <p>No records found.</p>
        {% endfor %}
      </ul>
    </div>

{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'lazy-loaded-images' %}
  {% javascript 'mp-profiles-live-filter' %}
{% endblock %}
