{% extends "core/organisation_base.html" %}

{% comment %}
This template is specifically for organisations that have a kind = "house", i.e.
the National Assembly or NCOP. All other organisation kinds are rendered using
the organisation detail page.
{% endcomment %}


{% block content %}
<div class="house-splash {{ object.slug }}">
  <div class="house-title">
    <h1>{{ object.title }} {{ object.name }}</h1>
    {% if object.kind.slug != 'unknown' %}
      <p class="kind-of-subtitle">{{ object.kind.name }}</p>
    {% endif %}
  </div>
</div>
  {% if object.summary %}
    <div class="house-intro">
      {{ object.summary }}
    </div>
  {% endif %}

  <h2>People</h2>

  <form action="{% url "core_search" %}" class="inline-search-box people-list-inline-search" style="margin-top: 0">
    <label for="core_search">Find a person by name</label>
    <input class="search-autocomplete-name" id="core_search" data-source="/search/autocomplete/?model=person" type="text" name="q" value="" placeholder="e.g. Baleka Mbete">
    <input type="hidden" name="section" value="persons">
    <input type="submit" value="Search" class="button">
    <a href="{% url 'organisation_people' slug=object.slug %}">Or browse an A-Z list of all members</a>
  </form>


  <h2>Parties</h2>

  <div>
    <ul class="house-page-list">
      {% for party, seat_count, percentage in parties_counts_and_percentages %}
      <li>
      <a href="{% url 'organisation_party' slug=object.slug sub_page_identifier=party.slug %}">
        {{ party.name }}
        <span class="seat-count">{{ seat_count }} seat{{ seat_count|pluralize }} ({{ percentage|floatformat:"-1" }}%)</span>
      </a>
      </li>
      {% endfor %}
    </ul>
  </div>

{% endblock content %}
