{% extends 'core/person_base.html' %}
{% load pagination_tags speech_utils %}

{% block title %}{{ object.name }} Attendances{% endblock %}

{% block subcontent %}

  <h2>Committee Meetings Attended</h2>

  {% autopaginate attendance %}

  <ul class="unstyled committee-meeting-attendance">

  {% for meeting in attendance %}
    <li>
      <p>
        <span class="committee-name">{{ meeting.committee_name }}</span>
          <a href="{{ meeting.url }}">
          <span class="meeting-title">{{ meeting.title }}</span>
        </a>
        <br>
        <span class="meeting-date">{{ meeting.date }}</span>
      </p>
      <div class="meeting-summary">
          {{ meeting.summary|bleach|truncatewords_html:50 }}
      </div>
    </li>

  {% empty %}
      {% firstof ifempty "No attendance records found" %}
  {% endfor %}

  {% paginate %}

{% endblock %}
