{# For South Africa the default person section is the experience tab #}
{% extends 'core/person_base.html' %}
{% load url from future %}
{% load pagination_tags %}


{% block title %}{{ object.name }} Appearances{% endblock %}


{% block subcontent %}

  <h2>Appearances</h2>

  {% autopaginate speeches %}

  {% for speech in speeches %}
      <p>
          <a href="{{ speech.get_absolute_url }}">{{ speech.title }}</a>
          <div>{{ speech.start_date }}</div>
          <div>{{ speech.text|truncatewords:100 }}</div>
      </p>
  {% endfor %}

  {% paginate %}

{% endblock %}
