{% extends 'base.html' %}
{% load i18n %}
{% load za_speeches %}

{% comment %}Based on the corresponding SayIt template.{% endcomment %}

{% block title %}{% blocktrans with title=section.title %}View Section: {{ title }}{% endblocktrans %}{% endblock %}

{% block breadcrumbs %}
    {% include "speeches/_breadcrumbs.html" %}
{% endblock %}

{% block content %}

<div class="page-header">

    {% include "speeches/_section_user_actions.html" %}

    <h1>{{ section.title }}</h1>

</div>

{% section_prev_next_links section as captured_section_prev_next_links %}

{{ captured_section_prev_next_links }}

{% for node, structure in section_tree %}
  {% if structure.new_level %}<ul>{% else %}</li>{% endif %}
  {% if structure.speech %}
    <li id="s{{ node.id }}" class="speech speech-border"{% if node.speaker.colour %} style="border-left-color: #{{ node.speaker.colour }};"{% endif %}>
    {% include "south_africa/question_speech.html" with speech=node nosection="1" noli=1 %}
  {% else %}
    <li><span class="section-title"><a href="{% url 'speeches:section-view' node.get_path %}">{{ node.title }}</a></span>
    {% if node.is_leaf_node %}({{ node.speech_count }}){% endif %}
  {% endif %}
  {% for level in structure.closed_levels %}</li></ul>{% endfor %}
{% endfor %}

{{ captured_section_prev_next_links }}

{% endblock %}

