#main-menu {
  background: #8DC5EB; // light blue
  border-bottom: 2px solid #4082AF; // rich, dark blue

  nav {
    position: relative;
    z-index: 2;
    text-align: right;

    & > ul {
      width: auto;

      & > li {
        border-right: none;

        &:hover > a, // hover effect even when mouse is over another item in the dropdown
        & > a:hover,
        & > a:focus {
          background: #C3E3F8;
        }

        & > a {
          background-image: none;
          color: $colour_black;
        }
      }
    }

    .js-hover-dropdown {
      a {
        &:hover,
        &:focus {
          background: #C3E3F8;
        }
      }
    }
  }
}

html {
  background-color: $colour_white;
}

body {
  background: $colour_white;
}


#site-header {
  clear: both;
  background: $colour_primary;
  background-image: url(/static/images/header_bottom.png);
  background-repeat: repeat-x;
  background-position: bottom center;
}

@media only all and (min-width: 640px), print {
  #site-header {
    height: 120px;
  }
}


#logo {

  background: url(/static/images/mz-nigeria-logo-text-small.png) 0 center no-repeat;
  background-position: left 20%;

  @media only all and (min-width: 640px), print {
    top: -15px;
    height: 130px;
    width: 630px;
    background: url(/static/images/mz-nigeria-logo-text.png) 0 center no-repeat;
    &.down {
      background: url(../images/down-logo.png) 0 center no-repeat;
    }
  }
  @media only all and (min-width: 900px), print {
    background: url(/static/images/mz-nigeria-logo.png) 0 center no-repeat;
    &.down {
      background: url(../images/down-logo.png) 0 center no-repeat;
    }
  }
}


#header-search {
  margin: 25px 5px 0 0;
  text-align: right;

  label {
    display: block;
    margin-bottom: 10px;
    text-shadow: 0 1px 1px #2972A5; // a darker shade of the header background blue
    color: #fff;
  }

  input {
    padding: 4px 8px;
    border: 2px solid #444;
    height: 22px;
    @include border-radius(4px 0 0 4px);
    width: 15em;
    font-size: 14px;
    line-height: 20px;

    &:focus {
      position: relative;
      z-index: 1;
      border-color: #005D92;
      @include box-shadow(#ECFDFF 0 0 20px 2px)
    }
  }

  button {
    border: 2px solid #444;
    border-left: 0;
    background: #66b191 url(../images/search-icon-dark.png) center no-repeat;
    width: 34px;
    height: 34px;
    @include border-radius(0 4px 4px 0);

    &:hover {
      background-color: lighten(#66b191, 10%);
    }
  }
}


.featured-person {
  &.featured-person-placeholder {
    text-align: center;
    height: 250px;
    background: $colour_primary url(/static/images/mz-nigeria-logo-symbol.png) center center no-repeat;
  }
}


div.search-filters {
  @include background(linear-gradient($colour_primary, $colour_primary_light));
}
div.search-pagination {
  @include background(linear-gradient(#333132, #4C4C4E));
}

.home-intro {
  border-bottom: 1px solid #94C1E0;
  margin-bottom: 20px;
  padding: 20px;

  h2 {
    text-align: center;
    font-size: 21px;
    line-height: 28px;
    font-weight: normal;
    color: #55a4da;
    margin: 0;
    padding: 2em 2em;

    #page & {
      padding: 0;
      border-top: 0;
      background: transparent;
    }
  }

  @media only all and (min-width: 640px), print {
    margin-bottom: 40px;
    padding: 2em 4em 2.5em 4em;

    h2 {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

#page .home-left, #page .home-right {
  h2 {
    font-weight: normal;
    margin-bottom: 20px;
  }
}


@media only all and (min-width: 760px), print {
  #page .home-left {
    width: 400px;
    margin-right: 0;
  }
}

@media only all and (min-width: 865px), print {
  #page .home-left {
    width: 400px;
    margin-right: 50px;
  }
}

#home-focus-on {
  float: left;
  width: 46%;
}

#polldaddy {
  float: right;
  width: 46%;

  .PDS_Poll {
    border: 4px solid #dddddd;
  }

  #page & .pds-box {
    @include border-radius(0);
    border: none;
  }

  #page & .pds-vote {
    padding-bottom: 0;
  }

  .pds-answer label {
    display: inline;
    float: none;
  }
}

.embedded-video {
  margin-bottom: 1em;
  iframe {
    max-width: 100%;
  }
}

.carousel-item {
  padding: 4px;
  background-color: #dddddd;
  display: block;
  font-size: 0; // avoid space below child img elements
}

.carousel-nav {
  bottom: -24px;
  right: 50%;
  margin-right: -18px;
}

.home-news {
    .home-news-article {
      margin-bottom: 30px;
    }

    h3 {
      font-size: 18px;
      margin-bottom: 2px;
    }
    .meta {
      font-style: normal;
      font-size: .75em; /* 12px */
      color: $colour_blackish;
      margin-bottom: 10px;
    }
    .summary {
        line-height:1.3em;
        margin-bottom:1em;
        p {
            display:inline;
        }
    }
}

@media only all and (min-width: 640px), print {
    #page .home-right .social-and-tools {
      margin-top: 40px;
    }
}

.blog-list {
  padding-top: 1em;

    .blog-in-a-list {
        border-bottom: 1px solid #d2d2ce;
        margin-bottom: 2em;
        padding-bottom: 1em;
    }

    h2 {
      font-size: 1.5em;
      line-height: 1.2em;
      margin-bottom: 5px;
    }

    .meta {
      color: #999;
      font-size: 1em;
    }

    #page & h2 {
      background: transparent;
      border: 0;
      padding: 0;
    }

    img {
      max-width: 100%;
    }
}

.blog-post {
  h1 {
    margin-bottom: 5px;
  }

  .meta {
    color: #999;
    font-size: 1em;
  }
}
