{% load thumbnail %}
{% load switch %}

<li class="{{ object.css_class }}">

    {% switch object.css_class %}

        {% case 'position' %}
            {% thumbnail object.person.primary_image "90x90" crop="center" as im %}
                <a href="{{ object.person.get_absolute_url }}">
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                </a>
            {% empty %}
                <a href="{{ object.person.get_absolute_url }}">
                    <img src="{{STATIC_URL}}images/avatar-90x90.jpg" />
                </a>
            {% endthumbnail %}

            <section>
                <h4><a href="{{ object.person.get_absolute_url }}">{{ object.person.name }}</a></h4>
		{% if object.place %}
                    <p>Member for {{ object.place.name }}</p>
                {% else %}
		    {# Bring on the elif clause! #}
                    {% if object.is_nominated_mp %} 
                        <p>Nominated Member</p>
                    {% endif %}
                {% endif %}

                <div class="read-more-wrap"><a href="{{ object.person.get_absolute_url }}" class="read-more">read more</a></div>
            </section>

        {% case 'positiontitle' %}
            <section>
                <h4><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h4>

                <div class="read-more-wrap"><a href="{{ object.get_absolute_url }}" class="read-more">read more</a></div>
            </section>

        {% case 'person' %}
            {% thumbnail object.primary_image "90x90" crop="center" as im %}
                <a href="{{ object.get_absolute_url }}">
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                </a>
            {% empty %}
                <a href="{{ object.get_absolute_url }}">
                    <img src="{{STATIC_URL}}images/avatar-90x90.jpg" />
                </a>
            {% endthumbnail %}
            
            <section>
                <h4><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h4>
                
                <p>
                {% for position in object.position_set.all %}
                    {{ position.title.name }}, {{ position.organisation.name }};
                {% endfor %}
                </p>

                <p class="meta">{{ position.display_dates|safe }}</p>
                
                <div class="read-more-wrap"><a href="{{ object.get_absolute_url }}" class="read-more">read more</a></div>
            </section>

        {% case 'organisation' %}
            {% thumbnail object.primary_image "90x90" crop="center" as im %}
                <a href="{{ object.get_absolute_url }}">
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                </a>
            {% empty %}
                <a href="{{ object.get_absolute_url }}">
                    <img src="{{STATIC_URL}}images/org-90x90.jpg" />
                </a>
            {% endthumbnail %}

            <section>
                <h4><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h4>

                <div class="kind">{{ object.kind.name }}</div>

                {% if object.num_positions %}
                    <p class="meta">{{ object.num_positions }} related positions</p>
                {% endif %}

                <div class="read-more-wrap"><a href="{{ object.get_absolute_url }}" class="read-more">read more</a></div>
            </section>
        
        {% case 'place' %}
            {% thumbnail object.primary_image "90x90" crop="center" as im %}
                <a href="{{ object.get_absolute_url }}">
                    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
                </a>
            {% empty %}
                <a href="{{ object.get_absolute_url }}">
                    <img src="{{STATIC_URL}}images/place-90x90.jpg" />
                </a>
            {% endthumbnail %}
        
            <section>
                <h4><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h4>
                
		{% if object.parent_place %}
                    <p>Parent place: <a href="{{ object.parent_place.get_absolute_url }}">{{ object.parent_place.name }}</a></p>
                {% endif %}

                <p class="meta">{{ object.kind.summary }}</p>


                <div class="kind">{{ object.kind.name }}</div>

                <div class="read-more-wrap"><a href="{{ object.get_absolute_url }}" class="read-more">read more</a></div>
            </section>

        {% else %}
            <section>
                <h4><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h4>

                <div class="read-more-wrap"><a href="{{ object.get_absolute_url }}" class="read-more">read more</a></div>
            </section>

    {% endswitch %}
</li>
