{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block extra_js_to_load %}
    mzalendo_settings.extra_js.push( 'js/feeds.js' );
{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on the home page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block content %}
    <div class="home-left">
        <h2 id="home-intro">
            Mzalendo (‘Patriot’ in Swahili) is a non-partisan project started in 2003 whose mission is to ‘keep an eye on the Kenyan parliament.’
            <span class="details">
                Mzalendo site seeks to promote greater public voice and enhance public participation in politics by providing relevant information about the National Assembly’s activities, MPs, and aspirants ahead of the 2012 elections.
            </span>
            <a href="#" class="home-read-more">more</a>
        </h2>
        <form action="{% url core_search %}" id="home-search">
            <label for="core-search">Search people, places and organisations</label>
            <input class="search-autocomplete-name" id="core-search" type="text" name="q" value="" placeholder="e.g. Nairobi, Uhuru Kenyatta">
            <button type="submit">Search</button>
            <a href="{% url hansard_search  %}" id="search-hansard-home">Search Hansard instead</a>
        </form>

                
        <h2>Latest News</h2>
        <ul id="home-news-list">
            <li>
                Loading news&hellip;
            </li>
        </ul>
    </div>
    <div class="home-right">
        <h2>MP Ratings</h2>
        <div id="home-featured-person">
            {% if featured_person != None %}
                {% include 'core/person_feature.html' %}
            {% else %}
                <div class="featured-person featured-person-placeholder"></div>
            {% endif %}
        </div>

        
        <div id="home-links">
            <a href="{% url info_page slug='2012-aspirants' %}" class="aspirants">Presidential Aspirants Page</a>
            <a href="{% url info_page slug='citizens-rights' %}" class="citizens">Citizen's Rights and Responsibilities</a>
        </div>
        
        
        <div id="twitter">
            <h2>Twitter</h2>
            
            <div class="twitter-feed" data-twitter-username="mzalendowatch">                
                Loading tweets &hellip;
            </div>
        </div>

        <div class="social-and-tools">
            <ul class="tools">
                <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&amp;t=Mzalendo" target="_blank" class="big-btn-text-fb">Facebook</a>
                <li><a href="https://twitter.com/share?via=MzalendoWatch&amp;text=Mzalendo&amp;url={{ request.build_absolute_uri }}" target="_blank" class="big-btn-text-tw">Twitter</a></li>
            </ul>


            <span class="tw-nub"></span>
            <a href="http://twitter.com/MzalendoWatch" class="btn-text-green tw-follow" target="_blank">Follow</a>
        </div>
    </div>
{% endblock %}