{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="home-left">
        <h2 id="home-intro">
            Mzalendo (‘Patriot’ in Swahili) is a non-partisan project started in
            2003 whose mission is to ‘keep an eye on the Kenyan parliament.’
            Mzalendo site seeks to promote greater public voice and enhance
            public participation in politics by providing relevant information
            about the National Assembly’s activities, MPs, and aspirants ahead
            of the 2012 elections.
        </h2>

        <form action="{% url core_search %}" id="home-search">
            <label for="core-search">Search people, places and organisations</label>
            <input id="core-search" type="text" name="q" value="" placeholder="e.g. Nairobi, Uhuru Kenyatta">
            <button type="submit">Search</button>
            <a href="#">Advanced search</a>
        </form>
    </div>
    <div class="home-right">
        <div id="home-featured">
            <img src="{{STATIC_URL}}images/ex-feat.jpg" width="510" height="240" />
            <div class="caption">
                <h4>Featured</h4>
                <p>Lest we forget: Police involved with corruption in Niarobi</p>
                <p class="meta">posted: 12 January 2012</p>
            </div>
        </div>
    </div>

    <div class="home-left">
        <h2>Latest News</h2>
        <ul id="home-news-list">
            <li>
                <img src="{{STATIC_URL}}images/ex-news1.jpg" width="90" />
                <h3><a href="/">Harambees and Elections</a></h3>
                <p class="meta">12 January 2012</p>
                <p>Talking about the “harambee ban” on political aspirants Isaack Hassan, the Chairperson of the Independent Electoral Boundaries...</p>
            </li>
            <li>
                <h3><a href="/">On the Electoral Opinion Bill</a></h3>
                <p class="meta">12 January 2012</p>
                <p>Is the Electoral Opinion Bill overkill or much needed? Though no one can argue about the need for polls to be conducted in a scientific and transparent...</p>
            </li>
            <li>
                <img src="{{STATIC_URL}}images/ex-news2.jpg" width="90" />
                <h3><a href="/">Mzalendo Vox Pop: A doctor’s perspective on the strike / linda afya</a></h3>
                <p class="meta">12 January 2012</p>
                <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick</p>
            </li>
        </ul>
    </div>

    <div class="home-right">
        <h2>MP Ratings</h2>
        <div id="home-mpratings">
            <img src="{{STATIC_URL}}images/ex-face2.jpg" width="60" />
            <h3 class="scorecard-overall">Ahmed, Ahmed - why we rated him dangerous <span class="score-overall-bad"></span></h3>
        </div>

        <div id="twitter">
            <h3>Twitter</h3>
            <div class="tw-wrap">
                <p>The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog. The quick brown fox jumps over the lazy dog.</p>
                <p class="meta">posted: 4 hours ago</p>
            </div>
            <span class="nub"></span>
        </div>

        <div class="social-and-tools">
            <div class="fb-like" data-send="false" data-layout="button_count" data-width="95" data-show-faces="false"></div>
            
            <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="mysociety">Tweet</a>

            <span class="tw-nub"></span>
            <a href="http://twitter.com/mzalendo" class="btn-text-green tw-follow">Follow</a>
        </div>
    </div>
{% endblock %}