{% extends 'base.html' %}
{% load comments %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <div class="title-space">
        <h1>{{ object.name }}</h1>

        <p>part of <a href="/">Parent Company</a></p>

        {% if object.kind.slug != 'unknown' %}
            <span class="object-kind">{{ object.kind.name }}</span>
        {% endif %}
    </div>
    
    <div class="profile-pic">
        <img src="http://dummyimage.com/210x200">
    </div>

    <div class="social-and-tools">
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="95" data-show-faces="false"></div>
        
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="mysociety">Tweet</a>

        <ul class="tools">
            <li><a href="{% get_comment_add_url object %}" class="big-btn-text-green">Post Comment</a></li>
            <li><a href="{% url feedback_add %}?url={{ request.build_absolute_uri }}" class="feedback_link big-btn-text-red">Correct this information</a></li>
        </ul>
    </div>

    {% if object.summary %}
    <div class="small-container">
        {{ object.summary }}
    </div>
    {% endif %}

    <div class="profile-info">
       
        <h3>Contact Details</h3>
        <ul class="vcard">        
            <li class="address">
                <span class="label">Address:</span>
                <p>P.O. Box 58722 Nairobi, Kenya</p>
            </li>
            <li class="phone">
                <span class="label">Phone:</span>
                <p><a href="tel:0733 289501">0733 289501</a></p>
            </li>
        </ul>
    </div>

    <div class="large-container">
        <div class="tab-wrapper">
            <h2 class="tab-nav" rel="#related-people"><a href="/">Related People</a></h2>
            <div class="tab markdown" id="related-people">
                <ul class="listing">
                    <li>
                        <a href="/">
                            <img src="{{STATIC_URL}}images/avatar-90x90.jpg" />
                        </a>
                    
                        <section>
                            <h4><a href="/">The name of a related MP</a></h4>
                            <p>Leader of the something somethign party</p>
                            <p class="meta">since 1987</p>
                            <div class="read-more-wrap"><a href="/" class="read-more">read more</a></div>
                        </section>
                    </li>

                    <li>
                        <a href="/">
                            <img src="{{STATIC_URL}}images/avatar-90x90.jpg" />
                        </a>
                    
                        <section>
                            <h4><a href="/">The name of a related MP</a></h4>
                            <p>Leader of the something somethign party</p>
                            <p class="meta">since 1987</p>
                            <div class="read-more-wrap"><a href="/" class="read-more">read more</a></div>
                        </section>
                    </li>

                    <li>
                        <a href="/">
                            <img src="{{STATIC_URL}}images/avatar-90x90.jpg" />
                        </a>
                    
                        <section>
                            <h4><a href="/">The name of a related MP</a></h4>
                            <p>Leader of the something somethign party</p>
                            <p class="meta">since 1987</p>
                            <div class="read-more-wrap"><a href="/" class="read-more">read more</a></div>
                        </section>
                    </li>
                </ul>
            </div>

            <h2 class="tab-nav" rel="#related-places"><a href="/">Related Places</a></h2>
            <div class="tab markdown" id="related-places">
                <ul class="listing">
                    <li>
                        <a href="/">
                            <img src="{{STATIC_URL}}images/place-90x90.jpg" />
                        </a>
                    
                        <section>
                            <h4><a href="/">The name of a place</a></h4>
                            <p>Part of ‘the name of the parent place’</p>
                            <p class="meta">If there’s a description of the link...</p>
                            <div class="kind">Constituency</div>
                            <div class="read-more-wrap"><a href="/" class="read-more">read more</a></div>
                        </section>
                    </li>
                    <li>
                        <a href="/">
                            <img src="{{STATIC_URL}}images/place-90x90.jpg" />
                        </a>
                    
                        <section>
                            <h4><a href="/">The name of a place</a></h4>
                            <p>Part of ‘the name of the parent place’</p>
                            <p class="meta">If there’s a description of the link...</p>
                            <div class="kind">Division</div>
                            <div class="read-more-wrap"><a href="/" class="read-more">read more</a></div>
                        </section>
                    </li>
                    <li>
                        <a href="/">
                            <img src="{{STATIC_URL}}images/place-90x90.jpg" />
                        </a>
                    
                        <section>
                            <h4><a href="/">The name of a place</a></h4>                            
                            <p>Part of ‘the name of the parent place’</p>
                            <p class="meta">If there’s a description of the link...</p>
                            <div class="kind">Constituency</div>
                            <div class="read-more-wrap"><a href="/" class="read-more">read more</a></div>
                        </section>
                    </li>
                </ul>
            </div>

            <h2 class="tab-nav" rel="#related-organisations"><a href="/">Related Organisations</a></h2>
            <div class="tab markdown" id="related-organisations">
                <ul class="listing">
                    <li>
                        <a href="/">
                            <img src="{{STATIC_URL}}images/org-90x90.jpg" />
                        </a>

                        <section>
                            <h4><a href="/">The name of an organisation</a></h4>
                            <p>If there’s a parent name</p>
                            <p class="meta">related positions</p>
                            <div class="kind">Educational</div>
                            <div class="read-more-wrap"><a href="/" class="read-more">read more</a></div>
                        </section>
                    </li>

                    <li>
                        <a href="/">
                            <img src="{{STATIC_URL}}images/org-90x90.jpg" />
                        </a>

                        <section>
                            <h4><a href="/">The name of an organisation</a></h4>
                            <p>If there’s a parent name</p>
                            <p class="meta">related positions</p>
                            <div class="kind">Educational</div>
                            <div class="read-more-wrap"><a href="/" class="read-more">read more</a></div>
                        </section>
                    </li>

                    <li>
                        <a href="/">
                            <img src="{{STATIC_URL}}images/org-90x90.jpg" />
                        </a>

                        <section>
                            <h4><a href="/">The name of an organisation</a></h4>
                            <p>If there’s a parent name</p>
                            <p class="meta">related positions</p>
                            <div class="kind">Educational</div>
                            <div class="read-more-wrap"><a href="/" class="read-more">read more</a></div>
                        </section>
                    </li>

                    <li>
                        <a href="/">
                            <img src="{{STATIC_URL}}images/org-90x90.jpg" />
                        </a>

                        <section>
                            <h4><a href="/">The name of an organisation</a></h4>
                            <p>If there’s a parent name</p>
                            <p class="meta">related positions</p>
                            <div class="kind">Educational</div>
                            <div class="read-more-wrap"><a href="/" class="read-more">read more</a></div>
                        </section>
                    </li>
                </ul>
            </div>

            {% include 'comments/detail_page_comments.html' %}
        </div>
    </div>

    {% comment %}
    <h1>{{ object.name }}</h1>

        {% if object.summary %}
        <div class="summary markdown">
            {{ object.summary }}
        </div>
    {% endif %}

    {% include "core/contact_list.html" with contacts=object.contacts.all %}

    
    {% if object.place_set.all %}
        <h2>Related places</h2>
    
        <ul>
        {% for place in object.place_set.all %}
            <li><a href="{{ place.get_absolute_url }}">{{ place.name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}



    {% if positions %}
        <h2>Related people</h2>
    
        <ul class="listing">
        {% for position in positions %}
            <li class="position">
                <div class="thumb">
                    <img src="http://dummyimage.com/60x60/ddd/888.png" />
                </div>

                <div class="name">
                    <a href="{{ position.person.get_absolute_url }}">{{ position.person.name }}</a>
                </div>

                {{ position.title.name }}

                {% if object.place %}
                    in <a href="{{ position.place.get_absolute_url }}">{{ position.place.name }}</a>                
                {% endif %}
            </li>
        {% endfor %}
        </ul>
    {% endif %}
    {% endcomment %}
{% endblock %}