{% extends 'base.html' %}
{% load comments %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <div class="title-space">
        <h1>{{ object.title }} {{ object.name }}</h1>

        {% if object.is_mp %}
            <p>Kenyan Member of Parliament (MP) Profile Page</p>
        {% endif %}
        
        {% if object.name != object.legal_name %}
            <p>Full name: {{ object.legal_name }}</p>
        {% endif %}

        {% if object.additional_names %}
            <p>Also known as:
            {% for name in object.additional_names %}
                {% if not forloop.first %}
                    {% if forloop.last %}or{% else %},{% endif %}
                {% endif %}
                <strong>{{ name }}</strong>
            {% endfor %}</p>
        {% endif %}
    
        {% if object.date_of_birth %}
            <p>Born: {{ object.date_of_birth }} {# TODO - add age in years #}</p>
        {% endif %}
    
        {# TODO - add death date too if it exists #}
    </div>
    
    <div class="profile-pic">
        {% thumbnail object.primary_image "200x200" as im %}
        <img src="{{ im.url }}" alt="{{ object.name }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% endthumbnail %}
    </div>

    <div class="small-container">
        <!--
        {% with constituency=object.is_mp.place %}
        {% if constituency and constituency.data_set.count %}
        <div class="content_box">
            <h3>Performance data for {{ constituency.name }}</h3>

            {% for data in constituency.data_set.all %}
                <p>
                    {{ data.category.name }}: {{ data.pretty_value }} ({{ data.general_remark }})
                </p>
            {% endfor %}

            <p>More details: <a href="{% url place constituency.slug %}">{{ constituency.name }}</a></p>
        </div>
        {% endif %}
        {% endwith %}
        -->
                
        {% if object.has_scorecards %}
        <h2>Scorecard</h2>
        
        {% comment %}

            The *_as_word functions return one of 'good', 'neutral' or 'bad'.

            The entry.category object also has fields 'synopsis' and
            'description' which could be used to provide more information to the
            user. Synopsis could be shown when the entry is expanded, and
            description shown on another page or in a popup/dialog if even more
            info is needed.

            The shout span might need styling appropriately for good, neutral
            and bad. It could well be that we want to shout out some positive
            achievement.

            Some scorecard entries may have source_url and source_name. These
            are links to where the data came from - some partners have requested
            this be shown.

        {% endcomment %}
        
        <h3 class="scorecard-overall">Overall Rating <span class="score-overall-{{ object.scorecard_overall_as_word }}">{{ object.scorecard_overall_as_word|capfirst }}</span></h3>
        <ul class="scorecard">
            {% for entry in object.scorecard_entries.all %}
            <li>
                <article>
                    <header>
                        <h4>{{ entry.category.name }}</h4>
                        <p class="score-{{ entry.score_as_word }}">{{ entry.remark }}</p>
                        {% if entry.equivalent_remark %}
                        <span class="shout shout-{{ entry.score_as_word }}">{{ entry.equivalent_remark }}</span>
                        {% endif %}

                        {% if entry.source_url %}
                            <a href="{{ entry.source_url}}">{% firstof entry.source_name 'source' %}</a>
                        {% endif %}
                        
                    </header>
                </article>
            </li>
            {% endfor %}
        </ul>
        {% endif %}

    </div>

    <div class="profile-info">
        <!-- SAMPLE -->
        <div class="constituency-party">
            <h3>Constituency</h3>
            <ul>
                {% for constituency in object.constituencies %}
                    <li><a href="{{ constituency.get_absolute_url }}">{{ constituency.name }}</a></li>
                {% empty %}
                    <li>Not an MP for any constituencies</li>
                {% endfor %}
            </ul>

            <h3>Party / Parties</h3>
            <ul>
                {% for party in object.parties %}
                    <li><a href="{{ party.get_absolute_url }}">{{ party.name }}</a></li>
                {% empty %}
                    <li>Not a member of any parties</li>
                {% endfor %}
            </ul>
        </div>
        <!-- /SAMPLE -->

        
        {% include "core/contact_list.html" with contacts=object.contacts.all %}
    </div>

    <div class="large-container">
        <div class="tab-wrapper">
            {% if object.summary %}
            <h2 class="tab-nav" rel="#overview"><a href="/">Overview</a></h2>
            <div class="tab markdown" id="overview">
                {{ object.summary }}
            </div>
            {% endif %}

            <h2 class="tab-nav" rel="#experience"><a href="/">Experience</a></h2>
            <div class="tab" id="experience">
                <div class="left-col">
                    <section>
                        <h3>Current Political Positions</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.political.currently_active %}
                    </section>

                    <section>
                        <h3>Previous Political Positions</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.political.currently_inactive %}
                    </section>
                </div>
                
                <div class="right-col">
                    <section>
                        <h3>Job History</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.other %}
                    </section>

                    <section>
                        <h3>Education</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.education %}
                    </section>
                </div>
            </div>

            {% include 'comments/detail_page_comments.html' %}


            <!-- Hansard appearances -->
            {% with hansard_count=object.hansard_entries.count %}
                {% if hansard_count %}
                <h2 class="tab-nav" rel="#appearances">Appearances ({{ hansard_count }})</h2>
    
                <div class="tab" id="appearances" data-comment-source-url="{% url hansard:person_summary slug=object.slug %}">
                    Loading...
                </div>
                {% endif %}
            {% endwith %}
            
        </div>
    </div>

    <div class="social-and-tools">
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="95" data-show-faces="false"></div>
        
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="mysociety">Tweet</a>

        <ul class="tools">
            <li><a href="{% get_comment_add_url object %}" class="big-btn-text-green">Post Comment</a></li>
            <li><a href="{% url feedback_add %}?url={{ request.build_absolute_uri }}" class="feedback_link big-btn-text-red">Correct this information</a></li>
        </ul>
    </div>
{% endblock %}