{% extends 'base.html' %}
{% load comments %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <div class="title-space">
        <h1>{{ object.title }} {{ object.name }}</h1>

        {% if object.is_mp %}
            <p>Kenyan Member of Parliament (MP) Profile Page</p>
        {% endif %}
    </div>
    
    <div class="profile-pic">
        {% thumbnail object.primary_image "210x210" crop="center" as im %}
        <img src="{{ im.url }}" alt="{{ object.name }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% empty %}
        <img src="{{STATIC_URL}}images/avatar-210x210.jpg" />
        {% endthumbnail %}        
    </div>

    <div class="social-and-tools">
        <ul class="tools">
            <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ object.name }} :: Mzalendo" target="_blank" class="big-btn-text-fb">Share this on Facebook</a>
            <li><a href="https://twitter.com/share?via=MzalendoWatch&amp;text={{ object.name }} :: Mzalendo&amp;url={{ request.build_absolute_uri }}" target="_blank" class="big-btn-text-tw">Share this on Twitter</a></li>
            <li><a href="{% url feedback_add %}?url={{ request.build_absolute_uri }}" class="feedback_link big-btn-text-red">Correct this information</a></li>
            <li><a href="{% get_comment_add_url object %}" class="big-btn-text-green">Post Comment</a></li>
        </ul>
    </div>

    <div class="small-container">
                
        {% include 'scorecards/scorecard.html' %}
        

    </div>

    <div class="profile-info">
        <div class="constituency-party">
            <h3>Constituency</h3>
            <ul>
                {% for constituency in object.constituencies %}
                    <li><a href="{{ constituency.get_absolute_url }}">{{ constituency.name }}</a></li>
                {% empty %}
                    <li>Not an MP for any constituencies</li>
                {% endfor %}
            </ul>

            <h3>Party / Parties</h3>
            <ul>
                {% for party in object.parties %}
                    <li><a href="{{ party.get_absolute_url }}">{{ party.name }}</a></li>
                {% empty %}
                    <li>Not a member of any parties</li>
                {% endfor %}
            </ul>
        </div>

        <div class="profile-names">
            {% if object.name != object.legal_name %}
                <h3>Full name</h3>
                <p>{{ object.legal_name }}</p>
            {% endif %}

            {% if object.additional_names %}
                <h3>Also known as</h3>
                <p>{% for name in object.additional_names %}
                    {% if not forloop.first %}
                        {% if forloop.last %}or{% else %},{% endif %}
                    {% endif %}
                    <strong>{{ name }}</strong>
                {% endfor %}</p>
            {% endif %}
        
            {% if object.date_of_birth %}
                <h3>Born</h3>
                <p>{{ object.date_of_birth }} {# TODO - add age in years #}</p>
            {% endif %}
        
            {# TODO - add death date too if it exists #}
        </div>

        {% include "core/contact_list.html" with contacts=object.contacts.all %}
    </div>

    <div class="large-container">
        <div class="tab-wrapper">
            {% if object.summary %}
            <h2 class="tab-nav" rel="#overview"><a href="/">Overview</a></h2>
            <div class="tab markdown" id="overview">
                {{ object.summary }}
            </div>
            {% endif %}

            <h2 class="tab-nav" rel="#experience"><a href="/">Experience</a></h2>
            <div class="tab" id="experience">
                <div class="left-col">
                    <section>
                        <h3>Current Political Positions</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.political.currently_active %}
                    </section>

                    <section>
                        <h3>Previous Political Positions</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.political.currently_inactive %}
                    </section>
                </div>
                
                <div class="right-col">
                    <section>
                        <h3>Job History</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.other %}
                    </section>

                    <section>
                        <h3>Education</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.education %}
                    </section>
                </div>
            </div>

            {% include 'comments/detail_page_comments.html' %}


            <!-- Hansard appearances -->
            {% with hansard_count=object.hansard_entries.count %}
                {% if hansard_count %}
                    <h2 class="tab-nav" rel="#appearances"><a href='{% url hansard:person_summary slug=object.slug %}' class="appearances-trigger">Appearances ({{ hansard_count }})</a></h2>
                    <div class="tab" id="appearances" data-tab-content-source-url="{% url hansard:person_summary slug=object.slug %}">
                        Loading...
                    </div>
        		{% else %}
                    <h2>Appearances ({{ hansard_count }})</h2>
        		    <div id="appearances">
                        <p>{{ object.name }} has never spoken in parliament.</p>
        		    </div>
        		{% endif %}
            {% endwith %}
            
        </div>
    </div>
{% endblock %}
