{% extends 'base.html' %}
{% load comments %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    <div class="title-space">
        <h1>{{ object.title }}</h1>
        {% if object.is_mp %}
            <p>Kenyan Member of Parliament (MP) Profile Page</p>
        {% endif %}
        <p>{{ object.name }}</p>
        {% if object.name != object.legal_name %}
            <p>Full name: {{ object.legal_name }}</p>
        {% endif %}

        {% if object.additional_names %}
            <p>Also known as:
            {% for name in object.additional_names %}
                {% if not forloop.first %}
                    {% if forloop.last %}or{% else %},{% endif %}
                {% endif %}
                <strong>{{ name }}</strong>
            {% endfor %}</p>
        {% endif %}
    
        {% if object.date_of_birth %}
            <p>Born: {{ object.date_of_birth }} {# TODO - add age in years #}</p>
        {% endif %}
    
        {# TODO - add death date too if it exists #}
    </div>
    
    <div class="profile-pic">
        {% thumbnail object.primary_image "200x200" as im %}
        <img src="{{ im.url }}" alt="{{ object.name }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% endthumbnail %}
    </div>

    <div class="small-container">
        <!--
        {% with constituency=object.is_mp.place %}
        {% if constituency and constituency.data_set.count %}
        <div class="content_box">
            <h3>Performance data for {{ constituency.name }}</h3>

            {% for data in constituency.data_set.all %}
                <p>
                    {{ data.category.name }}: {{ data.pretty_value }} ({{ data.general_remark }})
                </p>
            {% endfor %}

            <p>More details: <a href="{% url place constituency.slug %}">{{ constituency.name }}</a></p>
        </div>
        {% endif %}
        {% endwith %}
        -->
        <h2>Scorecard</h2>
        <!-- /SAMPLE -->
        <h3 class="scorecard-overall">Overall Rating <span class="score-overall-average">Average</span></h3>
        <ul class="scorecard">
            <li>
                <article>
                    <header>
                        <h4>Ease of Contact</h4>
                        <p class="score-good">This MP is very easy to contact</p>
                    </header>
                </article>
            </li>

            <li>
                <article>
                    <header>
                        <h4>CFD Performance</h4>
                        <p class="score-bad">An unacceptable amount of money is missing or unaccounted for in this constituency.</p>
                        <span class="shout">Enough money is going missing to pay for 250 teachers.</span>
                    </header>
                </article>
            </li>

            <!-- <li>
                <article>
                    <header>
                        <h4>Education Performance</h4>
                        <p class="score-average">The improvement in education performance in this constituency is about average.</p>
                    </header>

                    <div class="details">
                        <p>This copy described how Education performance is collected and analysed. This copy described how Education performance is collected and analysed.</p>
                        <p>This copy described how Education performance is collected and analysed. This copy described how Education performance is collected and analysed. This copy described how Education performance is collected and analysed. This copy described how Education performance is collected and analysed.</p>
                    </div>
                </article>
            </li>

            <li>
                <article>
                    <header>
                        <h4>Education Performance</h4>
                        <p class="score-average">The improvement in education performance in this constituency is about average.</p>
                    </header>
                </article>
            </li> -->
        </ul>
        <!-- /SAMPLE -->
    </div>

    <div class="profile-info">
        <!-- SAMPLE -->
        <div class="constituency-party">
            <h3>Constituency</h3>
            <ul>
                <li><a href="/">Othaya constituency</a></li>
                <!-- <li><a href="/">Kenyan constituency</a></li>
                <li><a href="/">Borrowers constituency</a></li> -->
            </ul>

            <h3>Party / Parties</h3>
            <ul>
                <li><a href="/">Orange Democratic Movement</a></li>
                <!-- <li><a href="/">Some other party</a></li>
                <li><a href="/">The house party</a></li>
                <li><a href="/">Rowing club</a></li>
                <li><a href="/">A big rave in town</a></li> -->
            </ul>
        </div>
        <!-- /SAMPLE -->

        <!-- SAMPLE -->
        <h3>Contact Details</h3>
        <div class="vcard">
            {% include "core/contact_list.html" with contacts=object.contacts.all %}
            <span class="label">Tel</span>
            <div class="tel">+1-234-567-8910</div>

            <span class="label">Email</span>
            <a class="email" href="mailto:peter.munya@yahoo.com">peter.munya@yahoo.com</a>

            <span class="label">Post</span>
            <div class="adr">
                <div class="street-address">P.O. Box 59052</div>
                <span class="locality">Some city</span>
                <span class="region">Nairobi</span>
                <span class="postal-code">94301</span>
                <span class="country-name">Kenya</span>
            </div>

            <span class="label">Links</span>
            <div class="links">
                <a class="url" href="http://facebook.com">Facebook</a>
                <a class="url" href="http://twitter.com">Twitter</a>
            </div>
        </div>
        <!-- /SAMPLE -->
    </div>

    <div class="large-container">
        <div class="tab-wrapper">
            {% if object.summary %}
            <h2 class="tab-nav" rel="#overview"><a href="/">Overview</a></h2>
            <div class="tab markdown" id="overview">
                {{ object.summary }}
            </div>
            {% endif %}

            <h2 class="tab-nav" rel="#experience"><a href="/">Experience</a></h2>
            <div class="tab" id="experience">
                <div class="left-col">
                    <section>
                        <h3>Current Political Positions</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.political.currently_active %}
                    </section>

                    <section>
                        <h3>Previous Political Positions</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.political.currently_inactive %}
                    </section>
                </div>
                
                <div class="right-col">
                    <section>
                        <h3>Job History</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.other %}
                    </section>

                    <section>
                        <h3>Education</h3>
                        {% include 'core/person_position_section.html' with positions=object.position_set.all.education %}
                    </section>
                </div>
            </div>

            {% include 'comments/detail_page_comments.html' %}
        </div>
    </div>

    <div class="social-and-tools">
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="95" data-show-faces="false"></div>
        
        <a href="https://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="mysociety">Tweet</a>

        <ul class="tools">
            <li><a href="#" class="big-btn-text-green">Post Comment</a></li>
            <li><a href="#" class="big-btn-text-red">Correct this information</a></li>
        </ul>
    </div>
{% endblock %}