{% load thumbnail %}

<div class="featured-person">
    <a href="{{ featured_person.get_absolute_url }}">
        {% thumbnail featured_person.primary_image "200x200" as im %}
            <img src="{{ im.url }}" alt="{{ featured_person.name }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% empty %}
            <img src="{{STATIC_URL}}images/avatar-200x200.jpg" />
        {% endthumbnail %}
    </a>
    <div class="featured-person-info">
        <div class="feature-nav">
            <a class="feature-prev" href="/?before={{ featured_person.slug }}">previous</a>
            <a class="feature-next" href="/?after={{ featured_person.slug }}">next</a>
        </div>
        
        <h2><a href="{{ featured_person.get_absolute_url }}">{{ featured_person.title }}{{ featured_person.name }}</a></h2>

        {% if featured_person.is_mp %}
        <p class="feature-person-role">Kenyan Member of Parliament</p>
        {% endif %}
        
        <div class="feature-person-summary">
            {{ featured_person.summary }}
        </div>
        <div class="rating-container">
            <div class="rating">
                Mzalendo Rating: 
                {% if featured_person.has_scorecards %}
                    <strong>{{ featured_person.scorecard_overall_as_word|capfirst }}</strong>
                {% else %}
                    None
                {% endif %}
            </div>
            <div class="rating-img {{ featured_person.scorecard_overall_as_word }}"></div>
        </div>
    </div>
</div>

