{% extends 'base_with_maps.html' %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    
    {% if object.parent_place %}
        <ul class="location_breadcrumb">
        {% for parent in object.parent_places %}
            <li><a href="{% url place slug=parent.slug %}">{{ parent.name }}</a></li>
        {% endfor %}
            <li>{{ object.name }}</li>
        </ul>
    {% endif %}
    
    

    <h1>{{ object.name }}</h1>

    {% if object.organisation %}
    <p>part of <a href="{{ object.organisation.get_absolute_url }}">{{ object.organisation.name }}</a></p>
    {% endif %}

    {% if object.mapit_id %}
    
        <div class="content_box">
    
            <div id="map_canvas" style="width:50%; min-width: 240px; height:300px"></div>
            
            <script type="text/javascript" charset="utf-8">
                add_kml_to_map( '{{ settings.MAPIT_URL }}/area/{{ object.mapit_id }}.kml?simplify_tolerance=0.001' );            
            </script>

        </div>

    {% endif %}
    

    {% if object.child_places.count %}        
        <div class="content_box">
            <h3>Areas within {{ object.name }}</h3>
            
            <ul class="listing">
            {% for child in object.child_places.all %}
                <li>
                    <a href="{{ child.get_absolute_url }}">{{ child.name }}</a>
                </li>
            {% empty %}
                <li>No child places</li>
            {% endfor %}
            </ul>            
        </div>
    {% endif %}


    {% with mp_pos=object.current_mp_position %}
        {% if mp_pos %}
            <div class="content_box">
                <h3>{{ mp_pos.person.name }}</h3>
        
                <p>
                    <a href="{{mp_pos.person.get_absolute_url }}">{{ mp_pos.person.name }}</a>
                    is the MP for {{ object.name }}
                    {% if mp_pos.start_date %}
                        (started {{ mp_pos.start_date }})
                    {% endif %}
                </p>
        
            </div>
        {% endif %}
    {% endwith %}


    {% include "scorecards/entries.html" %}

    {% include "projects/place_summary.html" %}

{% endblock %}

