{% load thumbnail %}

<ul class="position-listing">
{% for position in positions %}
    <li class="position">

        <a href="{{ position.person.get_absolute_url }}">
            {% thumbnail position.person.primary_image "50x50" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ position.person.name }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% empty %}
                <img src="{{STATIC_URL}}images/person-90x90.jpg" height="50" width="50"/>
            {% endthumbnail %}

            <span class="name">{{ position.person.name }}</span>
        </a>

        <div class="position-place">
            {% if position.place %}
                <a href="{{ position.place.get_absolute_url }}">{{ position.place.name }}</a>

                {% if position.place.parent_place %}
                    <a href="{{ position.place.parent_place.get_absolute_url }}">{{ position.place.parent_place.name }}</a>
                    {{ position.place.parent_place.kind.name }}
                {% endif %}

            {% endif %}
        </div>


        <div class="position-parties">
            {% if position.person.parties %}
                {% for party in position.person.parties %}
                    <a class="position-party" href="{{ party.get_absolute_url }}">{{ party.name }}</a>
                {% endfor %}
            {% endif %}
        </div>

    </li>
{% empty %}
    <li>No records found.</li>
{% endfor %}
</ul>
