{% extends 'core/organisation_base.html' %}
{% load thumbnail %}
{% load switch %}
{% load pipeline %}

{% block title %}{{ object.name }}{% endblock %}

{% block body_attributes %}class="profile-with-map"{% endblock %}

{# Remove the object_menu #}
{% block object_menu_links %}
{% endblock object_menu_links %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'google-map' %}
{% endblock %}

{% block subcontent %}

  {% if object.summary %}
    <h2>Summary</h2>

    <div class="markdown">
      {{ object.summary }}
    </div>
  {% endif %}

  {% if object.kind.slug == 'constituency-office' or object.kind.slug == 'constituency-area' %}

    {% if object.is_ongoing == False %}
      <div class="rep-results-warning">
          This {{ object.kind.name.lower }} ceased to exist from {{ object.ended }}.
      </div>
    {% endif %}

  {% endif %}

  {% if object.kind.slug == 'national-assembly-committees' %}
    <a href="{% url 'organisation_messages' slug=object.slug %}">Public messages</a>

    <div class="contact-actions">
      <div class="contact-actions__wip">
          <a href="{% url 'writeinpublic-committees:writeinpublic-new-message' %}?person_id={{ object.pk }}">Write a public message to this committee</a>
      </div>
    </div>
  {% endif %}

  <h2>People</h2>

  {% if object.kind.slug == 'constituency-office' or object.kind.slug == 'constituency-area' %}

    {% include "south_africa/_position_listing_constituency.html" with positions=positions %}
    {% include 'disqus_comments.html' %}
  {% else %}
    {% include "core/_position_listing.html" with positions=positions %}
  {% endif %}

  <div class="pagination">
    {% if positions.has_previous %}
      <a href="?page={{ positions.previous_page_number }}">Previous</a>
    {% endif %}

    <span class="current">
      Page {{ positions.number }} of {{ positions.paginator.num_pages }}
    </span>

     {% if positions.has_next %}
      <a href="?page={{ positions.next_page_number }}">Next</a>
    {% endif %}
  </div>

{% endblock %}

{# Put a map in the profile_pic block #}
{% block profile_pic %}

{% if object.kind.slug != 'constituency-office' %}
  {% thumbnail object.primary_image "210x210" crop="center" as im %}
    <div class="profile-pic">
      <img src="{{ im.url }}" alt="{{ object.name }}" width="{{ im.width }}" height="{{ im.height }}" />
    </div>
  {% empty %}
  {% endthumbnail %}
{% endif %}

{% with place=object.place_set.all.0 %}
  {% if place.location %}
    <div class="profile-map">
      <div id="map_canvas"></div>

      {% block add_place_kml_to_map %}
      <script type="text/javascript" charset="utf-8">
        markers_to_add = [
          {
            lat: {{ place.location.y }},
            lng: {{ place.location.x }},
            name: "{{place.organisation.name }}"
          }
        ];
      </script>
      {% endblock %}

    </div>
  {% endif %}
{% endwith %}

{% endblock profile_pic %}

{% block profile_info %}

  {% if object.contacts.count or object.informationsources.all %}

  <div class="sidebar">
    {% if object.contacts.count %}
      <ul class="vcard">
        {% for c in object.contacts.all %}
        <li class="{{ c.kind.slug }}">

        {% switch c.kind.slug %}

        {% case 'phone' %}
        <span class="label">Telephone</span>
        <p><a href="tel:{{ c.value }}">{{ c.value }}</a></p>

        {% case 'facebook' %}
        <span class="label">Facebook</span>
        <p><a href="{{ c.value }}">{{ c.kind.name }}</a></p>

        {% case 'twitter' %}
        <span class="label">Twitter</span>
        <p><a href="http://twitter.com/{{ c.value }}">@{{ c.value }}</a> on Twitter</p>

        {% case 'address' %}
        <span class="label">Street Address</span>
        <p>{{ c.value|urlizetrunc:50 }}</p>

        {% case 'parliament_url' %}
        {# Suppress these as requested in issue #444 #}

        {% else %}
        <span class="label">{{ c.kind.name }}</span>
        <p>{{ c.value|urlizetrunc:50 }}</p>

        {% endswitch %}

        {% if c.notes %}<small>({{ c.notes }})</small>{% endif %}

        </li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if object.kind.slug == 'constituency-office' %}

      {% thumbnail object.primary_image "210x210" crop="center" as im %}
        <a href={{ object.primary_image.url }} class="constituency-office-photo">
          <img src="{{ im.url }}" alt="{{ object.name }}" width="{{ im.width }}" height="{{ im.height }}" />
        </a>
      {% empty %}
      {% endthumbnail %}

      <div class="constituency-office-feedback">
        <p>Give feedback on your visit to your constituency office. Take a photo of your office and send it to <a href="mailto:contact@pa.org.za">contact@pa.org.za</a>.</p>
      </div>
    {% endif %}
    {% if object.kind.slug == 'constituency-office' or object.kind.slug == 'constituency-area' %}
      {% if object.informationsources.all %}
        <div class="sources">
            <h3>Sources</h3>
          <ul>
          {% for informationsource in object.informationsources.all %}
            <li><a href="{{ informationsource.source }}" target="_blank">{{ informationsource.note }}</a></li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endif %}
  </div>

  {% endif %}
{% endblock profile_info %}
