{% extends 'core/organisation_base.html' %}
{% load pagination_tags %}

{% block title %}{{ object.name }} People{% endblock %}

{% block subcontent %}

  <h2>Related People</h2>

  {% if historic %}
    <p>Showing historic positions (switch to <a href="?historic=">current positions</a>).</p>
  {% else %}
    <p>Showing current positions (switch to <a href="?historic=1">past positions</a>).</p>
  {% endif %}

  <div>

    <ul class="listing">
      {% autopaginate sorted_positions %}
      {% include "core/_position_listing.html" with positions=sorted_positions %}
      {% include "core/_search_pagination_text.html" %}
      {% paginate %}
    </ul>
  </div>

{% endblock %}
