{% extends 'base.html' %}
{% load pagination_tags %}
{% load staticfiles %}
{% load thumbnail %}


{% block title %}{{ object.name }} People{% endblock %}

{% block content %}

  <h2>People at {{ object.name }}</h2>
  <div class="layout layout-major-minor">

    <div class="column minor-column">
      <div class="filters sidebar">
        <h3>Show</h3>
        <p><a href="?historic=" class="{% if current_filter %}active{% endif %}">Current {{ membertitle }}s</a></p>
        <p><a href="?historic=1" class="{% if historic_filter %}active{% endif %}">Former {{ membertitle }}s</a></p>
        <p><a href="?office=1" class="{% if office_filter %}active{% endif %}">Office bearers</a></p>
        <p><a href="?all=1" class="{% if all_filter %}active{% endif %}">All {{ membertitle }}s</a></p>

      </div>
    </div>

    <ol class="unstyled alphabet-links">
      <li>
        {% if current_name_prefix %}
          <a href='.{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}'>(all)</a>
        {% else %}
          <span class="current-prefix">(all)</span>
        {% endif %}
      </li>

      {% for letter, count in count_by_prefix %}
        <li>
          {% if letter == current_name_prefix %}
            <span class="current-prefix">{{ letter }}</span>
          {% elif count %}
            <a href='{{ letter }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}'>{{ letter }}</a>
          {% else %}
            {{ letter }}
          {% endif %}
        </li>
      {% endfor %}
    </ol>

    {% regroup sorted_positions by person as regroup_on_person_list %}

    <div class="column major-column">
      <div class="list-of-things list-of-people">
          {% autopaginate regroup_on_person_list %}

          <ul class="unstyled-list">
          {% for regroup_item in regroup_on_person_list %}
              {% with person=regroup_item.grouper positions=regroup_item.list %}

                <li class="list-of-things-item {{ person.css_class }}-list-item{% if not person.show_active %} inactive{% endif %}">

                  <a href="{{ person.get_absolute_url }}">
                      {% thumbnail person.primary_image "58x78" crop="center" as im %}
                      <img src="{{ im.url }}" alt="{{ person.name }}" width="{{ im.width }}" height="{{ im.height }}" />
                      {% empty %}
                      <img src="{% static 'images/person-90x90.jpg' %}" height="58" width="58"/>
                      {% endthumbnail %}

                      <span class="name">{{ person.name }}</span>
                  </a>

                  {% for position in positions %}
                      {{ position.title }}
                      {% if position.place %}
                          (<a href="{{ position.place.get_absolute_url }}">{{ position.place.name }}</a>)
                      {% endif %}
                      <br/>
                  {% endfor %}

                </li>

              {% endwith %}
          {% empty %}
              <li>No records found.</li>
          {% endfor %}
          </ul>

          {# pombola/south_africa/templates/core/_search_pagination_text.html #}
          {% include "core/_search_pagination_text.html" %}

          {% paginate %}
      </div>
    </div>
  </div>

{% endblock content %}
