{% load staticfiles %}
{% load thumbnail %}

{% thumbnail object.primary_image "90x90" crop="center" as im %}
  <a href="{{ object.get_absolute_url }}">
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
    <span class="name">{{ object.name }}</span>
  </a>
{% empty %}
  <a href="{{ object.get_absolute_url }}">
    <img src="{% static 'images/organisation-90x90.jpg' %}" />
    <span class="name">{{ object.name }}</span>
  </a>
{% endthumbnail %}




  <div class="kind">{{ object.kind.name }}</div>

  {% if object.num_position_holders %}
    <p class="meta">{{ object.num_position_holders }} related positions</p>
  {% endif %}
