{% load thumbnail %}

<a href="{{ object.get_absolute_url }}">
    {% thumbnail object.primary_image "58x78" crop="center" as im %}
    <img src="{{ im.url }}" alt="{{ object.name }}" width="{{ im.width }}" height="{{ im.height }}" />
    {% empty %}
    <img src="{{STATIC_URL}}images/person-90x90.jpg" height="58" width="58"/>
    {% endthumbnail %}

    <span class="name">{{ object.name }}</span>
</a>

{% if not skip_positions %}
  {% for place in object.position_set.all.current_unique_places %}
      <div class="position-place">
        <a href="{{ place.get_absolute_url }}">{{ place.name }}</a>

        {% if place.parent_place %}
          <a href="{{ place.parent_place.get_absolute_url }}">{{ place.parent_place.name }}</a>
          {{ place.parent_place.kind.name }}
        {% endif %}
      </div>
  {% endfor %}
{% endif %}

{% if object.parties %}
<div class="position-parties">
    {% for party in object.parties %}
    <a class="position-party" href="{{ party.get_absolute_url }}">{{ party.name }}</a>
    {% endfor %}
</div>
{% endif %}
