{% load url from future %}
<ul class="unstyled">
    {% for speech in speechlist %}
    <li>
        <p>
            <span class="speech-title">
                <a href="{% url section_url speech.section_id %}#s{{ speech.id }}">
                    {{ speech.section.title }}
                </a>
            </span>
            &mdash;
            {{ speech.start_date }}
        </p>
        <p>
            {{ speech.text|truncatewords:50 }}
        </p>
    </li>
    {% empty %}
        No speeches found
    {% endfor %}
</ul>
