{# For South Africa the default person section is the experience tab #}
{% extends 'core/person_base.html' %}

{% load url from future %}



{% comment %}
  The appearances are loaded using js because that was how it was done using
  the tabs. Ideally we'd put the content straight into the HTML here, but that
  would mean a fair bit of moving code around between apps which is not
  something I want to tackle right now.
{% endcomment %}

{% block extra_js_to_load %}
    pombola_settings.extra_js.push( 'js/load_appearances.js' );
{% endblock %}

{% block object_tagline %}
  <p>
  {% for position in object.position_set.all %}
    <span class="position-title">{{ position.title }} at {{ position.organisation }}</span>
    {% if not forloop.last %}|{% endif %}
  {% endfor %}
  </p>
{% endblock object_tagline %}

{% block subcontent %}
<div class="tabs">
  <h2 class="tab-title">Experience</h2>
  <div class="tab-content">
      <div class="left-col">
          <section>
              <h3>Currently</h3>
              {% include 'core/person_position_section.html' with positions=object.position_set.all.political.currently_active %}
          </section>

          <section>
              <h3>Formerly</h3>
              {% include 'core/person_position_section.html' with positions=object.position_set.all.political.currently_inactive %}
          </section>
      </div>
  </div>

  {% if settings.ENABLED_FEATURES.hansard %}
      <h2 class="tab-title">Appearances</h2>

      {% with hansard_count=object.hansard_entries.count %}
            {% if hansard_count %}
              <div id="appearances" data-url="{% url "hansard:person_summary" slug=object.slug %}" class="tab-content">
                Loading&hellip;
              </div>
            {% else %}
              <div class="tab-content">
                <p>{{ object.name }} has never spoken in Parliament.</p>
              </div>
            {% endif %}

      {% endwith %}
  {% else %}

    No appearances were found.
  {% endif  %}
</div>
{% endblock %}

{% block profile_info %}
  <div class="constituency-party">

    <h3>Party</h3>
    <ul>
      {% for party in object.parties_and_coalitions %}
        <li><a href="{{ party.get_absolute_url }}">{{ party.name }}</a></li>
      {% empty %}
        <li>Not a member of any party</li>
      {% endfor %}
    </ul>

    {% regroup object.constituencies|dictsort:"kind" by kind as constituency_groups %}
    {% for entry in constituency_groups %}
    <h3>{{ entry.grouper }}</h3>
    <ul>
        {% for area in entry.list %}
            <li><a href="{{ area.get_absolute_url }}">{{ area.name }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}

    {% if email_contacts %}
      <h3>Email</h3>
      {% for contact in email_contacts %}
      <p>{{ contact.value|urlizetrunc:50 }}</p>
      {% endfor %}
    {% endif %}

    {% if phone_contacts %}
      <h3>Phone</h3>
      {% for contact in phone_contacts %}
        <p><a href="tel:{{ contact.value }}">{{ contact.value }}</a></p>
      {% endfor %}
    {% endif %}

    {% if fax_contacts %}
      <h3>Fax</h3>
      {% for contact in fax_contacts %}
        <p>{{ contact.value }}</p>
      {% endfor %}
    {% endif %}

    {% if twitter_contacts %}
      <h3>Twitter</h3>
      {% for contact in twitter_contacts %}
        <p><a href="http://twitter.com/{{ contact.value }}">@{{ contact.value }}</a> on Twitter</p>
      {% endfor %}
    {% endif %}

    {% if object.constituency_offices %}
      <h3>Constituency Offices</h3>
      <ul>
        {% for office in object.constituency_offices %}
          <li><a href="{{ office.get_absolute_url }}">{{ office.name }}</a></li>
        {% empty %}
          <li>Not associated with any constituency offices</li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>
{% endblock %}
