{% load thumbnail %}

<div class="featured-person carousel-item">
  {% thumbnail person.primary_image "180x240" crop="center" as im %}
    <a href="{{ person.get_absolute_url }}">
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}" alt="{{ person.name }}"/>
    </a>
  {% empty %}
    <img src="{{STATIC_URL}}images/person-200x200.jpg" width="180" height="240"/>
  {% endthumbnail %}
  <h3 class="name"><a href="{{ person.get_absolute_url }}">{{ person.title }} {{ person.name }}</a></h3>
  {% if person.is_politician %}
  <h4 class="subtitle">Politician</h4>
  {% endif %}
  <p class="caption">{{ person.summary|truncatewords_html:35 }}</p>
</div>
