{# For South Africa the default person section is the experience tab #}
{% extends 'core/person_base.html' %}
{% load url from future %}

{% block extra_js_to_load %}
pombola_settings.extra_js.push('js/tabs.js')
{% endblock extra_js_to_load %}

{% block object_tagline %}
  <p>
  {% for position in positions %}
    <span class="position-title">{{ position.title }}: {{ position.organisation }}</span>
    {% if not forloop.last %}|{% endif %}
  {% endfor %}
  </p>
{% endblock object_tagline %}

{% block profile_info %}
<div class="sidebar">
  <div class="constituency-party">

    <h3>Party</h3>
    <ul>
      {% for party in object.parties_and_coalitions %}
        <li><a href="{{ party.get_absolute_url }}">{{ party.name }}</a></li>
      {% empty %}
        <li>Not a member of any party</li>
      {% endfor %}
    </ul>

    {% regroup object.constituencies|dictsort:"kind" by kind as constituency_groups %}
    {% for entry in constituency_groups %}
    <h3>{{ entry.grouper }}</h3>
    <ul>
        {% for area in entry.list %}
            <li><a href="{{ area.get_absolute_url }}">{{ area.name }}</a></li>
        {% endfor %}
    </ul>
    {% endfor %}

    {% if email_contacts %}
      <h3>Email</h3>
      <ul>
        {% for contact in email_contacts %}
          <li class="word-break-all">{{ contact.value|urlizetrunc:50 }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if phone_contacts %}
      <h3>Phone</h3>
      <ul>
        {% for contact in phone_contacts %}
          <li><a href="tel:{{ contact.value }}">{{ contact.value }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if fax_contacts %}
      <h3>Fax</h3>
      <ul>
        {% for contact in fax_contacts %}
        <li>{{ contact.value }}</li>
      {% endfor %}
      </ul>
    {% endif %}

    {% if twitter_contacts %}
      <h3>Twitter</h3>
      <ul>
        {% for contact in twitter_contacts %}
          <li><a href="http://twitter.com/{{ contact.value }}">@{{ contact.value }}</a> on Twitter</li>
        {% endfor %}
      </ul>
    {% endif %}

    {% if object.constituency_offices %}
      <h3>Constituency Offices</h3>
      <ul>
        {% for office in object.constituency_offices %}
          <li><a href="{{ office.get_absolute_url }}">{{ office.name }}</a></li>
        {% empty %}
          <li>Not associated with any constituency offices</li>
        {% endfor %}
      </ul>
    {% endif %}

  </div>
</div>
{% endblock %}

{% block subcontent %}
<div class="tabs">
  <ul class="tab-links">
    <li><a class="active" href="#profile">Profile</a></li>
    {% with past_positions=person.position_set.all.political.currently_inactive %}
    {% if past_positions %}
    <li><a href="#experience">Experience</a></li>
    {% endif %}
    {% if hansard.count or question.count or committee.count %}
    <li><a href="#appearances">Appearances</a></li>
    {% endif %}
    {% if object.interests_register_entries.exists %}
    <li><a href="#membersinterests">Register of Interests</a></li>
    {% endif %}
  </ul>

  <div id="profile" class="tab-content tab-active">

    <div class="person-summary">
      {{ person.summary }}
    </div>

    {% with current_positions=person.position_set.all.political.currently_active %}
        {% if current_positions %}
          <h3>Current Positions</h3>
          <ul class="current-positions positions">
            {% for position in current_positions %}
            <li>{{ position.title }} at <a href="{% url "organisation" slug=position.organisation.slug %}">{{ position.organisation }}</a></li>
          {% endfor %}
          </ul>
        {% endif %}
    {% endwith %}

    {% if hansard.count or question.count or committee.count %}<h2>Recent Appearances</h2> {% endif %}

    {% if committee.count %}
    <div class="person-appearances-summary">
      <h3>Committee appearances</h3>

      {% include "core/person_speech_list.html" with speechlist=committee|slice:":3" section_url='committee:section-view' %}

        <p><a href="{% url 'sa-person-appearance' person_slug=object.slug speech_tag='committee' %}">All Committee Appearances</a></p>

    </div>
    {% endif %}

    {% if hansard.count %}
    <div class="person-appearances-summary{% if not question.count and not committee.count %} one-appearance{% endif %}">
      <h3>Plenary appearances</h3>

      {% include "core/person_speech_list.html" with speechlist=hansard|slice:":3" section_url='hansard:section-view' %}

        <p><a href="{% url 'sa-person-appearance' person_slug=object.slug speech_tag='hansard' %}">All Plenary Appearances</a></p>

    </div>
    {% endif %}
    {% if committee.count and hansard.count %}<div style="clear:both;"></div>{% endif %}
    {% if question.count %}
    <div class="person-appearances-summary">
      <h3>Questions </h3>

      {% include "core/person_speech_list.html" with speechlist=question|slice:":3" section_url='question:section-view' parent_title=1 %}

        <p><a href="{% url 'sa-person-appearance' person_slug=object.slug speech_tag='question' %}">All Questions and Answers</a></p>

    </div>
    {% endif %}



  </div>

  {% if past_positions %}
  <div id="experience" class="tab-content">


    <div class="person-experience">
      {% with current_positions=person.position_set.all.political.currently_active %}
        {% if current_positions %}
          <h3>Currently</h3>
          <ul class="current-positions positions">
            {% for position in current_positions %}
            <li>{{ position.title }} at <a href="{% url "organisation" slug=position.organisation.slug %}">{{ position.organisation }}</a>{% if position.start_date %} since {{ position.start_date }}{% endif %}</li>
          {% endfor %}
          </ul>
        {% endif %}
      {% endwith %}

        <h3>Formerly</h3>
          <ul class="former-positions positions">
          {% if past_positions %}
            {% for position in past_positions %}
              <li>{{ position.title }} at <a href="{% url "organisation" slug=position.organisation.slug %}">{{ position.organisation }}</a>{% if position.start_date %} from {{ position.start_date }}{% endif %} until {{ position.end_date }}</li>
            {% endfor %}
          {% else %}
            <li>No former positions recorded.</li>
        {% endif %}
        </ul>

    </div>
  </div>
  {% endif %}{% endwith %}

  {% if hansard.count or question.count or committee.count %}
  <div id="appearances" class="tab-content">
    <section class="person-appearances">
      <h3>Committee appearances</h3>

      {% include "core/person_speech_list.html" with speechlist=committee section_url='committee:section-view' %}

      {% if committee.count %}
        <p><a href="{% url 'sa-person-appearance' person_slug=object.slug speech_tag='committee' %}">All Committee Appearances</a></p>
      {% endif %}
    </section>

    <section class="person-appearances">
      <h3>Plenary appearances</h3>

      {% include "core/person_speech_list.html" with speechlist=hansard section_url='hansard:section-view' %}

      {% if hansard.count %}
        <p><a href="{% url 'sa-person-appearance' person_slug=object.slug speech_tag='hansard' %}">All Plenary Appearances</a></p>
      {% endif %}
    </section>

    <section class="person-appearances">
      <h3>Questions </h3>

      {% include "core/person_speech_list.html" with speechlist=question section_url='question:section-view' parent_title=1 %}

      {% if question.count %}
        <p><a href="{% url 'sa-person-appearance' person_slug=object.slug speech_tag='question' %}">All Questions and Answers</a></p>
      {% endif %}
    </section>
  </div>
  {% endif %}

  {% if object.interests_register_entries.exists %}
  <div id="membersinterests" class="tab-content">

      <div class="person-interests">

        {% for key, release in interests.items %}
            <h3>{{ release.name }}</h3>
            {% for ckey, category in release.categories.items %}
                <h4>{{ category.name }}</h4>
                <table>
                    <tr>
                        {% for heading in category.headings %}
                            <th>{{ heading }}</th>
                        {% endfor %}
                    </tr>
                    {% for line in category.entries %}
                        <tr>
                            {% for cell in line %}
                                <td>{{ cell }}</td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            {% endfor %}
        {% endfor %}


      </div>


  </div>{% endif %}

</div>
{% endblock %}
