{% load za_election_list_links %}

{% with o=position.organisation %}
  {{ position.title }}
    {% if o %}
      {% if 'election-list' in o.slug %}
        {% with year=position.start_date.year|stringformat:"s" province=o.slug|get_place_slug %}
          {% if 'provincial' in o.slug %}
            at <a href="{% url "sa-election-candidates-provincial-party" election_year=year party_name=o.slug|get_party_slug province_name=province %}">{{o}}</a>
          {% elif 'national' in o.slug %}
            at <a href="{% url "sa-election-candidates-national-party" election_year=year party_name=o.slug|get_party_slug %}">{{o}}</a>
          {% elif province %}
            at <a href="{% url "sa-election-candidates-national-province-party" election_year=year party_name=o.slug|get_party_slug province_name=province %}">{{o}}</a>
          {% else %}
            at <a href="{% url "organisation" slug=o.slug %}">{{ o }}</a>
          {% endif %}
        {% endwith %}
      {% else %}
        at <a href="{% url "organisation" slug=o.slug %}">{{ o }}</a>
      {% endif %}
    {% endif %}
{% endwith %}
