{% load firstof from future %}
{% load speech_utils %}

{% comment %}

  Arguments:

    speechlist - an iterable containting all the speeches to show

    section_url - the name of the url to use when linking to sections. Default is 'speeches:section-view'.

    parent_title - boolean, whether to use the parent section's title, rather
                   than own (useful for Question display) (Default is false)

    ifempty - a string shown if there are no speeches to show.
              (Default is "No speeches found")

{% endcomment %}

<ul class="unstyled">
    {% for speech in speechlist %}
    <li>
        <p>
            <span class="speech-title">
                <a href="{% url 'speeches:section-view' speech.section.get_path %}#s{{ speech.id }}">
                    {% if parent_title %}
                        {{ speech.section.parent.title }}
                    {% else %}
                        {{ speech.section.title }}
                    {% endif %}
                </a>
            </span>
            &mdash;
            {{ speech.start_date }}
        </p>
        <div>
            {{ speech.text|bleach|truncatewords_html:50 }}
        </div>
    </li>
    {% empty %}
        {% firstof ifempty "No speeches found" %}
    {% endfor %}
</ul>
