{% extends 'core/object_base.html' %}
{% load pipeline %}
{% load staticfiles %}

{% block object_menu %}
{% endblock %}

{% block object_tagline %}

  {% with session=object.parliamentary_session %}

      <p>{{ object.kind.name }}{% if session %} ({{ session.house.name }}){% endif %}</p>

      {% if session %}
        <p>{{ session.relative_time }} {{ object.kind.name }}: {{ session.readable_date_range }}</p>
      {% endif %}

      {% if object.organisation %}
        <p>part of <a href="{{ object.organisation.get_absolute_url }}">{{ object.organisation.name }}</a></p>
      {% endif %}

  {% endwith %}

{% endblock %}

{% block profile_pic %}
  {% if object.mapit_area %}
    <div class="profile-map">
      {% javascript 'google-map' %}

      <div id="map_canvas" width="300" height="300"></div>

      {% block "add_place_kml_to_map" %}
        <script type="text/javascript" charset="utf-8">
          add_kml_to_map( 'http://{{ request.get_host }}{% url "mapit_index" %}area/{{ object.mapit_area.id }}.kml?simplify_tolerance=0.001' );
        </script>
      {% endblock %}

    </div>
  {% else %}
    <div class="profile-pic">
      <img src="{% static 'images/place-200x200.jpg' %}" />
    </div>
  {% endif %}

{% endblock %}


