{% extends 'core/place_base.html' %}
{% load url from future %}

{% block subcontent %}

    {% if object.summary %}
        <h2>Summary</h2>

        <div class="markdown">
            {{ object.summary }}
        </div>
    {% endif %}

    {% if object.has_scorecards %}
        <h2>Scorecards</h2>

        <p>
            The past performance of {{ object.name }} can be seen in its
            <a href="{% url "place_scorecard" slug=object.slug %}">scorecard</a>.
        </p>
    {% endif %}

    {# because I can't see how to store the length of an array we'll have to pass the array around instead #}
    {% with people_related=object.related_people %}
        {% if people_related|length %}
            <p>
            There
            {{ people_related|length|pluralize:"is,are"}}
            <a href="{% url "place_people" slug=object.slug %}">
                {{ people_related|length }}
                {{ people_related|length|pluralize:"person,people"}}
            </a>
            related to {{ object.name }}.
            </p>
        {% endif %}
    {% endwith %}

    <h2>Members of the National Assembly</h2>

    {{ national_assembly_people }}

    {% include "core/_people_listing.html" with people=national_assembly_people %}

    <h2>Other people</h2>

    {% include "core/_people_listing.html" with people=object.all_related_current_politicians %}

    {% if settings.ENABLED_FEATURES.place_data and object.placedata %}
        <h2>Data</h2>
        <p>
            There is some
            <a href="{% url "place_data" slug=object.slug %}">data</a>
            on {{ object.name }}.
        </p>
    {% endif %}

    {% if settings.ENABLED_FEATURES.projects and object.is_constituency %}
        {% with project_count=object.project_set.count %}
            <h2>CDF Projects</h2>

            <p>
            We have information on
            <a href="{% url "place_projects" slug=object.slug %}">
                {{ project_count}} CDF Projects
            </a>
            in {{ object.name }}.
            </p>
        {% endwith %}
    {% endif %}

{% endblock %}
