{% extends 'core/place_base.html' %}
{% load thumbnail %}
{% load humanize %}

{% block title %}{{ object.name }} Places{% endblock %}

{% block subcontent %}
{% include 'south_africa/_place_tabs.html' %}

  <div>

    {# Do we want to display more than just the parent? #}

    {% if object.parent_place %}
        {{ object.name }} is contained in
        <a href="{% url "place" slug=object.parent_place.slug %}">{{ object.parent_place.name }}</a>
    {% if object.parent_place.kind.slug != 'country' %}
            {{ object.parent_place.kind.name }}.
        {% endif %}
    {% endif %}

    {% include child_place_list_template|default:"core/place_places_child_list.html" %}

    {% with boundary_changes=object.get_boundary_changes %}
      {% if boundary_changes.previous or boundary_changes.next %}
        <h3>Boundary Changes</h3>

        {% for relative_time, changes in boundary_changes.items %}
          {% if changes %}
            <h4>{{ relative_time|title }} Boundaries</h4>
            <ul>
            {% for i in changes.intersections %}
              <li>{{ i.percent|floatformat }}% of this area {{ changes.connector }} <a href="{{ i.place.get_absolute_url }}">{{ i.place.name }}</a> {{ changes.session.readable_date_range }}</li>
            {% endfor %}
            </ul>
            <p>There were also overlaps of less than {{ changes.cutoff }}% with

            {# Join with commas or an 'and' before the last item, from: http://stackoverflow.com/q/3410741/223092 #}
            {% for p in changes.others %}
                {% if forloop.first %}
                {% else %}
                    {% if forloop.last %} and {% else %}, {% endif %}
                {% endif %}<a href="{{ p.get_absolute_url }}">{{ p.name }}</a>{% endfor %}.

          {% endif %}

        {% endfor %}
      {% endif %}
    {% endwith %}

  </div>

{% endblock %}
