{% extends 'core/place_base.html' %}
{% load pipeline %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'hide-reveal' %}
{% endblock %}

{% block subcontent %}
    {% include 'south_africa/_place_tabs.html' %}

    {% if object.summary %}
        <h2>Summary</h2>

        <div class="markdown">
            {{ object.summary }}
        </div>
    {% endif %}

    {% if object.has_scorecards %}
        <h2>Scorecards</h2>

        <p>
            The past performance of {{ object.name }} can be seen in its
            <a href="{% url "place_scorecard" slug=object.slug %}">scorecard</a>.
        </p>
    {% endif %}

    <a class="js-hide-reveal-link hide-reveal-link has-dropdown-dark" href="#provinicial-legislature-people">Members of the Provincial Legislature ({{ legislature_people_count }})</a>

    <div id="provinicial-legislature-people" class="person-panel js-hide-reveal">
        {% include "core/_people_listing.html" with people=legislature_people skip_positions=1 %}
        {% if former_legislature_people %}
        <p>Former members</p>
        {% include "core/_people_listing.html" with people=former_legislature_people skip_positions=1 %}
        {% endif %}
    </div>

    <a class="js-hide-reveal-link hide-reveal-link has-dropdown-dark" href="#national-assembly-people">National Assembly members from provincial list ({{ national_assembly_people_count }})</a>

    <div id="national-assembly-people" class="person-panel js-hide-reveal">
        {% include "core/_people_listing.html" with people=national_assembly_people skip_positions=1 %}
        {% if former_national_assembly_people %}
        <p>Former members</p>
        {% include "core/_people_listing.html" with people=former_national_assembly_people skip_positions=1 %}
        {% endif %}
    </div>

    <a class="js-hide-reveal-link hide-reveal-link has-dropdown-dark" href="#ncop-people">Permanent Delegates to National Council of Provinces ({{ ncop_people_count }})</a>

    <div id="ncop-people" class="person-panel js-hide-reveal">
        {% include "core/_people_listing.html" with people=ncop_people skip_positions=1 %}
        {% if former_ncop_people %}
        <p>Former members</p>
        {% include "core/_people_listing.html" with people=former_ncop_people skip_positions=1 %}
        {% endif %}
    </div>

    {% if other_people %}
    <p><a class="js-hide-reveal-link" href="#other-people">Other people ({{ other_people.count }})</a></p>

    <div id="other-people" class="person-panel js-hide-reveal">
        {% include "core/_people_listing.html" with people=other_people skip_positions=1 %}
    </div>
    {% endif %}

    {% if settings.ENABLED_FEATURES.place_data and object.placedata %}
        <h2>Data</h2>
        <p>
            There is some
            <a href="{% url "place_data" slug=object.slug %}">data</a>
            on {{ object.name }}.
        </p>
    {% endif %}

{% endblock %}
