{% extends 'base.html' %}
{% load thumbnail %}
{% load switch %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <div class="view-selector">
        <a href="{% url "position_pt" pt_slug=object.slug %}?view=grid{% if order %}&order={{order|urlencode}}{% endif %}">View as grid</a>
    </div>

    <h1 class="page-title">{{ page_title }}</h1>

    <div class="people-list-inline-search">
        <span class="">Find a person by name:</span>
        <form class="inline-search" action="{% url "core_search" %}">
            <input class="search-autocomplete-name" id="core_search" data-source="/search/autocomplete/?model=person" type="text" name="q" value="" placeholder="e.g. Baleka Mbete"></input>
            <input type="hidden" name="section" value="persons">
            <input type="submit">
        </form>
    </div>
    
    {% if object.summary %}
        <div class="summary markdown">
            {{ object.summary }}
        </div>
    {% endif %}

    <div class="content_box">
        {% include 'core/_position_session_links.html' %}
        {% include 'core/position_position_section.html' %}
    </div>

{% endblock %}
