{% extends 'base.html' %}

{% block title %}
    Blog
{% endblock %}

{% block content %}
  <h1>
    Blog
  </h1>

  <div class="blog-list">

  {% for object in object_list %}
    <div class="blog-in-a-list">
      <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>

      <p class="meta">
        {{ object.publication_date|date }}
      </p>

      {{ object.content_as_cleaned_html|safe|truncatewords_html:80 }}

      <p><a href="{{ object.get_absolute_url }}">Read more &hellip;</a></p>

    </div>

  {% endfor %}

  </div>

  {% include "info/_pagination.html" %}

{% endblock %}
