{% extends "base.html" %}
{% block content %}
<div class="col-lg-12">
<div class="panel panel-default hansardContainer">

    <h2 class="panel-heading hansardH1">The Hansard</h2>
    <div class="panel-body hansardMeta">
        <p>The transcript of the proceedings in the Parliament of Ghana is called the Hansard – named after the British publication of parliamentary proceedings.
        </p>
        <p> Browse through them below, or search via the box above.</p>

        {% regroup sittings by start_date|date:"Y" as sittings_by_year %}

        {% for year in sittings_by_year %}
        <div class="col-lg-12">
        <h3>{{ year.grouper }}</h3>
         <ul class="list-group">
            {% for a_sitting in year.list %}
                <li class="col-xs-4 list-group-item">
                    <h4>
                    <a class="fa fa-calendar" href="{{ a_sitting.get_absolute_url }}"> {{ a_sitting.start_date | date:"d F Y" }} </a>
                    <small class="muted-text">{{ a_sitting.source | cut:"Bound Volume -"}}</small>
                    </h4>
                </li>
            {% empty %}
                <li>There are no transcripts</li>
            {% endfor %}
        </ul>
        </div>
        {% endfor %}

    </div>
</div>
</div>
{% endblock %}
