{% extends "page.html" %}

{% load switch %}
{% load thumbnail %}

{% block content %}
<div class="panel panel-default hansardContainer">
    <h1 class="panel-heading hansardH1">Debates of {{ sitting.start_date }}</h1>

  <div class="panel-body">

  {% if sitting %}
      <div class="hansardEntries">
        {% for entry in sitting.entry_set.all %}
          {% with entry.hansardentry_set.all.0 as he %}
            {% switch entry.type %}
              {% case  'speech' %}
                <div class="media statement">
                  <div class="row context">
                    {% with entry.speaker.parties.0 as party %}
                      {% if party %}
                        <strong>
                          <a class="partytag" href="{{ party.get_absolute_url }}">
                            {{ party.name }}
                          </a>
                        </strong>
                      {% endif %}
                    {% endwith %}
                  </div>


                  <div class="media-left media-top">
                    {% thumbnail entry.speaker.primary_image "64x64" as img %}
                      <a class="media-object" href="{{ he.get_absolute_url }}">
                        <img src="{{ img.url }}" />
                      </a>
                      {% empty %}
                        <img class="media-object" src="{{ STATIC_URL }}images/avatar.png"
                           width="64px" height="64px"></img>
                    {% endthumbnail %}
                    </div>
                    <div class="media-body well">
                        <h5 class="media-heading speaker">
                          <a href="{{ entry.speaker.get_absolute_url }}">
                            <strong>
                              {{ entry.speaker_name }}
                            </strong>
                          </a>
                         <small class="pull-right"><span><i class="fa fa-clock-o"> {{ he.time }}</i></span></small>
                        </h5>

                        <div class="">
                          {{ entry.content|linebreaksbr }}
                        </div>
                    </div>

                </div>

              {% case 'heading' %}
                {% if entry.content %}
                      <h4>{{ entry.content|linebreaksbr }}<small class="pull-right"><span><i class="fa fa-clock-o"> {{ he.time }}</i></span></small></h4>
                {% endif %}
              {% case 'other' %}
                <font col="red">{{ entry.content }}</font>
              {% else %}
                <li>
                  <div class="focus">
                    <font>{{ entry.content }}</font>
                  </div>
                </li>
            {% endswitch %}

          {% endwith %}
        {% endfor %}
      </div>
    {% endif %}
</div>
</div>
{% endblock %}
