{# Displays a list of recent bills for a Person, who must appear as 'object' in the context #}
{# If the Person has sponsored no bills, nothing is shown. #}
{% with bills_count=object.bills_sponsored.count recent_count=object.bills_sponsored.recent.count  %}
  {% if bills_count %}
    <div class="person-detail-bills">
      <h2>Bills Sponsored</h2>
        {% if bills_count > recent_count %}
            <p>The most recently sponsored bills include...</p>
            <ul>
              {% for bill in object.bills_sponsored.recent %}
                <li>
                  {% include "bills/_bill_link.html" %}
                </li>
              {% endfor %}
            </ul>
            <p><a href="{% url "person_bills" slug=object.slug %}">See all {{ bills_count }} bills</a></p>
        {% else %}
          <p>{{ object.name }} has sponsored {{ bills_count }} bill{{ bills_count|pluralize }}.</p>
          {% regroup object.bills_sponsored.all by parliamentary_session as bills_regrouped %}
          {% for bills in bills_regrouped %}
            <p><strong>{{ bills.grouper.name }}</strong></p>
            <ul>
              {% for bill in bills.list %}
                <li>
                  {% include "bills/_bill_link.html" %}
                </li>
              {% endfor %}
            </ul>
          {% endfor %}
        {% endif %}
    </div>
  {% endif %}
{% endwith %}
