{% extends 'base.html' %}
{% load switch %}
{% load humanize %}

{% block title %}
    Projects in {{ place.name }}
{% endblock %}

{% block content %}

    <h1>Projects in <a href="{{ place.get_absolute_url }}">{{ place.name }}</a></h1>
    

    {% for p in projects.all %}
        <div class="project_detail" id="project-{{ p.cdf_index }}">

            {% comment %}
            
            ### Available fields

            created                         {{ p.created             }}
            updated                         {{ p.updated             }}
            cdf_index                       {{ p.cdf_index           }}
            constituency                    {{ p.constituency        }}
            project_name                    {{ p.project_name        }}
            location_name                   {{ p.location_name       }}
            sector                          {{ p.sector              }}
            mtfe_sector                     {{ p.mtfe_sector         }}
            econ1                           {{ p.econ1               }}
            econ2                           {{ p.econ2               }}
            activity_to_be_done             {{ p.activity_to_be_done }}
            expected_output                 {{ p.expected_output     }}
            status                          {{ p.status              }}
            remarks                         {{ p.remarks             }}
            estimated_cost                  {{ p.estimated_cost      }}
            total_cost                      {{ p.total_cost          }}
            location                        {{ p.location            }}
            
            {% endcomment %}

            <h3>{{ p.project_name }}</h3>
            
            <dl>
                <dt>location</dt>
                    <dd>{{ p.location_name }}</dd>
                <dt>action</dt>
                    <dd>{{ p.activity_to_be_done }}</dd>
                <dt>output</dt>
                    <dd>{{ p.expected_output }}</dd>
            
                <dt>implementation status</dt>
                    <dd>{% firstof p.status p.remarks 'not known' %}</dd>
                
                <dt>total cost</dt>
                    <dd>Ksh {{ p.total_cost|floatformat:0|intcomma }}</dd>
                <dt>estimate</dt>
                    <dd>Ksh {{ p.estimated_cost|floatformat:0|intcomma }}</dd>                
            </dl>
        </div>
    {% empty %}
        <h3>No projects found.</h3>
    {% endfor %}

{% endblock %}
