/*
 * shared
 */
.pagination .prev {
  float: left;
}
.pagination .next {
  float: right;
}

.categories {
  font-style: italic;
  font-size: 12px;
  color: #999999;
  line-height: 25px;
  margin-top: 5px;
}
.categories a {
  background: #F2F2F2;
  color: #4D4D4D;
  padding: 3px 6px;
  margin-right: 5px;
  text-decoration: none;
  font-style: normal;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
.categories a:hover {
  background: #e2e2e2;
}

#comments h2.comments-heading {
  border: none;
  margin: 10px;
  background: #87C43C;
  color: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2e2e2e), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#2e2e2e, #000000);
  background: -moz-linear-gradient(#2e2e2e, #000000);
  background: -o-linear-gradient(#2e2e2e, #000000);
  background: -ms-linear-gradient(#2e2e2e, #000000);
  background: linear-gradient(#2e2e2e, #000000);
}
#comments h2.comments-heading:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #2e2e2e));
  background: -webkit-linear-gradient(#000000, #2e2e2e);
  background: -moz-linear-gradient(#000000, #2e2e2e);
  background: -o-linear-gradient(#000000, #2e2e2e);
  background: -ms-linear-gradient(#000000, #2e2e2e);
  background: linear-gradient(#000000, #2e2e2e);
}
#comments h2.comments-heading a {
  color: #ffffff;
  text-decoration: none;
}

#respond h2.respond-heading {
  border: none;
  margin: 10px;
  background: #46A81B;
  color: #ffffff;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87c43c), color-stop(100%, #46a81b));
  background: -webkit-linear-gradient(#87c43c, #46a81b);
  background: -moz-linear-gradient(#87c43c, #46a81b);
  background: -o-linear-gradient(#87c43c, #46a81b);
  background: -ms-linear-gradient(#87c43c, #46a81b);
  background: linear-gradient(#87c43c, #46a81b);
}
#respond h2.respond-heading:hover {
  background: #87C43C;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #46a81b), color-stop(100%, #87c43c));
  background: -webkit-linear-gradient(#46a81b, #87c43c);
  background: -moz-linear-gradient(#46a81b, #87c43c);
  background: -o-linear-gradient(#46a81b, #87c43c);
  background: -ms-linear-gradient(#46a81b, #87c43c);
  background: linear-gradient(#46a81b, #87c43c);
}
#respond h2.respond-heading a {
  color: #ffffff;
  text-decoration: none;
}
#respond #comment-form {
  padding: 10px;
  background: #F6F6F6;
}
#respond #comment-form .comment-field label {
  position: absolute;
  left: -999999px;
}
#respond #comment-form .comment-field input,
#respond #comment-form .comment-field textarea {
  font-size: 14px;
  padding: 4px 8px;
  margin-bottom: 20px;
  width: 90%;
  border: 1px solid #B3B3B3;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
#respond #comment-form .comment-field textarea {
  height: 100px;
}
#respond #comment-form button {
  border: none;
  font-size: 12px;
  background: #87C43C;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87c43c), color-stop(100%, #46a81b));
  background: -webkit-linear-gradient(#87c43c, #46a81b);
  background: -moz-linear-gradient(#87c43c, #46a81b);
  background: -o-linear-gradient(#87c43c, #46a81b);
  background: -ms-linear-gradient(#87c43c, #46a81b);
  background: linear-gradient(#87c43c, #46a81b);
}
#respond #comment-form button:hover {
  background: #46A81B;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #46a81b), color-stop(100%, #87c43c));
  background: -webkit-linear-gradient(#46a81b, #87c43c);
  background: -moz-linear-gradient(#46a81b, #87c43c);
  background: -o-linear-gradient(#46a81b, #87c43c);
  background: -ms-linear-gradient(#46a81b, #87c43c);
  background: linear-gradient(#46a81b, #87c43c);
}

.sidebar-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.sidebar-list li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  width: 140px;
  margin: 0 10px 15px 0;
}

#blog-title-space {
  margin: 20px 10px;
}
#blog-title-space h1 {
  margin: 0 0 5px 0;
}
#blog-title-space p {
  font-style: italic;
}

/*
 * specific
 */
#blog-posts .post {
  background: #F6F6F6;
  padding: 10px;
  margin-top: 4px;
}
#blog-posts .post h2 {
  background: none;
  border: none;
  margin-bottom: 5px;
  padding: 0;
  font-size: 14px;
}
#blog-posts .post h2 a {
  text-decoration: none;
}
#blog-posts .post .meta {
  font-style: italic;
  font-size: 12px;
  margin: 0;
}
#blog-posts .post .comments-link,
#blog-posts .post > section {
  display: none;
}
#blog-posts.single .post {
  background: none;
}
#blog-posts.single .post h2 {
  font-size: 18px;
}
#blog-posts.single .post .meta {
  color: #999999;
}
#blog-posts.single .post > section {
  display: block;
}

#blog-sidebar section .sidebar-list {
  margin: 10px;
}
#blog-sidebar section.latest-posts {
  display: none;
}
#blog-sidebar section.sidebar-archive .sidebar-list li {
  width: 90px;
}
