<div id="h_top"></div>
<div id="h_mid">
    <div class="wrap">
        <h1 id="logo"><a href="{% url home %}">Odekro Logo</a></h1>
        
        {% comment %}
        <ul class="header" style="border:none;">
            <a class="topMenu" 
               href="{% url info_page slug='odekro-overview' %}">What is <br />Odekro?
            </a>
        </ul>
        
        <ul class="header">
            <a href="{% url info_page slug='parliament-overview' %}">Discover
                <span>your parliament</span>
            </a>
        </ul>

        <ul class="header">
            <a href="{% url position slug='mp' %}">Know
                <span>your MP's</span>
            </a>
        </ul>

        {% if settings.ENABLED_FEATURES.hansard %}
        <ul class="header">
            <a href="{% url hansard:index %}">Read
                <span>the Hansard</span>
            </a>
        </ul>
        {% endif %}

        {% endcomment %}

        <div id="rightArea">

            {% comment %}
            {% if request.user.is_authenticated  %}
                <a href="{% url django.contrib.auth.views.logout %}">logout</a>
            {% else %}
                <a href="{% url django.contrib.auth.views.login %}?next={% firstof post_login_url request.path %}">login</a>
            {% endif %}
            {% endcomment %}


            <div id="account">
            {% if request.user.is_authenticated  %}
                {{ request.user }} |
                <a href="{% url django.contrib.auth.views.logout %}">logout</a>
            {% else %}
                    <a href="{% url django.contrib.auth.views.login %}?next={% firstof post_login_url request.path %}">login</a>
                    <a href="{% url registration_register %}">register</a>
            {% endif %}
            </div>
        </div>
    </div>
</div>

<div id="main-menu">
    <nav class="wrapper">
        <ul class="menu" id="menu">
            <li><a href="{% url home %}" class="menulink">Home</a></li>           
            {% comment %}
            <li>
                <a href="{% url info_page slug='2012-overview' %}" class="menulink">
                    Elections 2012
                </a>
                <ul>
                    <li>
                        <a href="{% url info_page slug='2012-overview' %}">
                            Overview
                        </a>
                    </li>

                    <li>
                        <a href="{% url position slug='aspirant-president' %}">
                            Presidential Aspirants
                        </a>
                    </li>
                    <li>
                        <a href="{% url position slug='aspirant-mp' %}">
                            Parliamentary Aspirants
                        </a>
                    </li>
                    <li>
                        <a href="{% url info_page slug='political-parties' %}">
                            Political Parties
                        </a>
                    </li>                    
                </ul>
            </li>
            {% endcomment %}

            <li>
                <a href="{% url info_page slug='parliament-overview' %}" class="menulink">
                    Parliament
                </a>
                <ul id="parliament-overview">
                    {% if settings.ENABLED_FEATURES.hansard %}
                    <li>
                        <a href="{% url hansard:index %}">Hansard</a>
                    </li>
                    {% endif %}
                    <li>
                        <a href="{% url position slug='mp' %}">MPs</a>
                    </li>
                    <li>
                        <a href="{% url info_page slug='parliament-overview' %}">
                            Parliament Overview
                        </a>
                    </li>
                    <li>
                        <a href="{% url info_page slug='committee-overview' %}">
                            Committee Overview
                        </a>
                    </li>
                    {% comment %}
                    <li>
                        <a href="{% url info_page slug='bills-overview' %}">
                            Bills Overview
                        </a>
                    </li>
                    {% endcomment %}
                </ul>                 
            </li>

            <li>
                <a href="{% url info_page slug='places-overview' %}" 
                   class="menulink">
                    Places
                </a>
                <ul>
                    <li>
                        <a href="{% url info_page slug='places-overview' %}">
                            Overview
                        </a>
                    </li>
                    <li>
                        <a href="{% url place_kind slug='constituency' %}">
                            Constituencies
                        </a>
                    </li>
                </ul>
            </li>
            {% comment %}
            <li>
                <a href="#" class="menulink">Democracy Resources</a>
            </li>

            <li><a href="#" class="menulink">Blog</a></li>
            <li><a href="#" class="menulink">Newsletter</a></li>
            {% endcomment %}
            
            <li>
                <a href="{% url info_page slug='odekro-overview' %}" class="menulink">About</a>
                <ul>
                    <li><a href="{% url info_page slug='odekro-overview' %}">Odekro Overview</a></li>
                    <li><a href="{% url info_page slug='faqs' %}">FAQs</a></li>
                    <li><a href="{% url info_page slug='policies' %}">Policies</a></li>
                    <li><a href="{% url info_page slug='partners' %}">Partners</a></li>
                    <li><a href="{% url info_page slug='contact-us' %}">Contact us</a></li>
                </ul>               
            </li>
        </ul>

        <ul class="mob-menu"> 
            <li><a href="#">Menu</a>
                <ul>
                    <li><a href="{% url home %}">Home</a></li>
                    <li><a href="{% url info_page slug='places-overview' %}">Places</a></li>
                    <li><a href="{% url info_page slug='parliament-overview' %}">Parliament</a></li>
                    <li><a href="{% url position slug='mp' %}">MPs</a></li>
                    <li><a href="{% url hansard:index %}">Hansard</a></li>
                    <li><a href="{% url info_page slug='odekro-overview' %}">About</a></li>
                </ul>
            </li>
        </ul>

        <script type="text/javascript">
            var menu=new menu.dd("menu");
            menu.init("menu","menuhover");
        </script>

        <div id="search">
            <form id="odekro_search" method="get" action="{% url core_search %}">
                <input type="text" value="Search" onblur="this.value=!this.value?'Search':this.value;" onfocus="this.select()" onclick="this.value='';" />
                <button type="submit">Submit</button>
            </form>
        </div>

    </nav>
</div>