{% block content %}
    <div class="index-left sixcol">
        <h3>What is Odekro?</h3>

        <h3 id="indexIntro">
            <p>In the Akan chieftaincy hierarchy, the Odekro is the lowest sub-divisional chief responsible for ruling 
            a town and making sure the citizens are taken care of.<p>

            <p>Members of Parliament (MPs) are elected to serve constituencies by representing the citizens
            in Parliament. Odekro monitors them by making parliamentary debate proceedings (<a href="/hansard/">Hansards</a>) freely accessible
            to the citizens of Ghana.<p>

            <p>Our goal at Odekro is to promote transparency, provide online access to public records and empower citizens to keep
            an eye on public officials, especially parliament.<p>
        </h3>

        <br />

        <h3>What Are Our MPs Debating</h3>
        <div id="wordcloud" style="width: 540px, height: 350px; border: 1px solid #ccc;">
        </div>

    </div>
    <div class="index-right sixcol">
        
        {% if featured_person %}
            {% include 'odekro/featured_profile.html' %}
        {% endif %}

        <span id="pollOpen">Elections 2012 Polls Open In</span>
        <div id="counter"></div>
        
        <div class="desc">
            <div>Days</div>
            <div>Hours</div>
            <div>Minutes</div>
            <div>Seconds</div>
        </div>
        

        
        <div class="index-right">
            {% include 'odekro/social_links.html' %}
        </div>
    </div>
{% endblock %}
