{% extends 'base.html' %}

{% block title %}Odekro{% endblock %}


{% block extra_scripts %}
  {% comment %}
    Launch-specific scripts should be moved out after launch
  {% endcomment %}

  <script type="text/javascript" src="{{ STATIC_URL }}js/jqcloud-1.0.0.min.js"></script>
  <link rel="stylesheet" type="text/css"  href="{{ STATIC_URL }}css/jqcloud.css" />
  <script type = "text/javascript">
    $(function() {
        $.getJSON("search/tagcloud/", 
        {},
        function(data){
            $("#wordcloud").jQCloud(data);
        });
      });
    </script>

  <script type="text/javascript" src="{{ STATIC_URL }}js/countdown.js"></script>
  <script type="text/javascript">
        function diff(end, start) {
            if (!start) {
                start = new Date()
            }

            var ms = (end - start)
            var s = Math.floor(ms / 1000)
            var m = Math.floor(s / 60)
            s %= 60
            var h = Math.floor(m / 60)
            m %= 60
            var d = Math.floor(h / 24)
            h %= 24

            return [d, h, m, s]
        }

        $(function(){
            $('#counter').countdown({
                image: '{{ STATIC_URL }}images/digits.png',
                startTime: diff(new Date(2012, 11, 7)).join(':')
            });
        });
  </script>

  <script type="text/javascript">     
      $(function() { 
          $('#personFeatures').jshowoff({ 
             links: false,
             controls: false,
             effect: 'fade',
             cssClass: 'personFeatures',
             hoverPause: false,
             speed: 20000
         }) 
      })
  </script>

  <script type="text/javascript">
      $(function() {
          $('#slider1').s3Slider({
              timeOut: 5000 
          })
      })
  </script>
{% endblock %}

{% block custom-crumb-id %}-rep{% endblock %}

{% block content %}
    {# include 'home_content.html' #}
    {% include 'home_content_launch.html' %}
{% endblock %}
