{% load thumbnail %}

{% block content %}
<div class="index-left sixcol">
    {% if featured_person %}
        {% include 'odekro/featured_profile.html' %}
    {% endif %}

    {% if featured_content %}
    <h3>Featured</h3>
    <div id="slider1">
        <ul id="slider1Content">
            <li class="slider1Image">
                <img src="images/image-1.jpg" />
                <span class="right">
                    <strong>Lorem ipsum dolor sit metsum dolor sit 1</strong><br />
                    <a href="#">read</a>
                </span>
            </li>
            <li class="slider1Image">
                <img src="images/image-2.jpg"  />
                <span class="right">
                    <strong>Psum d Lorem iolor sit metsum dolor sit. 2</strong><br />
                    <a href="#">read</a>
                </span>
            </li>
            <div class="clear slider1Image"></div>
        </ul>
    </div>
    {% endif %}
</div>


<div class="index-mid threecol">
    <h3>Odekro News</h3>
    <ul id="odekro-news-list">
        {% for item in news_items %}
        <li>
            <div class="meta-date">
                <strong class="month">Nov</strong>
                <span class="day">24</span>
            </div>
            <h4><a href="#">Dasellus ac nibh urna donec</a></h4>
            <p>Lorem ipsum dolor sit met, consectetur , id vestibulum tellus suscipit vitae ...</p>
            <a href="#">more</a>
        </li>
        {% endfor %}

        {% comment %}
        <li>
            <div class="meta-date">
                <strong class="month">Nov</strong>
                <span class="day">24</span>
            </div>
            <h4><a href="#">Dasellus ac nibh urna donec</a></h4>
            <p>Lorem ipsum dolor sit met, consectetur , id vestibulum tellus suscipit vitae ...</p>
            <a href="#">more</a>
        </li>
        <li>
            <div class="meta-date">
                <strong class="month">Nov</strong>
                <span class="day">24</span>
            </div>
            <h4><a href="#">Dasellus ac nibh urna donec</a></h4>
            <p>Lorem ipsum dolor sit met, consectetur , id vestibulum tellus suscipit vitae ...</p>
            <a href="#">more</a>
        </li>
        <li>
            <div class="meta-date">
                <strong class="month">Nov</strong>
                <span class="day">24</span>
            </div>
            <h4><a href="#">Dasellus ac nibh urna donec</a></h4>
            <p>Lorem ipsum dolor sit met, consectetur , id vestibulum tellus suscipit vitae ...</p>
            <a href="#">more</a>
        </li>
        {% endcomment %}
    </ul>


    <h3>Activity</h3>
    <div class="featBox activity">
        <ul>
            <li>
                <a class="activityAvatar" href="#"><img src="#" /></a>
                <b><a href="#">Lorem Ipsum dolor test post elentum turpis accumsan</a></b>
                <span>Nov 15, 2012</span>
            </li>
            <li>
                <a class="activityAvatar" href="#"><img src="#" /></a>
                <b><a href="#">Lorem Ipsum dolor test post elentum turpis accumsan</a></b>
                <span>Nov 15, 2012</span>
            </li>
            <li>
                <a class="activityAvatar" href="#"><img src="#" /></a>
                <b><a href="#">Lorem Ipsum dolor test post elentum turpis accumsan</a></b>
                <span>Nov 15, 2012</span>
            </li>
            <li>
                <a class="activityAvatar" href="#"><img src="#" /></a>
                <b><a href="#">Lorem Ipsum dolor test post elentum turpis accumsan</a></b>
                <span>Nov 15, 2012</span>
            </li>
        </ul>
    </div>
</div>


<div class="index-right threecol">
    {% include 'odekro/social_links' %}

    {% if settings.ELECTION_CENTRE %}
    <h3>Election Centre</h3>
    <div class="featBox election-news">
        <ul>
            <li><a href="#">Consectetur adipiscing elit.</a></li>
            <li><a href="#">Nullam suscipit adipiscing elit.</a></li>
            <li><a href="#">Consectetur adipiscing elit.</a></li>
            <li><a href="#">Nullam suscipit adipiscing elit.</a></li>
            <li><a href="#">Consectetur adipiscing elit.</a></li>
            <li><a href="#">Nullam suscipit adipiscing elit.</a></li>
            <li><a href="#">Consectetur adipiscing elit.</a></li>
            <li><a href="#">Nullam suscipit adipiscing elit.</a></li>
            <li><a href="#">Consectetur adipiscing elit.</a></li>
            <li><a href="#">Nullam suscipit adipiscing elit.</a></li>
            <li><a href="#">Consectetur adipiscing elit.</a></li>
            <li><a href="#">Nullam suscipit adipiscing elit.</a></li>
        </ul>
    </div>
    {% endif %}

    {% if settings.HAVE_YOUR_SAY %}
    <h3>Have Your Say</h3>
    <div class="featBox poll-field">
        <h4 id="poll-question">Ipsum dolor sit met, consectetur adipiscing. Nullam feugiat dignissim metus, id suscipit vitae. Cras sapien ?</h4>
        <div id="poll-answer">
            <span class="answerGroup">
                <input type="radio" />
                <label>Yes</label>
            </span>
            <span class="answerGroup">
                <input type="radio" />
                <label>No</label>
            </span>
            <span class="answerGroup">
                <input type="radio" />
                <label>Not Sure</label>
            </span>
        </div>
        <div id="pollVote">
            <a id="voteBTN" href="#">Vote</a>
            <a id="ryte" href="#">View Poll</a>
        </div>
    </div>
    {% endif %}
</div>
{% endblock %}