{% extends 'search/search_base.html' %}
{% load pipeline %}

{% block alternative_search %}
  <a href="{% url 'core_search' %}?q={{ query|urlencode }}">for a person or organisation</a>
{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'google-map' %}
{% endblock %}

{% block search_title %}

<h1> Find Your Representative </h1>
<a href="{% url "info_page" slug="constituency-offices" %}" class="button secondary-button about-constituency-office">About Constituency Offices</a>

{% endblock %}

{% block search_instructions %}
    {# Dummy block to omit this text #}
    &nbsp;
{% endblock %}

{% block search_form %}
  <div class="inline-search-box">
    <input type="text" name="q" value="{{ query }}" id="id_q" placeholder="Enter your address&hellip;"/>
    <input type="submit" value="Search" class="button">
  </div>
{% endblock %}

{% block search_results %}
  {% if geocoder_results %}
    <div class="geocoded_results">

      <div id="map_canvas">&nbsp;</div>

      <ul>
        <script>
          markers_to_add = [];
        </script>
        {% for result in geocoder_results %}
          <li>
            <a href="/place/latlon/{{ result.latitude }},{{result.longitude }}/">
              {{ result.address }}
            </a>
          </li>
          <script>
            markers_to_add.push({
              lat: {{ result.latitude }},
              lng: {{ result.longitude }},
              url: "/place/latlon/{{ result.latitude }},{{result.longitude }}/",
              name: "{{ result.address }}"
            });
          </script>
        {% endfor %}
      </ul>

      <br style="clear: both;">

    </div>
  {% else %}
    No results for the location '{{ query }}'
  {% endif %}
{% endblock %}
