{% extends 'base.html' %}
{% load url from future %}

{% load thumbnail %}
{% load pagination_tags %}

{% block title %}
    {% if query %}
        "{{ query }}" ::
    {% endif %}
    Search
{% endblock %}

{% block content %}
    <h1>Search</h1>

    <form method="get" action="." class="search-wrap">
        <p>
          Alternatively search
          {% block alternative_search %}
          <a href="{% url 'core_geocoder_search' %}?q={{ query|urlencode }}">for a location</a>
          {% endblock %}
          {% if settings.ENABLED_FEATURES.hansard %}
            or <a href="{% url "hansard_search"  %}" id="search-hansard-instead">Hansard transcripts</a>
          {% endif %}
          instead.
        </p>

        {% include "south_africa/_search_box.html" %}

        {% if query %}
            {% if person_results %}
            <div class="results-group">
                <h2>People matching &ldquo;{{ query }}&rdquo;</h2>

                <ul class="unstyled-list">

                    {% for result in person_results %}
                        {% if result.app_label == 'speeches' %}
                            {% include 'search/speech_item.html' %}
                        {% else %}
                            {% include 'core/generic_list_item.html' with object=result.object %}
                        {% endif %}
                    {% empty %}
                        <li>There are no people matching "<strong>{{ query }}</strong>"</li>
                    {% endfor %}

                </ul>
            </div>
            {% endif %}

            {% if organisation_results %}
            <div class="results-group">
                <h2>Organisations matching &ldquo;{{ query }}&rdquo;</h2>

                <ul class="unstyled-list">

                    {% for result in organisation_results %}
                        {% if result.app_label == 'speeches' %}
                            {% include 'search/speech_item.html' %}
                        {% else %}
                            {% include 'search/search_list_item.html' with object=result.object %}
                        {% endif %}
                    {% empty %}
                        <li>There are no organisations matching "<strong>{{ query }}</strong>"</li>
                    {% endfor %}

                </ul>
            </div>
            {% endif %}
            <div class="results-group">
            <h2>Results <strong>{{ page.start_index }}</strong> - <strong>{{ page.end_index }}</strong> of <strong>{{ paginator.count }}</strong> for &ldquo;{{ query }}&rdquo;</h2>

            <ul class="unstyled-list">

                {% for result in page.object_list %}
                    {% if result.app_label == 'speeches' %}
                        {% include 'search/speech_item.html' %}
                    {% else %}
                        {% include 'search/search_list_item.html' with object=result.object %}
                    {% endif %}
                {% empty %}
                    <li>There were no results for "<strong>{{ query }}</strong>" - please try a different search.</li>
                {% endfor %}

            </ul>

            {% if page.has_previous or page.has_next %}
                <div>
                    {% if page.has_previous %}<a class="button" href="?q={{ query }}&amp;page={{ page.previous_page_number }}">&laquo; Previous</a>{% endif %}

                    {% if page.has_next %}<a class="button" href="?q={{ query }}&amp;page={{ page.next_page_number }}">Next &raquo;</a>{% endif %}
                </div>
            {% endif %}
        </div>
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
            <p>Please enter a search term in the form above.</p>
        {% endif %}
    </form>
{% endblock %}
