  <li class="speech-list-item list-of-things-item">
  {% if result.object.section.get_ancestors %}
    <h3>
        <span class="meta">
        {{ result.object.section.get_ancestors.0.title }}&nbsp;&gt;&nbsp;
          {% for section in result.object.section.get_ancestors %}
            {% if not forloop.first %}
                {{ section.title }}
                {% if not forloop.last %}&nbsp;&gt;&nbsp;{% endif %}
            {% endif %}
          {% endfor %}
        </span>
    </h3>
  {% endif %}
    <a href="{{ result.object.get_absolute_url }}">
        <span class="speech-name">{{ result.object.speaker }}:</span>
        <span class="speech-description">{{ result.highlighted.0|safe }}</span>
    </a>
</li>
