{% comment %}

    This is a partial loaded into the tab on the person profile page.
    
    person         - the person we are summarising
    entry_count    - how many entries there are in total for this person
    recent_entries - a sample of recent entries
    lifetime_summary - appearance per month
    
{% endcomment %}

<h2>Parliamentary appearences</h2>

<p>{{ person.name }} has spoken {{ entry_count }} times in Parliament.</p>

<h3>Recent Appearances</h3>

<ul>

    {% for entry in recent_entries %}
    <li>
        <strong>{{ entry.sitting.start_date}}</strong> in <strong>{{ entry.sitting.venue.name }}</strong>:
        {{ entry.content|truncatewords:40 }}
        <a href="{{ entry.get_absolute_url }}">view</a>
    </li>
    {% endfor %}

</ul>

<h3>Lifetime summary</h3>

<p>{{ person.name }} has month by month spoken in parliament this many times (if a month is missing there were no speeches found for that month):</p>

<ul>
    {% for summary in lifetime_summary %}
        <li>{{ summary.date|date:"M Y" }}: {{ summary.count }} speeches</li>
    {% endfor %}
</ul>