{% extends 'base.html' %}
{% load switch %}

{% block title %}
    {{ object.name }}
{% endblock %}

{% block content %}

    <ul class="hansard_entries">
    {% for entry in sitting.entry_set.all %}
        <li class="{{ entry.type }}">
            {% switch entry.type %}
                {% case 'heading' %}
                    <h2>{{ entry.content }}</h2>
                {% case 'speech' %}
                    
                    <strong>{{ entry.speaker_name }}</strong>
                    {% if entry.speaker_title %}({{ entry.speaker_title }}){% endif %}                    
                    <br>

                    <p>{{ entry.content|linebreaksbr }}</p>

                {% case 'scene' %}
                    <em>{{ entry.content }}</em>
                {% else %}
                    {{ entry.content }}
            {% endswitch %}
        </li>
    {% endfor %}
    </ul>

{% endblock %}
