/**
 * Desk Structural
 */

.election-home .election-home-left {
	width: 520px;
	float: left;
}

.election-home .election-home-right {
	width: 320px;
	float: right;
}

#site-header {
	overflow: hidden;
	height: 150px;
}

.election-home #logo {
	background: url(images/election-logo.png);
	width: 252px;
	height: 94px;
	margin-top: 15px;
}

.election-home #election_countdown {
	float: right;
	width: 400px;
}

.callout-search{ 
	margin-right: 0;
	margin-left: 0;
}

.callout-search h2{ 
	margin-left: 0;
	margin-right: 0;
}

.countdown_icon span{
	margin-top: -36px;
}

@media only screen and (min-width: 640px) and (max-width: 960px) {

.election-home .election-home-left {
	width: 60%;
	float: left;
}

.election-home .election-home-right {
	width: 35%;
	float: right;
}

}