{% extends 'base.html' %}

{% comment %}
    'form':               form,
    'submit_was_success': submit_was_success,
    'return_to_url':      return_to_url,
{% endcomment %}

{% block title %}
    Leave feedback
    {% if form.url %}
     on {{ form.url.value }}
    {% endif %}
{% endblock %}

{% block content %}

    
    <h1 class="page-title">
        Leave feedback
        {% if form.url.value %}
            on {{ form.url.value }}
        {% endif %}
    </h1>

    <div class="infopage">
    {% if submit_was_success %}

        <div id="ajax_dialog_subcontent">
            <div class="success">
                Thank you for your feedback!            
            </div>
        </div>

        {% if return_to_url %}
            <p>You can return to the <a href="{{ return_to_url }}">page you were on</a>.</p>
        {% endif %}

    {% else %}

        <div id="ajax_dialog_subcontent">

            {% comment %}
                hide the honeypot field from humans
            {% endcomment %}
            <style type="text/css">
                #add_feedback label[for=id_website] { display: none; }
                #add_feedback input[name=website]   { display: none; }
            </style>

            <form method="post" action="{% url feedback_add %}" id="add_feedback">
                {% csrf_token %}
                
                {{ form.as_p }}
                <input type="submit" class="submit" value="Send feedback">
            </form>
        </div>

    {% endif %}
    </div>

{% endblock %}
