<form id="petition" method="post" action="{% url 'county-performance-petition-submission' %}">
  {% csrf_token %}
  <h2>
    <label for="name">If you believe that Country Budgets need to be spent responsibly, then add your name to our petition asking for greater government accountability</label>
  </h2>
  {{ petition_form.non_field_errors }}
  <p>
    {% for field in petition_form %}
      {{ field.errors }}
      {{ field }}
    {% endfor %}
    <button type="submit">Send</button>
  </p>
</form>
