<form id="petition" method="post" action="{% url 'county-performance-petition-submission' %}">
  {% csrf_token %}
  <h2>
    <label for="name">If you believe that Country Budgets need to be spent responsibly, then add your name to our petition asking for greater government accountability</label>
  </h2>
  <p class="all-form-errors">
    {% include "_all_form_errors.html" with form=petition_form %}
  </p>
  <p>
    {% for field in petition_form.visible_fields %}
      {{ field }}
    {% endfor %}
    <input type="hidden" name="user_key" value="{{ user_key }}">
    <input type="hidden" name="variant" value="{{ variant }}">
    <input type="hidden" name="g" value="{{ g }}">
    <input type="hidden" name="agroup" value="{{ agroup }}">
    <button type="submit">Send</button>
  </p>
</form>
