<form id="senate" method="post" action="{% url 'county-performance-senate-submission' %}">
  {% csrf_token %}
  <h2><label for="comments">Tell the senate what you think</label></h2>
  <p>We will also send any comments through to the Senate Majority Leader</p>
  <p class="all-form-errors">
    {% include "_all_form_errors.html" with form=senate_form %}
  </p>
  {{ senate_form.comments }}
  <input type="hidden" name="user_key" value="{{ user_key }}">
  <input type="hidden" name="variant" value="{{ variant }}">
  <input type="hidden" name="g" value="{{ g }}">
  <input type="hidden" name="agroup" value="{{ agroup }}">
  <p class="last"><button type="submit">Comment</button>
</form>
