{% load thumbnail %}
<h6><i class="txt-cat">Category:</i> Wanjiku’s Best Representative - {{ finalist.category }} 2014</h6>
<div class="shujaaz-finalist-image-and-name">
{% thumbnail finalist.person.primary_image "90x90" as im %}
  <a href="{% url 'person' slug=finalist.person.slug %}">
    <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
  </a>
{% endthumbnail %}
<a href="{% url 'person' slug=finalist.person.slug %}">{{ finalist.name }}</a>
</div>
<a class="toggle-show-reasons">Show reasons for nomination...</a>
<div class="shujaaz-reasons">
{{ finalist.reasons|safe  }}
</div>
<div class="hd6"></div>
