<div class="survey-section">
  <h2>
    <label for="comments">Give us your comments!</label>
  </h2>
  <div id="comment_">
    <form id="comment" class="inplace-form" method="post" action="{{ comment_submission_url }}">
      {% csrf_token %}
      <p class="all-form-errors">
        {% include "_all_form_errors.html" with form=comment_form %}
      </p>
      <div>
        {{ comment_form.comments }}

        <div class="last submit-choice">
          <button type="submit" name="submit">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <p id="comment_thanks" style="display:none">
    Thank-you for your comment
  </p>
</div>