<div class="survey-section">
  <h2>
    <label for="name">Do you think the MP (Honorable Johnson Sakaja) cares about your input?</label>
  </h2>
  <div id="input_">
    <form id="input" method="post" class="inplace-form" action="{{ input_submission_url }}">
      {% csrf_token %}

      <p class="all-form-errors">
        {% include "_all_form_errors.html" with form=support_form %}
      </p>

      <p class="last submit-choice">
        <button type="submit" name="submit-yes">Yes</button>
        <button type="submit" name="submit-no">No</button>
      </p>
    </form>
  </div>
  <p id="input_thanks" style="display:none"></p>
</div>
