<div class="survey-section">
    <h2>
      <label for="name">Do you think the MP (Honorable Johnson Sakaja) cares about your input?</label>
    </h2>

    <p class="last submit-choice" id="mp-cares_">
      <a id="click-yes" class="link-button inplace-link" href="{{ input_url }}?val=click-yes&label=mp-cares">Yes</a>

      <a id="click-no" class="link-button inplace-link" href="{{ input_url }}?val=click-no&label=mp-cares">No</a>
    </p>

    <p id="mp-cares_thanks" style="display:none">
      Thank-you for your vote
    </p>
</div>