{% extends 'base.html' %}

{% comment %}

  This page is for the tests of effectiveness of various calls
  to action suggested by our MIT collaborators.

{% endcomment %}

{% block title %}How are our county governments performing?{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block content %}

  <h1>How are our county governments performing?</h1>

  <p>
  Content to be added....
  </p>

{% endblock %}
