{% extends 'base.html' %}

{% comment %}

  This page has the thank-you message that's shown when someone
  enters their message in the senate form.

{% endcomment %}

{% block title %}Thank-you!{% endblock %}

{% block body_attributes %}class="county-performance"{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. #}
    <div id="breadcrumb-replacement"></div>
{% endblock %}

{% block content %}

  <h1>Thank-you for submitting your message for the senate</h1>

  <p><a href="{% url 'county-performance' %}">Return to the information page about county government budgets</a></p>

{% endblock %}
