{% extends 'base.html' %}
{% load compressed %}

{% comment %}

  This page is for the tests of effectiveness of various calls
  to action suggested by our MIT collaborators.

{% endcomment %}

{% block ga_experiment %}
{% endblock %}

{% block title %}How are our taxpayer shillings really being spent?{% endblock %}

{% block body_attributes %}class="county-performance"{% endblock %}

{% block extra_js_to_load %}
    addExtraJS([ {% compressed_js 'experiments' %} null ]);
{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. #}
    <div id="breadcrumb-replacement"></div>
{% endblock %}

{% block content %}

  {% if not correct_errors %}

    <h1>How are our taxpayer shillings really being spent?</h1>

    <p>A recent report by Kenya&rsquo;s Controller of Budget highlights questionable spending practices in our counties. Over 50% of our counties spent NO money on development!</p>

    <div id="report">

      <div id="report-header">

        <p>The report reveals that our taxpayer money which is supposed
        to be spent on building roads and water
        systems as well as equipping and staffing health centres
        and schools, has instead been spent on &ldquo;construction of
        mansions, entertainment allowances and buying of
        luxurious vehicles for Governors and their executives&rdquo;
        <a class="source"
           target="_blank"
           href="http://www.standardmedia.co.ke/?articleID=2000102659&story_title=no-end-to-senators-governors-turf-wars&pageNo=2"
           title="Standard Digital News, January 2014">(source)</a>.
        <strong>Only 7% of county government budgets was spent
        on development programmes!</strong></p>

        <table>
          <thead>
            <tr>
              <th class="county">County title</th>
              <th class="personnel">Personnel<br>Emoluments</th>
              <th class="operational">Operational<br>&amp; Maintenance</th>
              <th class="development">Development<br>Expenditure</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="county">Kisumu</td>
              <td class="personnel">79%</td>
              <td class="operational">21%</td>
              <td class="development">0</td>
            </tr>
            <tr>
              <td class="county">Mombasa</td>
              <td class="personnel">74%</td>
              <td class="operational">23%</td>
              <td class="development">0</td>
            </tr>
            <tr>
              <td class="county">Nairobi City</td>
              <td class="personnel">65%</td>
              <td class="operational">16%</td>
              <td class="development">16%</td>
            </tr>
            <tr>
              <td class="county">Nandi</td>
              <td class="personnel">44%</td>
              <td class="operational">56%</td>
              <td class="development">0</td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td class="county">All counties</td>
              <td class="personnel">55%</td>
              <td class="operational">38%</td>
              <td class="development">7%</td>
            </tr>
          </tfoot>
        </table>

      </div>

      <div id="post-table-encouragement">
        <p>Now is the time to voice your opinion.  The President has just
        passed a County Act to establish County Development Boards that
        oversee the county government spending.  Development funding is
        supposed to increase from 30 to 60 percent.</p>
      </div>

      {% if show_threat %}
      <div id="threat">
        <h2>Threat</h2>
        <p>However, powerful politicians are now fighting to block greater
        accountability. This threat is real!  If we don’t pressure now for
        responsible implementation of the County Development Boards, we
        might lose additional funds for development such as infrastructure,
        water, health and education projects.</p>
      </div>
      {% endif %}

      {% if show_opportunity %}
      <div id="opportunity">
        <h2>Opportunity</h2>
        <p>Powerful politicians are now fighting to ensure greater
        accountability. This opportunity is real! If we pressure now for
        responsible implementation of the County Development Boards, we
        could gain additional funds for development such as infrastructure,
        water, health and education projects.</p>
      </div>
      {% endif %}

      {% if show_social_context %}
      <div id="social-context">
        <p>342 people joined us in just 3 days! Take action and
        join the growing numbers.</p>
      </div>
      {% endif %}

  {% endif %}

    {% for partial in major_partials %}
      {% include partial %}
    {% endfor %}

  {% if not correct_errors %}

      <div id="survey">
        <p>Take our 5 minute survey and enter to win $100 in airtime!</p>
        <a href="{{ survey_url }}" id="take-survey">Take Survey</a>
      </div>

  {% endif %}

  </div>

{% endblock %}
