{% extends 'base.html' %}

{% comment %}

  This page is very similar to 'register-to-vote.html' - see that page for more
  details about usage.

{% endcomment %}

{% block title %}Find a Polling Station{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block content %}

  <h1>Find your polling station!</h1>
  
  <p>
    Please use the tools below to find your nearest polling station.
  </p>

  <p>
    You can also go <a href="http://vote.iebc.or.ke/?tool=findps">direct to the IEBC page</a> (best if you are on a mobile).
  </p>

  <iframe src="http://vote.iebc.or.ke/gadget/" width="1024" height="552"></iframe>

{% endblock %}
