{% load firstof from future %}

{% include "site_header_logo.html" %}

<div class="site-footer__links">
    <div class="site-footer__links__primary">
        <ul>
            {% with include_sub_menu_entries=1 %}
                {% include 'menu_entries.html' %}
            {% endwith %}
            {% if object and request.user.is_staff %}
              <li>
                  <a href="{{ object.get_admin_url }}"><strong>Edit '{{ object.name }}' in admin</strong></a>
              </li>
            {% endif %}
            {% if settings.STAGING %}
              <!-- <li>current_user_id: <span id="current_user_id">{% firstof request.user.id '0' %}</span></li> -->
            {% endif %}
        </ul>
    </div>
    <div class="site-footer__links__secondary">
        <ul>
            <li>
                <a href="https://facebook.com/MzalendoWatch">Facebook</a> –
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">
                    Share this page
                </a>
            </li>
            <li>
                <a href="https://twitter.com/MzalendoWatch">Twitter</a> –
                <a href="https://twitter.com/share?{% if settings.TWITTER_USERNAME %}via={{ settings.TWITTER_USERNAME }}&amp;{% endif %}url={{ request.build_absolute_uri }}" target="_blank">
                    Share this page
                </a>
            </li>
            <li>
                <a href="https://instagram.com/mzalendowatch">Instagram</a>
            </li>
            <li>
                <a href="https://youtube.com/user/MzalendoKenya">YouTube</a>
            </li>
        </ul>
        <ul>
            <li><a href="{% url 'info_page' slug='policies' %}">Privacy</a></li>
            <li><a href="{% url 'feedback_add' %}?url={{ request.build_absolute_uri }}" class="feedback_link"><strong>Give us feedback</strong></a></li>
        </ul>
    </div>
</div>

<div class="site-footer__subscribe">
    <h2>Subscribe to our newsletter</h2>
    <p>Your weekly summary of what’s happening in parliament.</p>
    <form action="http://mzalendo.us2.list-manage.com/subscribe/post?u=c0b4940a102336a932a5c30c4&amp;id=9963e6377d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <label for="mce-EMAIL">Email address</label>
        <div class="subscribe-fields">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe">
        </div>
    </form>
    <p>
        <a href="https://us2.campaign-archive.com/home/?u=c0b4940a102336a932a5c30c4&id=9963e6377d">Or browse past issues</a>
    </p>
</div>

<div class="site-footer__attribution">
    <p>
        This site runs on
        <a href="https://www.mysociety.org/projects/parliamentary-monitoring/pombola/">open source code</a>
        written by <a href="http://www.mysociety.org">mySociety</a>.
    </p>
    {% block extra_attribution %}
    {% endblock %}
</div>
