<div id="footer-menu" class="footer-section">
    <h4>Mzalendo</h4>
    <ul class="nav">
        {% with include_sub_menu_entries=1 %}
            {% include 'menu_entries.html' %}
        {% endwith %}
    </ul>
</div>

<div class="footer-section">

    <h4>Share</h4>
    <ul class="utilities">

        <li>
          <a  href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}"
            target="_blank"
          >Facebook</a>
        </li>

        <li>
          <a  href="https://twitter.com/share?{% if settings.TWITTER_USERNAME %}via={{ settings.TWITTER_USERNAME }}&amp;{% endif %}url={{ request.build_absolute_uri }}"
              target="_blank"
          >Twitter</a>
        </li>
    </ul>
    

    <h4>About</h4>
    <ul class="utilities">
        <li><a href="{% url info_page slug='policies' %}">Privacy</a></li>
        <li><a href="{% url feedback_add %}?url={{ request.build_absolute_uri }}" class="feedback_link">Give us feedback</a></li>
        
        {% if object and request.user.is_staff %}
            <li><a href="{{ object.get_admin_url }}">Edit '{{ object.name }}' in admin</a></li>
        {% endif %}
        
        {% if settings.STAGING %}
            <li>current_user_id: <span id="current_user_id">{% firstof request.user.id '0' %}</span></li>
        {% endif %}
    </ul>
</div>

<div class="footer-section subscribe-box">
    <h2>Email Newsletter</h2>

    <form action="http://mzalendo.us2.list-manage.com/subscribe/post?u=c0b4940a102336a932a5c30c4&amp;id=9963e6377d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <label for="mce-EMAIL">Subscribe to receive updates</label>
        <div class="subscribe-fields">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Your email address here" required>
            <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
        </div>
    </form>
</div>