{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load pipeline %}

{% block title %}Home{% endblock %}

{% block body_attributes %} class="election-home" {% endblock %}

{% block extra_js_to_load %}
    addExtraJS([ {% javascript 'feeds' %} null ]);
{% endblock %}

{% block css_headers %}
    {{ block.super }}

    {% stylesheet 'election-2013' %}
{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on the home page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% include 'header.html' %}

{% block content %}
  <div class="election-home-left">
      <div class="callout-search">
          <h2>Who is your representative?</h2>
          <p>Find out! Enter the name of your <a href="{% url "place_kind" 'constituency' %}">Constituency</a> or <a href="{% url "place_kind" 'county' %}">County</a> in the box below. Don’t know the name of your Constituency?  <a href="{% url "map-home" %}">Find it using our map</a>.
          </p>
          <form class="styled-search" action="{% url "core_place_search" %}">
              <input type="text" class="search-autocomplete-name search-box" data-source="/search/autocomplete/?model=place" name="q" value="" placeholder="Place name">
              <input type="submit" value="Search" class="search-btn">
          </form>
      </div>

      <form class="callout-search" action="{% url "core_person_search" %}">
          <h2>Check out a specific representative:</h2>
          <p>Enter their name in the box below to find them</p>
          <div class="styled-search">
              <input type="text" class="search-autocomplete-name search-box" data-source="/search/autocomplete/?model=person" name="q" value="" placeholder="Aspirant's name">
              <input type="submit" value="Search" class="search-btn">
          </div>
      </form>


      {% comment %}

      Not needed now that the elections are over.

      <h2>Presidential Aspirants:</h2>
      <ul class="presidential-aspirants">
        {% for person in featured_persons %}
          <li>
            <a href="{{ person.get_absolute_url }}">
              {% thumbnail person.primary_image "122x140" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
              {% empty %}
                <img src="{% static 'images/person-200x200.jpg' %}" width="122" height="140"/>
              {% endthumbnail %}
              <h4>{{ person.name }}</h4>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% endcomment %}

  </div>
  <div class="election-home-right">

  {% if settings.BLOG_RSS_FEED %}
      <h2 class="static">Editorial</h2>
      <ul id="home-news-list" data-blog-rss-feed="{{ settings.BLOG_RSS_FEED }}">
          <li>
              Loading news&hellip;
          </li>
      </ul>
  {% endif %}


  </div>
{% endblock %}
