{% extends 'base.html' %}
{% load pipeline %}
{% load staticfiles %}
{% load humanize %}

{% block title %}Home{% endblock %}

{% block extra_head_meta %}
  {# Prefetch DNS for when the Twitter widget loads #}
  {% if settings.TWITTER_WIDGET_ID %}
    <link href="//platform.twitter.com" rel="dns-prefetch" />
     <!--[if IE 9]>
       <link href="http://platform.twitter.com/" rel="prefetch" />
     <![endif]-->
  {% endif %}
{% endblock%}

{% block body_attributes %}class="home"{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'feeds' %}
  {% javascript 'sms-carousel' %}
  {% javascript 'featured-person' %}
{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on the home page #}
{% endblock %}

{% block page %}

<div class="homepage-intro wrapper">
    <div class="mz-grid-row">
        <div class="homepage-intro__photo mz-grid-col-4">
            <img src="{% static 'images/parliament-400px.jpg' %}"
            sizes="(min-width: 640px) 400px, 100vw"
            srcset="{% static 'images/parliament-600px.jpg' %} 600w,
            {% static 'images/parliament-400px.jpg' %} 400w"
            alt="National Assembly">
        </div>
        <blockquote class="homepage-intro__quote mz-grid-col-4">
            <p>All Sovereign power belongs to the people of Kenya and shall be exercised only in accordance with this Constitution</p>
            <footer>
                <cite>Article 1 (i), Constitution of Kenya, 2010</cite>
            </footer>
        </blockquote>
        <div class="mz-grid-col-4">
            <div class="homepage-intro__popular">
                <h2>Popular pages:</h2>
                <ul>
                    <li><a href="{% url 'core_search' %}">Find your Representatives</a></li>
                    <li><a href="{% url 'hansard:index' %}">Read the Hansard</a></li>
                    <li><a href="{% url 'female-reps' %}">Women Representatives</a></li>
                    <li><a href="{% url 'young-reps' %}">Youthful Representatives</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="homepage-tabs wrapper">
    <div class="mz-grid-row">
        <div class="homepage-tabs__sms mz-grid-col-4">
            <a href="sms:{{ settings.KENYA_SMS_API_SHORT_CODE }}">
                <strong>Bonga-na-Mzalendo!</strong>
                SMS {{ settings.KENYA_SMS_API_SHORT_CODE }}
            </a>
        </div>
        <div class="homepage-tabs__dokeza mz-grid-col-4">
            <a href="https://dokeza.mzalendo.com">
                <strong>Dokeza:</strong>
                Give your input on bills
            </a>
        </div>
        <div class="homepage-tabs__newsletter mz-grid-col-4">
            <a href="{% url 'info_page' slug='newsletter' %}">
                <strong>Subscribe</strong>
                to our newsletter
            </a>
        </div>
    </div>
</div>

<div class="homepage-sms" id="sms">
    {% if sms_question %}
    <div class="wrapper">
        <h2 class="homepage-sms__title">This week’s SMS question:</h2>
        <div class="mz-grid-row">
            <div class="homepage-sms__question mz-grid-col-8">
                <h3>{{ sms_question }}</h3>
            </div>
            <div class="mz-grid-col-4">
                <a href="sms:{{ settings.KENYA_SMS_API_SHORT_CODE }}" class="homepage-sms__cta">
                    Have your say
                    <strong>SMS {{ settings.KENYA_SMS_API_SHORT_CODE }}</strong>
                </a>
            </div>
        </div>
        <div class="homepage-sms__responses mz-grid-row" id="sms-messages">
          {% for message in sms_current_messages %}
            <div class="mz-grid-col-4">
                <div class="homepage-sms__response">
                    <p>“{{ message.text }}”</p>
                    <footer>
                        <p>{{ message.datetime|naturaltime }}</p>
                    </footer>
                </div>
            </div>
          {% endfor %}
        </div>
      {% if sms_pages|length > 1 %}
        <form class="homepage-sms__pagination" data-sms-carousel="#sms-messages" action="#sms">
          {% for page in sms_pages %}
            <button type="submit" {% if page.current %}disabled{% endif %} name="sms_page" value="{{ page.i }}">{{ page.n }}</button>
          {% endfor %}
        </form>
      {% endif %}
    </div>
    <script>
        window.sms_all_messages = [];
      {% for message in sms_all_messages %}
        window.sms_all_messages.push({"content": "{{ message.text|escape }}", "date": "{{ message.datetime|naturaltime|escape }}"})
      {% endfor %}
    </script>
    {% endif %}
</div>

<div class="homepage-editorial">
    <div class="wrapper">
        <div class="mz-grid-row">
            <div class="mz-grid-col-4">
              {% if featured_person != None %}
                <div class="homepage-featured-person js-featured-person">
                  {% include 'core/person_feature.html' %}
                </div>
              {% endif %}
            </div>
            <div class="mz-grid-col-8">
              {% if settings.BLOG_RSS_FEED %}
                <div class="homepage-news">
                    <header>
                        <h2>Editorial</h2>
                        <a href="http://www.mzalendo.com/blog">Read more on the Mzalendo blog</a>
                    </header>
                    <div class="mz-grid-row" data-blog-rss-feed="{{ settings.BLOG_RSS_FEED }}" data-blog-template="#blog-template"></div>
                    <script type="text/x-template" id="blog-template">
                        <div class="homepage-news__story mz-grid-col-6">
                            <a data-blog-link class="homepage-news__story__title">
                                <h3 data-blog-title></h3>
                            </a>
                            <p data-blog-date class="homepage-news__story__date"></p>
                            <p data-blog-description class="homepage-news__story__content"></p>
                        </div>
                    </script>
                </div>
              {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="wrapper">

    <div class="homepage-social">
        <div class="mz-grid-row">
            <div class="mz-grid-col-6">
            {% if settings.TWITTER_USERNAME and settings.TWITTER_WIDGET_ID %}
                {% include 'twitter_widget.html' %}
            {% else %}
                <!-- TODO: what to do if no Twitter details? -->
            {% endif %}
            </div>
            <div class="mz-grid-col-1"></div>
            <div class="mz-grid-col-5">
                <ul class="homepage-social__buttons">
                    <li><a href="https://youtube.com/user/MzalendoKenya">Subscribe to Mzalendo on YouTube</a></li>
                    <li><a href="https://facebook.com/MzalendoWatch">Follow Mzalendo on Facebook</a></li>
                    <li><a href="https://instagram.com/mzalendowatch">Follow Mzalendo on Instagram</a></li>
                    <li><a href="https://twitter.com/MzalendoWatch">Follow Mzalendo on Twitter</a></li>
                    <li><a href="{% url 'info_page' slug='newsletter' %}">Subscribe to our email newsletter</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="homepage-about">
        <p class="homepage-about__vision">
            Mzalendo is a non-partisan entity that keeps an eye on Kenyan Parliament with a mission to facilitate public participation in Parliamentary processes through Information Sharing, Research and Networking. Our vision is to see informed, empowered and engaged citizens transforming society by holding their leaders to account. We are proud to be supported by:
        </p>
        <ul class="homepage-about__supporters">
            <li><a href="https://indigotrust.org.uk"><img src="{% static 'images/logo-indigo.png' %}" width="150" height="64" alt="The Indigo Trust"></a></li>
            <li><a href="https://www.boell.de/en/"><img src="{% static 'images/logo-boll.png' %}" width="100" height="50" alt="Heinrich Böll Stiftung"></a></li>
            <li><a href="https://www.mysociety.org"><img src="{% static 'images/logo-mysociety.svg' %}" width="172" height="40" alt="mySociety"></a></li>
            <li><a href="https://www.ned.org"><img src="{% static 'images/logo-ned.svg' %}" width="64" height="64" alt="The National Endowment for Democracy"></a></li>
            <li><a href="https://nimd.org"><img src="{% static 'images/logo-nimd.png' %}" width="217" height="40" alt="Netherlands Insitute of Multiparty Democracy"></a></li>
        </ul>
    </div>

</div>

{% endblock %}
