{% extends 'base.html' %}
{% load pipeline %}
{% load staticfiles %}

{% block title %}Home{% endblock %}

{% block extra_head_meta %}
  {# Prefetch DNS for when the Twitter widget loads #}
  {% if settings.TWITTER_WIDGET_ID %}
    <link href="//platform.twitter.com" rel="dns-prefetch" />
     <!--[if IE 9]>
       <link href="http://platform.twitter.com/" rel="prefetch" />
     <![endif]-->
  {% endif %}
{% endblock%}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'feeds' %}
{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on the home page #}
{% endblock %}

{% block content %}

<div id="home-intro">

    <div id="home-quote">
        <img src="{% static 'images/parliament-400px.jpg' %}"
            sizes="(min-width: 640px) 400px, 100vw"
            srcset="{% static 'images/parliament-600px.jpg' %} 600w,
            {% static 'images/parliament-400px.jpg' %} 400w">
        <p>All Sovereign power belongs to the people of Kenya and shall be exercised only in accordance with this Constitution</p>
        <footer>
            &ndash; <cite>Article 1 (i), Constitution of Kenya August 2010</cite>
        </footer>
    </div>

    <div id="home-cta">
        <a class="home-cta home-cta--dokeza" href="https://dokeza.mzalendo.com/"><strong>Dokeza</strong> Review bills and give your input</a>
        <a class="home-cta home-cta--representatives" href="{% url "core_search" %}"><strong>Find your Representatives</strong> MPs, Senators, and Women Representatives</a>
        <a class="home-cta home-cta--hansard" href="{% url "hansard:index" %}"><strong>The Hansard</strong> Read transcripts of what was said in&nbsp;parliament</a>
    </div>

</div>

<div id="home-editorial">

    <ul class="home-editorial__actions">
        <li>
            <a href="sms:21516">
                <strong>Bonga-Na-Mzalendo</strong>
                SMS 21516
            </a>
        </li>
        <li>
            <a href="{% url "info_page" slug='newsletter' %}">
                Subscribe to
                <strong>our newsletter</strong>
            </a>
        </li>
    </ul>

  {% if featured_person != None %}
    <div id="home-featured-person">
        <h2>Featured Person</h2>
        {% include 'core/person_feature.html' %}
    </div>
  {% endif %}

  {% if settings.BLOG_RSS_FEED %}
    <div id="home-blog">
        <h2>Editorial</h2>
        <ul id="home-news-list" data-blog-rss-feed="{{ settings.BLOG_RSS_FEED }}">
            <li>
                Loading news&hellip;
            </li>
        </ul>
    </div>
  {% endif %}

    <div id="home-social">
      <div class="home-social__facebook">
        <h2>Like us on Facebook</h2>
        <iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2FMzalendoWatch&amp;width&amp;layout=button_count&amp;action=like&amp;show_faces=false&amp;share=false&amp;height=21&amp;appId=212162318805899" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:21px;" allowTransparency="true"></iframe>
      </div>
      <div class="home-social__profiles">
        <h2>Follow us</h2>
        <ul class="home-social__profiles-list">
          <li><a href="https://www.instagram.com/mzalendowatch/" class="social-profile-link social-profile-link--instagram">Instagram</a></li>
          <li><a href="https://www.youtube.com/user/MzalendoKenya" class="social-profile-link social-profile-link--youtube">YouTube</a></li>
        </ul>
      </div>
    </div>

  {% if settings.TWITTER_USERNAME and settings.TWITTER_WIDGET_ID %}
    <div id="home-twitter">
        {% include 'twitter_widget.html' %}
    </div>
  {% endif %}

</div>

<div id="home-promoted">

</div>

<div id="home-background">
    <img src="/static/images/indigo.gif" width="300" height="172" alt="Indigo">
    <p>Mzalendo (‘Patriot’ in Swahili) is a non-partisan project started in 2005 whose mission is to “keep an eye on the Kenyan parliament”. Mzalendo seeks to promote a stronger public voice and to enhance public participation in politics by providing relevant information about Parliament specifically about Senators and MPs activities.</p>
</div>

{% endblock %}
