<nav class="site-menu">
    <div class="wrapper">

        <a class="site-menu__mobile-toggle js-expanded-toggle" href="#menu">
            <svg width="12" height="10" viewbox="0 0 12 10" xmlns="http://www.w3.org/2000/svg"><path d="M0 4h12v2H0V4zm0 4h12v2H0V8zm0-8h12v2H0V0z" fill="#FFF" fill-rule="nonzero"/></svg>
            Menu
        </a>

        {% include "site_header_search.html" %}

        <ul id="menu" class="site-menu__links">
          {% with include_sub_menu_entries=1 %}
            {% include 'menu_entries.html' %}
          {% endwith %}
        </ul>

    </div>
</nav>
