{% comment %}

    Menu entries - for both desktop and mobile.

    We use the same menu structure twice - once in the header and once in the
    footer. However the footer does not require the drill down so there is a way
    to specifically request it. This is all here in a separate file so that we
    won't forget to keep the two in sync when doing edits.

{% endcomment %}


<li>
    <a href="{% url 'home' %}">Home</a>
</li>

<li class="has-submenu">
    <a href="{% url 'info_page' slug='parliament-overview' %}">Parliament</a>
  {% if include_sub_menu_entries %}
    <ul id="submenu-parliament" class="js-hover-dropdown">
        <li>
            <a href="{% url 'info_page' slug='parliament-overview' %}">Parliament Overview</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='committee-overview' %}">Committee Overview</a>
        </li>
      {% if settings.ENABLED_FEATURES.hansard %}
        <li>
            <a href="{% url 'hansard:index' %}">Hansard</a>
        </li>
      {% endif %}
        <li>
            <a href="{% url 'organisation_kind' slug='party' %}">Political Parties</a>
        </li>
    </ul>
    {% endif %}
</li>

<li class="has-submenu">
    <a href="{% url 'position_pt' pt_slug='member-national-assembly' %}?view=grid">MPs</a>
  {% if include_sub_menu_entries %}
    <ul id="submenu-mps" class="js-hover-dropdown">
        <li><a href="{% url 'position_pt' pt_slug='member-national-assembly' %}?view=grid">NA Members</a></li>
        <li><a href="{% url 'position_pt' pt_slug='senator' %}?view=grid">Senators</a></li>
        <li><a href="{% url 'female-reps' %}">Women</a></li>
        <li><a href="{% url 'young-reps' %}">Youthful MPs</a></li>
    </ul>
  {% endif %}
</li>

<li class="has-submenu">
    <a href="#submenu-research">Research</a>
  {% if include_sub_menu_entries %}
    <ul id="submenu-research" class="js-hover-dropdown">
        <li>
            <a href="{% url 'women' %}">Debunking Myths on Women MPs</a>
        </li>
        <li>
            <a href="{% url 'shujaaz-finalists-2018' %}">People’s Shujaaz Awards</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='proposed-bills' %}">National Youth Employment Authority</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='collaboration-outputs' %}">Collaboration Outputs</a>
        </li>
    </ul>
  {% endif %}
</li>

<li class="has-submenu">
    <a href="{% url 'info_page' slug='news' %}">News</a>
  {% if include_sub_menu_entries %}
    <ul id="submenu-news" class="js-hover-dropdown">
        <li>
          <a href="http://mzalendo.com/blog/">Blog</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='newsletter' %}">Newsletter</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='press' %}">Press</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='infographics' %}">Infographics</a>
        </li>
    </ul>
  {% endif %}
</li>

<li class="has-submenu">
    <a href="{% url 'info_page' slug='democracy-resources' %}">Democracy Resources</a>
  {% if include_sub_menu_entries %}
    <ul id="submenu-democracy-resources" class="js-hover-dropdown">
        <li>
            <a href="{% url 'info_page' slug='citizens-rights' %}">Citizens Rights &amp; Responsibilities</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='democracy-faq' %}">Democracy FAQs</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='ministry-overview' %}">Ministry Overview</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='constitution-2010' %}">Constitution 2010</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='democracy-documents' %}">Democracy Documents</a>
        </li>
    </ul>
  {% endif %}
</li>

<li class="has-submenu">
    <a href="{% url 'info_page' slug='mzalendo-overview' %}">About</a>
  {% if include_sub_menu_entries %}
    <ul id="submenu-about" class="js-hover-dropdown">
        <li>
            <a href="{% url 'info_page' slug='mzalendo-overview' %}">Mzalendo Overview</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='site-faq' %}">Site FAQs</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='policies' %}">Policies</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='founders' %}">Founders</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='management' %}">Management</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='partners' %}">Partners</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='scorecard-faq' %}">Scorecard FAQs</a>
        </li>
        <li>
            <a href="{% url 'info_page' slug='contact' %}">Contact</a>
        </li>
      {% if settings.POPIT_API_URL %}
        <li>
            <a href="{% url 'help-api' %}">Get the data</a>
        </li>
      {% endif %}
    </ul>
  {% endif %}
</li>
