{% extends 'base.html' %}

{% comment %}

  This page was linked to from a banner on every page on info.mzalendo.com
  during December 2012. The banner was removed after the registration closed (18
  Dec 2012). This page is left here for now as it is entirely possible a very
  similar tool to the voter registration one will be released for finding
  polling stations.

  Note that because of the fixed width of the embedded iframe this page was
  never really suitable for mobiles, which is a shame :(


  The code used on `kenya/templates/base.html` to create the banner was:
    
    {% block site_wide_message %}
      <div class="notice">
        Remember to <a href="/register-to-vote">register to vote</a> - deadline is 18 Dec 2012!
      </div>
    {% endblock %}

  
  This page is still served by this line in `kenya/urls.py`:
  
    url(r'^register-to-vote$', direct_to_template, {'template': 'register-to-vote.html'} ),


{% endcomment %}

{% block title %}Register to Vote{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block content %}

  <h1>Register to Vote!</h1>
  
  <div class="error">
    Voter registration closed on the 18th December 2012. Sorry :(
  </div>

  <p>
    Please use the tools below to find your nearest registration centre.
  </p>

  <p>
    You can also go <a href="http://vote.iebc.or.ke/">direct to the IEBC page</a>, or the alternative <a href="http://gottovote.code4kenya.org/">GotToVote tool</a> from Code4Kenya.
  </p>

  <!-- from http://vote.iebc.or.ke/ -->
  <iframe src="http://vote.iebc.or.ke/gadget/" width="1024" height="552"></iframe>

{% endblock %}
