{% extends 'base.html' %}
{% load pipeline %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}People’s Shujaaz Finalists 2014{% endblock %}

{% block body_attributes %}class="shujaaz shujaaz--2014"{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. #}
{% endblock %}

{% block page %}
<div id="page">

    <div class="shujaaz__intro">
        <h1 class="shujaaz__intro__logo"><span>People’s Shujaaz Awards</span></h1>
        <div class="shujaaz__intro__text">
            <h4>Celebrating Kenyan Parliamentarians Championing Issues of Great Public Interest</h4>
            <p>The Parliamentarians were selected based on bills moved, contributions to bills, motions raised and statements issued from March 2013 to November 2014. The Awards had 10 categories with 3 nominees each.</p>
            <p>After 10 days of online voting, Kenyans' favourite leaders in every category follow:</p>
            <a class="shujaaz-button shujaaz-button--secondary" href="#finalists">Scroll to see finalists</a>
            <a class="shujaaz-other-year" href="{% url 'shujaaz-finalists-2015' %}">Or see 2015’s finalists</a>
        </div>
    </div>

    <div class="shujaaz__main" id="finalists">
        <div class="container">
            <h2>2014’s finalists</h2>

            <div class="two-column-person-gallery">
                <div class="person-gallery person-gallery--shujaaz">
                  {% for finalist in finalists_column_1 %}
                    {% thumbnail finalist.person.primary_image "90x90" as im %}
                      {% include "_person_gallery_item.html" with section="Wanjiku’s Best Representative - "|add:finalist.category|add:" 2014" name=finalist.name url="/person/"|add:finalist.person.slug|add:"/" photo_url=im.url bio=finalist.reasons|safe %}
                    {% endthumbnail %}
                  {% endfor %}
                </div>
                <div class="person-gallery person-gallery--shujaaz">
                  {% for finalist in finalists_column_2 %}
                    {% thumbnail finalist.person.primary_image "90x90" as im %}
                      {% include "_person_gallery_item.html" with section="Wanjiku’s Best Representative - "|add:finalist.category|add:" 2014" name=finalist.name url="/person/"|add:finalist.person.slug|add:"/" photo_url=im.url bio=finalist.reasons|safe %}
                    {% endthumbnail %}
                  {% endfor %}
                </div>
            </div>

        </div>
    </div>

    <div class="shujaaz__outro">
        <div class="container">
            <h4 class="shujaaz__share">
                <img src="{% static 'images/wave-icon.png' %}">
                Share this page on Facebook
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/MzalendoWatch">
                    <img src="{% static 'images/facebook-icon.png' %}">
                </a>
                or on Twitter
                <a href="https://twitter.com/home?status=Post%20this%20your%20own%20awesome%20timeline.%0Ahttps://twitter.com/MzalendoWatch">
                    <img src="{% static 'images/twitter-icon.png' %}">
                </a>
                <img src="{% static 'images/wave-icon.png' %}">
            </h4>
        </div>
    </div>

</div>
{% endblock %}
