{% extends 'base.html' %}
{% load pipeline %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}People’s Shujaaz Awards 2018{% endblock %}

{% block body_attributes %}class="shujaaz shujaaz--2018"{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. #}
{% endblock %}

{% block page %}
<div id="page">

    <div class="shujaaz__intro">
        <h1 class="shujaaz__intro__logo"><span>People’s Shujaaz Awards</span></h1>
        <div class="shujaaz__intro__text">
            <h4>Celebrating Parliamentarians that have championed issues of great public interest both at the National Assembly and the Senate in 2018</h4>
            <p>This year we’ve had a lot of bad news with one corruption scandal after another; some even touching on MPs during the adoption of controversial committee reports. In light of these challenges, it’s easy to drown the voice of hardworking MPs and generalize issues. People’s Shujaaz is an attempt at shinning a light on these MPs who are trying their best to represent Wanjiku the best way possible.</p>
            <p>In recognizing these leaders, we focus purely on their work on the floor of the House; that is legislation, oversight and representation.</p>
            <p>Voting ran from 30th November to 9th December 2018.</p>
            <a class="shujaaz-button shujaaz-button--secondary" href="#finalists">Scroll down for finalists</a>
            <p class="shujaaz-other-year">
                Or revisit finalists from
                <a href="{% url 'shujaaz-finalists-2014' %}">2014</a>
                and
                <a href="{% url 'shujaaz-finalists-2015' %}">2015</a>
            </p>
        </div>
    </div>

    <div class="shujaaz__main" id="finalists">
        <div class="container">

            <div class="two-column-person-gallery">
                <div class="person-gallery person-gallery--shujaaz">
                    {% include "_person_gallery_item.html" with before="<h2><small>Wanjiku’s Best Representative 2018:</small> Health</h2>" name='Hon. Rose Mumo Museo' url="/person/rose-museo-mumo/" photo_url='http://info.mzalendo.com/media_root/cache/69/cf/69cf6c787b706be0c777c11ece1c9154.jpg' bio='<h4>ESTABLISHMENT OF PROGRAMMES AND INTERVENTIONS TO ENCOURAGE UPTAKE OF COUNSELLING SERVICES</h4> <blockquote><p>THAT, aware that there are over 200 classified types of mental disorders, the most common ones being clinical depression, post-traumatic stress disorder (PTSD), bipolar disorder, anxiety disorders, schizophrenia and Attention Deficit Hyperactivity Disorder (ADHD)… <a href="http://info.mzalendo.com/hansard/sitting/national_assembly/2018-04-18-09-30-00#entry-790548">(Read more)</a></p></blockquote>' %}
                </div>
                <div class="person-gallery person-gallery--shujaaz">
                    {% include "_person_gallery_item.html" with before="<h2><small>Wanjiku’s Best Representative 2018:</small> People with Disabilities (PWDs)</h2>" name='Sen. George Khaniri' url="/person/george-khaniri/" photo_url='http://info.mzalendo.com/media_root/cache/a0/08/a0089991d17c820d9a1f5dd338fbe7a2.jpg' bio='<h4>REGISTRATION OF PERSONS WITH DISABILITIES</h4> <blockquote><p>ALSO CONCERNED that owing to lack of accurate data on persons living with disabilities, the government at both levels cannot plan properly for this category of people; NOW THEREFORE, the Senate calls upon the National Council for Persons… <a href="http://info.mzalendo.com/hansard/sitting/senate/2017-11-29-14-30-00#entry-767123">(Read more)</a></p></blockquote>' %}
                </div>
            </div>

            <div class="two-column-person-gallery">
                <div class="person-gallery person-gallery--shujaaz">
                    {% include "_person_gallery_item.html" with before="<h2><small>Wanjiku’s Best Representative 2018:</small> The Needy</h2>" name='Sen. Aaron Cheruiyot' url="/person/aaron-cheruiyot/" photo_url='http://info.mzalendo.com/media_root/cache/ae/06/ae06e7dbeaf7b959392a4268f4456747.jpg' bio='<h4>The Care and Protection of Older Members of Society Bill (Sen. Bill No.17 of 2018)</h4> <blockquote><p>Mr. Speaker, Sir, other parts of the world have come up with systems that provide the framework needed to take care of older members of the society. This is so as to ensure that in public spaces, they are accorded the… <a href="http://info.mzalendo.com/hansard/sitting/senate/2018-10-04-14-30-00#entry-837269">(Read more)</a></p></blockquote>' %}
                </div>
                <div class="person-gallery person-gallery--shujaaz">
                    {% include "_person_gallery_item.html" with before="<h2><small>Wanjiku’s Best Representative 2018:</small> Progressive Legislation</h2>" name='Sen. Petronila Were' url="/person/petronila-were-lokorio/" photo_url='http://info.mzalendo.com/media_root/cache/ba/92/ba92e2ea3af3601179f7c814f0d7f651.jpg' bio='<h4>ESTABLISHMENT OF OFFICES OF THE CAJ AT THE COUNTY LEVEL</h4> <blockquote><p>CONCERNED that the Commission has its headquarters in Nairobi with satellite offices in the counties of Mombasa, Kisumu, Isiolo and Uasin Gishu; FURTHER CONCERNED that the absence of the Commission offices… <a href="http://info.mzalendo.com/hansard/sitting/senate/2018-05-16-14-30-00#entry-799088">(Read more)</a></p></blockquote>' %}
                </div>
            </div>

            <div class="two-column-person-gallery">
                <div class="person-gallery person-gallery--shujaaz">
                    <div class="person-gallery__item">
                        <h2><small>Wanjiku’s Best Representative 2018:</small> Security &amp; Disaster Management</h2>
                        <div class="person-card">
                            <img src="http://info.mzalendo.com/media_root/cache/c3/f1/c3f183cb06f7868b639538e08d648b87.jpg">
                            <img src="http://info.mzalendo.com/media_root/cache/ae/5b/ae5b347ec4c13bc9054e76dc77c68d85.jpg">
                            <span class="person-card__name">
                                <a href="/person/johnson-arthur-sakaja/">Sen. Johnson Arthur Sakaja</a>
                                &amp;
                                <a href="/person/mutula-kilonzo-jnr/">Sen. Mutula Kilonzo Jnr</a>
                            </span>
                            <h4>The Disaster Risk Management Bill (Sen. Bill No. 8 of 2018)</h4> <blockquote><p>The Bill provides for the creation of Disaster Risk Management Authority as a one-stop-shop to co-ordinate disaster response measures in liaison with National and County Governments. The Bill further seeks to establish… <a href="http://info.mzalendo.com/hansard/sitting/senate/2018-07-05-14-30-00#entry-812256">(Read more)</a></p></blockquote>
                        </div>
                    </div>
                </div>
                <div class="person-gallery person-gallery--shujaaz">
                    {% include "_person_gallery_item.html" with before="<h2><small>Wanjiku’s Best Representative 2018:</small> Environmental Conservation</h2>" name="Hon. William Chepkut" url="/person/william-kamuren-chirchir-chepkut/" photo_url="http://info.mzalendo.com/media_root/cache/25/26/25263e80dde2706686f6fad70534c86a.jpg" bio='<h4>Introduction of compulsory tree planting</h4> <blockquote><p>THAT, aware that Article 42 of the Constitution accords every person the right to a clean and healthy environment and that Article 69(1)(d) mandates the State to encourage public participation in the management… <a href="http://info.mzalendo.com/hansard/sitting/national_assembly/2017-11-29-09-30-00#entry-767824">(Read more)</a></p></blockquote>' %}
                </div>
            </div>

            <h4 class="shujaaz__share">
                <img src="{% static 'images/wave-icon.png' %}">
                Share this page on Facebook
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/MzalendoWatch">
                    <img src="{% static 'images/facebook-icon.png' %}">
                </a>
                or on Twitter
                <a href="https://twitter.com/home?status=Post%20this%20your%20own%20awesome%20timeline.%0Ahttps://twitter.com/MzalendoWatch">
                    <img src="{% static 'images/twitter-icon.png' %}">
                </a>
                <img src="{% static 'images/wave-icon.png' %}">
            </h4>
        </div>
    </div>

    <div class="shujaaz__outro">
        <div class="container">
            <div class="shujaaz__logos">
                <p>Supported by</p>
                <img src="{% static 'images/indigo-without-title.gif' %}" class="shujaaz__logos__indigo">
            </div>
        </div>
    </div>

</div>
{% endblock %}
