{% extends 'base.html' %}
{% load pipeline %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}People’s Shujaaz Awards 2018{% endblock %}

{% block body_attributes %}class="shujaaz shujaaz--2018"{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. #}
{% endblock %}

{% block page %}
<div id="page">

    <div class="shujaaz__intro">
        <h1 class="shujaaz__intro__logo"><span>People’s Shujaaz Awards</span></h1>
        <div class="shujaaz__intro__text">
            <h4>Which Parliamentarians have raised motions, issued statements, made contributions or moved bills of great public interest from September 2017 - October 2018?</h4>
            <p>Mzalendo keeps an eye on Parliament and has selected 13 nominees in 6 categories. <strong>Help us celebrate them by voting for your choice. The voting period ends 9th Dec. 2018 11.59pm.</strong></p>
            <a class="shujaaz-button shujaaz-button--secondary" href="#finalists">Scroll down for finalists</a>
            <a class="shujaaz-button shujaaz-button--primary" href="{% url 'shujaaz-voting' %}">Click to vote now</a>
            <p class="shujaaz-other-year">
                Or revisit finalists from
                <a href="{% url 'shujaaz-finalists-2014' %}">2014</a>
                and
                <a href="{% url 'shujaaz-finalists-2015' %}">2015</a>
            </p>
        </div>
    </div>

    <div class="shujaaz__main" id="finalists">
        <div class="container">

            <h2><small>Nominees for Wanjiku’s Best Representative 2018:</small> Health</h2>
            <div class="person-gallery person-gallery--shujaaz">
                {% include "_person_gallery_item.html" with name="Hon. Mohammed Ali" url="/person/mohamed-ali-mohamed/" photo_url="http://info.mzalendo.com/media_root/cache/62/35/6235848bbe315e7a1a7155f48f29f2ae.jpg" bio='<h4>His Motion on construction of referral hospital in Mombasa County</h4> <blockquote><p>KWAMBA, tukifahamu Kifungu cha 43 cha Katiba ya Kenya kimeweka wazi kwamba kila Mkenya ana haki ya kuwa na kiwango bora cha afya kinachojumuisha afya bora ya uzazi; aidha, katika utaratibu wa Ajenda ya Maendeleo ya baada ya Mwaka wa 2015… <a href="http://info.mzalendo.com/hansard/sitting/national_assembly/2018-03-14-09-30-00#entry-780612">(Read more)</a></p></blockquote>' %}
                {% include "_person_gallery_item.html" with name='Hon. Rose Mumo Museo' url="/person/rose-museo-mumo/" photo_url='http://info.mzalendo.com/media_root/cache/69/cf/69cf6c787b706be0c777c11ece1c9154.jpg' bio='<h4>ESTABLISHMENT OF PROGRAMMES AND INTERVENTIONS TO ENCOURAGE UPTAKE OF COUNSELLING SERVICES</h4> <blockquote><p>THAT, aware that there are over 200 classified types of mental disorders, the most common ones being clinical depression, post-traumatic stress disorder (PTSD), bipolar disorder, anxiety disorders, schizophrenia and Attention Deficit Hyperactivity Disorder (ADHD)… <a href="http://info.mzalendo.com/hansard/sitting/national_assembly/2018-04-18-09-30-00#entry-790548">(Read more)</a></p></blockquote>' %}
            </div>

            <h2><small>Nominees for Wanjiku’s Best Representative 2018:</small> People With Disabilities</h2>
            <div class="person-gallery person-gallery--shujaaz">
                {% include "_person_gallery_item.html" with name="Sen. Getrude Musuruve" url="/person/getrude-musuruve-inimah/" photo_url="http://info.mzalendo.com/media_root/cache/9e/13/9e1331fb48cd9a5e55f1f97bf3a2306b.jpg" bio='<h4>Teaching of Kiswahili language to learners with hearing disability in the region</h4> <blockquote><p>CONCERNED that under the new curriculum of education in Kenya that is being piloted, learners with hearing disability are not offered Kiswahili language in primary schools, secondary schools and primary teachers training colleges; NOW THEREFORE, the Senate calls… <a href="http://info.mzalendo.com/hansard/sitting/senate/2018-05-29-14-30-00#entry-799836">(Read more)</a></p></blockquote>' %}
                {% include "_person_gallery_item.html" with name='Sen. George Khaniri' url="/person/george-khaniri/" photo_url='http://info.mzalendo.com/media_root/cache/a0/08/a0089991d17c820d9a1f5dd338fbe7a2.jpg' bio='<h4>REGISTRATION OF PERSONS WITH DISABILITIES</h4> <blockquote><p>ALSO CONCERNED that owing to lack of accurate data on persons living with disabilities, the government at both levels cannot plan properly for this category of people; NOW THEREFORE, the Senate calls upon the National Council for Persons… <a href="http://info.mzalendo.com/hansard/sitting/senate/2017-11-29-14-30-00#entry-767123">(Read more)</a></p></blockquote>' %}
            </div>

            <h2><small>Nominees for Wanjiku’s Best Representative 2018:</small> The Needy</h2>
            <div class="person-gallery person-gallery--shujaaz">
                {% include "_person_gallery_item.html" with name="Sen. Beatrice Kwamboka" url="/person/beatrice-kwamboka/" photo_url="http://info.mzalendo.com/media_root/cache/87/35/8735cf7644eb46d104dc4c81c5030334.jpg" bio='<h4>Teaching of Kiswahili language to learners with hearing disability in the region</h4> <blockquote><p>CONCERNED that under the new curriculum of education in Kenya that is being piloted, learners with hearing disability are not offered Kiswahili language in primary schools, secondary schools and primary teachers training colleges; NOW THEREFORE, the Senate calls… <a href="http://info.mzalendo.com/hansard/sitting/senate/2018-11-15-14-30-00#entry-852236">(Read more)</a></p></blockquote>' %}
                {% include "_person_gallery_item.html" with name='Sen. Aaron Cheruiyot' url="/person/aaron-cheruiyot/" photo_url='http://info.mzalendo.com/media_root/cache/ae/06/ae06e7dbeaf7b959392a4268f4456747.jpg' bio='<h4>The Care and Protection of Older Members of Society Bill (Sen. Bill No.17 of 2018)</h4> <blockquote><p>Mr. Speaker, Sir, other parts of the world have come up with systems that provide the framework needed to take care of older members of the society. This is so as to ensure that in public spaces, they are accorded the… <a href="http://info.mzalendo.com/hansard/sitting/senate/2018-10-04-14-30-00#entry-837269">(Read more)</a></p></blockquote>' %}
            </div>

            <h2><small>Nominees for Wanjiku’s Best Representative 2018:</small> Progressive Legislation</h2>
            <div class="person-gallery person-gallery--shujaaz">
                {% include "_person_gallery_item.html" with name="Hon. Godfrey Osotsi" url="/person/godfrey-osotsi/" photo_url="http://info.mzalendo.com/media_root/cache/dc/d9/dcd98efaab498a0bd8370bfea1342fe3.jpg" bio='<h4>ESTABLISHMENT OF SPORTS ACADEMIES IN EVERY CONSTITUENCY</h4> <blockquote><p>aware of the socio-economic benefits of sport; recognising that sports can and does make great and positive economic, health, social and cultural impact on individuals, communities and wider society… <a href="http://info.mzalendo.com/hansard/sitting/national_assembly/2018-04-18-14-30-00#entry-789595">(Read more)</a></p></blockquote>' %}
                {% include "_person_gallery_item.html" with name='Sen. Petronila Were' url="/person/petronila-were-lokorio/" photo_url='http://info.mzalendo.com/media_root/cache/ba/92/ba92e2ea3af3601179f7c814f0d7f651.jpg' bio='<h4>ESTABLISHMENT OF OFFICES OF THE CAJ AT THE COUNTY LEVEL</h4> <blockquote><p>CONCERNED that the Commission has its headquarters in Nairobi with satellite offices in the counties of Mombasa, Kisumu, Isiolo and Uasin Gishu; FURTHER CONCERNED that the absence of the Commission offices… <a href="http://info.mzalendo.com/hansard/sitting/senate/2018-05-16-14-30-00#entry-799088">(Read more)</a></p></blockquote>' %}
            </div>

            <h2><small>Nominees for Wanjiku’s Best Representative 2018:</small> Security &amp; Disaster Management</h2>
            <div class="person-gallery person-gallery--shujaaz">
                <div class="person-gallery__item">
                    <div class="person-card">
                        <img src="http://info.mzalendo.com/media_root/cache/c3/f1/c3f183cb06f7868b639538e08d648b87.jpg">
                        <img src="http://info.mzalendo.com/media_root/cache/ae/5b/ae5b347ec4c13bc9054e76dc77c68d85.jpg">
                        <span class="person-card__name">
                            <a href="/person/johnson-arthur-sakaja/">Sen. Johnson Arthur Sakaja</a>
                            &amp;
                            <a href="/person/mutula-kilonzo-jnr/">Sen. Mutula Kilonzo Jnr</a>
                        </span>
                        <h4>The Disaster Risk Management Bill (Sen. Bill No. 8 of 2018)</h4> <blockquote><p>The Bill provides for the creation of Disaster Risk Management Authority as a one-stop-shop to co-ordinate disaster response measures in liaison with National and County Governments. The Bill further seeks to establish… <a href="http://info.mzalendo.com/hansard/sitting/senate/2018-07-05-14-30-00#entry-812256">(Read more)</a></p></blockquote>
                    </div>
                </div>
                {% include "_person_gallery_item.html" with name='Sen. George Khaniri' url="/person/george-khaniri/" photo_url='http://info.mzalendo.com/media_root/cache/a0/08/a0089991d17c820d9a1f5dd338fbe7a2.jpg' bio='<h4>DEVELOPMENT AND IMPLEMENTATION OF NATIONAL DISASTER RISK FINANCING</h4> <blockquote><p>CONCERNED, that the Kenya Red Cross Society has not been allocated a budget from the national and county governments despite the huge contribution in disaster and emergency response across the country… <a href="http://info.mzalendo.com/hansard/sitting/senate/2018-10-03-14-30-00#entry-837790">(Read more)</a></p></blockquote>' %}
            </div>

            <h2><small>Nominees for Wanjiku’s Best Representative 2018:</small> Environmental Conservation</h2>
            <div class="person-gallery person-gallery--shujaaz">
                {% include "_person_gallery_item.html" with name="Hon. William Chepkut" url="/person/william-kamuren-chirchir-chepkut/" photo_url="http://info.mzalendo.com/media_root/cache/25/26/25263e80dde2706686f6fad70534c86a.jpg" bio='<h4>Introduction of compulsory tree planting</h4> <blockquote><p>THAT, aware that Article 42 of the Constitution accords every person the right to a clean and healthy environment and that Article 69(1)(d) mandates the State to encourage public participation in the management… <a href="http://info.mzalendo.com/hansard/sitting/national_assembly/2017-11-29-09-30-00#entry-767824">(Read more)</a></p></blockquote>' %}
                {% include "_person_gallery_item.html" with name='Hon. George Macharia' url="/person/george-macharia-kariuki-gk/" photo_url='http://info.mzalendo.com/media_root/cache/35/66/3566f202a25d8f889ddb4f7d63c9834a.jpg' bio='<h4>Creation of water collection and storage management system</h4> <blockquote><p>THAT, aware that the Fourth Schedule of the Constitution provides for the protection of the environment and natural resources and in particular water protection, securing sufficient residual water among others by the national… <a href="http://info.mzalendo.com/hansard/sitting/national_assembly/2018-04-25-09-30-00#entry-791993">(Read more)</a></p></blockquote>' %}
                {% include "_person_gallery_item.html" with name='Hon. Mugambi Rindikiri' url="/person/mugambi-murwithania-rindikiri-2/" photo_url='http://info.mzalendo.com/media_root/cache/be/77/be77026541b2f040947987fd798c2b27.jpg' bio='<blockquote><p>It is an obligation for every citizen in this country to cooperate with the State organs when it comes to protection and conservation of the environment. We should not go into the history books as the generation that caused our country to become a desert leaving nothing to our descendants… <a href="info.mzalendo.com/hansard/sitting/national_assembly/2018-02-20-14-30-00#entry-774613">(Read more)</a></p></blockquote>' %}
            </div>

            <div class="shujaaz-vote-box">
                <h2>Vote for your choice</h2>
                <p>Help us celebrate our Parliamentarians by voting for your choice.</p>
                <p>The voting period ends 9th Dec. 2018 11.59pm.</p>
                <a class="shujaaz-button shujaaz-button--primary" href="{% url 'shujaaz-voting' %}">Click here to vote now</a>
            </div>

            <h4 class="shujaaz__share">
                <img src="{% static 'images/wave-icon.png' %}">
                Share this page on Facebook
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/MzalendoWatch">
                    <img src="{% static 'images/facebook-icon.png' %}">
                </a>
                or on Twitter
                <a href="https://twitter.com/home?status=Post%20this%20your%20own%20awesome%20timeline.%0Ahttps://twitter.com/MzalendoWatch">
                    <img src="{% static 'images/twitter-icon.png' %}">
                </a>
                <img src="{% static 'images/wave-icon.png' %}">
            </h4>
        </div>
    </div>

    <div class="shujaaz__outro">
        <div class="container">
            <div class="shujaaz__logos">
                <p>Supported by</p>
                <img src="{% static 'images/indigo-without-title.gif' %}" class="shujaaz__logos__indigo">
            </div>
        </div>
    </div>

</div>
{% endblock %}
