{% extends 'base.html' %}
{% load compressed %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}People’s Shujaaz Finalists 2015{% endblock %}

{% block body_attributes %}class="shujaaz shujaaz--2015"{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. #}
{% endblock %}

{% block page %}
<div id="page">

    <div class="shujaaz__intro">
        <h1 class="shujaaz__intro__logo"><span>People’s Shujaaz Awards</span></h1>
        <div class="shujaaz__intro__text">
            <h4>Celebrating Kenyan Parliamentarians Championing Issues of Great Public Interest</h4>
            <p>This text will explain what the People’s Shujaaz Awards are, and how the finalists are chosen. This text will explain what the People’s Shujaaz Awards are, and how the finalists are chosen.</p>
            <p>This text will explain what the People’s Shujaaz Awards are, and how the finalists are chosen.</p>
            <a class="shujaaz__intro__cta" href="#nominees">Scroll to see finalists</a>
        </div>
    </div>

    <div class="shujaaz__main">
        <div class="container">
            <h2>2015 Nominees</h2>

            <div class="shujaaz-nominees">
              {% regroup nominees by category as nominees_by_category %}
              {% for category in nominees_by_category %}
                <div class="shujaaz-nominees__category">
                    <h3 class="shujaaz-nominees__category__title">Wanjiku’s Best Representative - {{ category.grouper }}</h3>
                  {% for nominee in category.list %}
                    <div class="shujaaz-nominees__nominee">
                        <h2 class="shujaaz-nominees__nominee__name"><a href="/person/{{ nominee.person.slug }}/">{{ nominee.name }}</a></h2>
                        <label class="shujaaz-nominees__nominee__show-reasons" for="{{ category.grouper|slugify }}-{{ nominee.person.slug }}">Show reasons for nomination</label>
                        <input type="radio" name="reasons-accordions" id="{{ category.grouper|slugify }}-{{ nominee.person.slug }}">
                        <div class="shujaaz-nominees__nominee__reasons">
                            {{ nominee.reasons|safe }}
                        </div>
                    </div>
                  {% endfor %}
                </div>
              {% endfor %}
            </div>
        </div>
    </div>

    <div class="shujaaz__outro">
        <div class="container">
            <h4 class="shujaaz__share">
                <img src="{% static 'images/wave-icon.png' %}">
                Share this page on Facebook
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/MzalendoWatch">
                    <img src="{% static 'images/facebook-icon.png' %}">
                </a>
                or on Twitter
                <a href="https://twitter.com/home?status=Post%20this%20your%20own%20awesome%20timeline.%0Ahttps://twitter.com/MzalendoWatch">
                    <img src="{% static 'images/twitter-icon.png' %}">
                </a>
                <img src="{% static 'images/wave-icon.png' %}">
            </h4>
        </div>
    </div>

</div>
{% endblock %}
