{% extends 'base.html' %}
{% load pipeline %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %}People’s Shujaaz Awards 2015{% endblock %}

{% block body_attributes %}class="shujaaz shujaaz--2015"{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. #}
{% endblock %}

{% block page %}
<div id="page">

    <div class="shujaaz__intro">
        <h1 class="shujaaz__intro__logo"><span>People’s Shujaaz Awards</span></h1>
        <div class="shujaaz__intro__text">
            <h4>Celebrating Parliamentarians that have championed issues of great public interest in the National Assembly or&nbsp;Senate in 2015</h4>
            <p>Kenyans spend a lot of time bashing politicians and there is a risk that we may dismiss or fail to encourage those who are actually representing their voters and trying to address their needs. People’s Shujaaz is an attempt to fix that.</p>
            <p>In recognizing the leaders, we focus on their core mandate: legislation, oversight and representation. We have added Committees to this year’s campaign and their chairmen represent them.</p>
            <p>Public voting ran from 17th November to 9th December 2015.</p>
            <a class="shujaaz-button shujaaz-button--secondary" href="#finalists">Scroll down for finalists</a>
            <a class="shujaaz-other-year" href="{% url 'shujaaz-finalists-2014' %}">Or revisit 2014’s finalists</a>
        </div>
    </div>

    <div class="shujaaz__main" id="finalists">
        <div class="container">
            <h2>2015 Finalists</h2>

            <div class="two-column-person-gallery">
                <div class="person-gallery person-gallery--shujaaz">
                  {% for finalist in finalists_column_1 %}
                    {% thumbnail finalist.person.primary_image "90x90" as im %}
                      {% include "_person_gallery_item.html" with section="Wanjiku’s Best Representative - "|add:finalist.category|add:" 2015" name=finalist.name url="/person/"|add:finalist.person.slug|add:"/" photo_url=im.url bio=finalist.reasons|safe %}
                    {% endthumbnail %}
                  {% endfor %}
                </div>
                <div class="person-gallery person-gallery--shujaaz">
                  {% for finalist in finalists_column_2 %}
                    {% thumbnail finalist.person.primary_image "90x90" as im %}
                      {% include "_person_gallery_item.html" with section="Wanjiku’s Best Representative - "|add:finalist.category|add:" 2015" name=finalist.name url="/person/"|add:finalist.person.slug|add:"/" photo_url=im.url bio=finalist.reasons|safe %}
                    {% endthumbnail %}
                  {% endfor %}
                </div>
            </div>

            <h4 class="shujaaz__share">
                <img src="{% static 'images/wave-icon.png' %}">
                Share this page on Facebook
                <a href="https://www.facebook.com/sharer/sharer.php?u=https://www.facebook.com/MzalendoWatch">
                    <img src="{% static 'images/facebook-icon.png' %}">
                </a>
                or on Twitter
                <a href="https://twitter.com/home?status=Post%20this%20your%20own%20awesome%20timeline.%0Ahttps://twitter.com/MzalendoWatch">
                    <img src="{% static 'images/twitter-icon.png' %}">
                </a>
                <img src="{% static 'images/wave-icon.png' %}">
            </h4>
        </div>
    </div>

    <div class="shujaaz__outro">
        <div class="container">
            <div class="shujaaz__logos">
                <p>Supported by</p>
                <img src="{% static 'images/indigo-without-title.gif' %}" class="shujaaz__logos__indigo">
                <p>Partner</p>
                <a href="http://www.pin.or.ke/"><img src="{% static 'images/pin-logo.jpg' %}" class="shujaaz__logos__pin"></a>
            </div>
        </div>
    </div>

</div>
{% endblock %}
