{% extends 'base.html' %}

{% comment %}

  This page is very similar to 'register-to-vote.html' - see that page for more
  details about usage.

{% endcomment %}

{% block title %}Find a Polling Station{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block content %}

  <h1>People's Shujaaz Awards: Vote here!</h1>

  <div class="pd-embed" id="pd_1543494943"></div>
  <script type="text/javascript">
    var _polldaddy = [] || _polldaddy;

    _polldaddy.push( {
      type: "iframe",
      auto: "1",
      domain: "mzalendo.survey.fm",
      id: "the-people-s-shujaaz-awards-2018",
      placeholder: "pd_1543494943"
    } );

    (function(d,c,j){if(!document.getElementById(j)){var pd=d.createElement(c),s;pd.id=j;pd.src=('https:'==document.location.protocol)?'https://polldaddy.com/survey.js':'http://i0.poll.fm/survey.js';s=document.getElementsByTagName(c)[0];s.parentNode.insertBefore(pd,s);}}(document,'script','pd-embed'));
  </script>

{% endblock %}
