{% load staticfiles %}

<header class="site-header">
    <div class="wrapper">

        {% include "site_header_logo.html" %}

        <span class="site-header__tagline">Eye on Kenyan Parliament</span>

        <ul class="site-header__social">
            <li><a href="https://youtube.com/user/MzalendoKenya" aria-label="YouTube">
                {% include  "site_header_icon_youtube.html" %}
            </a></li>
            <li><a href="https://facebook.com/MzalendoWatch" aria-label="Facebook">
                {% include  "site_header_icon_facebook.html" %}
            </a></li>
            <li><a href="https://instagram.com/mzalendowatch" aria-label="Instagram">
                {% include  "site_header_icon_instagram.html" %}
            </a></li>
            <li><a href="https://twitter.com/MzalendoWatch" aria-label="Twitter">
                {% include  "site_header_icon_twitter.html" %}
            </a></li>
        </ul>

    </div>
</header>
