{% extends 'base.html' %}

{% comment %}

  This page is a generic thank-you message that's shown when someone clicks on
  a voting link. Only users without javascript should actually
  see this page, otherwise it is called via AJAX.

{% endcomment %}

{% block title %}Thank-you!{% endblock %}

{% block body_attributes %}class="county-performance"{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. #}
    <div id="breadcrumb-replacement"></div>
{% endblock %}

{% block content %}

  <h1>Thank-you for voting!</h1>

  <p><a href="{{ base_url }}">Return to the information page</a></p>

{% endblock %}