{% extends 'base.html' %}
{% load compressed %}
{% load staticfiles %}

{% block title %}Women in Kenyan Parliament{% endblock %}

{% block body_attributes %}class="women"{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. #}
{% endblock %}

{% block page %}
<div id="page">

    <div class="women__intro">
        <div class="container">
            <h1>Women in Parliament</h1>
            <div class="women__intro__text">
                <p>The underrepresentation of Kenyan women in matters of politics and governance necessitated the formulation of the two thirds gender principle to ensure that women have a say. Despite the introduction of the two thirds gender rule, Women Parliamentarians continue to be subjected to stereotypes, sexism and accusations of incompetence.</p>
                <p>Mzalendo’s analysed their contributions to the Hansard for the March 2013 – June 2015 period to assess the value they bring to their constituencies, counties and the country as a whole.</p>
            </div>
            <div class="women__intro__stats">
                <table class="stats-box">
                    <tr>
                        <td class="centered" style="width: 40%"><strong>86</strong> women parliamentarians</td>
                        <td colspan="2" style="width: 60%">
                            <ul>
                                <li><strong>47</strong> women representatives</li>
                                <li><strong>16</strong> elected members</li>
                                <li><strong>5</strong> nominated members</li>
                                <li><strong>18</strong> nominated senators</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" style="width: 50%">
                            <ul>
                                <li><strong>1</strong> Deputy Speaker
                                <li><strong>8</strong> committee chairwomen</li>
                                <li><strong>9</strong> committee vice-chairs</li>
                            </ul>
                        </td>
                        <td style="width: 50%">
                            Plus a Senate Majority Chief Whip
                            and Minority Deputy Chief Whip
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>

    <div class="women__main">
        <div class="container">
            <h2>Kenya’s leading women</h2>

            <div class="women__main__primary">
                <div class="person-gallery">

                    {% include "_person_gallery_item.html" with section="Coastal Region Counties" name="Zainab Chidzuga" url="/person/zainab-kalekye-chidzuga/" photo_url="http://info.mzalendo.com/media_root/cache/a3/86/a386615fbd0f4f8b3dfdd95c21e98d72.jpg" bio='Zainab was vocal on the Standard Gauge Railway and land. Others that stood out were <a href="/person/mishi-juma-khamisi/">Mishi Juma</a> and <a href="/person/halima-ware-duri/">Halima Duri</a> on Security and extra-judicial killings.' %}

                    {% include "_person_gallery_item.html" with section="Eastern Region Counties" name="Rachael Nyamai" url="/person/rachael-kaki-nyamai/" photo_url="http://info.mzalendo.com/media_root/cache/3c/9d/3c9d5a0dce9fa5f4d3e5d9873c7ed57a.jpg" bio='Rachael, who has sponsored 4 Bills on health related issues, particularly stands out. Plus <a href="/person/susan-mbinya-musyoka/">Dr. Susan Musyoka</a> and <a href="/person/joyce-wanjalah-lay/">Joyce Lay</a> for their contributions on health matters and mining issues respectively.' %}

                    {% include "_person_gallery_item.html" with section="Mt. Kenya Region Counties" name="Florence Kajuju" url="/person/florence-kajuju/" photo_url="http://info.mzalendo.com/media_root/cache/c4/c3/c4c32271984a4b147ef2a6cf56191a52.jpg" bio='Florence stands out for her contributions towards the miraa issue as well as her vast contributions on matters of regional integration, a committee which she chairs. Others are <a href="/person/sabina-wanjiru-chege/">Sabina Chege</a> and <a href="/person/annah-nyokabi-gathecha/">Annah Gathecha</a> for contributions to education and financial prudence.' %}

                    {% include "_person_gallery_item.html" with section="Northern Region Counties" name="Joyce Emanikor" url="/person/joyce-akai-emanikor/" photo_url="http://info.mzalendo.com/media_root/cache/be/a2/bea2c74952573fde4c7d09ee78713075.jpg" bio='Joyce stood out in this region for vast contributions on a number of issues including the Prohibition of Anti-Personnel Mines Bill, teacher shortages in Turkana, Mining, Equalization Fund, Corruption, Fishing micro finance loans and Youth employment. Special mention also goes to <a href="/person/fatuma-ibrahim-ali/">Fatuma Ibrahim</a> and <a href="/person/maison-leshoomo/">Maison Leshoomo</a> on Kenya Police Reservists and cattle rustling challenge.' %}

                    {% include "_person_gallery_item.html" with section="North Rift Region Counties" name="Joyce Laboso" url="/person/joyce-laboso/" photo_url="http://info.mzalendo.com/media_root/cache/5c/6e/5c6ee6605e20a81a148ef2cdf4841221.jpg" bio='A key figure to note not just because of her immense contributions but also because she is the first woman deputy speaker in Kenya’s parliament. Others who stand out are <a href="/person/grace-jemutai-kiptui/">Grace Kiptui</a> and <a href="/person/cecilia-chelangat-ngetich/">Cecilia Ng’etich</a>.' %}

                    {% include "_person_gallery_item.html" with section="Western Region Counties" name="Millie Odhiambo" url="/person/millie-odhiambo-mabona/" photo_url="http://info.mzalendo.com/media_root/cache/51/bf/51bf22f2e99efb8f5ccc875907fd4f50.jpg" bio='A sponsor of two Bills: the Victim Protection Bill and the In-Vitro Fertilization Bill. Others who have contributed significantly on a varied number of topics including youth employment, disability, laptop project, and the Uwezo fund are <a href="/person/gladys-atieno-nyasuna/">Gladys Wanga</a> and <a href="/person/rose-auma-ogendo/">Rose Nyamunga</a>.' %}

                    {% include "_person_gallery_item.html" with section="Nominated MPs" name="Amina Abdalla" url="/person/amina-abdalla/" photo_url="http://info.mzalendo.com/media_root/cache/9f/45/9f450be8755f719679487e47250f9cf7.jpg" bio='Amina was outstanding in relation to her contributions on The Water Bill, which she sponsored. Other issues she covered include judiciary budget estimates, poaching and wildlife conservation, and cabinet secretaries nominations. <a href="/person/sunjeev-kour-birdi/">Sunjeev Birdi</a> and <a href="/person/zulekha-juma-hassan/">Zuleikha Juma</a> also made numerous contributions on garbage disposal, scrap metal, mining and election campaign financing.' %}

                    {% include "_person_gallery_item.html" with section="Nominated Senators" name="Agnes Zani" url="/person/agnes-zani/" photo_url="http://info.mzalendo.com/media_root/cache/9c/c6/9cc6ba60f8f1eb8fd6a527a0e99abe56.jpg" bio='Sponsored the Mining bill which seeks to overhaul management of the sector in line with the Constitution. Others are: <a href="/person/beatrice-elachi/">Beatrice Elachi</a> and <a href="/person/elizabeth-ongoro/">Elizabeth Ongoro</a> on food security and pre-primary education respectively.' %}
                </div>
            </div>

            <div class="women__main__secondary">
                <h2>Key findings</h2>
                <ul>
                    <li>Women representation in Parliament - National Assembly and Senate - stands at 21%.</li>
                    <li>Contrary to popular opinion County Women Representatives do not only represent women’s agenda but represent all the challenges faced in their counties including problems that affect the men.</li>
                    <li>Women Parliamentarians – whether elected, nominated or selected under affirmative action provide just as much value as the male Parliamentarians.</li>
                    <li>Women Parliamentarians contributions are greatly influenced by their level of education, professional background, work and life experience.</li>
                    <li>Women Parliamentarians have the ability to support each other for influence and use theirs numbers for leverage on important issues.</li>
                </ul>

                <h2>Roles of Parliamentarians</h2>
                <p>Parliamentarians roles are not demarcated based on gender.</p>

                <h3>The Members of the National Assembly including the Women Representatives:</h3>
                <ol>
                    <li>Represent their constituents and special interest groups issues and opinions.</li>
                    <li>Enact legislation in accordance with the Constitution.</li>
                    <li>Exercise budgetary oversight between the levels of government especially over the National level of Government.</li>
                    <li>Review the conduct in office of the President and his Deputy, other State officers and initiates the process of removing them from office; and exercises oversight of State organs.</li>
                    <li>Approve declarations of war and extensions of states of emergency.</li>
                </ol>

                <h3>Senators:</h3>
                <ol>
                    <li>Represent and protect the interests of the counties and their governments.</li>
                    <li>Consider, debate and approve Bills concerning counties.</li>
                    <li>Determine the allocation of national revenue among counties, and exercise oversight over national revenue allocated to the county governments.</li>
                    <li>Exercise oversight over State officers especially any resolution to remove the President or Deputy President from office.</li>
                </ol>
            </div>
        </div>
    </div>

    <div class="women__outro">
        <div class="container">
            <h2>Which issues have Women Parliamentarians contributed to in the National Assembly and Senate?</h2>
            <p>Women Parliamentarians contributions span a wide variety of interests and topics, disproving the notion that most women parliamentarians only cover issues related to women.</p>
            <div class="issues-word-cloud">
              <img src="{% static 'images/women-representative-topics-wordle.png' %}">
            </div>
        </div>
    </div>

</div>
{% endblock %}
