{% extends 'base.html' %}

{% comment %}

  This page has the thank-you message that's shown when someone
  votes on whether the MP proposing the bill cares about their input
  using the "input" form.

{% endcomment %}

{% block title %}Thank-you!{% endblock %}

{% block body_attributes %}class="youth-employment"{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on this page. #}
    <div id="breadcrumb-replacement"></div>
{% endblock %}

{% block content %}

  <h1>Thank-you for submitting your message</h1>

  <p><a href="{{ base_url }}">Return to the information page about unemployment</a></p>

{% endblock %}
