/* appearances tab bits */
h2 a.appearances-trigger {
  background: url(../images/chevron-right-alt.png) right center no-repeat;
  display: block;
  &.active {
    background: url(../images/chevron-down-alt.png) right center no-repeat; } }
