#staging_header {
  background-color: #f8dbdb;
  color: #903233;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  text-align: center; }

.notice {
  @media print { display: none; }
  text-align: center;
  padding: 0.5em;
  background-color: #f7f7f7; }

div.error {
  border: 2px solid #f00;
  background-color: #fcc;
  text-align: center;
  font-size: 125%;
  padding: 5px;
  margin: 1em 0; }

ul.ui-autocomplete {
  li {
    list-style: none; } }

// used to show the view as grid/list links
.view-selector {
    float: right;
}

.grid-listing {
    overflow: auto;

    @include display-flex();
    @include flex-wrap(wrap);

    @media (min-width: 40em){
        margin: -10px;
    }

    * {
        box-sizing: border-box;
    }
}

.grid-listing-item {
    box-sizing: border-box;
    float: left;
    width: 100%;
    padding: 10px;

    @media (min-width: 20em){
        width: 50%;
    }

    @media (min-width: 30em){
        width: 33%;
    }

    @media (min-width: 45em){
        width: 25%;
    }

    a {
        display: block;
        padding: 10px;
        @include box-shadow(rgba(0, 0, 0, 0.2) 0 1px 2px);
        background-color: #f2f0e7;
        height: 100%;

        @media (min-width: 40em){
            padding: 1em;
        }

        &:hover,
        &:focus {
            background-color: darken(#f2f0e7, 5%);

            .parent-place {
                color: inherit;
            }
        }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    .name {
        font-size: 120%;
        display: block;
        margin-top: 0.5em;
    }

    .place {
        display: block;
        margin-top: 0.5em;
    }

    .parent-place {
        display: block;
        color: #a7a28d;
        margin-top: 0.1em;
    }
}
