#staging_header {
  background-color: #f8dbdb;
  color: #903233;
  font-size: 12px;
  line-height: 14px;
  padding: 10px;
  text-align: center; }

.notice {
  @media print { display: none; }
  text-align: center;
  padding: 0.5em;
  background-color: #f7f7f7; }

div.error {
  border: 2px solid #f00;
  background-color: #fcc;
  text-align: center;
  font-size: 125%;
  padding: 5px;
  margin: 1em 0; }

ul.ui-autocomplete {
  li {
    list-style: none; } }

// used to show the view as grid/list links
.view-selector {
    float: right;
}

.grid-listing-item {
    float: left;
    width: 210px;
    margin: 10px;
    padding: 5px;
    overflow: hidden;

    span.name {
        font-size: 120%;
        display: block;
        height: 2.5em;
        overflow: hidden;
    }

    @include box-shadow(rgba(0, 0, 0, 0.3) 1px 1px 12px);
}
