#site-footer {
  clear: both;
  border-top: 4px solid $colour_primary;
  background: $colour_muted;
  overflow: hidden;

  > .wrapper {
    display: table;
    caption-side: top;
    position: relative;
    padding-top: 5px;
  }

  .footer-section {
    border-top: 2px solid $colour_primary;
    padding: 10px;

    @media print { display: none; }

    &:first-child {
      border: none;
    }
  }

  h4 {
    font-size: 120%;
    color: $colour_primary;
  }

  .footer-section > h4 {
    margin-top: 1em;
  }

  p {
    font-style: italic;
    color: $colour_blackish;
  }

  ul {
    @include list-reset-soft;
    clear: both;

    li {
      padding: 5px 0;
      a:hover {
        text-decoration: none;
      }
    }
  }

  .subscribe-box {
    display: table-caption;
    padding: 20px;
    background: $colour_primary;

    @media print { display: none; }

    h2 {
      color: $colour_white;
      margin: 0;
      text-transform: uppercase;
      font-weight: normal;
    }

    form {
      label {
        display: block;
        color: $colour_white;
        font-size: 15px;
        margin: 15px 0 10px 0;
      }

      .subscribe-fields {
        overflow: hidden;

        input.email {
          height: 20px;
          border: none;
          font-size: 15px;
          padding: 6px 8px;
          width: 200px;
        }

        input.button {
          vertical-align: top;
          cursor: pointer;
          width: 32px;
          height: 32px;
          border: none;
          margin-left: -4px;
          text-indent: -999999px;
          background: $colour_blackish url(../images/chevron-right.png) 9px center no-repeat;
          @include background(url(../images/chevron-right.png) 9px center no-repeat, linear-gradient($colour_blackish, $colour_black));

          &:hover {
            background: $colour_blackish / 0.9 url(../images/chevron-right.png) 9px center no-repeat;
            @include background(url(../images/chevron-right.png) 9px center no-repeat, linear-gradient($colour_blackish / 0.9, $colour_black));
          }

          &:active {
            background: $colour_black url(../images/chevron-right.png) 9px center no-repeat;
            @include background(url(../images/chevron-right.png) 9px center no-repeat, linear-gradient($colour_black, $colour_blackish));
          }
        }
      }
    }
  }
}

#site-footer {
  div.attribution {
    font-size: 80%;
    color: $colour_grey;
    text-align: center;
    margin: 0.5em;
    clear: both;
  }
}

@media only all and (min-width: 640px), print {
  #site-footer {
    padding: 0 10px;

    > .wrapper {
      display: block;
      padding: 0;
    }

    .footer-section {
      border: none;
      float: left;
      max-width: 250px;
      width: 30%;
    }

    ul {
      @include list-reset-soft;
      clear: none;
      margin: 10px 30px 0 0;
    }

    .subscribe-box {
      display: block;
      float: right;

      h2 {
        background: none;
      }
    }
  }
}

@media only all and (min-width: 960px), print {
  #site-footer {
    padding: 0;
  }
}

