.hide-reveal-link {
    display: block;
    padding: 0.5em 0;
}

.has-dropdown-dark {
    background-image: url('/static/images/has-dropdown-dark.png');
    background-position: 100% 1em;
    background-repeat: no-repeat;

}
