#home-hero {
  background: $colour_light_grey;
  @include border-radius(3px);
  padding: 40px;
  border: 1px solid darken($colour_light_grey, 10%);
  margin-bottom: 30px;

  @media only screen and (max-width: 640px) {
    padding: 20px;
    @include border-radius(0);
  }
}

#home-quote {
  margin: 0 auto 40px auto;
  width: 60%;

  @media only screen and (max-width: 800px) {
    width: 80%;
  }

  @media only screen and (max-width: 640px) {
    width: auto;
    margin-bottom: 20px;
  }

  p {
    font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    line-height: 28px;
  }

  footer {
    color: #999;
  }
}

#home-cta {
  display: table;
  width: 70%;
  margin: 0 auto;

  @media only screen and (max-width: 800px) {
    width: 80%;
  }

  @media only screen and (max-width: 640px) {
    width: auto;
  }

  a {
    display: table-cell;
    width: 50%;
    background: darken($colour_primary_mid, 10%) url(../images/search-50px.png) 10px 50% no-repeat;
    padding: 10px 10px 10px 70px;
    color: #fff;
    @include border-top-left-radius(4px);
    @include border-bottom-left-radius(4px);
    text-align: left;
    font-size: 16px;
    line-height: 21px;

    @media only screen and (max-width: 640px) {
      padding-left: 10px;
      background-image: none;
    }

    strong {
      display: block;
    }

    &:hover, &:focus {
      text-decoration: none;
      background-color: darken($colour_primary_mid, 15%);;
    }
  }

  a + a {
    background-color: $colour_primary_mid;
    background-image: url(../images/hansard-50px.png);
    border-left: 2px solid $colour_light_grey;
    @include border-radius(0);
    @include border-top-right-radius(4px);
    @include border-bottom-right-radius(4px);

    @media only screen and (max-width: 640px) {
      background-image: none;
    }

    &:hover, &:focus {
      background-color: darken($colour_primary_mid, 5%);
    }
  }
}

#home-intro p {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 40px;
}




.featured-person {
  color: $colour_dark_grey;
  margin: 0 0 30px 0;
  border-top: 3px solid $colour_middling_grey;
  border-bottom: 3px solid $colour_middling_grey;
  background: $colour_light_grey;
  overflow: hidden;
  img {
    float: left;
    max-width: 90px;
    height: auto; }
  .featured-person-info {
    position: relative;
    margin-left: 110px;
    min-height: 130px;
    .feature-nav {
      display: none; }
    h2 {
      padding-left: 0 !important;
      margin-bottom: 0 !important;
      a {
        font-size: 18px;
        text-transform: none;
        &:hover {
          text-decoration: none; } } }
    .feature-person-role {
      color: $colour_grey;
      font-style: italic; }
    .feature-person-summary {
      display: none; }
    .rating-container {
      position: absolute;
      bottom: 0;
      right: 10px;
      margin: 0;
      .rating {
        max-width: 300px;
        margin: 0 40px 7px 0;
        font-size: 17px;
        a {
          color: $colour_dark_grey;
          &:hover {
            text-decoration: none;
            color: $colour_black; } } }
      .rating-img {
        position: absolute;
        right: 0;
        bottom: 0;
        height: 32px;
        width: 32px;
        &.bad {
          background: url(/static/images/d-smiley-sprite.png) -78px -82px no-repeat; }
        &.average {
          background: url(/static/images/d-smiley-sprite.png) -40px -42px no-repeat; }
        &.good {
          background: url(/static/images/d-smiley-sprite.png) -1px 0 no-repeat; } } } }
  &.featured-person-placeholder {
    text-align: center;
    height: 250px;
    background: $colour_primary url(/static/images/logo-450-x-150.png) center center no-repeat; }
  &.featured-person-loading {
    height: 250px;
    text-align: center;
    p {
      margin: 30px 0;
      color: $colour_grey; } } }

ul#home-news-list {
  @include list-reset-soft;
  border-top: 5px solid $colour_light_grey;
  padding-top: 15px;
  li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 3px solid $colour_light_grey;
    &:last-child {
      border-bottom: 0; }
    h3, p {
      padding: 0 10px;
      margin: 0;
      a {
        text-decoration: none; } }
    p {
      &.meta {
        font: {
          style: italic;
          size: 13px; };
        margin-bottom: 10px; } }
    img {
      float: right;
      margin: 0 10px; } } }

#twitter,
.tw-nub,
.tw-follow {
  display: none;
}

@media only all and (min-width: 640px), print {
  ul#home-news-list {
    margin-top: 15px;
    li {
      h3, p {
        padding: 0; }
      img {
        margin-right: 0; } } }
  #twitter {
    display: block;
    float: left;
    width: 375px;
    h2 {
      color: $colour_grey;
      font-size: 18px;
      text-transform: uppercase; }
    .twitter-feed {
      border: 4px solid #dddddd; }
    .tw-wrap {
      padding: 20px;
      min-height: 58px;
      background: url(../images/quotes.png) 10px 10px no-repeat; }
    p {
      margin: 0;
      &.meta {
        color: $colour_grey;
        margin-top: 10px;
        font: {
          size: 13px;
          style: italic; }; } }
    .btn-text-green {
      margin-top: 10px;
      float: right; } }

  .featured-person {
    border: 1px solid $colour_middling_grey;
    img {
      max-width: 180px; }
    .featured-person-info {
      margin-left: 200px;
      max-width: 300px;
      min-height: 180px;
      .feature-nav {
        display: block;
        float: right;
        a {
          @include button-reset;
          display: block;
          width: 20px;
          height: 22px;
          float: left;
          @include opacity(0.7); }
        .feature-prev {
          background: transparent url(../images/chevron-left-alt.png) center no-repeat;
          margin-right: 10px;
          &:hover {
            @include opacity(1); } }
        .feature-next {
          background: transparent url(../images/chevron-right-alt.png) center no-repeat;
          &:hover {
            @include opacity(1); } } }
      h2 {
        margin: 15px 0 0 0 !important;
        line-height: 30px;
        a {
          font-size: 24px; } }
      .feature-person-summary {
        display: block;
        padding: 0 0 40px 0;
        p {
          font-size: 12px; } }
      .rating-container {
        bottom: 10px;
        .rating {
          margin: 0 40px 15px 0; }
        .rating-img {
          bottom: 10px; } } } } }

