body {
  // default highlight on buttons links etc
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  // Prevent mobile zooming while remain desktop zooming.
  // github.com/shichuan/mobile-html5-boilerplate/issues/closed#issue/14
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
  font-family: 'Arial', sans-serif;
  color: #444;
  font-size: 100%;
  background: $colour_muted; }

p, h1, h2, h3 {
  margin-bottom: 15px;
  line-height: 20px; }

h1, h2, h3, h4 {
  color: $colour_black; }

p {
  font-size: 14px;
  line-height: 20px; }

a {
  color: $colour_primary;
  text-decoration: none;
  &:hover {
    color: #004422;
    text-decoration: underline; } }

h1 {
  font: {
    size: 24px;
    weight: bold; };
  line-height: 25px; }

h2 {
  font: {
    size: 18px;
    weight: bold; };
  margin-bottom: 10px; }

h3 {
  font: {
    size: 16px;
    weight: bold; };
  margin-bottom: 10px; }

h4 {
  font: {
    size: 14px;
    weight: bold; }; }

ul, ol {
  @include list-reset-copy; }

ol li {
  list-style: decimal; }

dl {
  dt {
    font: {
      size: 14px;
      weight: bold; };
    line-height: 20px; }
  dd {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 5px; } }

b, strong {
  font-weight: bolder; }

i, em {
  font-style: italic; }

blockquote {
  padding-left: 10px;
  p:before {
    content: '“'; }
  p:after {
    content: '”'; } }

pre {
  font-family: monospace; }
