/* Formatting for SayIt speeches, within the South African
   installation of Pombola.  Much of this is copied, with minor
   changes, from Martin Wright's work in SayIt, in particular from
   web/sass/speeches.scss

   This couldn't easily be included and used verbatim, because it's
   based on Foundation CSS, which the Pombola front-end doesn't use.
*/

.speaker-portrait-wrapper {

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    float: left;
    padding-left: 0;
    padding-right: 0;
    width: 8.33333%;
}

.speech-wrapper {

    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */

    float: left;
    /* padding-left: 0.75em; */
    padding-left: 1.5em;
    padding-right: 0.75em;
    width: 91.666%;
}

.speech.speech-border .label {
    display: none;
}

.speech__content {
    clear: both;
}

.speech {
  padding-top: 1em;
  position: relative;
  @include clearfix;
}

.speech.speech-border {
}

li.speech.speech-border {
    list-style-type: none
}

ul li.speech {
    line-height: 1.6;
}

.speech__content {
    clear: both;
    margin-top: 0;
    padding-bottom: 2.5em;
    border-bottom: 1px solid $colour_light_grey;
}

.speech__links {
  position: absolute;
  bottom: -0.25em;
  right: 0;
  padding: .5em 1em 1em 0;
  z-index: 300;
  a {
    color: $colour_dark_grey;
    font-size: emCalc(14);
    margin-left: 1.5em;
    padding-left: 1em;
    display: inline-block;
    position: relative;
    &:hover,
    &:active,
    &:focus {
      color: $colour_primary;
    }
  }
}

/* Icons for speech links */
.speech-icon {
  height: 21px;
  width: 21px;
  display: inline-block;
  @include background-size(60px 20px); /* This is to render the @2 size sprite correctly, change this if more sprites are added to the .png */
  background-image: url('/static/images/link-icons.png');
  @media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
      background-image: url('/static/images/link-icons@2.png');
  }
  background-position: 0 0;
  background-repeat: no-repeat;
  position: absolute;
  top: 0.1em;
  left: -0.75em;
  &.icon-link {
    background-position-x: -40px
  }
  &.icon-link-in-context {
    background-position-x: -20px
  }
}

/* Highlight the speech which is specified in the fragment */
.speech:target {
    background-color: #ffc;
}
