/* $inactive-place-color: #cccccc;

.search-wrap {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 30px;
  margin: 0 10px;
  .inactive {
    background-color: #fcfcfc;
    color: $inactive-place-color;
    h4 a {
      color: $inactive-place-color;
    }
  } }

.search-box {
  display: inline-block;
  color: $colour_white;
  width: auto;
  margin-bottom: 10px;
  input#id_q, input#loc {
    float: left;
    height: 20px;
    border: none;
    font-size: 15px;
    padding: 4px 6px;
    border-top: 3px solid $colour_blackish;
    border-left: 3px solid $colour_blackish;
    border-bottom: 3px solid $colour_blackish;
    @include border-radius(4px 0 0 4px);
    &:focus {
      outline: none;
      @include box-shadow(inset rgba(0, 0, 0, 0.5) 0 0 4px); } }
  input.button {
    cursor: pointer;
    float: left;
    width: 34px;
    height: 34px;
    border: none;
    margin-left: -2px;
    text-indent: -999999px;
    @include border-radius(0 4px 4px 0);
    background: $colour_blackish url(../images/search-icon.png) 9px center no-repeat;
    @include background(url(../images/search-icon.png) 9px center no-repeat, linear-gradient($colour_blackish, $colour_black));
    &:hover {
      background: $colour_blackish / 0.9 url(../images/chevron-right.png) 9px center no-repeat;
      @include background(url(../images/search-icon.png) 9px center no-repeat, linear-gradient($colour_blackish / 0.9, $colour_black)); }
    &:active {
      background: $colour_black url(../images/chevron-right.png) 9px center no-repeat;
      @include background(url(../images/search-icon.png) 9px center no-repeat, linear-gradient($colour_black, $colour_blackish)); } } }

#search-hansard-instead {
  padding-left: 0.5em; }


.geocoded_results {

  background: $colour_lighter_grey;
  padding: 1em;
  margin-bottom: 1em;

  #map_canvas {
    float: right;
  }

}
*/

.global-search-form {
  margin-bottom: 2em;
}

.open-advanced-search {
  font-size: 0.875em;
}

.inline-search-box {
  width: auto;
  max-width: 640px;
  margin-bottom: 1em;
  label {
    display: none;
  }
  input[type=text] {
    font-size: 1em;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 0.666em;
    border: 1px solid $colour_muted;
    width: 66%;
    @media only all and (min-width: 640px) {
      width: 75%;
    }
    display: inline-block;
  }

  .button {
    display: inline-block;
    background-color: $colour_primary;
    font-size: 0.875em;
    text-align: center;
    padding: 1em 1.33em;
    font-weight: normal;
    font-weight: normal;
    border: none;
    color: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    text-decoration: none;
  }

}

.advanced-search-options {
  padding: 1em;
  background-color: $colour_lighter_grey;
  margin-top: 1em;
  .radio-button-columns {
    width: 48%;
    margin-right: 1%;
    @media only all and (min-width: 640px) {
       width: 30%;
       margin-right: 2%;
    }
    display: inline-block;
    margin-bottom: 0.75em;
    font-size: 0.875em;
  }
}

.global-search-results {
  em {
    font-style: normal;
    background-color: #fff9a3;
    padding: 0 3px;
  }
  a {
    &:hover,
    &:active,
    &:focus {
      em {
        text-decoration: none;
        color: $colour_black;
      }
    }
  }
  .read-more {
    font-size: 0.75em;
    color: $colour_blackish;
  }
}

.search-results-item {
  width: 100%;
  margin: 1em 0 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid $colour_muted;
  clear: both;
  p:last-child {
    margin-bottom: 0;
  }
  h3 {
    font-size: 21px;
    a {
      text-decoration: none;
      &:hover,
      &:active,
      &:focus {
        text-decoration: underline;
      }
    }
  }
}

.search-image-thumbnail {
  float: left;
  img {
    max-width: 45px;
    @media only all and (min-width: 640px) {
      max-width: 90px;
    }
    height: auto;
  }
}

.search-result-body {
  margin-left: 65px;
  min-height: 45px; /* Same as the height of the image thumbnail */
  @media only all and (min-width: 640px) {
    margin-left: 110px;
    min-height: 90px; /* Same as the height of the image thumbnail */
  }

}
