/* $inactive-place-color: #cccccc;

.search-wrap {
  border-bottom: 1px solid #dddddd;
  padding-bottom: 30px;
  margin: 0 10px;
  .inactive {
    background-color: #fcfcfc;
    color: $inactive-place-color;
    h4 a {
      color: $inactive-place-color;
    }
  } }

.search-box {
  display: inline-block;
  color: $colour_white;
  width: auto;
  margin-bottom: 10px;
  input#id_q, input#loc {
    float: left;
    height: 20px;
    border: none;
    font-size: 15px;
    padding: 4px 6px;
    border-top: 3px solid $colour_blackish;
    border-left: 3px solid $colour_blackish;
    border-bottom: 3px solid $colour_blackish;
    @include border-radius(4px 0 0 4px);
    &:focus {
      outline: none;
      @include box-shadow(inset rgba(0, 0, 0, 0.5) 0 0 4px); } }
  input.button {
    cursor: pointer;
    float: left;
    width: 34px;
    height: 34px;
    border: none;
    margin-left: -2px;
    text-indent: -999999px;
    @include border-radius(0 4px 4px 0);
    background: $colour_blackish url(../images/search-icon.png) 9px center no-repeat;
    @include background(url(../images/search-icon.png) 9px center no-repeat, linear-gradient($colour_blackish, $colour_black));
    &:hover {
      background: $colour_blackish / 0.9 url(../images/chevron-right.png) 9px center no-repeat;
      @include background(url(../images/search-icon.png) 9px center no-repeat, linear-gradient($colour_blackish / 0.9, $colour_black)); }
    &:active {
      background: $colour_black url(../images/chevron-right.png) 9px center no-repeat;
      @include background(url(../images/search-icon.png) 9px center no-repeat, linear-gradient($colour_black, $colour_blackish)); } } }

#search-hansard-instead {
  padding-left: 0.5em; }


.geocoded_results {

  background: $colour_lighter_grey;
  padding: 1em;
  margin-bottom: 1em;

  #map_canvas {
    float: right;
  }

}
*/

.search-section-box {

}

.open-advanced-search {
  font-size: 0.875em;
}

.inline-search-box {
  width: auto;
  max-width: 640px;
  margin-bottom: 1em;
  label {
    display: none;
  }
  input[type=text] {
    font-size: 1em;
    height: 2.75em;
    line-height: 2.75em;
    padding: 0 0.666em;
    border: 1px solid $colour_muted;
    width: 66%;
    @media only all and (min-width: 640px) {
       width: 75%;
    }
    display: inline-block;
  }

  .button {

  }

}

.advanced-search-options {
  padding: 1em;
  background-color: $colour_lighter_grey;
  margin-top: 1em;
  .radio-button-columns {
    width: 32%;
    display: inline-block;
  }
}
