#logo {
  background: url('//placehold.it/147x23') 0 center no-repeat;
  @media only all and (min-width: 640px), print {
    background: url('//placehold.it/418x34') 0 center no-repeat;
  }
}

#main-menu {
    background: #E23D28; /*is this working?*/
}
