
$border_radius: 5px;

@font-face {
    font-family: 'latobold';
    src: url('/static/fonts/lato-bold-webfont.eot');
    src: url('/static/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/lato-bold-webfont.woff') format('woff'),
         url('/static/fonts/lato-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoitalic';
    src: url('/static/fonts/lato-italic-webfont.eot');
    src: url('/static/fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/lato-italic-webfont.woff') format('woff'),
         url('/static/fonts/lato-italic-webfont.ttf') format('truetype'),
         url('/static/fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('/static/fonts/lato-regular-webfont.eot');
    src: url('/static/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/lato-regular-webfont.woff') format('woff'),
         url('/static/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin lato-regular {
    font-family: 'latoregular', 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans;
}
@mixin lato-bold {
    font-family: 'latobold', 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans;
}
@mixin lato-italic {
    font-family: 'latobold', 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans;
}


#staging_header {
    background-color: #555;
    color: #ccc;
    padding: 10px;
    strong{
        color: #ddd;
    }
}


html{
    background-image: none;
    background: $colour_footer_background;
}
body
{
    background-image: none;
    background: $colour_main_background;
}
#page,
#breadcrumb-replacement
{
    background: $colour_main_background;
}
a {
    color: $colour_secondary;
    &:hover{
        color: mix($colour_secondary, #fff, 80%);
    }
}


/*

HEADER

*/

#site-header{
    height: 110px;
    background-image: none;
    background: $colour_main_background;
}

#logo {
    width: 540px;
    max-width: 100%;
    height: 84px;
    background: url('/static/images/za-logo.png') 0 center no-repeat;
    @media only all and (min-width: 640px), print {
      background: url('/static/images/za-logo.png') 0 center no-repeat;
    }
}

#main-menu {
    background: $colour_primary;
}
#main-menu nav{
    text-align: left;
    ul{
        border: none;
        width: 100%;
        li{
            border: none;
            &.header-search{
                float: right;
            }
            a{
                background: $colour_primary;
                @include lato-regular;
                &:hover{
                    background: mix($colour_primary, #000, 80%);
                }
            }
            &.active a,
            &.active a:hover
            {
                color: #fff;
                border:none;
                padding:8px 10px;
                margin:0;
                background: mix($colour_primary, #000, 80%);
            }
            ul{
                a,
                a:hover
                {
                    background: mix($colour_primary, #000, 80%);
                }
            }
            &:hover {
                ul {
                    border: none;
                    li {
                        a {
                            background: mix($colour_primary, #000, 80%);
                            color: #fff;
                            &:hover {
                                background: $colour_primary;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
}
#header-search{
    border: 1px solid mix($colour_primary, #000, 75%);
    background: #fff;
    input,button{
        border:none;
        background: transparent;
    }
    button{
        background-image: url(/static/images/header_search.png);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 0;
        &:hover{
            background-color: #eee;
        }
    }
}


/*

HOME PAGE INTRO BOX

*/
#front_intro{
    background-color: #027857;
    padding: 2em 0;
    @include lato-regular;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center top;
    background-image: url(/static/images/intro-bg.jpg);
}
#front_intro .btn-text-green{
    font-size: 14px;
    text-align: center;
    width: 100%;
    -moz-box-sizing: border-box;
          box-sizing: border-box;
    padding: 1em 0.5em;
    box-shadow: 0px 3px 0px #af201a;
}
#home-search{
    background: transparent;
    margin: 0;
    margin-top: 30px;
    padding: 0;
    overflow: visible;

    label{
        @include lato-regular;
        font-size: 0.96em;
        font-weight: normal;
        text-shadow: 0px 1px 2px rgba(2, 111, 82, 1);
    }
    input{
        width: 78%;
        margin-right: 1%;
        -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
    button{
        width:20%;
        box-shadow: 0px 2px 0px #af201a;
        &:hover{
            background-color: rgb(251, 67, 44);
        }
    }
}

#home-featured-person,
.featured-person
{
    margin-bottom: 0;
    border-radius: $border_radius;
    border-color: rgba(255,255,255,0.3)
}
.featured-person.featured-person-placeholder{
    background-color: transparent;
}

#page .home-left h2#home-intro,
#page .home-right h2#home-intro
{
    display: block;
}

#front_intro .home-left{
    width: 550px;
}

#front_intro .home-right{
    width: 304px;
    float: right;
}

#front_intro .home-right h2{
    color: #fff;
    text-transform: none;
    line-height: 1.4;
    @include lato-regular;
    font-weight: normal;
    text-shadow: 0px 1px 4px rgba(2, 111, 82, 1);
}
#page .home-left h2{
    display:none;
}



/*

NEWS & POLL

*/

#news,
#poll
{
    padding: 2em 0;
    float:left;
    width:656px;
    max-width: 100%;
    h2{
        @include lato-regular;
        font-weight: normal;
        text-transform: uppercase;
    }
    h3 a,
    a.readmore
    {
        color: $colour_primary;
        @include lato-bold;
        font-weight: normal;
    }
}
#poll{
    float:left;
    width: 304px;
}
ul#home-news-list{
    border:none;
    padding:0;
    margin-top: 0;
    li{
        border:none;
        width: 304px;
        float: left;
        padding-right: 24px;
    }
}




/*

FOOTER

*/
#site-footer{
    background: $colour_footer_background;
    border-top: mix($colour_footer_background, #000, 70%) 2px solid;
    font-size: 12px;
    line-height: 18px;
    color: $colour_middling_grey;
    div.footer-section {
        @media all and (min-width: 640px) {
            margin: 0 0 1em 0;
            padding: 0;
            width: 31.666666667%;
            margin-left: 2.5%;
            max-width: none;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    p {
        font-style: normal;
        color: inherit;
        font-size: inherit;
    }
    ul li {
        font-size: inherit;
    }
    h4 {
        @include lato-bold;
        text-transform: uppercase;
        font-size: 12px;
        color: $colour_middling_grey;
    }
    a:link,
    a:visited {
        color: $colour_secondary;
    }
    a:hover,
    a:focus,
    a:active,
    ul li a:hover {
        color: $colour_primary;
        text-decoration: underline;
    }

    .social-links-list {
        li {
            display: inline;
        }
        li a {
            display: inline-block;
            text-indent: -9999px;
            height: 38px;
            width: 38px;
            background-image: url('/static/images/social-icons.png');
            background-position: 0 -1px;
            background-repeat: none;
            margin-right: 8px;
            &:hover {
                background-position-y: -41px;
            }
        }

        .facebook-social-icon {
            background-position-x: 0;
        }
        .twitter-social-icon {
            background-position-x: -51px;
        }
        .youtube-social-icon {
            background-position-x: -101px;
        }
        .rss-social-icon {
            background-position-x: -150px;
        }
    }

    .contact-details {
        line-height: 16px;
        h5 {
            margin-top: 1em;
            font-weight: bold;
            margin-bottom: .5em;
        }
        .block {
            display: block;
            margin-bottom: 0.1em;
        }
        .col-one,
        .col-two {
            width: 46.0526316%;
            float: left;
        }
        .col-two {
            margin-left: 7.8947368%;
        }
    }

    .utilities {
        text-align: right;
        margin: 0;
        li {
            display: inline-block;
            margin-left: 12px;
        }
    }
    div.attribution {
        max-width: 960px;
        margin: .5em auto;
        text-align: right;
        font-size: inherit;
    }
}