
$border_radius: 5px;

@font-face {
    font-family: 'latobold';
    src: url('/static/fonts/lato-bold-webfont.eot');
    src: url('/static/fonts/lato-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/lato-bold-webfont.woff') format('woff'),
         url('/static/fonts/lato-bold-webfont.ttf') format('truetype'),
         url('/static/fonts/lato-bold-webfont.svg#latobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoitalic';
    src: url('/static/fonts/lato-italic-webfont.eot');
    src: url('/static/fonts/lato-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/lato-italic-webfont.woff') format('woff'),
         url('/static/fonts/lato-italic-webfont.ttf') format('truetype'),
         url('/static/fonts/lato-italic-webfont.svg#latoitalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'latoregular';
    src: url('/static/fonts/lato-regular-webfont.eot');
    src: url('/static/fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('/static/fonts/lato-regular-webfont.woff') format('woff'),
         url('/static/fonts/lato-regular-webfont.ttf') format('truetype'),
         url('/static/fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@mixin lato-regular {
    font-family: 'latoregular', 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans;
    font-weight: normal !important;
}
@mixin lato-bold {
    font-family: 'latobold', 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans;
    font-weight: normal !important;
}
@mixin lato-italic {
    font-family: 'latobold', 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans;
    font-weight: normal !important;
}

@mixin clearfix {
    &:before,
    &:after {
        content: " "; /* 1 */
        display: table; /* 2 */
    }

    &:after {
        clear: both;
    }

    /**
     * For IE 6/7 only
     * Include this rule to trigger hasLayout and contain floats.
     */
    & {
        *zoom: 1;
    }
}

@mixin unstyled-list {
    padding-left: 0;
    margin-bottom: 0;
    li {
        list-style: none outside none;
    }
}

#staging_header {
    background-color: $colour_blackish;
    color: #ccc;
    padding: 10px;
    strong{
        color: #ddd;
    }
}


html{
    background-image: none;
    background: $colour_footer_background;
}
body
{
    background-image: none;
    background: #fff;
    font-family: 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans;
}


a {
    color: $colour_primary;
    text-decoration: underline;
    &:hover,
    &:focus {
        color: mix($colour_primary, #000, 80%);
        text-decoration: underline;
    }

}

.button {
    display: inline-block;
    background-color: $colour_primary;
    font-size: 0.875em;
    text-align: center;
    padding: 1em 1.33em;
    font-weight: normal;
    @include lato-bold;
    border: none;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
    letter-spacing: 0.05em;
    -webkit-appearance: none;
    text-decoration: none;
    &:hover,
    &:focus {
        background: mix($colour_primary, #000, 80%);
        color: #fff;
        text-decoration: none;
    }
    &.secondary-button {
        background-color: #f1f0ec;
        color: $colour_black;
        &:hover,
        &:focus {
            background: $colour_primary;
            color: #fff;
            text-decoration: none;

        }
    }
}

/*

Base typography

*/

h1 {
    @include lato-bold;
    font-size: 1.875em; /* 30px */
    color: $colour_black;
    letter-spacing: 0.05em;
    line-height: 1.25em;
}

h2 {
    @include lato-bold;
    font-size: 1.5em; /* 24px */
    color: $colour_black;
    letter-spacing: 0.05em;
}

h3 {
    @include lato-bold;
    font-size: 0.875em; /* 14px */
    color: $colour_black;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

#page h2, #page h3 {
  border-top: none;
  background: transparent;
  padding: 0;
}


ul, ol {
    margin-bottom: 1em;
    li {
        font-size: 1em;
        line-height: 1.4em;
        margin-bottom: 0;
    }
}

p {
    font-size: inherit;
    line-height: 1.4em;
    margin-bottom: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

/* Tables */
table {
    width: 100%;
    max-width: 100%;
    margin: 0 0 1em;
    border-collapse: collapse;
    font-size: 0.875em;
}

td, th {
    border-bottom: 1px solid #d2d2ce;
    padding: 0.33em .6em;
    text-align: left;
}

tr {
    line-height: 1.4em;
}


th {
    background: inherit;
    font-weight: normal;
    text-transform: uppercase;
    @include lato-bold;
    font-size: 0.875em;
}

th[scope="row"] {
    color: $colour_green;
}

tbody {
    tr:hover {
        background-color: #f4f4f4;
        th[scope="row"] {
            color: $colour_black;
        }

    }
}

caption {
    margin: 0;
    padding: 0.5em 0;
    font-size: 1.3125em;
    text-align: left;
    color: $colour_blackish;
}

tfoot {
    font-size: 0.875em;
    font-weight: normal;
    td {
        text-align: right;
        border: none;
    }
}

small {
    font-size: 0.875em;
}

.unstyled,
.unstyled-list {
   @include unstyled-list;
}

.meta {
    font-style: normal;
    font-size: .75em; /* 12px */
    color: $colour_blackish;
}

.visuallyhidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
}

#page {
    padding: 10px;
    .title-space {
        p {
            font-style: normal;
            @include lato-bold;
            color: $colour_green;
        }
    }
}

#page .large-container section ul li  {
    border-bottom-color: #d2d2ce;
    margin-bottom: 1em;
    p {
            font-style: normal;
            font-size: 1em;
    }
}

#page .page-wrapper {
    padding-bottom: 2em; /* this will give us space for the feedback button */
}

#page-wrapper {
    position: relative;
}

.page-title {
    @media only all and (max-width: 1024px), print {
        -ms-word-break: break-all;
         word-break: break-all;

         // Non standard for webkit
         word-break: break-word;
            -webkit-hyphens: auto;
               -moz-hyphens: auto;
                    hyphens: auto;
    }

}

.feedback-button {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    background: $colour_main_background;
    padding: 0.66em;
    @include border_radius(3px);
    @include lato-bold;
    text-transform: uppercase;
    color: $colour_black;
    text-decoration: none;
    font-size: 0.75em;
    letter-spacing: 0.075em;
    &:hover,
    &:focus {
        color: #fff;
        background-color: $colour_primary;
        text-decoration: none;
    }
}

#ajax_dialog_subcontent {
    width: 100%;
    max-width: 300px;
    textarea {
        width: 100%;
        @media only all and (max-width: 640px), print {
            max-width: 268px;
        }
    }
}

/*

HEADER

*/

#site-header{
    height: auto;
    background-image: none;
    background: $colour_main_background;
    padding: .5em 0 0;
    position: relative;
    @media only all and (min-width: 640px), print {
        padding: 0;
        height: 114px;
    }
}

#logo {
    width: 100%;
    max-width: 100%;
    height: 78px;
    background: url('/static/images/za-logo-mobile.png') left center no-repeat;
    text-align: left;
    @include background-size(160.5px 76.5px);
    margin-bottom: 0.5em;
    @media only all and (min-width: 640px), print {
      background: url('/static/images/za-logo.png') 0 center no-repeat;
      width: 550px;
      height: 102px;
      top: 5px;
    }
}

menu#mobile-top-tools {
    width: 100%;
    float: left;
    text-align: right;
    a {
       background: $colour_primary;
       padding: 0.5em;
       display: inline-block;
       height: 100%;
       text-decoration: none;
       @include lato-regular;
       font-size: 0.875em;
       line-height: 26px;
       &:hover,
       &:focus {
           background: mix($colour_primary, #000, 80%);
       }
    }
    ul {
        float: right;
        li {
                padding: 0;
            }
    }
    img {
        height: 24px;
        width: 24px;
    }
}

menu#mobile-top-tools,
#main-menu {
    background: $colour_primary;
}
#main-menu nav{
    text-align: left;
    ul{
        border: none;
        width: 100%;
        li{
            border: none;
            &.header-search{
                float: right;
            }
            a {
                background: $colour_primary;
                @include lato-regular;
                &:hover,
                &:focus {
                    background: mix($colour_primary, #000, 80%);
                }
            }

            &.active a,
            &.active a:hover,
            &.active a:focus
            {
                color: #fff;
                border:none;
                padding:8px 10px;
                margin:0;
                background: mix($colour_primary, #000, 80%);
            }
            ul{
                a,
                a:hover
                a:focus
                {
                    background: mix($colour_primary, #000, 80%);
                }

            }
            &:hover,
            &:focus {
                ul {
                    border: none;
                    li {
                        a {
                            background: mix($colour_primary, #000, 80%);
                            color: #fff;
                            &:hover,
                            &:focus {
                                background: $colour_primary;
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        ul li ul {
            a {
                background: mix($colour_primary, #000, 50%);
                text-indent: 1em;
                font-size: 11px !important;
                padding: 5px 10px !important;
                &:hover,
                &:focus {
                    background: $colour_primary;
                    color: #fff;
                }
            }
        }
    }
    ul li:hover ul ul {
        position: relative;
        top: 0;
    }
    a[href*="http://www.pmg.org.za/"] {
        background-image: url('/static/images/pmg-white-icon.png') !important;
        background-position: 95% center !important;
        background-repeat: no-repeat !important;
    }
    .has-dropdown,
    .has-dropdown:hover  {
        padding-right: 17px !important;
        background-image: url('../images/has-dropdown.png') !important;
        background-position: right center !important;
        background-repeat: no-repeat !important;
    }
}

.about-this-site-menu {
    position: absolute;
    top: .5em;
    right: .5em;
    @media only all and (min-width: 640px), print {
       top: .5em;
       right: 0;
    }
    ul {
        padding-left: 0;
    }
    li {
        list-style: none outside none;
        line-height: 1.1em;
        text-align: right;
        @media only all and (min-width: 640px), print {
           display: inline-block;
           margin-left: .5em;
        }
    }
    a {
        font-size: 0.75em;
        color: $colour_blackish;
        text-decoration: none;
        &:hover {
            color: $colour-primary;
            text-decoration: underline;
        }
    }
}

#header-search {
    border: 1px solid mix($colour_primary, #000, 75%);
    background: #fff;
    margin-right: 0;
    input,button {
        border:none;
        background: transparent;
    }
    button {
        background-image: url(/static/images/header_search.png);
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 0;
        &:hover,
        &:focus {
            background-color: #eee;
        }
    }
}

.tertiary-menu {
    width: 100%;
    float: left;
    display: none;
    visibility: hidden;
    @media only all and (min-width: 640px), print {
        display: block;
        visibility: visible;
    }
    a {
        font-size: .75em;
        &:link {
            color: $colour_blackish;
        }
        &:hover,
        &:focus {
            color: $colour_primary;
        }
    }

    ul {
        list-style: none outside none;
        text-align: right;
        padding: 0;
    }

    li {
        display: inline-block;
        margin-left: .625em;
    }
}

#breadcrumb-replacement
{
    background: $colour_main_background;
}

#breadcrumb {
    .wrapper {
         position: relative;
    }
}




/*

HOME PAGE INTRO BOX

*/
.home {
    #page {
        padding: 0 0 10px;
    }
    .feedback-button {
        display: none;
        visibility: hidden;
    }

    .page-wrapper {
        width: 96%;
        margin: 0 auto;
    }
}


#front_intro
{
    background-color: #027857;
    padding: 1em 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: url('/static/images/intro-bg.jpg');
   .page-wrapper {
        padding-bottom: 0;
    }
}
#front_intro .location-button {
    font-size: 0.75em;
    text-align: center;
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding: 1em 0.5em;
    @include box-shadow(0px 3px 0px #af201a);
    font-weight: normal;
    position: relative;
    .location-icon {
        background: transparent url('/static/images/location.png') left center no-repeat;
        display: inline-block;
        height: 17px;
        width: 10px;
        margin-right: 10px;
        position: absolute;
        left: 21%;
        top: 10px;
    }
}

#home-carousel {
    background-color: transparent;
}

.carousel {
    position: relative;
}

.carousel-nav {
    position: absolute;
    right: 1em;
    bottom: 1em;
    z-index: 10;
    a {
        display: inline-block;
        text-indent: -9999px;
        height: 13px;
        width: 13px;
        background: transparent url('/static/images/lr-carousel-arrows.png') top left no-repeat;
    }
    .prev {

    }
    .next {
        background-position: -13px 0;
        margin-left: 10px;
    }
}

.carousel-item {
   background-color: rgba(0, 0, 0, 0.2);
    border-radius: $border_radius;
    border: 1px solid rgba(255,255,255,0.3);
    text-align: left;
    color: #fff;
    position: relative;
    padding: 1em;
    min-height: 182px;
    @include text-shadow(0px 1px 1px rgba(0, 0, 0, .25));
    a {
        color: #fff;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
    .subtitle {
        color: #fff;
        opacity: 0.8;
        text-transform: none;
        @include lato-regular;
        font-size: 0.875em;
    }
    .caption {
        font-size: 0.875em;
    }
}

.slide-core_person {
  @extend .featured-person;
    margin: 0;
    img {
        margin-right: 1em;
    }
    .name {
        font-size: 1.75em;
        text-transform: none;
        color: #fff;
        line-height: 1.3em;
        @include text-shadow(0px 2px 1px rgba(0, 0, 0, .25));
        margin-bottom: 0.25em;
    }
    .subtitle {
        margin-bottom: 0.5em;
    }
}

//.featured-quote {
//
//    q {
//        line-height: 1.45em;
//        display: block;
//        margin-bottom: 1em;
//        font-size: 1.125em;
//        @include lato-regular;
//    }
//    cite {
//        display: block;
//        font-size: .875em;
//        margin-left: 1em;
//        .name {
//            @include lato-bold;
//            text-transform: uppercase;
//        }
//        .date {
//            opacity: 0.8;
//        }
//
//    }
//}


#page .home-left h2#home-intro,
#page .home-right h2#home-intro {
    display: block;
}

#front_intro .home-right {
    @include lato-regular;
}

#front_intro .home-right h2 {
    color: #fff;
    text-transform: none;
    line-height: 1.35em;
    @include lato-regular;
    font-weight: normal;
    @include text-shadow(0px 2px 1px rgba(0, 0, 0, .25));
    font-size: 21px;
    margin-bottom: 1em;
    @media only all and (min-width: 640px), print {
        margin-top: 1em;
        margin-bottom: 0;
    }
    small {
        display: block;
        opacity: 0.8;
        font-size: 13px;
    }


}
#page .home-left h2 {
    font-size: .875em;
    color: #fff;
    letter-spacing: 0.075em;
    @include text-shadow(0px 1px 1px rgba(0, 0, 0, .25));
}

.home-rep-search {
    .geocoder-search-form {
        background: transparent;
        margin-top: 13px;
        padding: 0;
        input[type="text"]{
            width: 82%;
            margin-right: 1%;
            -webkit-box-sizing: border-box;
               -moz-box-sizing: border-box;
                    box-sizing: border-box;
            font-size: 1em;
            @include lato-regular;
            border: 1px solid #ccc;
            @include border-radius(3px);
            padding: 0.66em;
        }

        button {
            width:16%;
            box-shadow: 0px 2px 0px #af201a;
            background: $colour_primary url(../images/search-icon.png) center no-repeat;
            text-indent: -9999px;
            padding: 0;
            height: 40px;
            @include border-radius(3px);
            &:hover,
            &:focus {
                color: mix($colour_primary, #000, 80%);
            }
        }
        label {
            display: none;
        }
    }

    .wrapper {
        border-bottom: 1px solid #ccc;
        overflow: hidden;
        padding-top: 10px;
        padding-bottom: 25px;
        h2 {
            margin-top: 25px;
            text-align: center;
        }
        form {
            width: 95%;
            margin-left: auto;
            margin-right: auto;
            max-width: 370px;
        }
    }
}


/*

NEWS & POLL

*/
#news,
#twitter,
#poll {
    h2
    {
        text-transform: uppercase;
        font-size: .875em;
        color: $colour-black;
    }
    h3
    {
        font-size: 1em; /* 16px */
        text-transform: none;
        line-height: 1.3125em; /* 21px */
    }
}

#news {
    padding: 2em 0 1em;
    float: left;
    width: 100%;
    @media only all and (min-width: 640px), print {
        width: 65.8333333%;
        margin-right: 2.5%;
    }
    max-width: 100%;

}

#twitter {
    margin-bottom: 2em;
    padding-bottom: 1em;
    border-bottom: 1px solid #ccc;
}

.col-2 {
    padding: 2em 0 1em;
    @media only all and (min-width: 640px), print {
        width: 31.666666667%;
        float: right;
    }

}

.home-news {
    float: left;
    h2 {
        a:link{
            text-decoration: none;
            color: $colour_black;
        }
        a:hover,
        a:focus {
            text-decoration: underline;
            color: $colour_primary;
        }
    }
    @media only all and (min-width: 940px), print {
        width: 48%;
        margin-right: 2%;
    }
}

ul.home-news-list {
    @extend ul#home-news-list;
    border:none;
    padding:0;
    margin-top: 0;
    li {
        border:none;
        width: 100%;
        @media only all and (min-width: 940px), print {
            &:nth-child(odd) {
                padding-right: 3.7974684%
            }
        }

        float: left;
        margin-bottom: 1.5em;
        padding-bottom: 0;

        p {
            font-size: 0.875em;
            margin-bottom: 0.5em;
            &.meta {
                font-style: normal;
                font-size: .75em;
            }
            a:link{
                text-decoration: underline;
            }
        }

        h3 {
            margin-bottom: 0.25em;
            a:link{
                text-decoration: none;
            }
            a:hover,
            a:focus {
                text-decoration: underline;
            }
        }
    }
}

.social-links-list {
    li {
        display: inline;
    }
    li a {
        display: inline-block;
        text-indent: -9999px;
        height: 38px;
        width: 38px;
        background-image: url('/static/images/social-icons.png');
        background-position: 0 -1px;
        background-repeat: none;
        margin-right: 8px;
        &:hover,
        &:focus {
            background-position: 0 -41px;
        }
    }

    .facebook-social-icon {
        background-position: 0 -1px;
        &:hover,
        &:focus {
            background-position: 0 -41px;
        }
    }
    .twitter-social-icon {
        background-position: -51px -1px;
        &:hover,
        &:focus {
            background-position: -51px -41px;
        }
    }
    .youtube-social-icon {
        background-position: -101px -1px;
        &:hover,
        &:focus {
            background-position: -101px -41px;
        }
    }
    .rss-social-icon {
        background-position: -150px -1px;
        &:hover,
        &:focus {
            background-position: -150px -41px;
        }
    }
}



/*

FOOTER

*/
#site-footer{
    background: $colour_footer_background;
    border-top: mix($colour_footer_background, #000, 70%) 2px solid;
    font-size: 12px;
    line-height: 18px;
    color: $colour_middling_grey;
    div.footer-section {
        border: none;
        @media all and (min-width: 640px) {
            margin: 0 0 1em 0;
            padding: 0;
            width: 31.666666667%;
            margin-left: 2.5%;
            max-width: none;
            &:first-child {
                margin-left: 0;
            }
        }
    }
    p {
        font-style: normal;
        color: inherit;
        font-size: inherit;
    }

    ul {
        margin: 1em 0 0;
    }

    ul li {
        font-size: inherit;
        margin-bottom: 0.25em;
    }

    #footer-menu li > ul {
        margin-top: 0.25em;
        margin-left: 0.5em;
        margin-bottom: 0.5em;
    }

    #footer-menu li > ul li {
        display: block;
        margin-bottom: 0;
        padding: 0;
        &:before {
            content: '- ';
            opacity: 0.5;
        }
    }


    h4 {
        @include lato-bold;
        text-transform: uppercase;
        font-size: 12px;
        color: $colour_middling_grey;
    }
    a:link,
    a:visited {
        color: $colour_secondary;
        text-decoration: none;
    }
    a:hover,
    a:focus,
    a:active,
    ul li a:hover,
    ul li a:focus {
        color: $colour_primary;
        text-decoration: underline;
    }

    .nav {
        -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap: 20px;
    }


    .contact-details {
        line-height: 16px;
        h5 {
            margin-top: 1em;
            font-weight: bold;
            margin-bottom: .5em;
        }
        .block {
            display: block;
            margin-bottom: 0.1em;
        }
        .col-one,
        .col-two {
            width: 46.0526316%;
            float: left;
        }
        .col-two {
            margin-left: 7.8947368%;
        }
    }

    .utilities {
        @media only all and (min-width: 640px), print {
           text-align: right;
        }

        margin: 0;
        li {
            display: inline-block;
            margin-left: 12px;
        }
    }
    div.attribution {
        max-width: 960px;
        margin: .5em auto;
        font-size: inherit;
        text-align: left;
    }
    .header-search {
        display: none;
        visibility: hdden;
    }
}

.footer-full-width {
    width: 100%;
    border-top: 1px solid lighten($colour_footer_background, 5%);
    padding-top: 1.5em;
    margin-top: 0.5em;
    float: left;
    .layout-major-minor {
        @media only all and (max-width: 640px), print {
           padding: 0 10px;
        }
    }
    .major-column {
        @media only all and (min-width: 640px), print {
           margin-bottom: 0 !important;
        }
    }
}
#site-footer .disclaimer {
    p {
        font-size: 11px;
        color: #808080;
    }
}
#site-footer .utilities {
    li:first-child {
        margin-left: 0px;
        @media only all and (min-width: 640px), print {
           margin-left:12px;
        }
    }
}

.email-signup {
    margin-top: 1em;
    .mailing-list-button {
        @include border-radius(0 3px 3px 0);
        margin: 0;
    }
    input[type=text] {
        font-size: 1em;
        font-family: 'latoregular', 'Helvetica Neue', Arial, Helvetica, Helmet, Freesans;
        font-weight: normal !important;
        padding: 0.815em;
        border: none;
        margin: 0;
        min-width: 16em;
    }
}

.infopage {
    max-width: 632px;
    ol,
    ul {
        margin-bottom: 1em;
    }
}

.sidebar {
    background-color: #f1f0ec;
    padding: 12px;
    margin-bottom: 2em;
    @media only all and (min-width: 640px), print {
        padding: 18px;
        margin-bottom: 0;
    }
    h3 {
        font-size: .75em; /* 12px */
        line-height: 1.75em; /* 21px */
        margin-bottom: 0;
    }
    p {
        font-size: 0.875em;
        line-height: 1.5em; /* 21px */
        margin-bottom: 0;
    }
    p + h3 {
        margin-top: 1.5em;
    }
    .word-break-all {
        word-break: break-all;
    }
    ul {
        @include unstyled-list;
        font-size: 0.875em;
        margin-bottom: 1em;
    }
    li + li {
      margin-top: 0.5em;
    }
    a:link {
        text-decoration: none;
    }
    a:hover,
    a:active,
    a:focus {
        text-decoration: underline;
    }

    a.active {
        color: $colour_blackish;
    }

    .vcard li {
        .label {
            display: block;
            @include lato-bold;
            width: 100%;
            color: $colour_blackish;
            letter-spacing: 0.05em;
        }
        p {
            padding: 0;
            margin-bottom: 1em;
        }
    }
    .constituency-office-feedback {
        font-size: 0.875em;
    }
}

/* Generic listing styles */

.list-of-things {
    img {
        max-width: 100%;
    }
}

.list-of-things-item {
    border-bottom: 1px solid #d2d2ce;
    padding: 12px;
    @include clearfix;
    a:link,
    a:visited {
        color: $colour_black;
        text-decoration: none;
    }
    a:hover,
    a:active,
    a:focus {
        color: $colour_primary;
        text-decoration: underline;
    }
    &:first-child {
        border-top: 1px solid #d2d2ce;
    }
    &:last-child {
        margin-bottom: 2em;
    }
}

/* People listings */
.person-list-item {
    img {
        float: left;
        margin-right: 12px;
        overflow: hidden;
    }
    .name {
        font-weight: bold;
        display: block;
        margin-bottom: 0.25em;
    }
    .position-parties,
    .position-place {
        display: inline-block;
        font-size: 0.875em;
        a:link,
        a:visited {
            color: #555;
        }
        a:hover,
        a:active,
        a:focus {
            color: $colour_primary;
        }
    }

    .position-parties {
        a {
            background: transparent url('/static/images/organisation-16x16.jpg') left center no-repeat;
            padding-left: 20px;
        }
    }

    .position-place{
        a {
            background: transparent url('/static/images/place-16x16.jpg') left center no-repeat;
            padding-left: 20px;
            margin-right: 20px;
        }
    }
}


/* Pagination controls */
.step-pagination,
.pagination {

    a {
        background: transparent;
        border: 1px solid #d2d2ce;
        @include border-radius(3px);
        text-transform: uppercase;
        font-size: 0.75em;
        padding: 1em;
        min-width: 17px;
        text-align: center;
        margin-bottom: 0.5em;
        text-decoration: none;
        @include lato-bold;
    }
    a:hover,
    a:focus {
        border: 1px solid mix($colour_primary, #000, 80%);
        background-color: $colour_primary;
        color: #fff;
        text-decoration: none;
    }
}

/* PMO pagination */
.pagination {
    @include lato-bold;
    .current {
        background: transparent;
        border: 1px solid #d2d2ce;
        @include border-radius(3px);
        text-transform: uppercase;
        font-size: 0.75em;
        padding: 1em;
        min-width: 17px;
        text-align: center;
        margin-bottom: 0.5em;
    }
    .current:hover {
        background: transparent;
        border: 1px solid #d2d2ce;
    }
    span:hover {
        border: 1px solid mix($colour_primary, #000, 80%);
        background-color: $colour_primary;
        color: #fff;
        text-decoration: none;
    }
    a.prev,
    span.prev,
    a.next,
    span.next {
        background: none;
        padding: 1em;
        min-width: 17px;
        &:hover {
            background-color: $colour_primary;
        }
    }
}

/* SayIt pagination */
.step-pagination {
    .current {
        font-size: 0.875em;
        display: inline-block;
        padding: 0 0.5em;
    }
}

div.search-pagination {
    background: transparent;
    color: $colour_black;
    padding: 0.5111em 0;
    font-size: 0.87em;
}

/* Questions, Hansard, Speeches */
body {
    .breadcrumbs {
        margin-bottom: 0;
        /* this is a terrible thing to do to override the specificity */
    }
}


li.speech {
    margin-bottom: 2em;
    padding-bottom: .5em;

    -ms-word-break: break-all;
         word-break: break-all;

         // Non standard for webkit
         word-break: break-word;

    -webkit-hyphens: auto;
       -moz-hyphens: auto;
            hyphens: auto;
    br {
        content: ' ';
        display: inline;
    }
    .hov {
        font-size: 0.75em;
        text-decoration: none;
        i {
            font-style: normal;
        }
        &:hover {
            color: $colour_black;
            text-decoration: underline;
        }
    }
    .off-screen {
        opacity: 1;
    }
    &:after {
        width: 100%;
        left: 0;
        bottom: 0;
    }
}

.speech-speaker {
    .speaker-img {
        height: 44px;
        width: 44px;
    }
}


ul.pager {
    @include unstyled-list;
    margin-bottom: 1em;
    background: transparent;
    li.previous,
    li.next {
        display: inline-block;
        width: 50%;
        a {
            background: transparent;
            font-size: 0.875em;
            text-decoration: none;
            color: $colour_blackish;
            &:hover {
                text-decoration: underline;
                color: $colour_primary;
            }
        }
    }
    li.next {
        text-align: right;
    }
}

/* Organisation pages */
.kind-of-subtitle {
    @include lato-bold;
    color: $colour_green;
    margin-top: -0.5em;
}

.house-splash {
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-bottom: 2em;

    @media only all and (min-width: 640px), print {
        height: 15.5em;
        background-color: $colour_primary;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top left;
        &.national-assembly {
            background-image: url('/static/images/national-assembly.jpg');
        }
        &.ncop {
            background-image: url('/static/images/national-council-of-provinces.jpg');
        }
    }

}

.house-title {
    @media only all and (min-width: 640px), print {
        position: absolute;
        bottom: 0;
        left: 2%;
        h1, p {
            color: #fff;
        }
        h1 {
            font-size: 36px;
        }
    }

}

.house-intro {
    font-size: 0.875em;
    color: colour_blackish;
    max-width: 714px;
    margin-bottom: 2em;
}
.house-page-list {
    @include unstyled-list;
    margin-bottom: 2em;
    max-width: 714px;
    width: 100%;
    li {
        border-bottom: 1px solid #d2d2ce;
        &:hover {
        }
    }
    a {
        display: block;
        padding: 0.33em;
        &:link,
        &:visited {
            text-decoration: none;
        }
        &:hover,
        &:focus,
        &:active {
            text-decoration: underline;
            background-color: $colour_main_background;
        }
    }
    .percent {
        color: $colour_blackish;
        font-size: 0.75em;
        float: right;
        display: inline-block;
    }


}

#page #map_canvas {
    @media only all and (min-width: 640px), print {
        height: 210px;
        width: 210px;
    }
}

/* Newsletter page */
.newsletter-sidebar {
    margin: 1.5em 0;
}
.page-wrapper {
    .email-signup {
        input[type="text"] {
            border: 1px solid $colour_middling_grey;
            margin-bottom: 0.5em;
        }
        .button {
            @include border_radius(3px);
        }
    }
}
@-webkit-keyframes target-fade {
    0% {
          background-color: $colour_main_background;
          color: $colour-primary
      }
      100% {
          background-color: rgba(0,0,0,0);
          color: $colour_black;
      }
}
@-moz-keyframes target-fade {
    0% {
          background-color: $colour_main_background;
          color: $colour-primary
      }
      100% {
          background-color: rgba(0,0,0,0);
          color: $colour_black;
      }
}

@keyframes target-fade {
    0% {
        background-color: $colour_main_background;
        color: $colour-primary
    }
    100% {
        background-color: rgba(0,0,0,0);
        color: $colour_black;
    }
}


/* Place page */
.list-of-constituency-offices {
    ul {
        padding-left: 0;
        margin-bottom: 0;
    }
    > li {
        border-bottom: 1px solid #d2d2ce;
        padding-top: 1em;
        position: relative;
    }
    li {
        overflow: hidden;
    }
    :target {
        a {
            -webkit-animation: target-fade 3s 1;
            -moz-animation: target-fade 3s 1;
            animation: target-fade 3s 1;
        }
    }

    a {
        color: $colour-black;
        text-decoration: none;
        @media only all and (max-width: 640px), print {
            margin-right: 5em;
        }
        &:hover,
        &:focus {
            color: $colour-primary;
            text-decoration: underline;
        }
    }
    .name {
        font-weight: bold;
    }
    .constituency-office-address {
        font-size: 0.875em;
        color: $colour_blackish;
    }
    .constituency-office-mp-name {
        font-size: 0.875em;
        color: $colour_black;
        margin-bottom: 0;
    }
    .constituency-office-mp-title {
        font-size: 0.875em;
        color: $colour_blackish;
        margin-bottom: 0;
    }
    .constituency-office-mp-photo {
        height: 58px;
        width: 58px;
        float: left;
        margin-right: 16px;
        margin-bottom: 1em;
    }
    .distance {
        color: $colour_middling_grey;
        position: absolute;
        top: 1em;
        right: 0;
    }

    .tiny-list-of-people {
        .person-list-item {
            border: none;
            padding: 0;
            margin-bottom: .5em;
            img {
                height: 29px;
                width: 29px;
            }
            .name {
                font-size: 0.75em;
            }
        }
    }
}

/* Person page */
#page {
    .profile-info {
        .constituency-party {
            margin: 0;
            p + h3 {
                margin-top: 1.5em;
            }
            ul li {
                border-top: none;
                a {
                    font-size: 0.875em;
                    display: inline;
                    background: transparent none right center no-repeat;
                    color: $colour_primary;
                    text-decoration: none;
                    padding: 0;
                    @media only all and (min-width: 640px), print {
                        background: transparent;
                        color: $colour_primary;
                        padding:0;
                        @include border-radius(0);
                    }
                    &:hover,
                    &:focus {
                        background: transparent;
                        color: $colour_black;
                        text-decoration: underline;
                    }
                }
            }
            }

        h3 {
            display: block;
            width: 100%;
            color: $colour_blackish;
            font-size: 11px;
        }

    }
    .large-container {
        h3 {
            border: none;
            padding: 0;
            color: $colour_blackish;
            margin: .25em 0 .5em;
        }
        p {
            margin: 0 0 1em;
        }
    }

    .person-appearances {
        .speech-title {
            font-weight: bold;
            font-size: 1.142857143em;
        }
        li {
            margin-bottom: 1em;
        }
    }
}

.tab-links {
    border-bottom: 1px solid #d2d2ce;
    @include unstyled-list;
    margin-bottom: 1em;
    li {
        display: inline-block;
        margin-right: 1em;
        a {
            display: inline-block;
            background: #fff;
            margin-bottom: 3px;
            text-decoration: none;
            font-size: 0.75em;
            @media only all and (min-width: 640px), print {
                font-size: 0.875em;
            }
            &.active {
                border-bottom: 3px solid #d2d2ce;
                margin-bottom: 0;
                color: $colour_black;
            }
        }
    }
}

.tab-content {
    display: none;
    ul, p {
        font-size: 0.875em;
    }
    &.tab-active {
        display: block;
    }
}

.positions {
    @include unstyled-list;
    margin-bottom: 1.5em;

}

/* Hansard index page */
.hansard-section-title {
    cursor: pointer;
    border-top: 1px solid #d2d2ce;
    margin-bottom: 1em;
    padding-top: 1em;
    display: block;
    text-decoration: none;
    color: $colour_black;
    h2 {
        font-size: 1em;
    }
    p {
        font-size: 0.875em;
        margin-bottom: 0;
    }
    &:focus,
    &:hover {
        text-decoration: none;
        h2 {
            color: $colour_primary;
            text-decoration: underline;
        }
        p {
            color: $colour_black;
        }
    }
}

.hansard-section {
    padding-bottom: 1em;
    p {
        font-size: 0.875em;
        margin-bottom: 0.5em;
    }
}

/* Place search results */

.about-constituency-office {
    font-size: 0.75em;
    margin-bottom: 1em;
    @media only all and (min-width: 640px), print {
        margin-bottom: 0;
        position: absolute;
        right: 0;
        top: 0;
    }
}

#map_canvas {
    margin-bottom: 2em;
}

.politicians-results {
    h2 {
        margin-bottom: .6em;
    }
    .list-of-things-item:first-child {
        border-top: none;
    }
}

/* Blog styles */
.blog-post {
    ul, p {
        max-width: 580px;
    }
}

.blog-list {
    .blog-in-a-list {
        border-bottom: 1px solid #d2d2ce;
        margin-bottom: 2em;
    }
}

.sidebar .blog-categories {
  li {
    text-transform:uppercase;
  }
}

/* Error and status pages */

.error {
    #page {
        padding: 0;
    }
}
.error-page-content {
  min-height: 500px;
}

.error-page-content h1,
.error-page-content p {
  color: #fff;
  text-align: center;
  margin: auto;
  margin-bottom: 1em;

}
.error-page-content h1 {
  padding-top: 2em;
  font-size: 48px;
  @include text-shadow(0px 1px 1px rgba(0, 0, 0, .25));
}
.error-page-content p {
  max-width: 30em;
  @include text-shadow(0px 1px 1px rgba(0, 0, 0, .5));
}
.error-page-content a {
  color: inherit;
}

/* Generic layouts */
.layout {
    @include clearfix;
    .column {
        float: left;
        width: 100%;
        max-width: 100%;
        margin-bottom: 24px;
    }
}

.pull-right {
    float: right;
    overflow: hidden;
    margin-bottom: 1em;
    margin-left: 1em;
}
.fifty-fifty-layout {
    .column {
        &:first-child {
            margin-bottom: 2em;
        }
    }
}

.hide-reveal-link {
    display: block;
    padding: 0.5em 0;
}

.has-dropdown-dark {
    background-image: url('/static/images/has-dropdown-dark.png');
    background-position: 100% 1em;
    background-repeat: no-repeat;

}

@media only all and (min-width: 640px), print {
    #front_intro .home-left {
        width: 65.8333333%;
        margin-right: 2.5%; /* 24px @ 960px */
    }

    #front_intro .home-right {
        width: 31.66666666%;
        float: right;
        margin-right: 0;
    }
    .home-rep-search {
        .wrapper {
            form {
                width: 50%;
                float: left;
            }
            h2 {
                margin-right: 2.5%;
                width: 47.5%;
                float: left;
                text-align: right;
            }
        }
    }

    #twitter {
        width: 100%;
        max-width: 100%;
    }
    .social-and-tools {
        display: none;
    }

   .layout-major-minor {
       .major-column {
           width: 74.375%;
           margin-right: 2.5%; /* 24px @ 960px */
           float: left;
       }
       .minor-column {
           width: 23.125%;
           float: right;
       }
       &.reverse {
        .major-column {
            float: right;
        }
        .minor-column {
            float: left;
        }
       }
       &.thirds {
            .major-column {
                width: 64.5%;
            }
            .minor-column {
                width: 33%
            }
       }
   }
   .fifty-fifty-layout {
        .column {
            width: 48%;
            float: left;
            &:first-child {
                margin-right: 4%;
            }
        }
   }
}






