<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} :: Mzalendo</title>
        {% comment %}

            The 'STATIC_GENERATION_NUMBER' is used to force the caches to fetch
            new content. To update manually change the value in settings.py.

            Much better will be to use the 'CachedStaticFilesStorage' when it
            becomes available in the next version of Django.

            https://docs.djangoproject.com/en/dev/ref/contrib/staticfiles/
        
        {% endcomment %}
        <link href="{{ STATIC_URL }}main.css?{{ settings.STATIC_GENERATION_NUMBER }}" media="screen" rel="stylesheet" type="text/css" /> 
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon.png?{{ settings.STATIC_GENERATION_NUMBER }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />

        {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        {% endif %}
        
        {% block map_related_headers %}
        <script type="text/javascript">
          function initialize() {
            /* no-op */
            return true;
          }
        </script>
        {% endblock %}

    </head>
    <body onload="initialize()">
        <div id="wrapper">

        {% include 'staging_header.html' %}


        <div id="header">
            <div id="logo">
                <a href="{% url home %}">Mzalendo</a> <sup><small>βeta</small></sup>
            </div>

            <ul>
                <li>
                    {% if request.user.is_authenticated  %}
                        {{ request.user.username }} (<a href="{% url django.contrib.auth.views.logout %}">logout</a>)
                    {% else %}
                        <a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">login</a>
                    {% endif %}
                </li>                 
                <li>
                    <form action="{% url haystack_search %}" method="get">
                        <input type="search" name="q" placeholder="search&hellip;" />
                    </form>
                </li>                 
            </ul>
            
            <br clear="both" />

        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>


        <div id="footer">

            <ul class="nav">
                <li><a href="{% url person_list %}">people</a></li>
                <li><a href="{% url organisation_list %}">organisations</a></li>
                <li><a href="{% url place_list %}">places</a></li>
            </ul>

            <ul class="utilities">
                <li><a href="{% url privacy %}">privacy</a></li>
                <li><a href="http://eepurl.com/gPMJL">Subscribe to our newsletter</a></li>
            </ul>
            
            <ul class="utilities">
                <li><a href="https://github.com/mysociety/mzalendo/issues">issues</a></li>
                <li><a href="https://github.com/mysociety/mzalendo/wiki">wiki</a></li>
                <li><a href="{% url admin:index %}">admin</a></li>
                {% if object %}
                    <li><a href="{{ object.get_admin_url }}">Edit '{{ object.name }}' in admin</a></li>
                {% endif %}
            </ul>

        </div>


        </div>
    </body>
</html>
