<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %} :: Mzalendo</title>

        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0;">
        <meta http-equiv="cleartype" content="on">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

        {% comment %}

            The 'STATIC_GENERATION_NUMBER' is used to force the caches to fetch
            new content. To update manually change the value in settings.py.

            Much better will be to use the 'CachedStaticFilesStorage' when it
            becomes available in the next version of Django.

            https://docs.djangoproject.com/en/dev/ref/contrib/staticfiles/
        
        {% endcomment %}

        <!-- <link rel="stylesheet" type="text/css" href="/assets/css/basic.css" media="screen, handheld" />
        <link rel="stylesheet" type="text/css" href="/assets/css/mobile.css" media="only screen and (min-width: 320px) and (max-width: 640px)" />
        <link rel="stylesheet" type="text/css" href="/assets/css/desktop.css" media="only screen and (min-width: 640px)" /> -->

        <!--[if lt IE 9]>
            <link rel="stylesheet" type="text/css" href="/assets/css/desktop.css" />
        <![endif]-->

        <!-- <script src="/assets/js/libs/modernizr.custom.js"></script> -->
        <link href="{{ STATIC_URL }}css/main.css?{{ settings.STATIC_GENERATION_NUMBER }}" media="screen" rel="stylesheet" type="text/css" />
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon.png?{{ settings.STATIC_GENERATION_NUMBER }}">
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
        <link href="//ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" media="screen" rel="stylesheet" type="text/css" /> 
        
        <script src="{{ STATIC_URL }}js/main.js?{{ settings.STATIC_GENERATION_NUMBER }}" type="text/javascript" charset="utf-8"></script>

        {% if settings.GOOGLE_ANALYTICS_ACCOUNT %}
        <script type="text/javascript">

          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ACCOUNT }}']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        {% endif %}
        
        {% block map_related_headers %}
        <script type="text/javascript">
          function initialize() {
            /* no-op */
            return true;
          }
        </script>
        {% endblock %}

    </head>
    <body onload="initialize()">
        <div id="wrapper">

        {% include 'staging_header.html' %}


        <div id="header">
            <div id="logo">
                <a href="{% url home %}">Mzalendo</a> <sup><small>βeta</small></sup>
            </div>

            <ul>
                <li>
                    {% if request.user.is_authenticated  %}
                        {% firstof request.user.get_full_name request.user.username %} (<a href="{% url django.contrib.auth.views.logout %}">logout</a>)
                    {% else %}
                        <a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">login</a>
                        {% if 'twitter' in settings.SOCIAL_AUTH_ENABLED_BACKENDS %}
                            <a rel="nofollow" href="{% url socialauth_begin 'twitter' %}">twitter</a>
                        {% endif %}
                        {% if 'facebook' in settings.SOCIAL_AUTH_ENABLED_BACKENDS %}
                            <a rel="nofollow" href="{% url socialauth_begin 'facebook' %}">fb</a>
                        {% endif %}
                    {% endif %}
                </li>                 
                <li>

                    <form action="{% url haystack_search %}" method="get">
                        <input id="main_search_box" type="search" name="q" placeholder="search&hellip;" />
                    </form>
                </li>                 
            </ul>
            
            <br clear="both" />

        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>


        <div id="footer">

            <ul class="nav">
                <li><a href="{% url person_list %}">people</a></li>
                <li><a href="{% url organisation_list %}">organisations</a></li>
                <li><a href="{% url place_list %}">places</a></li>
            </ul>

            <ul class="utilities">
                <li><a href="{% url privacy %}">privacy</a></li>
                <li><a href="http://eepurl.com/gPMJL">Subscribe to our newsletter</a></li>
            </ul>
            
            <ul class="utilities">
                <li><a href="https://github.com/mysociety/mzalendo/issues">issues</a></li>
                <li><a href="https://github.com/mysociety/mzalendo/wiki">wiki</a></li>
                <li><a href="{% url admin:index %}">admin</a></li>
                {% if object %}
                    <li><a href="{{ object.get_admin_url }}">Edit '{{ object.name }}' in admin</a></li>
                {% endif %}
            </ul>

            {% if settings.STAGING %}
            <ul class="utilities">
                <li>current_user_id: <span id="current_user_id">{% firstof request.user.id '0' %}</span></li>
            </ul>
            {% endif %}


        </div>


        </div>
    </body>
</html>
