{% if settings.DISQUS_SHORTNAME %}
    <h2 class="tab-nav" rel="#comments">Comments</h2>
    
    <div class="tab" id="comments">
        <div id="disqus_thread"></div>
    
        <script type="text/javascript">
          var disqus_shortname = '{{ settings.DISQUS_SHORTNAME }}';
          var disqus_developer;
          {% if settings.STAGING %}
            disqus_developer  = 1;
          {% endif %}
    
          (function() {
              var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
              dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
              (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
          })();
    
        </script>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
{% endif %}
