{# Copied and Modifierd core/templates/core/_position_listing.html #}

{% load thumbnail %}
{% load hidden %}
{% load staticfiles %}

<ul class="position-listing">
{% for position in positions %}
    <li class="position">
      {% spaceless %}

        {% maybehidden position.person user %}
            {% thumbnail position.person.primary_image "50x50" crop="center" as im %}
                <img src="{{ im.url }}" alt="{{ position.person.name }}" width="{{ im.width }}" height="{{ im.height }}" />
            {% empty %}
                <img src="{% static 'images/person-90x90.jpg' %}" height="50" width="50"/>
            {% endthumbnail %}

            <span class="name">{{ position.person.name }}</span>

            <span class="more">more&hellip;</span>
        {% endmaybehidden %}

        <div>
          {% if position.subtitle == 'Nominated' %}Nominated{% endif %}
            {% if use_position_title %}{{ position.title.name }}{% else %}{{ object.name }}{% endif %}{% if position.place %}
                for
                <a href="{{ position.place.get_absolute_url }}">{{ position.place.name }}
                </a>{% if position.place.parent_place %}
                    (in
                    <a href="{{ position.place.parent_place.get_absolute_url }}">{{ position.place.parent_place.name }}</a>
                    {{ position.place.parent_place.kind.name }}){% endif %}{% endif %}.

            {% if position.person.parties %}

                Member of
                {% for party in position.person.parties %}
                    {% if forloop.first %}
                    {% else %}
                        {% if forloop.last %} and {% else %}, {% endif %}
                    {% endif %}
                    <a href="{{ party.get_absolute_url }}">{{ party.name }}</a>{% endfor %}.

            {% endif %}

        </div>
      {% endspaceless %}
    </li>
{% empty %}
    <li>No records found.</li>
{% endfor %}
</ul>
