{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block extra_head_meta %}
  {# Prefetch DNS for when the Disqus Javascript is loaded #}
  {% if settings.DISQUS_SHORTNAME %}
    <link href="//{{ settings.DISQUS_SHORTNAME }}.disqus.com" rel="dns-prefetch" />
    <!--[if IE 9]>
      <link href="http://{{ settings.DISQUS_SHORTNAME }}.disqus.com/" rel="prefetch" />
    <![endif]-->
  {% endif %}
{% endblock%}

{% block breadcrumbs %}{% endblock %}

{% block page %}
    <div id="page" class="object-base clearfix">

        {% include "disqus_javascript.html" %}

        <div class="object-header">

            <div class="object-sidebar">
                {% block profile_pic %}
                  <div class="profile-pic">
                      {% thumbnail object.primary_image "230x230" crop="center" as im %}
                      <img src="{{ im.url }}" alt="{{ object.name }}" width="{{ im.width }}" height="{{ im.height }}" />
                      {% empty %}
                      <img src="{{STATIC_URL}}images/{{object.css_class}}-210x210.jpg" />
                      {% endthumbnail %}
                  </div>
                {% endblock %}

                <div class="profile-info">
                  {% block profile_info %}
                  {% endblock %}
                </div>
            </div>

            <div class="object-titles">
                {% block object_title %}
                  <h1>{{ object.title }} {{ object.name }}</h1>
                {% endblock %}

                {% block object_tagline %}{% endblock %}

                {% include 'core/social_tools.html' %}

                {% block object_menu %}
                <div class="object_menu">
                  <nav>
                    <ul>
                      {% block object_menu_links %}
                      {% endblock %}
                    </ul>
                  </nav>
                </div>
                {% endblock %}
            </div>

        </div>

        <div class="object-detail">
            <div class="object-detail-inner">
                <div class="large-container">
                  {% block subcontent %}
                    You should add your own custom content to this layout in a 'subcontent' block.
                  {% endblock %}
                </div>
                <div class="large-container disqus-container">
                    {% include 'disqus_comments.html' %}
                </div>
            </div>
        </div>

    </div>

{% endblock %}


{% block extra_attribution %}
  {# If the object has a summary it may have come from Wikipedia. Display the attribution. #}
  {% if object.summary %}
    {% include 'wikipedia_attribution.html' %}
  {% endif %}
  {# Display any attribution for candidate data #}
  {% include 'candidate_data_attribution.html' %}
{% endblock %}
