{% extends 'core/person_base.html' %}

{% load pipeline %}

{% block title %}{{ object.name }} Overview{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'collapse-responsibilities' %}
{% endblock %}

{% block subcontent %}

  {% include 'core/person_detail_responsibilities.html' with positions=object.position_set.all.political.currently_active %}

  <div class="person-detail-experience">
    <h2><a href="{% url "person_experience" slug=object.slug %}">Current positions</a></h2>
    {% include 'core/person_detail_experience_list.html' with positions=object.position_set.all.political.currently_active %}
    <a href="{% url "person_experience" slug=object.slug %}">See full experience</a>
  </div>

  {% if settings.ENABLED_FEATURES.hansard %}
    {% with hansard_count=object.hansard_entries.count %}
      {% if hansard_count %}
      <div class="person-detail-hansard">
        <h2><a href="{% url "person_appearances" slug=object.slug %}">Parliamentary appearances</a></h2>
        {% include 'core/person_detail_appearance_list.html' %}
        <a href="{% url "person_appearances" slug=object.slug %}">See all {{ hansard_count }} appearances</a>
      </div>
      {% endif %}
    {% endwith %}
  {% endif %}

  {% if cdf_budget_constituencies %}
    <div class="person-detail-cdf-budgets">
      <h2>Constituencies Development Fund Budget</h2>
      <ul>
        {% for cdf_constituency in cdf_budget_constituencies %}
          <li><a href="{{ constituency.get_absolute_url }}">{{ cdf_constituency.constituency.name }}</a>, {{ cdf_constituency.budget.budget_session }}: <b>{{ cdf_constituency.budget.formatted_value }}</b></li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% if settings.ENABLED_FEATURES.bills %}
    {% include "bills/_person_recent_bills.html" %}
  {% endif %}

{% endblock %}
