{% load switch %}

<ul>
{% for position in positions %}
    <li class="position {% if position.is_ongoing %}ongoing{% endif %}">
        <h4>
            {% if position.title.slug == 'mp' %}
                Member of <a href="{% url "organisation" 'parliament' %}">Parliament</a>
            {% else %}
                {{ position.title }}
            {% endif %}
            {% if position.organisation.slug == "parliament" and position.category == 'political' %}
                {# pass #}
            {% else %}
                of <a href="{{ position.organisation.get_absolute_url }}">{{ position.organisation.name }}</a>
            {% endif %}
            {% if position.place %}
                for <a href="{{ position.place.get_absolute_url }}">{{ position.place.name }}</a>
            {% endif %}
        </h4>

        {% if position.subtitle %}
            <p class="position-subtitle">({{ position.subtitle }})</p>
        {% endif %}

        <p class="position-date">{{ position.display_dates|safe }}</p>

        {% if position.note %}
            <p class="position-note">{{ position.note }}</p>
        {% endif %}
    </li>
{% empty %}
    <li>No current positions known.</li>
{% endfor %}
</ul>
