{% extends 'core/person_base.html' %}

{% block title %}{{ object.name }} Experience{% endblock %}

{% block subcontent %}
  <h2>Experience</h2>
  <div>
      <div class="left-col">
          <section>
              <h3>Current Political Positions</h3>
              {% include 'core/person_position_section.html' with positions=object.position_set.all.political.currently_active.exclude_committees %}
          </section>

          <section>
              <h3>Previous Political Positions</h3>
              {% include 'core/person_position_section.html' with positions=object.position_set.all.political.previous.exclude_committees %}
          </section>

          <section>
              <h3>Committee Memberships</h3>
              {% include 'core/person_position_section.html' with positions=object.position_set.all.committees %}
          </section>
      </div>

      <div class="right-col">
          <section>
              <h3>Job History</h3>
              {% include 'core/person_position_section.html' with positions=object.position_set.all.other %}
          </section>

          <section>
              <h3>Education</h3>
              {% include 'core/person_position_section.html' with positions=object.position_set.all.education %}
          </section>
      </div>
  </div>
{% endblock %}
