{% load thumbnail %}

<!--
<div class="feature-nav">
    <a class="feature-prev" href="/?before={{ featured_person.slug }}">previous</a>
    <a class="feature-next" href="/?after={{ featured_person.slug }}">next</a>
</div>
-->

<header>
    <h2>Featured person</h2>
    <a href="/?before={{ featured_person.slug }}" class="homepage-featured-person__previous">Previous person</a>
    <a href="/?after={{ featured_person.slug }}" class="homepage-featured-person__next">Next person</a>
</header>
<a href="{{ featured_person.get_absolute_url }}">
  {% thumbnail featured_person.primary_image "140x140" as im %}
    <img src="{{ im.url }}" alt="{{ featured_person.name }}" width="{{ im.width }}" height="{{ im.height }}" />
  {% empty %}
    <img src="{{STATIC_URL}}images/person-200x200.jpg" />
  {% endthumbnail %}
</a>
<a href="{{ featured_person.get_absolute_url }}" class="homepage-featured-person__name">
    <h3>{{ featured_person.title }}{{ featured_person.name }}</h3>
</a>
{% if featured_person.is_politician %}
    <p class="homepage-featured-person__role">
      Politician
    </p>
{% endif %}
<div class="homepage-featured-person__description">
    {{ featured_person.summary|truncatewords_html:35 }}
</div>
