{% extends 'core/person_base.html' %}

{% block title %}{{ object.name }} Bills Sponsored{% endblock %}

{% block subcontent %}

  {% if settings.ENABLED_FEATURES.bills %}
    {% with object.bills_sponsored.count as bills_count %}
      {% if bills_count %}
        <h2>Bills Sponsored</h2>

        <p>{{ object.name }} has sponsored {{ bills_count }} bill{{ bills_count|pluralize }}.</p>
        {% regroup object.bills_sponsored.all by parliamentary_session as bills_regrouped %}
        {% for bills in bills_regrouped %}
          <h3>{{ bills.grouper.name }}</h3>
          <ul>
            {% for bill in bills.list %}
              <li>
                {% include "bills/_bill_link.html" %}
              </li>
            {% endfor %}
          </ul>
        {% endfor %}
      {% else %}
          <p>{{ object.name }} has never sponsored a bill.</p>
      {% endif %}
    {% endwith %}
  {% else %}
    No sponsored bills were found.
  {% endif  %}
{% endblock %}
