/* -------------------------------------------------------------- 

BASIC CSS
mzalendo.com

AUTHOR: Josh Angell, Supercool
josh [at] supercooldesign.co.uk

  1. RESET / CORE
  2. BASIC TYPOGRAPHY, LINKS AND IMAGES
  3. BASIC LAYOUT
  4. MENU
  5. SHARED ELEMENTS
  6. BLOG
  7. WORK
  8. INFO
  9. FORMS
  10. SYSTEM MESSAGES
  11. MEDIA QUERIES

-------------------------------------------------------------- */
/* 1. RESET / CORE
-------------------------------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

#staging_header {
  background-color: #faa;
  color: #000;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

div.error {
  border: 2px solid #f00;
  background-color: #fcc;
  text-align: center;
  font-size: 125%;
  padding: 5px;
  margin: 1em 0;
}

body {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: none;
}

/* 2. BASIC TYPOGRAPHY, LINKS AND IMAGES
-------------------------------------------------------------- */
body {
  font-family: 'arial',sans-serif;
  color: #444;
  font-size: 100%;
}

p, h1, h2, h3 {
  margin-bottom: 15px;
  line-height: 20px;
}

h1, h2, h3, h4 {
  color: black;
}

p {
  font-size: 14px;
  line-height: 20px;
}

a {
  color: #009245;
}
a:hover {
  color: #87c43c;
}

.vcard li.address p {
  line-height: 15px;
  padding-top: 4px;
}
.vcard a {
  text-decoration: none;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  line-height: 25px;
}

h2 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

h4 {
  font-size: 14px;
  font-weight: bold;
}

ul, ol {
  padding-left: 30px;
  margin-bottom: 20px;
}
ul li, ol li {
  font-size: 14px;
  line-height: 20px;
  list-style: disc;
  margin-bottom: 10px;
  background: none;
  padding: 0;
}

ol li {
  list-style: decimal;
}

dl dt {
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}
dl dd {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}

blockquote {
  padding-left: 10px;
}
blockquote p:before {
  content: '“';
}
blockquote p:after {
  content: '”';
}

pre {
  font-family: monospace;
}

.big-btn-text-green {
  cursor: pointer;
  background: gray;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  text-transform: none;
  font-size: 14px;
  padding: 5px 8px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #87c43c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #96d942), color-stop(100%, #87c43c));
  background: -webkit-linear-gradient(#96d942, #87c43c);
  background: -moz-linear-gradient(#96d942, #87c43c);
  background: -o-linear-gradient(#96d942, #87c43c);
  background: -ms-linear-gradient(#96d942, #87c43c);
  background: linear-gradient(#96d942, #87c43c);
}
.big-btn-text-green:hover {
  background: #a0a0a0;
  color: white;
}
.big-btn-text-green {
  *display: inline;
}
.big-btn-text-green:hover {
  background: #96d942;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87c43c), color-stop(100%, #96d942));
  background: -webkit-linear-gradient(#87c43c, #96d942);
  background: -moz-linear-gradient(#87c43c, #96d942);
  background: -o-linear-gradient(#87c43c, #96d942);
  background: -ms-linear-gradient(#87c43c, #96d942);
  background: linear-gradient(#87c43c, #96d942);
}

.big-btn-text-red {
  cursor: pointer;
  background: gray;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  text-transform: none;
  font-size: 14px;
  padding: 5px 8px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #d40000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff0000), color-stop(100%, #d40000));
  background: -webkit-linear-gradient(#ff0000, #d40000);
  background: -moz-linear-gradient(#ff0000, #d40000);
  background: -o-linear-gradient(#ff0000, #d40000);
  background: -ms-linear-gradient(#ff0000, #d40000);
  background: linear-gradient(#ff0000, #d40000);
}
.big-btn-text-red:hover {
  background: #a0a0a0;
  color: white;
}
.big-btn-text-red {
  *display: inline;
}
.big-btn-text-red:hover {
  background: red;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #d40000), color-stop(100%, #ff0000));
  background: -webkit-linear-gradient(#d40000, #ff0000);
  background: -moz-linear-gradient(#d40000, #ff0000);
  background: -o-linear-gradient(#d40000, #ff0000);
  background: -ms-linear-gradient(#d40000, #ff0000);
  background: linear-gradient(#d40000, #ff0000);
}

.m-fb {
  cursor: pointer;
  background: gray;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  text-transform: none;
  font-size: 14px;
  padding: 5px 8px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0049d7), color-stop(100%, #0042c2));
  background: -webkit-linear-gradient(#0049d7, #0042c2);
  background: -moz-linear-gradient(#0049d7, #0042c2);
  background: -o-linear-gradient(#0049d7, #0042c2);
  background: -ms-linear-gradient(#0049d7, #0042c2);
  background: linear-gradient(#0049d7, #0042c2);
}
.m-fb:hover {
  background: #a0a0a0;
  color: white;
}
.m-fb {
  *display: inline;
}
.m-fb:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0042c2), color-stop(100%, #0049d7));
  background: -webkit-linear-gradient(#0042c2, #0049d7);
  background: -moz-linear-gradient(#0042c2, #0049d7);
  background: -o-linear-gradient(#0042c2, #0049d7);
  background: -ms-linear-gradient(#0042c2, #0049d7);
  background: linear-gradient(#0042c2, #0049d7);
}

.m-twitter {
  cursor: pointer;
  background: gray;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  text-transform: none;
  font-size: 14px;
  padding: 5px 8px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7ad9e7), color-stop(100%, #74cfdc));
  background: -webkit-linear-gradient(#7ad9e7, #74cfdc);
  background: -moz-linear-gradient(#7ad9e7, #74cfdc);
  background: -o-linear-gradient(#7ad9e7, #74cfdc);
  background: -ms-linear-gradient(#7ad9e7, #74cfdc);
  background: linear-gradient(#7ad9e7, #74cfdc);
}
.m-twitter:hover {
  background: #a0a0a0;
  color: white;
}
.m-twitter {
  *display: inline;
}
.m-twitter:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #74cfdc), color-stop(100%, #7ad9e7));
  background: -webkit-linear-gradient(#74cfdc, #7ad9e7);
  background: -moz-linear-gradient(#74cfdc, #7ad9e7);
  background: -o-linear-gradient(#74cfdc, #7ad9e7);
  background: -ms-linear-gradient(#74cfdc, #7ad9e7);
  background: linear-gradient(#74cfdc, #7ad9e7);
}

/* 3. BASIC LAYOUT
   320px - following the Mobile First principle
   cols    1   2   3    4    5    6    7    8    9    10
   px      30  60  90   120  150  180  210  240  270  300
-------------------------------------------------------------- */
.wrapper {
  width: 100%;
}

#site-header {
  clear: both;
  background: #009245;
}
#site-header .wrapper {
  overflow: hidden;
}
#site-header .wrapper #logo {
  display: block;
  margin-left: 10px;
  float: left;
  height: 42px;
  text-indent: -999999em;
  width: 147px;
  background: url(../images/m-logo.png) 0 center no-repeat;
}
#site-header .wrapper menu#site-user-tools {
  display: none;
}
#site-header .wrapper menu#m-top-tools {
  float: right;
}
#site-header .wrapper menu#m-top-tools button {
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  text-indent: -999999px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  display: inline;
  border-left: 1px solid white;
}
#site-header .wrapper menu#m-top-tools button.m-icon-nav {
  text-indent: 0;
  text-transform: uppercase;
  height: 42px;
  color: white;
  padding: 0 15px 0 10px;
  background: url(../images/m-menu-nub.png) right center no-repeat;
}
#site-header .wrapper menu#m-top-tools button.m-icon-nav.active {
  background: url(../images/m-menu-nub-r.png) right center no-repeat;
}
#site-header .wrapper menu#m-top-tools button.icon-search {
  height: 42px;
  width: 42px;
  margin-left: 10px;
  background: url(../images/search-icon.png) center no-repeat;
}
#site-header .wrapper menu#m-top-tools button.icon-search.active {
  background: url(../images/close.png) center no-repeat;
}
#site-header .wrapper #search {
  clear: both;
  height: 26px;
  padding: 6px 10px;
  display: block;
  background: #e6e6e6;
  border-bottom: 2px solid white;
}
#site-header .wrapper #search input {
  padding: 1px 4px;
  border: 1px solid gray;
  height: 22px;
  width: 214px;
  float: left;
}
#site-header .wrapper #search button {
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  text-indent: -999999px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  width: 64px;
  height: 26px;
  float: left;
  margin-left: 10px;
  background: black url(../images/search-icon.png) center no-repeat;
}
#site-header .wrapper #search button:hover {
  background-color: #777777;
}

#main-menu nav {
  width: 100%;
}
#main-menu nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
#main-menu nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#main-menu nav ul li a {
  display: block;
  height: 20px;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background: black;
  border-bottom: 2px solid white;
}
#main-menu nav ul li a:hover {
  background: #777777;
}
#main-menu nav ul li:last-child a, #main-menu nav ul li.last a {
  border-bottom: none;
}

#breadcrumb {
  height: 40px;
}
#breadcrumb nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#breadcrumb nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#breadcrumb nav ul li {
  display: none;
}
#breadcrumb nav ul li.page-title {
  display: block;
  background: #e6e6e6;
  font-size: 18px;
  font-weight: bold;
  color: black;
  padding: 10px;
}

#site-footer {
  clear: both;
  border-top: 4px solid #009245;
  padding: 10px;
  background: #e6e6e6;
  overflow: hidden;
}
#site-footer p {
  font-style: italic;
  color: #777777;
}
#site-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  float: left;
  width: 200px;
  margin-right: 30px;
}
#site-footer ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}

#page {
  display: table;
  caption-side: bottom;
  position: relative;
  margin-bottom: 30px;
}
#page .title-space {
  min-height: 130px;
  margin-left: 120px;
  margin-top: 10px;
}
#page .title-space h1 {
  margin: 0;
}
#page .title-space p {
  font-style: italic;
}
#page .profile-pic {
  position: absolute;
  top: 0;
  left: 10px;
  width: 100px;
}
#page .profile-pic img {
  width: 100px;
  height: auto;
}
#page .small-container h3.scorecard-overall {
  display: block;
  font-weight: bold;
  padding: 10px;
  color: black;
  margin-bottom: 10px;
  border: none;
  background: none;
}
#page .small-container h3.scorecard-overall span {
  font-weight: normal;
  display: block;
  height: 22px;
  padding-top: 20px;
  margin-top: -20px;
  background: url(../images/m-smiley-sprite.png) right -3px no-repeat;
}
#page .small-container h3.scorecard-overall span.score-overall-good {
  background-position: right -3px;
}
#page .small-container h3.scorecard-overall span.score-overall-average {
  background-position: right -53px;
}
#page .small-container h3.scorecard-overall span.score-overall-bad {
  background-position: right -103px;
}
#page .small-container ul.scorecard {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
#page .small-container ul.scorecard li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#page .small-container ul.scorecard {
  *display: inline;
}
#page .small-container ul.scorecard li article {
  padding: 10px;
  background: #f6f6f6;
  color: black;
  border-bottom: 2px solid white;
  overflow: hidden;
}
#page .small-container ul.scorecard li article header p {
  margin: -20px 0 0 0;
  padding-top: 20px;
}
#page .small-container ul.scorecard li article header p.score-good {
  background: url(../images/score-good.png) right 0 no-repeat;
}
#page .small-container ul.scorecard li article header p.score-average {
  background: url(../images/score-average.png) right 0 no-repeat;
}
#page .small-container ul.scorecard li article header p.score-bad {
  background: url(../images/score-bad.png) right 0 no-repeat;
}
#page .small-container ul.scorecard li article header span.shout {
  display: block;
  background: #d40000;
  color: white;
  margin: 10px 0;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  clear: both;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
#page .profile-info .constituency-party h3 {
  margin: 0;
}
#page .profile-info .constituency-party ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#page .profile-info .constituency-party ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#page .profile-info .constituency-party ul li {
  border-top: 2px solid white;
}
#page .profile-info .constituency-party ul li a {
  font-size: 13px;
  display: block;
  background: #f6f6f6 url(../images/chevron-right.png) right center no-repeat;
  color: black;
  padding: 0 10px;
  text-decoration: none;
}
#page .profile-info .constituency-party ul li a:hover {
  background-color: white;
}
#page .profile-info .vcard {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
#page .profile-info .vcard li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#page .profile-info .vcard li .label {
  text-transform: uppercase;
  color: gray;
  font-size: 11px;
  float: left;
  clear: left;
  width: 50px;
  margin-left: 10px;
}
#page .profile-info .vcard li p {
  padding-left: 80px;
}
#page .large-container p {
  margin-left: 10px;
  margin-right: 10px;
}
#page .large-container h3 {
  border-top: none;
  border-bottom: 2px solid black;
  background: none;
  padding: 0 0 5px 0;
  margin: 20px 10px;
}
#page .large-container h4 {
  font-weight: normal;
}
#page .large-container .tab {
  overflow: hidden;
}
#page .large-container section ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 20px 0;
}
#page .large-container section ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#page .large-container section ul li {
  border-bottom: 1px solid black;
  margin: 0 10px 5px 10px;
}
#page .large-container section ul li:last-child, #page .large-container section ul li.last {
  border-bottom: none;
}
#page .large-container section ul li p {
  margin: 0 0 5px 0;
  font-style: italic;
  font-size: 13px;
}
#page .large-container .tab-nav a {
  color: black;
  text-decoration: none;
}
#page .large-container #comments .big-btn-text-green {
  display: none;
}
#page .large-container ul.comments li section {
  max-width: 590px;
}
#page ul.comments {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#page ul.comments li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#page ul.comments li {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  position: relative;
  background: #f6f6f6;
  padding: 10px;
  margin-bottom: 5px;
}
#page ul.comments li {
  *display: inline;
}
#page ul.comments li img {
  width: 60px;
  height: 60px;
  border: 5px solid #e6e6e6;
  float: left;
  margin: 0 20px 10px 0;
}
#page ul.comments li section {
  float: left;
  max-width: 850px;
}
#page ul.comments li section p {
  margin-left: 0;
  margin-right: 0;
}
#page ul.comments li section p.meta {
  font-style: italic;
  font-size: 13px;
}
#page ul.comments li section h4 {
  font-weight: bold;
}
#page ul.comments li section a.read-more {
  cursor: pointer;
  background: gray;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  float: right;
}
#page ul.comments li section a.read-more:hover {
  background: #a0a0a0;
  color: white;
}
#page ul.comments li section ul {
  padding-left: 30px;
  margin-bottom: 20px;
}
#page ul.comments li section ul li {
  font-size: 14px;
  line-height: 20px;
  list-style: disc;
  margin-bottom: 10px;
  background: none;
  padding: 0;
}
#page ul.comments li section ul.tools {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 10px;
  top: 10px;
}
#page ul.comments li section ul.tools li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  display: inline;
}
#page ul.comments li section ul.tools li a {
  float: left;
  display: block;
}
#page ul.comments li section ul.tools li {
  margin-left: 5px;
}
#page ul.comments li section ul.tools li a {
  cursor: pointer;
  background: gray;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
}
#page ul.comments li section ul.tools li a:hover {
  background: #a0a0a0;
  color: white;
}
#page ul.comments li section ul.tools li a.like {
  cursor: pointer;
  background: gray;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background: #87c43c;
}
#page ul.comments li section ul.tools li a.like:hover {
  background: #a0a0a0;
  color: white;
}
#page ul.comments li section ul.tools li a.like:hover {
  background: #96d942;
}
#page ul.comments li section ul.tools li a.report {
  cursor: pointer;
  background: gray;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 11px;
  line-height: 1;
  padding: 3px 5px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  background: #d40000;
}
#page ul.comments li section ul.tools li a.report:hover {
  background: #a0a0a0;
  color: white;
}
#page ul.comments li section ul.tools li a.report:hover {
  background: red;
}
#page .social-and-tools {
  display: table-caption;
}
#page .social-and-tools .fb-like,
#page .social-and-tools .twitter-share-button,
#page .social-and-tools iframe {
  display: none;
}
#page .social-and-tools ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin: 20px 0;
}
#page .social-and-tools ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#page .social-and-tools ul li a {
  display: block;
  padding: 10px;
  margin: 5px 10px;
  font-size: 17px;
  font-weight: bold;
}
#page h2, #page h3 {
  border-top: 4px solid #009245;
  background: #e6e6e6;
  padding: 10px;
}

ul.hansard_entries em {
  font-style: italic;
}
ul.hansard_entries strong {
  font-weight: bold;
}
ul.hansard_entries li {
  margin-bottom: 0.5em;
  list-style: none;
}
ul.hansard_entries li.scene {
  margin-left: 2em;
}
ul.hansard_entries li.speech p {
  margin-left: 1em;
}
ul.hansard_entries li.page_number {
  text-align: right;
  background: #eee;
  padding: 0.2em;
}
