#staging_header {
  background-color: #faa;
  color: #000;
  font-size: 12px;
  padding: 5px;
  text-align: center;
}

div.error {
  border: 2px solid #f00;
  background-color: #fcc;
  text-align: center;
  font-size: 125%;
  padding: 5px;
  margin: 1em 0;
}

ul.ui-autocomplete li {
  list-style: none;
}
