/* -------------------------------------------------------------- 

DESKTOP CSS
mzalendo.com

AUTHOR: Josh Angell, Supercool
josh [at] supercooldesign.co.uk

  1. RESET / CORE
  2. DESKTOP LAYOUT
  3. SHARED ELEMENTS
  4. PAGE SPECIFIC
  5. MEDIA QUERIES

-------------------------------------------------------------- */
/* 1. RESET / CORE
-------------------------------------------------------------- */
/* 2. DESKTOP LAYOUT
   960px
   cols    1   2   3    4    5    6    7    8    9    10   11    12    13    14    15    16    17    18    19    20    21    22    23    24    25    26    27    28    29    30    31    32
   px      30  60  90   120  150  180  210  240  270  300  330   360   390   420   450   480   510   540   570   600   630   660   690   720   750   780   810   840   870   900   930   960
-------------------------------------------------------------- */
/* line 29, ../sass/desktop.scss */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

/* line 33, ../sass/desktop.scss */
#site-header {
  background: #009245;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c25c), color-stop(100%, #009245));
  background: -webkit-linear-gradient(#00c25c, #009245);
  background: -moz-linear-gradient(#00c25c, #009245);
  background: -o-linear-gradient(#00c25c, #009245);
  background: -ms-linear-gradient(#00c25c, #009245);
  background: linear-gradient(#00c25c, #009245);
  height: 60px;
}
/* line 37, ../sass/desktop.scss */
#site-header.down {
  height: 80px;
}
/* line 40, ../sass/desktop.scss */
#site-header .wrapper {
  position: relative;
  overflow: visible;
}
/* line 43, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools {
  position: absolute;
  right: 151px;
  top: 0;
}
/* line 47, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
/* line 195, ../sass/_core.scss */
#site-header .wrapper menu#site-user-tools ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  display: inline;
}
/* line 202, ../sass/_core.scss */
#site-header .wrapper menu#site-user-tools ul li a {
  float: left;
  display: block;
}
/* line 52, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.login,
#site-header .wrapper menu#site-user-tools ul li.logged-in,
#site-header .wrapper menu#site-user-tools ul li.login a,
#site-header .wrapper menu#site-user-tools ul li.logged-in a {
  padding: 0;
  color: white;
  background: none;
  border: none;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}
/* line 62, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.login a:hover,
#site-header .wrapper menu#site-user-tools ul li.logged-in a:hover,
#site-header .wrapper menu#site-user-tools ul li.login a a:hover,
#site-header .wrapper menu#site-user-tools ul li.logged-in a a:hover {
  background: none;
  text-decoration: underline;
}
/* line 67, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.login {
  text-transform: uppercase;
  width: 70px;
}
/* line 70, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.login a {
  font-size: 11px;
  padding: 3px 25px 3px 10px;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -khtml-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  background: black url(../images/login-arrows.png) 54px -19px no-repeat;
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #707070), color-stop(100%, #000000));
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -webkit-linear-gradient(#707070, #000000);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -moz-linear-gradient(#707070, #000000);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -o-linear-gradient(#707070, #000000);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -ms-linear-gradient(#707070, #000000);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, linear-gradient(#707070, #000000);
}
/* line 79, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.login a:hover {
  text-decoration: none;
  background: #707070 url(../images/login-arrows.png) 54px -19px no-repeat;
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #707070));
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -webkit-linear-gradient(#000000, #707070);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -moz-linear-gradient(#000000, #707070);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -o-linear-gradient(#000000, #707070);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -ms-linear-gradient(#000000, #707070);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, linear-gradient(#000000, #707070);
}
/* line 89, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.logged-in {
  text-transform: uppercase;
}
/* line 91, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.logged-in a {
  font-size: 11px;
  padding: 3px 10px;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -khtml-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  background: #000000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #707070), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#707070, #000000);
  background: -moz-linear-gradient(#707070, #000000);
  background: -o-linear-gradient(#707070, #000000);
  background: -ms-linear-gradient(#707070, #000000);
  background: linear-gradient(#707070, #000000);
}
/* line 97, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.logged-in a:hover {
  text-decoration: none;
  background: #707070 no-repeat;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #707070));
  background: -webkit-linear-gradient(#000000, #707070);
  background: -moz-linear-gradient(#000000, #707070);
  background: -o-linear-gradient(#000000, #707070);
  background: -ms-linear-gradient(#000000, #707070);
  background: linear-gradient(#000000, #707070);
}
/* line 104, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.logged-in-name {
  display: block;
  margin: 3px 10px 0 0;
  color: #fff;
}
/* line 109, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.active {
  position: relative;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  z-index: 2;
}
/* line 115, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.active a {
  color: gray;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  background: #e6e6e6 url(../images/login-arrows.png) 54px 11px no-repeat;
}
/* line 119, ../sass/desktop.scss */
#site-header .wrapper menu#site-user-tools ul li.active a:hover {
  color: black;
  background: #e6e6e6 url(../images/login-arrows.png) 54px 11px no-repeat;
}
/* line 127, ../sass/desktop.scss */
#site-header .wrapper #login-box {
  z-index: 1;
  position: absolute;
  right: 25px;
  top: 26px;
  display: none;
  background: #e6e6e6;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  width: 175px;
  padding: 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 4px;
}
/* line 140, ../sass/desktop.scss */
#site-header .wrapper #login-box #login {
  padding: 0;
  margin: 0;
  width: auto;
}
/* line 144, ../sass/desktop.scss */
#site-header .wrapper #login-box #login form {
  width: auto;
}
/* line 147, ../sass/desktop.scss */
#site-header .wrapper #login-box #login form input#id_username,
#site-header .wrapper #login-box #login form input#id_password {
  width: 163px;
  margin: 0 0 10px 0;
}
/* line 151, ../sass/desktop.scss */
#site-header .wrapper #login-box #login form input.login-button {
  margin: 0;
}
/* line 154, ../sass/desktop.scss */
#site-header .wrapper #login-box #login form p.forgot-register {
  margin: 0;
  font-size: 11px;
}
/* line 159, ../sass/desktop.scss */
#site-header .wrapper #login-box #login .login-social {
  margin: 0;
  font-size: 12px;
}
/* line 165, ../sass/desktop.scss */
#site-header .wrapper #logo {
  position: absolute;
  left: 0;
  top: 10px;
  height: 34px;
  width: 418px;
  background: url(../images/d-logo.png) 0 center no-repeat;
}
/* line 172, ../sass/desktop.scss */
#site-header .wrapper #logo.down {
  width: 600px;
  height: 50px;
  background: url(../images/down-logo.png) 0 center no-repeat;
}
/* line 178, ../sass/desktop.scss */
#site-header .wrapper #search {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  padding: 0;
  height: auto;
  border: none;
}
/* line 186, ../sass/desktop.scss */
#site-header .wrapper #search input {
  width: 117px;
  border: 1px solid black;
  font-size: 14px;
}
/* line 191, ../sass/desktop.scss */
#site-header .wrapper #search button {
  width: 26px;
  height: 26px;
  margin: 0 0 0 -2px;
}

/* line 199, ../sass/desktop.scss */
#main-menu {
  background: black;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #555555));
  background: -webkit-linear-gradient(#000000, #555555);
  background: -moz-linear-gradient(#000000, #555555);
  background: -o-linear-gradient(#000000, #555555);
  background: -ms-linear-gradient(#000000, #555555);
  background: linear-gradient(#000000, #555555);
}
/* line 202, ../sass/desktop.scss */
#main-menu nav {
  text-align: center;
}
/* line 204, ../sass/desktop.scss */
#main-menu nav ul {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: auto;
}
/* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#main-menu nav ul {
  *display: inline;
}
/* line 208, ../sass/desktop.scss */
#main-menu nav ul li {
  display: inline;
  float: left;
  height: 40px;
  border-right: 2px solid black;
}
/* line 214, ../sass/desktop.scss */
#main-menu nav ul li:last-child, #main-menu nav ul li.last {
  border-right: 0;
}
/* line 217, ../sass/desktop.scss */
#main-menu nav ul li a {
  float: left;
  border-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 16px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #555555));
  background: -webkit-linear-gradient(#000000, #555555);
  background: -moz-linear-gradient(#000000, #555555);
  background: -o-linear-gradient(#000000, #555555);
  background: -ms-linear-gradient(#000000, #555555);
  background: linear-gradient(#000000, #555555);
}
/* line 226, ../sass/desktop.scss */
#main-menu nav ul li a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#555555, #000000);
  background: -moz-linear-gradient(#555555, #000000);
  background: -o-linear-gradient(#555555, #000000);
  background: -ms-linear-gradient(#555555, #000000);
  background: linear-gradient(#555555, #000000);
}
/* line 230, ../sass/desktop.scss */
#main-menu nav ul li.active > a {
  background: #f6f6f6;
  color: #444;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  padding: 9px 15px 10px 15px;
}
/* line 241, ../sass/desktop.scss */
#main-menu nav ul li:hover ul {
  left: 0;
  top: 40px;
  text-align: left;
  width: 193px;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
/* line 249, ../sass/desktop.scss */
#main-menu nav ul li:hover ul li {
  display: block;
  float: none;
  height: auto;
  border: none;
}
/* line 254, ../sass/desktop.scss */
#main-menu nav ul li:hover ul li a {
  font-size: 14px;
  color: #444;
  background: #f6f6f6;
  height: auto;
  float: none;
}
/* line 260, ../sass/desktop.scss */
#main-menu nav ul li:hover ul li a:hover {
  background: #d4d4d4;
}
@media only screen and (min-width: 640px) and (max-width: 960px) {
  /* line 269, ../sass/desktop.scss */
  #main-menu nav ul li {
    height: 36px;
  }
  /* line 271, ../sass/desktop.scss */
  #main-menu nav ul li a {
    font-size: 14px;
    padding: 8px 10px;
  }
  /* line 275, ../sass/desktop.scss */
  #main-menu nav ul li.active > a {
    padding: 7px 9px 8px 9px;
  }
  /* line 279, ../sass/desktop.scss */
  #main-menu nav ul li:hover ul {
    top: 36px;
    width: 180px;
  }
  /* line 283, ../sass/desktop.scss */
  #main-menu nav ul li:hover ul li a {
    font-size: 12px;
  }
}

/* line 297, ../sass/desktop.scss */
#breadcrumb {
  display: block;
  height: 40px;
}
/* line 301, ../sass/desktop.scss */
#breadcrumb nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  float: left;
}
/* line 183, ../sass/_core.scss */
#breadcrumb nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 310, ../sass/desktop.scss */
#breadcrumb nav ul li,
#breadcrumb nav ul li.page-title,
#breadcrumb nav ul li a {
  display: inline;
  padding: 0;
  color: gray;
  background: none;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
}
/* line 321, ../sass/desktop.scss */
#breadcrumb nav ul li .sep {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
/* line 325, ../sass/desktop.scss */
#breadcrumb nav ul li a:hover {
  text-decoration: underline;
  color: #777777;
}

/* line 333, ../sass/desktop.scss */
#breadcrumb-replacement {
  display: block;
  height: 20px;
  background-color: #fff;
}

/* line 340, ../sass/desktop.scss */
#site-footer > .wrapper {
  display: block;
  padding: 0;
}
/* line 344, ../sass/desktop.scss */
#site-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: none;
  float: left;
  width: 200px;
  margin: 10px 30px 0 0;
}
/* line 183, ../sass/_core.scss */
#site-footer ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 350, ../sass/desktop.scss */
#site-footer ul li {
  margin-bottom: 10px;
}
/* line 354, ../sass/desktop.scss */
#site-footer .subscribe-box {
  display: block;
  float: right;
}
/* line 357, ../sass/desktop.scss */
#site-footer .subscribe-box h2 {
  background: none;
}

/* line 365, ../sass/desktop.scss */
#page.down h1 {
  font-size: 40px;
  line-height: 50px;
  margin: 20px 0 40px 0;
}
/* line 370, ../sass/desktop.scss */
#page.down h2 {
  font-size: 30px;
}
/* line 374, ../sass/desktop.scss */
#page .page-wrapper {
  clear: both;
  display: block;
  overflow: hidden;
  position: relative;
}
/* line 380, ../sass/desktop.scss */
#page .title-space {
  max-width: 510px;
  min-height: 0;
  float: left;
  clear: left;
  margin: 0 0 20px 240px;
  position: relative;
}
/* line 387, ../sass/desktop.scss */
#page .title-space .object-kind {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}
/* line 397, ../sass/desktop.scss */
#page .profile-pic {
  height: 210px;
  width: 210px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
/* line 404, ../sass/desktop.scss */
#page .profile-pic img {
  width: 100%;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  max-width: 210px;
  max-height: 210px;
}
/* line 413, ../sass/desktop.scss */
#page .profile-pic #map_canvas {
  width: 200px;
  height: 200px;
}
/* line 418, ../sass/desktop.scss */
#page .small-container {
  max-width: 510px;
  clear: left;
  margin-left: 240px;
  min-height: 120px;
}
/* line 423, ../sass/desktop.scss */
#page .small-container h3.scorecard-overall {
  margin: 0;
  padding: 15px 10px 10px 10px;
  background: #f6f6f6;
  border-bottom: 2px solid white;
}
/* line 428, ../sass/desktop.scss */
#page .small-container h3.scorecard-overall span {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  height: 32px;
  padding: 5px 0 0 130px;
  margin: -5px 0 0 24px;
  background: url(../images/d-smiley-sprite.png) 0 0 no-repeat;
}
/* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#page .small-container h3.scorecard-overall span {
  *display: inline;
}
/* line 434, ../sass/desktop.scss */
#page .small-container h3.scorecard-overall span.score-overall-good {
  background-position: left -2px;
}
/* line 437, ../sass/desktop.scss */
#page .small-container h3.scorecard-overall span.score-overall-average {
  background-position: left -44px;
}
/* line 440, ../sass/desktop.scss */
#page .small-container h3.scorecard-overall span.score-overall-bad {
  background-position: left -82px;
}
/* line 445, ../sass/desktop.scss */
#page .small-container ul.scorecard {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
}
/* line 183, ../sass/_core.scss */
#page .small-container ul.scorecard li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
/* line 451, ../sass/desktop.scss */
#page .small-container ul.scorecard li article.has-details:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}
/* line 455, ../sass/desktop.scss */
#page .small-container ul.scorecard li article.has-details.active {
  background-color: #e6e6e6;
}
/* line 457, ../sass/desktop.scss */
#page .small-container ul.scorecard li article.has-details.active header {
  background: url(../images/arrow-up.png) right 0 no-repeat;
}
/* line 461, ../sass/desktop.scss */
#page .small-container ul.scorecard li article.has-details header {
  background: url(../images/arrow-down.png) right 0 no-repeat;
}
/* line 465, ../sass/desktop.scss */
#page .small-container ul.scorecard li article header {
  overflow: hidden;
}
/* line 467, ../sass/desktop.scss */
#page .small-container ul.scorecard li article header h4 {
  float: left;
  width: 120px;
  line-height: 14px;
}
/* line 471, ../sass/desktop.scss */
#page .small-container ul.scorecard li article header h4 .btn-question {
  position: absolute;
  top: 0;
  right: 0;
}
/* line 477, ../sass/desktop.scss */
#page .small-container ul.scorecard li article header p {
  float: left;
  max-width: 250px;
  font-style: italic;
  margin: 0 0 0 20px;
  padding: 0 0 4px 60px;
}
/* line 483, ../sass/desktop.scss */
#page .small-container ul.scorecard li article header p.score-good {
  background: url(../images/score-good.png) left 0 no-repeat;
}
/* line 486, ../sass/desktop.scss */
#page .small-container ul.scorecard li article header p.score-average {
  background: url(../images/score-average.png) left 0 no-repeat;
}
/* line 489, ../sass/desktop.scss */
#page .small-container ul.scorecard li article header p.score-bad {
  background: url(../images/score-bad.png) left 0 no-repeat;
}
/* line 492, ../sass/desktop.scss */
#page .small-container ul.scorecard li article header p.score-disabled {
  background: url(../images/score-disabled.png) left 0 no-repeat;
}
/* line 497, ../sass/desktop.scss */
#page .small-container ul.scorecard li article div.details {
  margin: 0px 0px 8px 200px;
  /* 200 from 120 (width of head) + 80 (padding+margin of text) */
  display: block;
  margin-top: 10px;
}
/* line 501, ../sass/desktop.scss */
#page .small-container ul.scorecard li article div.details p {
  font-size: 13px;
}
/* line 509, ../sass/desktop.scss */
#page .profile-info {
  width: 210px;
  position: absolute;
  top: 210px;
  left: 0;
}
/* line 514, ../sass/desktop.scss */
#page .profile-info h3 {
  text-transform: uppercase;
  color: gray;
  font-size: 12px;
  margin-bottom: 0;
}
/* line 521, ../sass/desktop.scss */
#page .profile-info .constituency-party ul {
  margin-bottom: 10px;
}
/* line 523, ../sass/desktop.scss */
#page .profile-info .constituency-party ul li {
  border: 0;
  margin-bottom: 5px;
}
/* line 526, ../sass/desktop.scss */
#page .profile-info .constituency-party ul li a {
  background: #2e2e2e;
  color: white;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
/* line 531, ../sass/desktop.scss */
#page .profile-info .constituency-party ul li a:hover {
  background: #d40000;
}
/* line 539, ../sass/desktop.scss */
#page .profile-info .profile-names p {
  margin: 0 0 10px 0;
}
/* line 543, ../sass/desktop.scss */
#page .profile-info .vcard li .label {
  margin: 0;
}
/* line 547, ../sass/desktop.scss */
#page .large-container {
  position: relative;
  max-width: 720px;
  float: left;
  clear: left;
  margin-left: 240px;
}
/* line 554, ../sass/desktop.scss */
#page .large-container .left-col,
#page .large-container .right-col {
  width: 335px;
  float: left;
}
/* line 558, ../sass/desktop.scss */
#page .large-container .left-col {
  margin-right: 30px;
}
/* line 561, ../sass/desktop.scss */
#page .large-container p, #page .large-container h3 {
  margin-left: 0;
  margin-right: 0;
}
/* line 566, ../sass/desktop.scss */
#page .large-container section h3 {
  margin: 20px 0 0 0;
}
/* line 569, ../sass/desktop.scss */
#page .large-container section ul {
  margin-bottom: 30px;
}
/* line 571, ../sass/desktop.scss */
#page .large-container section ul li {
  margin-left: 0;
  margin-right: 0;
}
/* line 576, ../sass/desktop.scss */
#page .large-container section ul.tools li {
  margin-left: 5px;
}
/* line 583, ../sass/desktop.scss */
#page .large-container article h3 {
  margin: 20px 0 5px 0;
  border: none;
}
/* line 590, ../sass/desktop.scss */
#page #comments {
  display: block;
}
/* line 592, ../sass/desktop.scss */
#page #comments .big-btn-text-green {
  float: right;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#page #comments .big-btn-text-green {
  *display: inline;
}
/* line 596, ../sass/desktop.scss */
#page #comments h3 {
  clear: both;
}
/* line 600, ../sass/desktop.scss */
#page .social-and-tools {
  display: block;
  width: 180px;
  float: right;
  background: #f7f7f7;
}
/* line 605, ../sass/desktop.scss */
#page .social-and-tools ul {
  clear: both;
  margin: 10px;
}
/* line 609, ../sass/desktop.scss */
#page .social-and-tools ul li a {
  display: block;
  padding: 8px 0 12px 40px;
  margin: 5px 0;
  font-size: 12px;
  font-weight: normal;
  color: #777777;
  background: transparent url(../images/social-links.png) 0 -192px no-repeat;
}
/* line 619, ../sass/desktop.scss */
#page .social-and-tools ul li a:hover {
  color: black;
}
/* line 622, ../sass/desktop.scss */
#page .social-and-tools ul li a.big-btn-text-fb {
  background-position: 0 -192px;
}
/* line 624, ../sass/desktop.scss */
#page .social-and-tools ul li a.big-btn-text-fb:hover {
  background-position: 0 0;
}
/* line 628, ../sass/desktop.scss */
#page .social-and-tools ul li a.big-btn-text-tw {
  background-position: 0 -239px;
}
/* line 630, ../sass/desktop.scss */
#page .social-and-tools ul li a.big-btn-text-tw:hover {
  background-position: 0 -47px;
}
/* line 634, ../sass/desktop.scss */
#page .social-and-tools ul li a.big-btn-text-red {
  background-position: 0 -286px;
}
/* line 636, ../sass/desktop.scss */
#page .social-and-tools ul li a.big-btn-text-red:hover {
  background-position: 0 -94px;
}
/* line 640, ../sass/desktop.scss */
#page .social-and-tools ul li a.big-btn-text-green {
  background-position: 0 -333px;
}
/* line 642, ../sass/desktop.scss */
#page .social-and-tools ul li a.big-btn-text-green:hover {
  background-position: 0 -141px;
}
/* line 650, ../sass/desktop.scss */
#page h2, #page h3 {
  border-top: none;
  background: none;
  padding: 0;
}
/* line 655, ../sass/desktop.scss */
#page .search-wrap {
  margin: 0;
}
/* line 658, ../sass/desktop.scss */
#page .pagination .disabled {
  /* override main.css setting */
  display: none;
}

/* 3. SHARED ELEMENTS
-------------------------------------------------------------- */
/* line 667, ../sass/desktop.scss */
ul.comments li img {
  width: 60px;
  height: 60px;
}
/* line 671, ../sass/desktop.scss */
ul.comments li section {
  clear: none;
}
/* line 675, ../sass/desktop.scss */
ul.comments li .tools,
ul.comments li .read-more-wrap {
  left: -999999px;
}
/* line 681, ../sass/desktop.scss */
ul.comments li:hover .tools,
ul.comments li:hover .read-more-wrap, ul.comments li.hovered .tools, ul.comments li.hovered .read-more-wrap {
  left: auto;
}

/* line 691, ../sass/desktop.scss */
.tab ul.comments li section,
.tab ul.listing li section {
  width: 580px;
}

/* line 699, ../sass/desktop.scss */
ul.listing li img {
  width: auto;
  height: auto;
  max-width: 90px;
  max-height: 90px;
}
/* line 705, ../sass/desktop.scss */
ul.listing li .thumbnail-image-link {
  width: 90px;
  /* force fixed width for links that may contain narrow images */
  text-align: right;
}
/* line 709, ../sass/desktop.scss */
ul.listing li section {
  clear: none;
}
/* line 711, ../sass/desktop.scss */
ul.listing li section .read-more-wrap {
  top: auto;
  bottom: 15px;
}
/* line 715, ../sass/desktop.scss */
ul.listing li section a.read-more {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  cursor: pointer;
  background: gray;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  padding: 5px 8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  text-indent: 0;
  width: auto;
  height: auto;
}
/* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
ul.listing li section a.read-more {
  *display: inline;
}
/* line 113, ../sass/_core.scss */
ul.listing li section a.read-more:hover {
  background: #a0a0a0;
  color: white;
  text-decoration: none;
}

/* line 725, ../sass/desktop.scss */
#tab-nav {
  display: block;
  border-bottom: 1px solid #bbb;
  margin: 30px 0 0 0;
  z-index: 1;
  position: relative;
  height: 38px;
}
/* line 732, ../sass/desktop.scss */
#tab-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}
/* line 195, ../sass/_core.scss */
#tab-nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  display: inline;
}
/* line 202, ../sass/_core.scss */
#tab-nav ul li a {
  float: left;
  display: block;
}
/* line 736, ../sass/desktop.scss */
#tab-nav ul li {
  display: inline;
  float: left;
}
/* line 739, ../sass/desktop.scss */
#tab-nav ul li a {
  display: block;
  float: left;
  color: #009245;
  text-decoration: none;
  font-size: 13px;
  padding: 9px 15px 8px 15px;
  margin-right: 4px;
  border: 1px solid #bbb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
  background: -webkit-linear-gradient(#ffffff, #f6f6f6);
  background: -moz-linear-gradient(#ffffff, #f6f6f6);
  background: -o-linear-gradient(#ffffff, #f6f6f6);
  background: -ms-linear-gradient(#ffffff, #f6f6f6);
  background: linear-gradient(#ffffff, #f6f6f6);
}
/* line 749, ../sass/desktop.scss */
#tab-nav ul li a:hover {
  background: #fff;
  color: #87c43c;
}
/* line 754, ../sass/desktop.scss */
#tab-nav ul li.active a {
  color: black;
  padding: 9px 15px;
  background: #fff;
  border-bottom: 1px solid #fff;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -khtml-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

/* line 764, ../sass/desktop.scss */
.tab-wrapper {
  clear: both;
  border-left: 1px solid #bbb;
  padding: 15px 0 0 15px;
  position: relative;
  top: -1px;
}

/* line 772, ../sass/desktop.scss */
.page-title {
  display: block;
  background: none;
  padding: 0;
}

/* line 779, ../sass/desktop.scss */
#ajax_dialog_subcontent {
  width: 466px;
}
/* line 781, ../sass/desktop.scss */
#ajax_dialog_subcontent textarea {
  width: 448px;
}

/* 4. PAGE SPECIFIC
-------------------------------------------------------------- */
/* HOME */
/* line 790, ../sass/desktop.scss */
#page .home-left {
  float: left;
  clear: left;
  width: 420px;
  margin-right: 30px;
}
/* line 795, ../sass/desktop.scss */
#page .home-left h2#home-intro {
  display: block;
  text-transform: none;
  color: #009245;
  margin-top: 15px;
  line-height: 25px;
  padding: 6px;
  font-weight: normal;
  font-size: 16px;
}
/* line 806, ../sass/desktop.scss */
#page .home-left h2#home-intro .details {
  display: none;
}
/* line 809, ../sass/desktop.scss */
#page .home-left h2#home-intro .home-read-more {
  text-transform: uppercase;
  font-size: 12px;
  color: #b3b3b3;
  padding-right: 18px;
  background: url(../images/chevron-down-sml.png) right 2px no-repeat;
}
/* line 815, ../sass/desktop.scss */
#page .home-left h2#home-intro .home-read-more:hover {
  color: #a2a2a2;
  text-decoration: none;
}
/* line 819, ../sass/desktop.scss */
#page .home-left h2#home-intro .home-read-more.active {
  background: url(../images/chevron-up-sml.png) right 2px no-repeat;
}
/* line 825, ../sass/desktop.scss */
#page .home-right {
  float: left;
  width: 510px;
}

/* line 830, ../sass/desktop.scss */
#home-search {
  background: #2e2e2e;
  margin: 30px 0;
  padding: 20px;
}
/* line 834, ../sass/desktop.scss */
#home-search label {
  color: white;
}
/* line 837, ../sass/desktop.scss */
#home-search input {
  max-width: 260px;
  margin-right: 10px;
}
/* line 841, ../sass/desktop.scss */
#home-search > a {
  color: gray;
}

/* line 845, ../sass/desktop.scss */
ul#home-news-list {
  margin-top: 15px;
}
/* line 848, ../sass/desktop.scss */
ul#home-news-list li h3, ul#home-news-list li p {
  padding: 0;
}
/* line 851, ../sass/desktop.scss */
ul#home-news-list li img {
  margin-right: 0;
}

/* line 856, ../sass/desktop.scss */
#home-mpratings {
  margin: 15px 0 30px 0;
  padding: 0;
  background: url(../images/ex-home.png) 0 0 no-repeat;
  height: 224px;
}
/* line 861, ../sass/desktop.scss */
#home-mpratings img, #home-mpratings h3 {
  display: none;
}

/* line 865, ../sass/desktop.scss */
#twitter {
  display: block;
  float: left;
  width: 375px;
}
/* line 869, ../sass/desktop.scss */
#twitter h2 {
  color: gray;
  font-size: 18px;
  text-transform: uppercase;
}
/* line 874, ../sass/desktop.scss */
#twitter .twitter-feed {
  border: 4px solid #dddddd;
}
/* line 877, ../sass/desktop.scss */
#twitter .tw-wrap {
  padding: 20px;
  min-height: 58px;
  background: url(../images/quotes.png) 10px 10px no-repeat;
}
/* line 882, ../sass/desktop.scss */
#twitter p {
  margin: 0;
}
/* line 884, ../sass/desktop.scss */
#twitter p.meta {
  color: gray;
  margin-top: 10px;
  font-size: 13px;
  font-style: italic;
}
/* line 893, ../sass/desktop.scss */
#twitter .btn-text-green {
  margin-top: 10px;
  float: right;
}

/* line 899, ../sass/desktop.scss */
#page .home-right .social-and-tools {
  margin-top: 30px;
  width: 110px;
  position: relative;
  padding: 0 0 20px 25px;
  background: #dddddd;
}
/* line 905, ../sass/desktop.scss */
#page .home-right .social-and-tools ul {
  margin: 20px 0;
}
/* line 908, ../sass/desktop.scss */
#page .home-right .social-and-tools .tw-nub {
  display: block;
  width: 23px;
  height: 26px;
  position: absolute;
  bottom: 17px;
  left: -4px;
  background: url(../images/nub.png) 0 0 no-repeat;
}
/* line 917, ../sass/desktop.scss */
#page .home-right .social-and-tools .tw-follow {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
/* line 7, ../../../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.11.7/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
#page .home-right .social-and-tools .tw-follow {
  *display: inline;
}

/* line 922, ../sass/desktop.scss */
#home-links {
  overflow: hidden;
}
/* line 924, ../sass/desktop.scss */
#home-links a {
  width: 213px;
  height: 60px;
  float: left;
  line-height: 30px;
  font-size: 22px;
  font-weight: bold;
}
/* line 933, ../sass/desktop.scss */
#home-links a.aspirants {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  margin: 0 3px 0 0;
  padding: 20px;
  background: #009245 url(../images/big-chevron.png) 180px center no-repeat;
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a24c), color-stop(100%, #009245));
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-linear-gradient(#00a24c, #009245);
  background: url(../images/big-chevron.png) 180px center no-repeat, -moz-linear-gradient(#00a24c, #009245);
  background: url(../images/big-chevron.png) 180px center no-repeat, -o-linear-gradient(#00a24c, #009245);
  background: url(../images/big-chevron.png) 180px center no-repeat, -ms-linear-gradient(#00a24c, #009245);
  background: url(../images/big-chevron.png) 180px center no-repeat, linear-gradient(#00a24c, #009245);
}
/* line 942, ../sass/desktop.scss */
#home-links a.aspirants:hover {
  background: #00a24c url(../images/big-chevron.png) 180px center no-repeat;
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009245), color-stop(100%, #00a24c));
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-linear-gradient(#009245, #00a24c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -moz-linear-gradient(#009245, #00a24c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -o-linear-gradient(#009245, #00a24c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -ms-linear-gradient(#009245, #00a24c);
  background: url(../images/big-chevron.png) 180px center no-repeat, linear-gradient(#009245, #00a24c);
}
/* line 950, ../sass/desktop.scss */
#home-links a.citizens {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  margin: 0;
  padding: 20px;
  background: #87c43c url(../images/big-chevron.png) 180px center no-repeat;
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #96d942), color-stop(100%, #87c43c));
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-linear-gradient(#96d942, #87c43c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -moz-linear-gradient(#96d942, #87c43c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -o-linear-gradient(#96d942, #87c43c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -ms-linear-gradient(#96d942, #87c43c);
  background: url(../images/big-chevron.png) 180px center no-repeat, linear-gradient(#96d942, #87c43c);
}
/* line 959, ../sass/desktop.scss */
#home-links a.citizens:hover {
  background: #96d942 url(../images/big-chevron.png) 180px center no-repeat;
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87c43c), color-stop(100%, #96d942));
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-linear-gradient(#87c43c, #96d942);
  background: url(../images/big-chevron.png) 180px center no-repeat, -moz-linear-gradient(#87c43c, #96d942);
  background: url(../images/big-chevron.png) 180px center no-repeat, -o-linear-gradient(#87c43c, #96d942);
  background: url(../images/big-chevron.png) 180px center no-repeat, -ms-linear-gradient(#87c43c, #96d942);
  background: url(../images/big-chevron.png) 180px center no-repeat, linear-gradient(#87c43c, #96d942);
}

/* line 970, ../sass/desktop.scss */
#home-featured-person {
  margin-bottom: 30px;
}

/* line 974, ../sass/desktop.scss */
.featured-person {
  border: 1px solid #b3b3b3;
}
/* line 976, ../sass/desktop.scss */
.featured-person img {
  max-width: 180px;
}
/* line 979, ../sass/desktop.scss */
.featured-person .featured-person-info {
  margin-left: 200px;
  max-width: 300px;
  min-height: 180px;
}
/* line 983, ../sass/desktop.scss */
.featured-person .featured-person-info .feature-nav {
  display: block;
  float: right;
}
/* line 986, ../sass/desktop.scss */
.featured-person .featured-person-info .feature-nav a {
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  text-indent: -999999px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  display: block;
  width: 20px;
  height: 22px;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 994, ../sass/desktop.scss */
.featured-person .featured-person-info .feature-nav .feature-prev {
  background: transparent url(../images/chevron-left-alt.png) center no-repeat;
  margin-right: 10px;
}
/* line 997, ../sass/desktop.scss */
.featured-person .featured-person-info .feature-nav .feature-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 1001, ../sass/desktop.scss */
.featured-person .featured-person-info .feature-nav .feature-next {
  background: transparent url(../images/chevron-right-alt.png) center no-repeat;
}
/* line 1003, ../sass/desktop.scss */
.featured-person .featured-person-info .feature-nav .feature-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 1008, ../sass/desktop.scss */
.featured-person .featured-person-info h2 {
  margin: 15px 0 0 0 !important;
  line-height: 30px;
}
/* line 1011, ../sass/desktop.scss */
.featured-person .featured-person-info h2 a {
  font-size: 24px;
}
/* line 1015, ../sass/desktop.scss */
.featured-person .featured-person-info .feature-person-summary {
  display: block;
  padding: 0 0 40px 0;
}
/* line 1018, ../sass/desktop.scss */
.featured-person .featured-person-info .feature-person-summary p {
  font-size: 12px;
}
/* line 1022, ../sass/desktop.scss */
.featured-person .featured-person-info .rating-container {
  bottom: 10px;
}
/* line 1024, ../sass/desktop.scss */
.featured-person .featured-person-info .rating-container .rating {
  margin: 0 40px 15px 0;
}
/* line 1027, ../sass/desktop.scss */
.featured-person .featured-person-info .rating-container .rating-img {
  bottom: 10px;
}

/* =================================== */
/* Login Page */
/* line 1039, ../sass/desktop.scss */
#login-pagetitle {
  display: block;
  background: #e6e6e6;
  margin: 0 auto;
  padding: 10px;
  width: 300px;
}

/* line 1046, ../sass/desktop.scss */
#login {
  background: #e6e6e6;
  padding: 0 10px 10px 10px;
  overflow: hidden;
  margin: 0 auto;
  width: 300px;
}
/* line 1052, ../sass/desktop.scss */
#login p.error {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
/* line 1055, ../sass/desktop.scss */
#login form {
  width: 300px;
}
/* line 1058, ../sass/desktop.scss */
#login form input#id_username,
#login form input#id_password {
  width: 288px;
  margin: 10px 0;
}
/* line 1062, ../sass/desktop.scss */
#login form input.login-button {
  margin: 0;
}
/* line 1065, ../sass/desktop.scss */
#login form p.forgot-register {
  margin: 0;
}
/* line 1069, ../sass/desktop.scss */
#login .login-social {
  margin: 0;
}

/* ============ info page markdown styles ============ */
/* line 1076, ../sass/desktop.scss */
.infopage {
  margin: 0;
}
/* line 1078, ../sass/desktop.scss */
.infopage h1 {
  margin: 0 0 20px 0;
}
/* line 1081, ../sass/desktop.scss */
.infopage h4 {
  padding: 0 0 5px 0;
}
/* line 1084, ../sass/desktop.scss */
.infopage p {
  padding: 0;
}
/* line 1087, ../sass/desktop.scss */
.infopage ul, .infopage ol, .infopage dl {
  margin: 0;
}

/* 5. MEDIA QUERIES
   for tablets mainly, but also smaller screens
   that can't handle 960px
-------------------------------------------------------------- */
@media only screen and (min-width: 640px) and (max-width: 960px) {
  /* line 1097, ../sass/desktop.scss */
  #breadcrumb,
  #site-footer {
    padding: 0 10px;
  }

  /* line 1100, ../sass/desktop.scss */
  #page {
    padding: 0 10px;
  }
  /* line 1102, ../sass/desktop.scss */
  #page .title-space {
    padding-top: 60px;
  }
  /* line 1105, ../sass/desktop.scss */
  #page .social-and-tools {
    display: block;
    width: auto;
    position: absolute;
    right: 10px;
    top: 0;
    float: none;
  }
  /* line 1112, ../sass/desktop.scss */
  #page .social-and-tools ul {
    margin: 5px 10px;
    float: left;
    clear: none;
  }
  /* line 1116, ../sass/desktop.scss */
  #page .social-and-tools ul li {
    float: left;
    margin-right: 10px;
  }
  /* line 1125, ../sass/desktop.scss */
  #page .home-left {
    width: 320px;
  }
  /* line 1128, ../sass/desktop.scss */
  #page .home-right {
    float: right;
  }
  /* line 1130, ../sass/desktop.scss */
  #page .home-right .social-and-tools {
    position: relative;
    right: auto;
    top: auto;
    float: left;
  }
  /* line 1135, ../sass/desktop.scss */
  #page .home-right .social-and-tools ul {
    float: none;
  }
  /* line 1137, ../sass/desktop.scss */
  #page .home-right .social-and-tools ul li {
    display: block;
  }
}
@media only screen and (min-width: 640px) and (max-width: 880px) {
  /* line 1146, ../sass/desktop.scss */
  #page .home-right {
    width: 380px;
  }
  /* line 1148, ../sass/desktop.scss */
  #page .home-right .social-and-tools {
    width: 355px;
    margin: 0 0 20px 0;
    padding: 10px;
  }
  /* line 1152, ../sass/desktop.scss */
  #page .home-right .social-and-tools .tw-nub {
    display: none;
  }
  /* line 1155, ../sass/desktop.scss */
  #page .home-right .social-and-tools ul {
    float: right;
    margin: 0;
  }
  /* line 1158, ../sass/desktop.scss */
  #page .home-right .social-and-tools ul li {
    float: left;
  }
  /* line 1162, ../sass/desktop.scss */
  #page .home-right .social-and-tools .tw-follow {
    float: left;
    margin: 8px 0 0 10px;
  }

  /* line 1168, ../sass/desktop.scss */
  #home-links a {
    width: 168px;
    font-size: 18px;
    line-height: 22px;
  }
  /* line 1175, ../sass/desktop.scss */
  #home-links a.aspirants, #home-links a.citizens, #home-links a:hover.aspirants, #home-links a:hover.citizens {
    padding: 10px 10px 15px 10px;
    background-position: 120px center;
  }
}
@media only screen and (min-width: 640px) and (max-width: 760px) {
  /* line 1183, ../sass/desktop.scss */
  #page .home-left {
    width: 100%;
  }

  /* line 1186, ../sass/desktop.scss */
  #page .home-right {
    float: left;
    width: 510px;
    margin-bottom: 20px;
  }
}
