/* -------------------------------------------------------------- 

DESKTOP CSS
mzalendo.com

AUTHOR: Josh Angell, Supercool
josh [at] supercooldesign.co.uk

  1. RESET / CORE
  2. DESKTOP LAYOUT
  3. SHARED ELEMENTS
  4. PAGE SPECIFIC
  5. MEDIA QUERIES

-------------------------------------------------------------- */
/* 1. RESET / CORE
-------------------------------------------------------------- */
/* 2. DESKTOP LAYOUT
   960px
   cols    1   2   3    4    5    6    7    8    9    10   11    12    13    14    15    16    17    18    19    20    21    22    23    24    25    26    27    28    29    30    31    32
   px      30  60  90   120  150  180  210  240  270  300  330   360   390   420   450   480   510   540   570   600   630   660   690   720   750   780   810   840   870   900   930   960
-------------------------------------------------------------- */
.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

#site-header {
  background: #009245;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c25c), color-stop(100%, #009245));
  background: -webkit-linear-gradient(#00c25c, #009245);
  background: -moz-linear-gradient(#00c25c, #009245);
  background: -o-linear-gradient(#00c25c, #009245);
  background: -ms-linear-gradient(#00c25c, #009245);
  background: linear-gradient(#00c25c, #009245);
  height: 60px;
}
#site-header .wrapper {
  position: relative;
  overflow: visible;
}
#site-header .wrapper menu#site-user-tools {
  position: absolute;
  right: 151px;
  top: 0;
}
#site-header .wrapper menu#site-user-tools ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#site-header .wrapper menu#site-user-tools ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  display: inline;
}
#site-header .wrapper menu#site-user-tools ul li a {
  float: left;
  display: block;
}
#site-header .wrapper menu#site-user-tools ul li.login,
#site-header .wrapper menu#site-user-tools ul li.logged-in,
#site-header .wrapper menu#site-user-tools ul li.login a,
#site-header .wrapper menu#site-user-tools ul li.logged-in a {
  padding: 0;
  color: white;
  background: none;
  border: none;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}
#site-header .wrapper menu#site-user-tools ul li.login a:hover,
#site-header .wrapper menu#site-user-tools ul li.logged-in a:hover,
#site-header .wrapper menu#site-user-tools ul li.login a a:hover,
#site-header .wrapper menu#site-user-tools ul li.logged-in a a:hover {
  background: none;
  text-decoration: underline;
}
#site-header .wrapper menu#site-user-tools ul li.login {
  text-transform: uppercase;
  width: 70px;
}
#site-header .wrapper menu#site-user-tools ul li.login a {
  font-size: 11px;
  padding: 3px 25px 3px 10px;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -khtml-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  background: black url(../images/login-arrows.png) 54px -19px no-repeat;
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #707070), color-stop(100%, #000000));
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -webkit-linear-gradient(#707070, #000000);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -moz-linear-gradient(#707070, #000000);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -o-linear-gradient(#707070, #000000);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -ms-linear-gradient(#707070, #000000);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, linear-gradient(#707070, #000000);
}
#site-header .wrapper menu#site-user-tools ul li.login a:hover {
  text-decoration: none;
  background: #707070 url(../images/login-arrows.png) 54px -19px no-repeat;
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #707070));
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -webkit-linear-gradient(#000000, #707070);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -moz-linear-gradient(#000000, #707070);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -o-linear-gradient(#000000, #707070);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, -ms-linear-gradient(#000000, #707070);
  background: url(../images/login-arrows.png) 54px -19px no-repeat, linear-gradient(#000000, #707070);
}
#site-header .wrapper menu#site-user-tools ul li.logged-in {
  text-transform: uppercase;
}
#site-header .wrapper menu#site-user-tools ul li.logged-in a {
  font-size: 11px;
  padding: 3px 10px;
  -moz-border-radius: 2px 0 0 2px;
  -webkit-border-radius: 2px 0 0 2px;
  -o-border-radius: 2px 0 0 2px;
  -ms-border-radius: 2px 0 0 2px;
  -khtml-border-radius: 2px 0 0 2px;
  border-radius: 2px 0 0 2px;
  background: #000000;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #707070), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#707070, #000000);
  background: -moz-linear-gradient(#707070, #000000);
  background: -o-linear-gradient(#707070, #000000);
  background: -ms-linear-gradient(#707070, #000000);
  background: linear-gradient(#707070, #000000);
}
#site-header .wrapper menu#site-user-tools ul li.logged-in a:hover {
  text-decoration: none;
  background: #707070 no-repeat;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #707070));
  background: -webkit-linear-gradient(#000000, #707070);
  background: -moz-linear-gradient(#000000, #707070);
  background: -o-linear-gradient(#000000, #707070);
  background: -ms-linear-gradient(#000000, #707070);
  background: linear-gradient(#000000, #707070);
}
#site-header .wrapper menu#site-user-tools ul li.logged-in-name {
  display: block;
  margin: 3px 10px 0 0;
  color: #fff;
}
#site-header .wrapper menu#site-user-tools ul li.active {
  position: relative;
  border-top: 1px solid #666666;
  border-left: 1px solid #666666;
  z-index: 2;
}
#site-header .wrapper menu#site-user-tools ul li.active a {
  color: gray;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  -khtml-border-radius: 0;
  border-radius: 0;
  background: #e6e6e6 url(../images/login-arrows.png) 54px 11px no-repeat;
}
#site-header .wrapper menu#site-user-tools ul li.active a:hover {
  color: black;
  background: #e6e6e6 url(../images/login-arrows.png) 54px 11px no-repeat;
}
#site-header .wrapper #login-box {
  z-index: 1;
  position: absolute;
  right: 25px;
  top: 26px;
  display: none;
  background: #e6e6e6;
  border-left: 1px solid #666666;
  border-right: 1px solid #666666;
  border-bottom: 1px solid #666666;
  width: 175px;
  padding: 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 4px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 4px;
  -o-box-shadow: rgba(0, 0, 0, 0.3) 0 5px 4px;
  box-shadow: rgba(0, 0, 0, 0.3) 0 5px 4px;
}
#site-header .wrapper #login-box #login {
  padding: 0;
  margin: 0;
  width: auto;
}
#site-header .wrapper #login-box #login form {
  width: auto;
}
#site-header .wrapper #login-box #login form input#id_username,
#site-header .wrapper #login-box #login form input#id_password {
  width: 163px;
  margin: 0 0 10px 0;
}
#site-header .wrapper #login-box #login form input.login-button {
  margin: 0;
}
#site-header .wrapper #login-box #login form p.forgot-register {
  margin: 0;
  font-size: 11px;
}
#site-header .wrapper #login-box #login .login-social {
  margin: 0;
  font-size: 12px;
}
#site-header .wrapper #logo {
  position: absolute;
  left: 0;
  top: 10px;
  height: 34px;
  width: 418px;
  background: url(../images/d-logo.png) 0 center no-repeat;
}
#site-header .wrapper #search {
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  padding: 0;
  height: auto;
  border: none;
}
#site-header .wrapper #search input {
  width: 117px;
  border: 1px solid black;
  font-size: 14px;
}
#site-header .wrapper #search button {
  width: 26px;
  height: 26px;
  margin: 0 0 0 -2px;
}

#main-menu {
  background: black;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #555555));
  background: -webkit-linear-gradient(#000000, #555555);
  background: -moz-linear-gradient(#000000, #555555);
  background: -o-linear-gradient(#000000, #555555);
  background: -ms-linear-gradient(#000000, #555555);
  background: linear-gradient(#000000, #555555);
}
#main-menu nav {
  text-align: center;
}
#main-menu nav ul {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  width: auto;
}
#main-menu nav ul {
  *display: inline;
}
#main-menu nav ul li {
  display: inline;
  float: left;
  height: 40px;
  border-right: 2px solid black;
}
#main-menu nav ul li:last-child, #main-menu nav ul li.last {
  border-right: 0;
}
#main-menu nav ul li a {
  float: left;
  border-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  padding: 10px 16px;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #555555));
  background: -webkit-linear-gradient(#000000, #555555);
  background: -moz-linear-gradient(#000000, #555555);
  background: -o-linear-gradient(#000000, #555555);
  background: -ms-linear-gradient(#000000, #555555);
  background: linear-gradient(#000000, #555555);
}
#main-menu nav ul li a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#555555, #000000);
  background: -moz-linear-gradient(#555555, #000000);
  background: -o-linear-gradient(#555555, #000000);
  background: -ms-linear-gradient(#555555, #000000);
  background: linear-gradient(#555555, #000000);
}
#main-menu nav ul li.active > a {
  background: #f6f6f6;
  color: #444;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-top: 1px solid #d4d4d4;
  padding: 9px 15px 10px 15px;
}
#main-menu nav ul li:hover ul {
  left: 0;
  top: 40px;
  text-align: left;
  width: 193px;
  border-left: 1px solid #d4d4d4;
  border-right: 1px solid #d4d4d4;
  border-bottom: 1px solid #d4d4d4;
}
#main-menu nav ul li:hover ul li {
  display: block;
  float: none;
  height: auto;
  border: none;
}
#main-menu nav ul li:hover ul li a {
  font-size: 14px;
  color: #444;
  background: #f6f6f6;
  height: auto;
  float: none;
}
#main-menu nav ul li:hover ul li a:hover {
  background: #d4d4d4;
}

#breadcrumb {
  display: block;
  height: 40px;
}
#breadcrumb nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
  padding: 10px 0;
  margin-bottom: 10px;
  float: left;
}
#breadcrumb nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#breadcrumb nav ul li,
#breadcrumb nav ul li.page-title,
#breadcrumb nav ul li a {
  display: inline;
  padding: 0;
  color: gray;
  background: none;
  text-decoration: none;
  font-size: 12px;
  font-weight: normal;
}
#breadcrumb nav ul li .sep {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
#breadcrumb nav ul li a:hover {
  text-decoration: underline;
  color: #777777;
}

#breadcrumb-replacement {
  display: block;
  height: 20px;
  background-color: #fff;
}

#site-footer > .wrapper {
  display: block;
  padding: 0;
}
#site-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  clear: none;
  float: left;
  width: 200px;
  margin: 10px 30px 0 0;
}
#site-footer ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#site-footer ul li {
  margin-bottom: 10px;
}
#site-footer .subscribe-box {
  display: block;
  float: right;
}
#site-footer .subscribe-box h2 {
  background: none;
}

#page .page-wrapper {
  clear: both;
  display: block;
  overflow: hidden;
  position: relative;
}
#page .title-space {
  max-width: 510px;
  min-height: 0;
  float: left;
  clear: left;
  margin: 0 0 20px 240px;
  position: relative;
}
#page .title-space .object-kind {
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  margin: 0;
  text-transform: uppercase;
}
#page .profile-pic {
  height: 210px;
  width: 210px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
#page .profile-pic img {
  width: 100%;
  width: auto;
  height: auto;
  max-width: 200px;
  max-height: 200px;
  max-width: 210px;
  max-height: 210px;
}
#page .profile-pic #map_canvas {
  width: 200px;
  height: 200px;
}
#page .small-container {
  max-width: 510px;
  clear: left;
  margin-left: 240px;
}
#page .small-container h3.scorecard-overall {
  margin: 0;
  padding: 15px 10px 10px 10px;
  background: #f6f6f6;
  border-bottom: 2px solid white;
}
#page .small-container h3.scorecard-overall span {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  height: 32px;
  padding: 5px 0 0 130px;
  margin: -5px 0 0 24px;
  background: url(../images/d-smiley-sprite.png) 0 0 no-repeat;
}
#page .small-container h3.scorecard-overall span {
  *display: inline;
}
#page .small-container h3.scorecard-overall span.score-overall-good {
  background-position: left -2px;
}
#page .small-container h3.scorecard-overall span.score-overall-average {
  background-position: left -44px;
}
#page .small-container h3.scorecard-overall span.score-overall-bad {
  background-position: left -82px;
}
#page .small-container ul.scorecard {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: block;
}
#page .small-container ul.scorecard li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#page .small-container ul.scorecard li article.has-details:hover {
  cursor: pointer;
  background-color: #e6e6e6;
}
#page .small-container ul.scorecard li article.has-details.active {
  background-color: #e6e6e6;
}
#page .small-container ul.scorecard li article.has-details.active header {
  background: url(../images/arrow-up.png) right 0 no-repeat;
}
#page .small-container ul.scorecard li article.has-details header {
  background: url(../images/arrow-down.png) right 0 no-repeat;
}
#page .small-container ul.scorecard li article header {
  overflow: hidden;
}
#page .small-container ul.scorecard li article header h4 {
  float: left;
  width: 120px;
  line-height: 1em;
}
#page .small-container ul.scorecard li article header p {
  float: left;
  max-width: 250px;
  font-style: italic;
  margin: 0 0 0 20px;
  padding: 0 0 4px 60px;
}
#page .small-container ul.scorecard li article header p.score-good {
  background: url(../images/score-good.png) left 0 no-repeat;
}
#page .small-container ul.scorecard li article header p.score-average {
  background: url(../images/score-average.png) left 0 no-repeat;
}
#page .small-container ul.scorecard li article header p.score-bad {
  background: url(../images/score-bad.png) left 0 no-repeat;
}
#page .small-container ul.scorecard li article div.details {
  margin: 0px 0px 8px 200px;
  /* 200 from 120 (width of head) + 80 (padding+margin of text) */
  display: block;
  margin-top: 10px;
}
#page .small-container ul.scorecard li article div.details p {
  font-size: 13px;
}
#page .profile-info {
  min-height: 200px;
  width: 210px;
  position: absolute;
  top: 210px;
  left: 0;
}
#page .profile-info h3 {
  text-transform: uppercase;
  color: gray;
  font-size: 12px;
  margin-bottom: 0;
}
#page .profile-info .constituency-party ul {
  margin-bottom: 10px;
}
#page .profile-info .constituency-party ul li {
  border: 0;
  margin-bottom: 5px;
}
#page .profile-info .constituency-party ul li a {
  background: #2e2e2e;
  color: white;
  padding: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}
#page .profile-info .constituency-party ul li a:hover {
  background: #d40000;
}
#page .profile-info .vcard li .label {
  margin: 0;
}
#page .large-container {
  position: relative;
  max-width: 720px;
  float: left;
  clear: left;
  margin-left: 240px;
}
#page .large-container .left-col,
#page .large-container .right-col {
  width: 335px;
  float: left;
}
#page .large-container .left-col {
  margin-right: 30px;
}
#page .large-container p, #page .large-container h3 {
  margin-left: 0;
  margin-right: 0;
}
#page .large-container section h3 {
  margin: 20px 0 0 0;
}
#page .large-container section ul {
  margin-bottom: 30px;
}
#page .large-container section ul li {
  margin-left: 0;
  margin-right: 0;
}
#page .large-container section ul.tools li {
  margin-left: 5px;
}
#page .large-container article h3 {
  margin: 20px 0 5px 0;
  border: none;
}
#page #comments {
  display: block;
}
#page #comments .big-btn-text-green {
  float: right;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
#page #comments .big-btn-text-green {
  *display: inline;
}
#page #comments h3 {
  clear: both;
}
#page .social-and-tools {
  display: block;
  width: 180px;
  float: right;
  background: #f7f7f7;
}
#page .social-and-tools ul {
  clear: both;
  margin: 10px;
}
#page .social-and-tools ul li a {
  display: block;
  padding: 8px 0 12px 40px;
  margin: 5px 0;
  font-size: 12px;
  font-weight: normal;
  color: #777777;
  background: transparent url(../images/social-links.png) 0 -192px no-repeat;
}
#page .social-and-tools ul li a:hover {
  color: black;
}
#page .social-and-tools ul li a.big-btn-text-fb {
  background-position: 0 -192px;
}
#page .social-and-tools ul li a.big-btn-text-fb:hover {
  background-position: 0 0;
}
#page .social-and-tools ul li a.big-btn-text-tw {
  background-position: 0 -239px;
}
#page .social-and-tools ul li a.big-btn-text-tw:hover {
  background-position: 0 -47px;
}
#page .social-and-tools ul li a.big-btn-text-red {
  background-position: 0 -286px;
}
#page .social-and-tools ul li a.big-btn-text-red:hover {
  background-position: 0 -94px;
}
#page .social-and-tools ul li a.big-btn-text-green {
  background-position: 0 -333px;
}
#page .social-and-tools ul li a.big-btn-text-green:hover {
  background-position: 0 -141px;
}
#page h2, #page h3 {
  border-top: none;
  background: none;
  padding: 0;
}
#page .search-wrap {
  margin: 0;
}
#page .pagination .disabled {
  /* override main.css setting */
  display: none;
}

/* 3. SHARED ELEMENTS
-------------------------------------------------------------- */
ul.comments li img {
  width: 60px;
  height: 60px;
}
ul.comments li section {
  clear: none;
}
ul.comments li .tools,
ul.comments li .read-more-wrap {
  left: -999999px;
}
ul.comments li:hover .tools,
ul.comments li:hover .read-more-wrap, ul.comments li.hovered .tools, ul.comments li.hovered .read-more-wrap {
  left: auto;
}

.tab ul.comments li section,
.tab ul.listing li section {
  width: 580px;
}

ul.listing li img {
  width: 90px;
  height: 90px;
}
ul.listing li section {
  clear: none;
}
ul.listing li section .read-more-wrap {
  top: auto;
  bottom: 15px;
}
ul.listing li section a.read-more {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  cursor: pointer;
  background: gray;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  padding: 5px 8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  text-indent: 0;
  width: auto;
  height: auto;
}
ul.listing li section a.read-more {
  *display: inline;
}
ul.listing li section a.read-more:hover {
  background: #a0a0a0;
  color: white;
  text-decoration: none;
}

#tab-nav {
  display: block;
  border-bottom: 1px solid #bbb;
  margin: 30px 0 0 0;
  z-index: 1;
  position: relative;
  height: 38px;
}
#tab-nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 2;
}
#tab-nav ul li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
  float: left;
  display: inline;
}
#tab-nav ul li a {
  float: left;
  display: block;
}
#tab-nav ul li {
  display: inline;
  float: left;
}
#tab-nav ul li a {
  display: block;
  float: left;
  color: #009245;
  text-decoration: none;
  font-size: 13px;
  padding: 9px 15px 8px 15px;
  margin-right: 4px;
  border: 1px solid #bbb;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #f6f6f6));
  background: -webkit-linear-gradient(#ffffff, #f6f6f6);
  background: -moz-linear-gradient(#ffffff, #f6f6f6);
  background: -o-linear-gradient(#ffffff, #f6f6f6);
  background: -ms-linear-gradient(#ffffff, #f6f6f6);
  background: linear-gradient(#ffffff, #f6f6f6);
}
#tab-nav ul li a:hover {
  background: #fff;
  color: #87c43c;
}
#tab-nav ul li.active a {
  color: black;
  padding: 9px 15px;
  background: #fff;
  border-bottom: 1px solid #fff;
  -moz-border-radius: 0 0 2px 2px;
  -webkit-border-radius: 0 0 2px 2px;
  -o-border-radius: 0 0 2px 2px;
  -ms-border-radius: 0 0 2px 2px;
  -khtml-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px;
}

.tab-wrapper {
  clear: both;
  border-left: 1px solid #bbb;
  padding: 15px 0 0 15px;
  position: relative;
  top: -1px;
}

.page-title {
  display: block;
  background: none;
  padding: 0;
}

#ajax_dialog_subcontent {
  width: 466px;
}
#ajax_dialog_subcontent label {
  display: block;
  font-size: 18px;
  margin: 6px 0 10px 0;
}
#ajax_dialog_subcontent textarea {
  width: 448px;
  height: 160px;
  border: 2px solid #777777;
  padding: 6px;
  font-size: 16px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
}
#ajax_dialog_subcontent textarea:focus {
  outline: none;
  box-shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
}
#ajax_dialog_subcontent input.submit {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  cursor: pointer;
  background: gray;
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  line-height: 1;
  padding: 5px 8px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  text-transform: none;
  font-size: 14px;
  padding: 5px 8px;
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  background: #87c43c;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #96d942), color-stop(100%, #87c43c));
  background: -webkit-linear-gradient(#96d942, #87c43c);
  background: -moz-linear-gradient(#96d942, #87c43c);
  background: -o-linear-gradient(#96d942, #87c43c);
  background: -ms-linear-gradient(#96d942, #87c43c);
  background: linear-gradient(#96d942, #87c43c);
  border: none;
  float: right;
}
#ajax_dialog_subcontent input.submit {
  *display: inline;
}
#ajax_dialog_subcontent input.submit:hover {
  background: #a0a0a0;
  color: white;
  text-decoration: none;
}
#ajax_dialog_subcontent input.submit {
  *display: inline;
}
#ajax_dialog_subcontent input.submit:hover {
  background: #96d942;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87c43c), color-stop(100%, #96d942));
  background: -webkit-linear-gradient(#87c43c, #96d942);
  background: -moz-linear-gradient(#87c43c, #96d942);
  background: -o-linear-gradient(#87c43c, #96d942);
  background: -ms-linear-gradient(#87c43c, #96d942);
  background: linear-gradient(#87c43c, #96d942);
}
#ajax_dialog_subcontent .errorlist {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
#ajax_dialog_subcontent .errorlist li {
  list-style-type: none;
  padding: 0;
  margin: 0;
  border: 0;
}
#ajax_dialog_subcontent .errorlist li {
  background: #d40000;
  color: white;
  padding: 4px 6px;
  font-size: 13px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
}

/* 4. PAGE SPECIFIC
-------------------------------------------------------------- */
/* HOME */
#page .home-left {
  float: left;
  width: 420px;
  clear: left;
  margin-right: 30px;
}
#page .home-left h2#home-intro {
  display: block;
  text-transform: none;
  color: #009245;
  margin-top: 15px;
  line-height: 25px;
  padding: 6px;
  font-weight: normal;
  font-size: 16px;
}
#page .home-left h2#home-intro .details {
  display: none;
}
#page .home-left h2#home-intro .home-read-more {
  text-transform: uppercase;
  font-size: 12px;
  color: #b3b3b3;
  padding-right: 18px;
  background: url(../images/chevron-down-sml.png) right 2px no-repeat;
}
#page .home-left h2#home-intro .home-read-more:hover {
  color: #a2a2a2;
  text-decoration: none;
}
#page .home-left h2#home-intro .home-read-more.active {
  background: url(../images/chevron-up-sml.png) right 2px no-repeat;
}
#page .home-right {
  float: left;
  width: 510px;
}

#home-search {
  background: #2e2e2e;
  margin: 30px 0;
  padding: 20px;
}
#home-search label {
  color: white;
}
#home-search input {
  width: 260px;
  margin-right: 10px;
}
#home-search > a {
  color: gray;
}

ul#home-news-list {
  margin-top: 15px;
}
ul#home-news-list li h3, ul#home-news-list li p {
  padding: 0;
}
ul#home-news-list li img {
  margin-right: 0;
}

#home-mpratings {
  margin: 15px 0 30px 0;
  padding: 0;
  background: url(../images/ex-home.png) 0 0 no-repeat;
  height: 224px;
}
#home-mpratings img, #home-mpratings h3 {
  display: none;
}

#twitter {
  display: block;
  float: left;
  width: 375px;
}
#twitter h2 {
  color: gray;
  font-size: 18px;
  text-transform: uppercase;
}
#twitter .twitter-feed {
  border: 4px solid #dddddd;
}
#twitter .tw-wrap {
  padding: 20px;
  min-height: 58px;
  background: url(../images/quotes.png) 10px 10px no-repeat;
}
#twitter p {
  margin: 0;
}
#twitter p.meta {
  color: gray;
  margin-top: 10px;
  font-size: 13px;
  font-style: italic;
}
#twitter .btn-text-green {
  margin-top: 10px;
  float: right;
}

#page .home-right .social-and-tools {
  margin-top: 30px;
  width: 110px;
  position: relative;
  padding: 0 0 20px 25px;
  background: #dddddd;
}
#page .home-right .social-and-tools ul {
  margin: 20px 0;
}
#page .home-right .social-and-tools .tw-nub {
  display: block;
  width: 23px;
  height: 26px;
  position: absolute;
  bottom: 17px;
  left: -4px;
  background: url(../images/nub.png) 0 0 no-repeat;
}
#page .home-right .social-and-tools .tw-follow {
  display: -moz-inline-box;
  -moz-box-orient: vertical;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
}
#page .home-right .social-and-tools .tw-follow {
  *display: inline;
}

#home-links {
  overflow: hidden;
}
#home-links a {
  width: 213px;
  height: 60px;
  float: left;
  line-height: 30px;
  font-size: 22px;
  font-weight: bold;
}
#home-links a.aspirants {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  -o-border-radius: 5px 0 0 5px;
  -ms-border-radius: 5px 0 0 5px;
  -khtml-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
  margin: 0 3px 0 0;
  padding: 20px;
  background: #009245 url(../images/big-chevron.png) 180px center no-repeat;
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00a24c), color-stop(100%, #009245));
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-linear-gradient(#00a24c, #009245);
  background: url(../images/big-chevron.png) 180px center no-repeat, -moz-linear-gradient(#00a24c, #009245);
  background: url(../images/big-chevron.png) 180px center no-repeat, -o-linear-gradient(#00a24c, #009245);
  background: url(../images/big-chevron.png) 180px center no-repeat, -ms-linear-gradient(#00a24c, #009245);
  background: url(../images/big-chevron.png) 180px center no-repeat, linear-gradient(#00a24c, #009245);
}
#home-links a.aspirants:hover {
  background: #00a24c url(../images/big-chevron.png) 180px center no-repeat;
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #009245), color-stop(100%, #00a24c));
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-linear-gradient(#009245, #00a24c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -moz-linear-gradient(#009245, #00a24c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -o-linear-gradient(#009245, #00a24c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -ms-linear-gradient(#009245, #00a24c);
  background: url(../images/big-chevron.png) 180px center no-repeat, linear-gradient(#009245, #00a24c);
}
#home-links a.citizens {
  -moz-border-radius: 0 5px 5px 0;
  -webkit-border-radius: 0 5px 5px 0;
  -o-border-radius: 0 5px 5px 0;
  -ms-border-radius: 0 5px 5px 0;
  -khtml-border-radius: 0 5px 5px 0;
  border-radius: 0 5px 5px 0;
  margin: 0;
  padding: 20px;
  background: #87c43c url(../images/big-chevron.png) 180px center no-repeat;
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #96d942), color-stop(100%, #87c43c));
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-linear-gradient(#96d942, #87c43c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -moz-linear-gradient(#96d942, #87c43c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -o-linear-gradient(#96d942, #87c43c);
  background: url(../images/big-chevron.png) 180px center no-repeat, -ms-linear-gradient(#96d942, #87c43c);
  background: url(../images/big-chevron.png) 180px center no-repeat, linear-gradient(#96d942, #87c43c);
}
#home-links a.citizens:hover {
  background: #96d942 url(../images/big-chevron.png) 180px center no-repeat;
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #87c43c), color-stop(100%, #96d942));
  background: url(../images/big-chevron.png) 180px center no-repeat, -webkit-linear-gradient(#87c43c, #96d942);
  background: url(../images/big-chevron.png) 180px center no-repeat, -moz-linear-gradient(#87c43c, #96d942);
  background: url(../images/big-chevron.png) 180px center no-repeat, -o-linear-gradient(#87c43c, #96d942);
  background: url(../images/big-chevron.png) 180px center no-repeat, -ms-linear-gradient(#87c43c, #96d942);
  background: url(../images/big-chevron.png) 180px center no-repeat, linear-gradient(#87c43c, #96d942);
}

.featured-person {
  border: 1px solid #b3b3b3;
}
.featured-person img {
  max-width: 180px;
}
.featured-person .featured-person-info {
  margin-left: 200px;
  max-width: 300px;
  min-height: 180px;
}
.featured-person .featured-person-info .feature-nav {
  display: block;
  float: right;
}
.featured-person .featured-person-info .feature-nav a {
  cursor: pointer;
  display: block;
  border: none;
  padding: 0;
  margin: 0;
  width: auto;
  height: auto;
  text-indent: -999999px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  -o-border-radius: 2px;
  -ms-border-radius: 2px;
  -khtml-border-radius: 2px;
  border-radius: 2px;
  display: block;
  width: 20px;
  height: 22px;
  float: left;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
.featured-person .featured-person-info .feature-nav .feature-prev {
  background: transparent url(../images/chevron-left-alt.png) center no-repeat;
  margin-right: 10px;
}
.featured-person .featured-person-info .feature-nav .feature-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.featured-person .featured-person-info .feature-nav .feature-next {
  background: transparent url(../images/chevron-right-alt.png) center no-repeat;
}
.featured-person .featured-person-info .feature-nav .feature-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
.featured-person .featured-person-info h2 {
  margin: 15px 0 0 0 !important;
  line-height: 30px;
}
.featured-person .featured-person-info h2 a {
  font-size: 24px;
}
.featured-person .featured-person-info .feature-person-summary {
  display: block;
  padding: 0 0 40px 0;
}
.featured-person .featured-person-info .feature-person-summary p {
  font-size: 12px;
}
.featured-person .featured-person-info .rating-container {
  bottom: 10px;
}
.featured-person .featured-person-info .rating-container .rating {
  margin: 0 40px 15px 0;
}
.featured-person .featured-person-info .rating-container .rating-img {
  bottom: 10px;
}

/* =================================== */
/* Login Page */
#login-pagetitle {
  display: block;
  background: #e6e6e6;
  margin: 0 auto;
  padding: 10px;
  width: 300px;
}

#login {
  background: #e6e6e6;
  padding: 0 10px 10px 10px;
  overflow: hidden;
  margin: 0 auto;
  width: 300px;
}
#login p.error {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
#login form {
  width: 300px;
}
#login form input#id_username,
#login form input#id_password {
  width: 288px;
  margin: 10px 0;
}
#login form input.login-button {
  margin: 0;
}
#login form p.forgot-register {
  margin: 0;
}
#login .login-social {
  margin: 0;
}

/* ============ markdown used in e.g., info pages ============ */
.markdown h2, .markdown h3 {
  margin-top: 2em;
}
.markdown h4 {
  margin: 30px 0 10px 0;
  padding-bottom: 5px;
  border-bottom: 1px solid #e6e6e6;
}

/* 5. MEDIA QUERIES
   for tablets mainly, but also smaller screens
   that can't handle 960px
-------------------------------------------------------------- */
@media only screen and (min-width: 640px) and (max-width: 960px) {
  #main-menu nav ul li {
    height: 36px;
  }
  #main-menu nav ul li a {
    font-size: 14px;
    padding: 8px 10px;
  }

  #page .title-space {
    padding-top: 60px;
  }
  #page .social-and-tools {
    display: block;
    width: auto;
    position: absolute;
    right: 10px;
    top: 0;
    float: none;
  }
  #page .social-and-tools ul {
    margin: 5px 10px;
    float: left;
    clear: none;
  }
  #page .social-and-tools ul li {
    float: left;
    margin-right: 10px;
  }
  #page .home-right .social-and-tools {
    position: relative;
    right: auto;
    top: auto;
    float: right;
  }
  #page .home-right .social-and-tools ul {
    float: none;
  }
  #page .home-right .social-and-tools ul li {
    display: block;
  }
}
