/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
    Styling common to both admin and frontend UI
*/
#staging_header {
  background-color: #faa;
  color: #000;
  font-size: 12px;
  padding: 0.25em;
  text-align: center;
}

div.error {
  border: 2px solid #f00;
  background-color: #fcc;
  text-align: center;
  font-size: 125%;
  padding: 0.5em;
  margin: 1em 0;
}

pre {
  font-family: monospace;
}

html {
  font-family: Arial;
  font-size: 16px;
}

sup {
  vertical-align: super;
}

h1 {
  font-size: 32px;
  margin-top: 24px;
  margin-bottom: 8px;
}

h2 {
  font-size: 24px;
  margin-top: 16px;
  margin-bottom: 8px;
}

h3 {
  font-size: 20px;
  margin-top: 20px;
  margin-bottom: 8px;
}

h1, h2, h3, h4 {
  font-weight: bold;
}

p {
  margin-bottom: 1em;
}

strong {
  font-weight: bold;
}

small {
  font-size: 75%;
}

th, td {
  padding: 0.25em;
}

body {
  background-color: #ccc;
}

#wrapper {
  max-width: 940px;
  margin: 0 auto;
  background-color: #fff;
}

#header {
  padding: 0.5em;
  background-color: #555;
  color: #fff;
}
#header a {
  color: inherit;
  text-decoration: none;
}
#header a:hover {
  text-decoration: underline;
}
#header #logo {
  float: left;
}
#header ul {
  float: right;
}
#header ul li {
  display: inline;
  padding-left: 1em;
  font-size: 75%;
}
#header form {
  display: inline;
}
#header form input {
  width: 6em;
}

#content {
  padding: 1em;
}

#footer {
  margin-top: 2em;
  border-top: 1px dotted #bbb;
  padding: 0.5em;
  color: #888;
  text-align: center;
}
#footer a {
  color: inherit;
  text-decoration: none;
}
#footer a:hover {
  text-decoration: underline;
}
#footer ul li {
  display: inline;
  margin: 0 0.3em;
}
#footer ul.utilities li {
  font-size: 75%;
}

ul.listing li {
  border: 1px solid #eee;
  padding: 0.25em;
  overflow: hidden;
  width: 100%;
}
ul.listing li:nth-child(odd) {
  background-color: #eee;
}
ul.listing div.thumb {
  height: 60px;
  width: 60px;
  color: #ddd;
  border: 1px solid #bbb;
  float: left;
  margin-right: 1em;
}
ul.listing div.name {
  font-size: 150%;
  font-weight: bold;
}

div.action_button {
  padding: 1em;
  margin: 0.5em;
  border: 1px solid #bbb;
  background-color: #eee;
}

img.person_photo {
  border: 1px solid #888;
}

form blockquote {
  padding: 1em;
  border: 1px solid #ddd;
  background-color: #eee;
}
form label {
  padding-left: 2px;
  display: block;
  font-size: 80%;
}
form li, form p {
  padding: 0 1em;
}

ul.errorlist, p.error {
  background-color: #fcc;
}

dl.comments dt, dl.comments dd {
  border: 2px solid #ccc;
  padding: 0.25em;
}
dl.comments dt {
  background-color: #ccc;
}
dl.comments dd {
  margin-bottom: 1em;
}
dl.comments a.flag, dl.comments a.permalink {
  float: right;
  padding-left: 1em;
}

div.pagination {
  margin-bottom: 1em;
  text-align: center;
}
div.pagination .prev, div.pagination .page, div.pagination .next {
  border: 1px solid #aaa;
  background-color: #eee;
  padding: 0.2em;
  margin: 0.1em;
  display: inline-block;
}
div.pagination .current {
  border-color: #888;
  background-color: #ccc;
  font-weight: bold;
}
div.pagination .disabled {
  border-color: #ddd;
  color: #888;
}

div.todo {
  opacity: 0.3;
}

div.summary {
  border: 1px solid #ccc;
  border-width: 1px 0;
  background-color: #eee;
  padding: 1em;
  margin-bottom: 1em;
  font-size: 90%;
}

div.content_box {
  border: 1px solid #ccc;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 1em;
  margin-bottom: 1em;
}
div.content_box h2, div.content_box h3, div.content_box h4 {
  margin: 0 0 0.25em 0;
}

ul.search_hints {
  font-size: 80%;
  color: green;
}
ul.search_hints li {
  display: inline;
  padding: 0 0.5em;
}
ul.search_hints li a {
  color: inherit;
}

ul.location_breadcrumb li {
  display: inline;
}
ul.location_breadcrumb li + li::before {
  content: " → ";
}

div.project_detail dl {
  padding: 0.5em;
  font-size: 90%;
}
div.project_detail dl dt {
  float: left;
  clear: left;
  width: 12em;
  text-align: right;
  font-weight: bold;
}
div.project_detail dl dt:after {
  content: ":";
}
div.project_detail dl dd {
  margin: 0 0 0 12.5em;
  padding: 0 0 0.5em 0;
}

div.scorecards_entry dl {
  padding: 0.5em;
  font-size: 90%;
}
div.scorecards_entry dl dt {
  float: left;
  clear: left;
  width: 6em;
  text-align: right;
  font-weight: bold;
}
div.scorecards_entry dl dt:after {
  content: ":";
}
div.scorecards_entry dl dd {
  margin: 0 0 0 6.5em;
  padding: 0 0 0.5em 0;
}

/* For markdown snippets we need to restore the HTML to something roughly standard */
div.markdown {
  margin-bottom: 1em;
}
div.markdown ul, div.markdown ol {
  margin-left: 2em;
}
div.markdown ul li {
  list-style-type: disc;
}
div.markdown ol li {
  list-style-type: decimal;
}
div.markdown blockquote {
  padding-left: 1em;
}
div.markdown blockquote p:before {
  content: '“';
}
div.markdown blockquote p:after {
  content: '”';
}
