/* -------------------------------------------------------------- 

MOBILE CSS
mzalendo.com

AUTHOR: Josh Angell, Supercool
josh [at] supercooldesign.co.uk

  1. RESET / CORE
  2. BASIC LAYOUT
  3. BASIC TYPOGRAPHY, LINKS AND IMAGES
  4. MENU
  5. SHARED ELEMENTS
  6. BLOG
  7. WORK
  8. INFO
  9. FORMS
  10. SYSTEM MESSAGES
  11. MEDIA QUERIES

-------------------------------------------------------------- */
#site-header {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #00c25c), color-stop(100%, #009245));
  background: -webkit-linear-gradient(#00c25c, #009245);
  background: -moz-linear-gradient(#00c25c, #009245);
  background: -o-linear-gradient(#00c25c, #009245);
  background: -ms-linear-gradient(#00c25c, #009245);
  background: linear-gradient(#00c25c, #009245);
}
#site-header .wrapper #search button {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
}

#main-menu nav ul li a {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #555555), color-stop(100%, #000000));
  background: -webkit-linear-gradient(#555555, #000000);
  background: -moz-linear-gradient(#555555, #000000);
  background: -o-linear-gradient(#555555, #000000);
  background: -ms-linear-gradient(#555555, #000000);
  background: linear-gradient(#555555, #000000);
}
#main-menu nav ul li a:hover {
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, #555555));
  background: -webkit-linear-gradient(#000000, #555555);
  background: -moz-linear-gradient(#000000, #555555);
  background: -o-linear-gradient(#000000, #555555);
  background: -ms-linear-gradient(#000000, #555555);
  background: linear-gradient(#000000, #555555);
}

#home-search #search-hansard-instead {
  padding-left: 0.5em;
}
