
{% load pagination_tags %}
{% load bootstrap_pagination %}

{% if object_list %}

    {% autopaginate object_list 25 %}

    <h4 class="label label-md label-default">
        {{ page_obj.start_index }} - {{ page_obj.end_index }} of {{ paginator.count }}
    </h4>

    <ul class="list-group listing">
    {% for object in object_list %}
        {% include 'core/generic_list_item.html' %}
    {% endfor %}
    </ul>

    {% if page_obj.paginator.num_pages > 1 %}
    <div class="text-center">
        {% bootstrap_paginate page_obj range=10 show_prev_next="true" show_first_last="true" %}
    </div>
    {% endif %}

{% else %}
    <p>No results were found</p>

{% endif %}

