{% extends 'base.html' %}
{% load thumbnail %}

{% block extra_scripts %}
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">
    stLight.options({publisher: "5e003073-041c-4ff8-8b24-bf3e9f4315fb"});
</script>
{% endblock %}

{% block content %}
<div class="member-profile ninecol">
    <div id="profileInfo">
        {#<img width="250" height="270" src="#" />#}

        {% thumbnail object.primary_image "250x270" crop="center" as img %}
            <img class="profile-avatar" src="{{ img.url }}" alt="{{ object.name }}"
                  width="{{ img.width }}" height="{{ img.height }}" />
        {% empty %}
            <img src="{{STATIC_URL}}images/avatar-210x210.jpg" />
        {% endthumbnail %}

        <div class="bioData">
            <h4>Biography</h4>
            <ul>
                <li><strong>Hometown:</strong><span>{{ mp.hometown }}</span></li>
                <li><strong>Religion:</strong><span>{{ mp.religion }}</span></li>
                <li><strong>Birth:</strong><span>{{ object.date_of_birth }}</span></li>
                <li><strong>Profession:</strong><span>{{ mp.occupation }}</span></li>
                <li><strong>Education:</strong><span>{{ mp.education}}</span></li>
            </ul>
        </div>
    </div>
    <div id="profileContent">
        <div class="titleSpace">
            <h2>Hon. {{ object.title }} {{ object.legal_name }}</h2>
            <p>MP for
                {% for constituency in object.constituencies %}
                    <a href="{{ constituency.get_absolute_url }}">{{ constituency.name }}</a>
                {% endfor %}
            </p>
            {% with object.parties.0 as party %}
            <a class="{{ party.name|lower }}_tag" href="#"></a>
            {% endwith %}
        </div>

        {% comment %}
        <h3>Scorecard</h3>
        <h4 class="scorecard-overall">Overall Rating <span class="score-overall-bad">Bad</span></h4>
        <ul class="scorecardlists">
            <li>jbjhjdksldkjas</li>
            <li>jbjhjdksldkjas</li>
            <li>jbjhjdksldkjas</li>
        </ul>

        <div id="profileAsset">
            {% include 'disqus_comments.html' %}
        </div>
        {% endcomment %}
    </div>
</div>

<div class="index-right threecol">
    <h3>Share</h3>
    <ul class="socialShare">
        <li>
            <span class='st_facebook_hcount' displayText='Facebook'></span>
        </li>
        <li>
        <span class='st_twitter_hcount' displayText='Tweet'></span>
        </li>
        <li>
        <span class='st_googleplus_hcount' displayText='Google +'></span>
        </li>
        <li>
        <span class='st_email_hcount' displayText='Email'></span>
        </li>
    </ul>
</div>
{% endblock %}