<ul class="nav nav-pills tools">
  <li>
    <a  href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ object.name }}"
        target="_blank"
        class="label label-primary muted-text big-btn-text-fb"><i class="fa fa-facebook"> Share on Facebook</i></a>


    <li>
      <a  href="https://twitter.com/share?via={{ settings.TWITTER_USERNAME }}&amp;text={{ object.name }}&amp;url={{ request.build_absolute_uri }}"
          target="_blank"
          class="label label-info muted-text big-btn-text-tw"
      ><i class="fa fa-twitter">Share on Twitter</i></a>
    </li>

  <li class="pull-right">
    <a  href="{% url "feedback_add" %}?url={{ request.build_absolute_uri }}"
        class="label label-default muted-text feedback_link big-btn-text-red"
    >Correct this info</a>
  </li>

  {% if settings.DISQUS_SHORTNAME %}
    <li>
      <a  href="{% url "person" slug=object.slug %}#disqus_thread"
          class="label label-info muted-text big-btn-text-green"
      >Post Comment</a>
    </li>
  {% endif %}

</ul>
