{% comment %}

  This template assumes that you've loaded the CSS and JS needed to make the
  carousel work - see https://github.com/filamentgroup/responsive-carousel for
  details.

  There is no need to provide the active slides in the template context, they
  are loaded using the spinner_active_slides templatetag.

{% endcomment %}

{% load spinner %}

{% spinner_active_slides as slides %}

{% for slide in slides %}
  <div class="carousel-item slide-{{ slide.template_class }}">
    {% include "spinner/display-slide.html" %}
  </div>
{% endfor %}
