{% extends 'base.html' %}
{% load pipeline %}

{% block title %}Map{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.3/underscore-min.js"></script>
  <script>
    var mapDrilldownSettings = {
      {% if settings.COUNTRY_APP == 'kenya' %}
      mapitAreaType: 'con',
      {% endif %}

      i18n: {
        "browser not supported": "Your browser does not support Google Maps. Please <a href=\"/search/\">search</a> for your constituency instead.",
        "ready to search": "Please search for a place name, or click on the map",

        "zero geocoder results":      "Place name not found, please try another",
        "geocoder error":             "There was a problem searching for that place name",
        "geocoder results displayed": "Click on a pin to see your nearest constituency offices",
        "geocoder searching":         "Searching &hellip;",
        "outside map bounds": "Click was outside the supported region"
      }
    };
  </script>
  {% javascript 'za-map-drilldown' %}
{% endblock %}

{% block extra_headers %}
{% endblock %}


{% block breadcrumbs %}
    {# Hide bread crumbs on the home page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block content %}


<style type="text/css">
  #map-drilldown-canvas {
    background-color: #ccc;
    width: 100%;
    height: 400px;
  }

  .gmap-control {
    display: none;
    background-color: white;
    margin: 5px;
    padding: 5px;
    border: 2px solid black;
    text-align: center;
    cursor: pointer;
    font-family: Arial, sans-serif;
    font-size: 12px;
  }

  #map-drilldown-message {
    margin-top: 30px;
    width: 80%;
    font-size: 16px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.7);
  }

</style>


<div class="map-drilldown">

  <div id="map-drilldown-canvas">
    loading&hellip;
  </div>

  <div id="map-drilldown-message" class="gmap-control">
    <div class="location">loading&hellip;</div>
    <form action="#" class="search">
      <input type="search" placeholder="Full place name" />
      <input type="submit" value="Search" />
    </form>
  </div>

</div>


{% endblock %}
