{% extends 'base.html' %}
{% load comments %}
{% load pagination_tags %}

{% block title %}
    Comments on {{ object.name }}
{% endblock %}

{% block content %}

    {% get_comment_list for object as comment_list %}
    {% autopaginate comment_list %}
    

    <h2>Historic comments {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ paginator.count }} on <a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>    
        
    <article>
        {% include 'comments/list.html' %}
    </article>
    
    {% paginate %}
    
{% endblock %}
