<dl class="comments">
  {% for comment in comment_list %}
    <dt id="comment_{{ comment.id }}">
        <strong>{{ comment.title }}</strong>
        by
        <strong>{% firstof comment.user.get_full_name comment.user.username %}</strong>
        <small title="{{ comment.submit_date }}">{{ comment.submit_date|timesince }} ago</small>
        <a class="flag" href="/comments/flag/{{ comment.id }}/">report</a>
        <a class="permalink" href="{{ comment.get_absolute_url }}">permalink</a>
        <br clear="both">
    </dt>
    <dd>
        <p>{{ comment.comment|linebreaksbr }}</p>
    </dd>
  {% endfor %}
</dl>
