{% extends 'base.html' %}
{% load comments %}
{% load pagination_tags %}

{% block title %}
    Comments on {{ object.name }}
{% endblock %}

{% block content %}

    {% get_comment_list for object as comment_list %}
    {% autopaginate comment_list %}
    

    <h2>Comments {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ paginator.count }} on <a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h2>
    

    <p>
        {% if request.user.is_authenticated %} 
            <a href="{% get_comment_add_url object %}" class="big-btn-text-green">Post Comment</a>
        {% else %}
            <a href="{% url django.contrib.auth.views.login %}?next={% get_comment_add_url object %}" class="big-btn-text-green">Login to add your own comment</a>
        {% endif %}
    </p>
    
        
    <article>
        <h3>Top rated comments</h3>
        {% include 'comments/list.html' %}
    </article>
    
    {% paginate %}
    
{% endblock %}
