{% extends "default_base.html" %}


{% block title_suffix %} :: Pombola South Africa {% endblock %}

{% block css_headers %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/south-africa.css?{{ settings.STATIC_GENERATION_NUMBER }}" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}speeches/css/speeches.css?{{ settings.STATIC_GENERATION_NUMBER }}" />
{% endblock %}

{% block page %}
<div id="page">
    {% block intro_content %}{% endblock %}

    <div class="page-wrapper wrapper" id="hfWrap">
        {% block content %}{% endblock %}
        {% block after_content %}{% endblock %}

        <br clear="both">
        <a class="feedback-button button" href="#">Correct this page</a>
    </div>

</div>
{% endblock %}