{% extends "default_base.html" %}
{% load pipeline %}

{% block title_suffix %} :: People's Assembly {% endblock %}

{% block css_headers %}
    {% stylesheet 'south-africa' %}
{% endblock %}

{% block page %}
<div id="page">
  {% block intro_content %}{% endblock %}

  {% block page_wrapper %}
    <div class="page-wrapper wrapper">
        {% block content %}{% endblock %}
        {% block after_content %}{% endblock %}

        <br clear="both">
        {% block correct_this_page %}
        <a class="feedback-button button feedback_link" href="{% url "feedback_add" %}?url={{ request.build_absolute_uri }}">Correct this page</a>
        {% endblock %}
    </div>
  {% endblock %}

</div>
{% endblock %}
