{% extends "default_base.html" %}
{% load url from future %}


{% block title_suffix %} :: People's Assembly {% endblock %}

{% block css_headers %}
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/south-africa.css?{{ settings.STATIC_GENERATION_NUMBER }}" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}speeches/css/speeches.css?{{ settings.STATIC_GENERATION_NUMBER }}" />
{% endblock %}

{% block page %}
<div id="page">
  {% block intro_content %}{% endblock %}

  {% block page_wrapper %}
    <div class="page-wrapper wrapper" id="hfWrap">
        {% block content %}{% endblock %}
        {% block after_content %}{% endblock %}

        <br clear="both">
        <a class="feedback-button button feedback_link" href="{% url "feedback_add" %}?url={{ request.build_absolute_uri }}">Correct this page</a>
    </div>
  {% endblock %}

</div>
{% endblock %}
