{% if settings.FACEBOOK_APP_ID %}
    <h2>Comments</h2>

    {# Including appId here prevents errors with the async script running slowly #}
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.4&appId={{ settings.FACEBOOK_APP_ID }}";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

    <div>
        <div class="disqus_help">
          <p>Keep comments free of racism, sexism, homophobia and abusive language. People's Assembly reserves the right to delete and edit comments</p>
          <p>(For <strong>newest</strong> comments first please choose 'Newest' from the 'Sort by' dropdown below.)</p>
        </div>
        <div class="fb-comments" data-href="{{ request.build_absolute_uri }}" data-numposts="5"></div>
        <noscript>Please enable JavaScript to view the comments.</a></noscript>
    </div>
{% elif settings.DISQUS_SHORTNAME %}
    <h2>Comments</h2>

    {# This relies on the higher up templates including disqus_javascript #}
    <script type="text/javascript" charset="utf-8">
      addDisqusScriptTag('embed');
    </script>

    <div>
        <div class="disqus_help">
          <p>Keep comments free of racism, sexism, homophobia and abusive language. People's Assembly reserves the right to delete and edit comments</p>
          <p>(For <strong>newest</strong> comments first please choose 'Newest' from the 'Discussion' tab below.)</p>
        </div>
        <div id="disqus_thread"></div>
        <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    </div>
{% else %}
  Comments have not been enabled on this site. See 'DISQUS_SHORTNAME' in your settings.
{% endif %}
