{% extends 'base.html' %}
{% load thumbnail %}

{% block body_attributes %} class="error" {% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on the home page. #}
{% endblock %}

{% block intro_content %}


    <div id="front_intro">
        <div class="page-wrapper wrapper ">

          <div class="error-page-content">
            {% block error_content %}
            {% endblock %}
          </div>

        </div>
    </div>
{% endblock %}

{% block page_wrapper %}
{# don't produce any page content #}
{% endblock %}
