{% load url from future %}
<div class="footer-section">
    {% include "south_africa/_newsletter_signup.html" %}

    <h4>Follow us</h4>
    <ul class="social-links-list">
       <li><a href="https://www.facebook.com/peoplesassemblysa" class="facebook-social-icon">Facebook</a></li>
       <li><a href="https://twitter.com/PeoplesAssem_SA" class="twitter-social-icon">Twitter</a></li>
       <!--<li><a href="#" class="youtube-social-icon">YouTube</a></li>
       <li><a href="#" class="rss-social-icon">RSS</a></li> -->
    </ul>
</div>
<div id="footer-menu" class="footer-section">
    <h4>Sitemap</h4>
    <ul class="nav">
        {% with include_sub_menu_entries=1 %}
            {% include 'menu_entries.html' %}
        {% endwith %}
    </ul>
</div>
<div class="footer-section vcard contact-details">
    <h4>Contact us</h4>
    <h5 class="fn org">Parliamentary monitoring group</h5>
    <div class="col-one">
        <a href="mailto:info@pmg.org.za" class="email block">info@pmg.org.za</a>
        <p class="block">Tel: <span class="tel">(021) 465 8885</span></p>
        <p class="block">Fax: (021) 465 8887</p>
    </div>
    <div class="adr col-two">
        <div class="street-address block">
            <span class="block">2nd floor, Associated Magazines</span>
            <span class="block">21 St Johns Street</span>
        </div>
        <div class="block">
            <span class="locality">Cape Town</span>
            <span class="postal-code">8001</span>
        </div>
    </div>
</div>

<div class="footer-full-width">
    <div class="layout-major-minor thirds">
        <div class="disclaimer major-column">
        <h4>Disclaimer</h4 >
    <p>The data for this site has been sourced form a range of organisations and websites and often received in formats that are hard to process. As a result, errors can occur - if you see something that you think is an error, please click on the "Correct This Page" button and let us know so that we can investigate.</p>
        </div>
        <ul class="utilities minor-column">
            <li><a href="{% url "info_page" slug='policies' %}">Privacy</a></li>
            <li><a href="{% url "feedback_add" %}?url={{ request.build_absolute_uri }}" class="feedback_link">Give us feedback</a></li>

            {% if object and request.user.is_staff %}
                <li><a href="{{ object.get_admin_url }}">Edit '{{ object.name }}' in admin</a></li>
            {% endif %}

            {% if settings.STAGING %}
                <li>current_user_id: <span id="current_user_id">{% firstof request.user.id '0' %}</span></li>
            {% endif %}
        </ul>
    </div>
</div>
