{% extends 'base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load pipeline %}

{% block title %}Home{% endblock %}

{% block ga_experiment %}
<script src="//www.google-analytics.com/cx/api.js?experiment=iHAkMeOzSlerqgN8qLk8IA"></script>
{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'feeds' %}
  <script>
      $(function(){
          if( $('#mobile-top-tools').is(':visible') ){
            // Put the MP button at the top, add some css to make sure it looks ok
            $('.js-track-mp-profiles').insertBefore('.home__news').css({
              margin: '1.25em 0.75em',
              width: 'auto'
            });
          }

          $('.js-track-mp-profiles').on('click', function(e){
              var that = this;
              e.preventDefault();
              window.analytics.trackEvent({
                  eventCategory: 'homepage-mp-profiles-link',
                  eventAction: 'click'
              }).done(function(){
                  var link = $(that).attr('href');
                  if (link) window.location.href = link;
              });
          })

          $('#page a[href]:not(.home__topics a)').on('click', function(e){
              // doesn't do buttons or inputs (feature not bug) maybe TODO?
              var that = this;
              e.preventDefault();
              window.analytics.trackEvent({
                  eventCategory: 'homepage-click-not-hot-topic',
                  eventAction: 'click'
              }).done(function(){
                  var link = $(that).attr('href');
                  if (link) window.location.href = link;
              });
          })
      });
  </script>
{% endblock %}

{% block body_attributes %} class="home" {% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on the home page. #}
{% endblock %}

{% block page_wrapper %}

<div class="home__section home__reps">
    <div class="wrapper">
      {% if featured_mp %}
        <div class="home__reps__featured-mp">
            <div class="home__reps__heading">
                <h2 class="home__reps__heading__title">Meet your MPs</h2>
                <a href="{% url 'sa-members-view' %}" class="home__reps__heading__more">Show more MPs</a>
            </div>
            {% thumbnail featured_mp.primary_image "82x123" crop="center" as sm %}
              <img src="{{ sm.url }}" class="featured-mp__thumb" />
            {% endthumbnail %}
            <h3>
                <a href="{{ featured_mp.get_absolute_url }}">{{ featured_mp.name }}</a>
            </h3>
            {% for party in featured_mp.parties_and_coalitions %}
              <h4>{{ party.name }}</h4>
            {% endfor %}
        </div>
      {% endif %}
        <div class="home__reps__search">
            <div class="home__reps__heading">
                <h2 class="home__reps__heading__title">Who represents you?</h2>
            </div>
            <form action="{% url "core_geocoder_search" %}">
                <div class="">
                    <label for="geocoder-search">Enter your address to see your constituency office and representatives</label>
                    <div class="inline-search-box">
                        <input id="geocoder-search" type="text" name="q" value="" placeholder="e.g. Plein Street, Cape Town">
                        <button type="submit" class="button">Find</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="home__section home__actions">
    <div class="wrapper">
        <h2>
            Do you have a problem?
        </h2>
        <a href="{% url 'writeinpublic-mps:writeinpublic-new-message' %}" class="button button--low-case button--write button--write--rep">Write to an MP</a>
        <a href="{% url 'writeinpublic-committees:writeinpublic-new-message' %}" class="button button--low-case button--write button--write--committee">Write to a Parliamentary Committee</a>
    </div>
</div>
<div class="home__section home__news">
    <div class="wrapper">
        <div class="home__news__row">
          {% if survey %}
            <div class="home__news__survey">
                <img class="home__news__survey__thumb" src="{{ survey.image.url }}" />
                <p><a href="{{ survey.url }}" class="button button--low-case">Have Your Say!</a></p>
            </div>
          {% endif %}
            <div class="home__news__articles">
                <h3 class="home__section-header">
                    Latest news
                    <a href="{% url 'info_blog_category' slug='week-parliament,impressions' %}">Show more news</a>
                </h3>
              {% for article in news_articles %}
                <div class="home__news__article">
                    <h2>
                        <a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
                    </h2>
                    <p class="meta">{{ article.publication_date|date }}</p>
                    <p class="summary">
                        {{ article.content_as_plain_text|truncatewords:24 }}
                        <a class="readmore" href="{{ article.get_absolute_url }}">More</a>
                    </p>
                </div>
              {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="home__section home__three-boxes">
    <div class="wrapper">
        <div class="home__three-boxes__box">
            <a href="{% url 'mp-attendance' %}">
                <h3>MP Attendance</h3>
                <img src="{% static 'images/mp-attendance.jpg' %}" />
            </a>
        </div>
        <div class="home__three-boxes__box">
            <a href="{% url 'sa-interests-index' %}">
                <h3>MP Assets</h3>
                <img src="{% static 'images/mp-assets.jpg' %}" />
            </a>
        </div>
        <div class="home__three-boxes__box">
                <a href="{% url "info_page" slug="infographics" %}">
                    <h3>Latest Infographics</h3>
                </a>
                {% if infographic %}
                <a href="{{ infographic.get_absolute_url }}">
                    {% thumbnail infographic.featured_image_file.file "306x113" crop="top" quality=80 as im %}
                        <img src="{{ im.url }}" height="113" width="306">
                    {% endthumbnail %}
                </a>
                {% endif %}
            </a>
        </div>
    </div>
</div>

{% endblock %}
