{% load url from future %}
{% comment %}

    Menu entries - for both desktop and mobile.

    We use the same menu structure twice - once in the header and once in the
    footer. However the footer does not require the drill down so there is a way
    to specifically request it. This is all here in a separate file so that we
    won't forget to keep the two in sync when doing edits.

{% endcomment %}

<li>
    <a href="http://www.pmg.org.za/committee-meeting-information">
        Committee Meetings
    </a>
    {% if include_sub_menu_entries %}
    <ul>
        <li class="">
            <a href="http://www.pmg.org.za/minutes" class="">
                Recent Reports
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/committees" class="">
                All Committee Reports
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/audio" class="">
                Audio Recordings
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/programmes/commem" class="">
                Committee Membership
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/schedule" class="">
                Daily Schedule
            </a>
        </li>
    </ul>
    {% endif %}
</li>

<li>
    <a href="http://www.pmg.org.za/legislation">
        Legislation
    </a>
    {% if include_sub_menu_entries %}
    <ul>
        <li class="">
            <a href="http://www.pmg.org.za/bill" class="">
                Bills
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/bills-status" class="">
                Bills Status
            </a>
        </li>
    </ul>
    {% endif %}
</li>

<li>
    <a href="http://www.pmg.org.za/node/30328">
        MP
    </a>
    {% if include_sub_menu_entries %}
    <ul>
        <li class="">
            <a href="http://www.pmg.org.za/node/30335" class="">
                Contact an MP
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/node/30336" class="">
                Members of the National Assembly
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/node/30337" class="">
                Members of the NCOP
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/node/30338" class="">
                Committee Chairpersons &amp; Support Staff
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/mp-corner" class="">
                MP Corner Blogs
            </a>
        </li>
    </ul>
    {% endif %}
</li>

<li>
    <a href="http://www.pmg.org.za/parliament-info">
        Parliament Info
    </a>
    {% if include_sub_menu_entries %}
    <ul>
        <li class="">
            <a href="http://www.pmg.org.za/node/30322" class="">
                Programmes &amp; Schedules
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/node/30331" class="">
                Political Party Representation
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/node/30326" class="">
                Rules of Parliament
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/node/30330" class="">
                Legislative Process / Links
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/node/30329" class="">
                Code of Conduct
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/policy_docs" class="">
                Relevant Docs
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/programmes/comreports" class="">
                Tabled Committee Reports
            </a>
        </li>
        <li class="">
            <a href="http://www.pmg.org.za/hansard" class="">
                Hansard
            </a>
        </li>
    </ul>
    {% endif %}
</li>

<li>
    <a href="http://www.pmg.org.za/programmes/hearings">
        Call for Comment
    </a>
</li>

<li>
    <a href="http://www.pmg.org.za/questions_replies">
        MP Questions
    </a>
</li>

<li>
    <a href="http://www.pmg.org.za/briefings">
        Minister Briefings
    </a>
</li>



<li>
    <a class="twitter-follow-button" data-show-count="false" data-show-screen-name="false" href="https://twitter.com/PMG_SA">
        @PMG_SA
    </a>
    
    <script>
        !function(d,s,id){
            var js,fjs=d.getElementsByTagName(s)[0];
            if(!d.getElementById(id)){
                js=d.createElement(s);
                js.id=id;
                js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
    </script>
</li>

<li>
    <a href="http://www.facebook.com/pmgsouthafrica" title="Find PMG on Facebook" rel="nofollow" target="_blank">
        <img src="http://d2zmx6mlqh7g3a.cloudfront.net/cdn/farfuture/pLN7BkzPkqaoYNC97mk_wI8TxpOurV4d5Fb_2WZ5I5I/mtime:1364050698/sites/all/themes/pmg_2012/images/PMG-on-facebook.png" alt="Find PMG on Facebook" >
    </a>
</li>