{% load url from future %}
{% comment %}

    Menu entries - for both desktop and mobile.

    We use the same menu structure twice - once in the header and once in the
    footer. However the footer does not require the drill down so there is a way
    to specifically request it. This is all here in a separate file so that we
    won't forget to keep the two in sync when doing edits.

{% endcomment %}

<li><a href="{% url "home" %}">Home</a></li>

<li><a href="{% url "home" %}">Organisations</a>
  {% if include_sub_menu_entries %}
    <ul id="organisations-overview">
      <li><a href="{% url "organisation_kind" slug='party' %}">Political Parties</a></li>
      <li><a href="{% url "organisation_kind" slug='committee' %}">Committees</a></li>
    </ul>
  {% endif %}
</li>

<li><a href="{% url "home" %}">People</a>
  {% if include_sub_menu_entries %}
    <ul id="people-overview">
      <li><a href="{% url "position_pt_ok_o" pt_slug='member' ok_slug='house' o_slug='national-assembly' %}?order=name">NA Members</a></li>
      <li><a href="{% url "position_pt_ok_o" pt_slug='delegate' ok_slug='house' o_slug='ncop' %}?order=name">NCOP Delegates</a></li>
      <li><a href="{% url "organisation_people" slug='national-executive' %}">National Executive</a></li>
    </ul>
  {% endif %}
</li>

<li><a href="{% url "info_page" slug='about' %}">About</a></li>
<li>
  <form action="{% url "core_search" %}" method="get" id="header-search">
      <input class="search-autocomplete-name" type="text" name="q" placeholder="name, place, party&hellip;" />
      <button type="submit">Submit</button>
  </form>
</li>