{% comment %}

    Menu entries - for both desktop and mobile.

    We use the same menu structure twice - once in the header and once in the
    footer. However the footer does not require the drill down, nor the search box, so there is a way
    to specifically request it. This is all here in a separate file so that we
    won't forget to keep the two in sync when doing edits.

{% endcomment %}

<li><a href="{% url "home" %}" role="menuitem">Home</a></li>

<li><a href="{% url "core_geocoder_search" %}" role="menuitem">Rep Locator</a></li>

<li>
  <a class="has-dropdown" role="menuitem" {% if include_sub_menu_entries %}aria-haspopup="true"{% endif %}>People</a>
  {% if include_sub_menu_entries %}
    <ul id="parliament-overview" class="js-hover-dropdown" role="menu">
      <li><a href="{% url "core_search" %}?section=persons" role="menuitem">Find by name</a></li>
      <li><a href="{% url "organisation_kind" slug="parliament" %}" role="menuitem">Parliament</a>
        <ul>
          <li><a href="{% url "organisation" slug="national-assembly" %}" role="menuitem">National Assembly</a></li>
          <li><a href="{% url "organisation" slug="ncop" %}" role="menuitem">National Council of Provinces</a></li>
        </ul>
      </li>
      <li><a href="{% url "place_kind" slug="province" %}" role="menuitem">Provinces</a>
        <ul id="provinces-overview">
          <li><a href="{% url "place" slug="eastern-cape" %}" role="menuitem">Eastern Cape</a></li>
          <li><a href="{% url "place" slug="free-state" %}" role="menuitem">Free State</a></li>
          <li><a href="{% url "place" slug="gauteng" %}" role="menuitem">Gauteng</a></li>
          <li><a href="{% url "place" slug="kwazulu-natal" %}" role="menuitem">KwaZulu-Natal</a></li>
          <li><a href="{% url "place" slug="limpopo" %}" role="menuitem">Limpopo</a></li>
          <li><a href="{% url "place" slug="mpumalanga" %}" role="menuitem">Mpumalanga</a></li>
          <li><a href="{% url "place" slug="northern-cape" %}" role="menuitem">Northern Cape</a></li>
          <li><a href="{% url "place" slug="north-west" %}" role="menuitem">North West</a></li>
          <li><a href="{% url "place" slug="western-cape" %}" role="menuitem">Western Cape</a></li>
        </ul>
      </li>
    </ul>
  {% endif %}
</li>

<li><a href="{% url 'info_blog_list' %}" role="menuitem">Blog</a></li>

<li><a href="{% url 'position_pt_ok' pt_slug='member' ok_slug='parliament' %}?order=name&amp;a=1" role="menuitem">MP Profiles</a></li>
<li><a href="{% url 'mp-attendance' %}" role="menuitem">MP Attendance</a></li>
<li>
  <a href="{% url "info_page" slug="public-participation" %}" class="has-dropdown" role="menuitem" {% if include_sub_menu_entries %}aria-haspopup="true"{% endif %}>Public Participation</a>
  {% if include_sub_menu_entries %}
    <ul id="extras-overview" class="js-hover-dropdown" role="menu">
      <li><a href="{% url "info_page" slug="make-yourself-heard" %}" role="menuitem">Make yourself heard</a></li>
      <li>
        <a href="{% url "info_page" slug="elections" %}" role="menuitem">Elections</a>
        <ul>
          <li><a href="{% url "sa-election-overview-year" election_year="2014" %}" role="menuitem">Election 2014 Candidates</a></li>
          <li><a href="{% url "sa-election-overview-year" election_year="2019" %}" role="menuitem">Election 2019 Candidates</a></li>
        </ul>
      </li>
      <li><a href="{% url "info_page" slug="petitions" %}" role="menuitem">Petitions</a></li>
      <li><a href="{% url "sa-committees-list" %}" role="menuitem">Write to a Committee</a></li>
    </ul>
  {% endif %}
</li>

<li>
  <a href="{% url "info_page" slug="hot-topics" %}" class="has-dropdown" role="menuitem" {% if include_sub_menu_entries %}aria-haspopup="true"{% endif %}>Hot Topics</a>
  {% if include_sub_menu_entries %}
    <ul id="extras-overview" class="js-hover-dropdown" role="menu">
      <li><a href="{% url "section-list-question" %}" role="menuitem">Questions</a></li>
      <li><a href="{% url 'sa-interests-index' %}" role="menuitem">MP Assets</a></li>
      <li><a href="{% url 'info_blog_category' slug='mp-corner' %}" role="menuitem">MP Corner</a></li>
      <li><a href="{% url 'info_page' slug="infographics" %}" role="menuitem">Infographics</a></li>
    </ul>
  {% endif %}
</li>

{% if include_sub_menu_entries %}
<li class="header-search" role="search">
  <form action="{% url "core_search" %}" method="get" id="header-search">
      <input class="search-autocomplete-name" type="text" name="q" placeholder="Search pa.org.za" />
      <button type="submit">Submit</button>
  </form>
</li>
{% endif %}
