{% load url from future %}
<div id="header-top" class="clearfix">
    <div class=" ">

        <div id="primary-menu-search" class="">

            <div id="header-menu">

                <div class="block block-nice_menus block-first block-last" id="block-nice_menus-3">
                    <h2 class="title">
                    </h2>
                    <div class="content">
                        <ul class="nice-menu nice-menu-down" id="nice-menu-3">
                            <li class="menu-92 menu-path-front active-trail first  odd ">
                                <a href="http://www.pmg.org.za/" class="active">
                                    Home
                                </a>
                            </li>
                            <li class="menu-100 menu-path-node-10006 even ">
                                <a href="http://www.pmg.org.za/free-email-alerts" title="">
                                    Free Alerts
                                </a>
                            </li>
                            <li class="menu-99 menu-path-node-10005 odd ">
                                <a href="http://www.pmg.org.za/subscription" title="">
                                    Subscription
                                </a>
                            </li>
                            <li class="menu-109 menuparent menu-path-node-10002 even ">
                                <a href="http://www.pmg.org.za/what-is-pmg" title="">
                                    About
                                </a>
                                <ul>
                                    <li class="menu-9085 menu-path-node-10002 first  odd ">
                                        <a href="http://www.pmg.org.za/what-is-pmg" title="What is the PMG?">
                                            What is the PMG?
                                        </a>
                                    </li>
                                    <li class="menu-9073 menu-path-node-35888 even ">
                                        <a href="http://www.pmg.org.za/what-we-do" title="What We Do">
                                            What We Do
                                        </a>
                                    </li>
                                    <li class="menu-9075 menu-path-node-35890 odd ">
                                        <a href="http://www.pmg.org.za/board-members-staff" title="Board members &amp; Staff">
                                            Board members &amp; Staff
                                        </a>
                                    </li>
                                    <li class="menu-9076 menu-path-node-35891 even ">
                                        <a href="http://www.pmg.org.za/who-are-our-funders" title="Who are our funders?">
                                            Who are our funders?
                                        </a>
                                    </li>
                                    <li class="menu-9077 menu-path-node-35892 odd ">
                                        <a href="http://www.pmg.org.za/who-are-our-monitors" title="Who are our monitors?">
                                            Who are our monitors?
                                        </a>
                                    </li>
                                    <li class="menu-9078 menu-path-node-35893 even ">
                                        <a href="http://www.pmg.org.za/disclaimer-copyright" title="Disclaimer &amp; Copyright">
                                            Disclaimer &amp; Copyright
                                        </a>
                                    </li>
                                    <li class="menu-6919 menu-path-faq odd  last ">
                                        <a href="http://www.pmg.org.za/faq" title="Frequently Asked Questions">
                                            FAQ
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-91 menu-path-node-10044 odd ">
                                <a href="http://www.pmg.org.za/contact-pmg" title="">
                                    Contact
                                </a>
                            </li>
                            <li class="menu-8970 menu-path-user-register even ">
                                <a href="http://www.pmg.org.za/user/register" title="Register">
                                    Register
                                </a>
                            </li>
                            <li class="menu-7112 menu-path-user-login odd  last ">
                                <a href="http://www.pmg.org.za/user/login" title="">
                                    Login
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <form action="/search"  accept-charset="UTF-8" method="get" id="search-theme-form">
                <div>
                    <div id="search" class="container-inline">
                        <div class="form-item" id="edit-search-theme-form-1-wrapper">
                            <label for="edit-search-theme-form-1">
                                Search this site:
                            </label>
                            <input type="text" maxlength="128" name="q" id="edit-search-theme-form-1" size="15" value="" title="Enter the terms you wish to search for." class="form-text" />
                        </div>
                        <input type="submit" name="op" id="edit-submit" value="Search"  class="form-submit" />
                        <input type="hidden" name="form_build_id" id="form-8c727c015984e6ffa39a42790c7b1b5c" value="form-8c727c015984e6ffa39a42790c7b1b5c"  />
                        <input type="hidden" name="form_id" id="edit-search-theme-form" value="search_theme_form"  />
                    </div>

                </div>
            </form>
        </div>
        <div id="logo-top" class="">
            <a href="http://www.pmg.org.za/" title="Home">
                <img src="http://d2zmx6mlqh7g3a.cloudfront.net/cdn/farfuture/13ddm3-f450levjxu2QnIcaALXqVSCgq_CoI2lFZHgw/mtime:1328092081/sites/all/themes/pmg_2012/logo.png" alt="Home" />
            </a>

        </div>
    </div>
</div>
