{% load url from future %}
<a href="{% url "home" %}" id="logo">Pombola South Africa</a>

<div class="about-this-site-menu">
    <ul>
        <li><a href="{% url 'info_page' slug='about'%}">About</a></li>
        <li><a href="{% url 'info_page' slug='source-data'%}">Source Data</a></li>
        <li><a href="{% url 'info_page' slug='for-representatives'%}">For Representatives</a></li>
        <li><a href="{% url 'info_page' slug='newsletter'%}">Subscribe</a></li>
        <li><a href="{% url 'info_page' slug='contact-us'%}">Contact us</a></li>
    </ul>
</div>
