{% extends 'base.html' %}

{% block title %}
  {{ object.name }}
{% endblock %}

{% block content %}

  <h1>{{ object.name }}</h1>

  <form action="" method="POST">

    {% csrf_token %}
    

    {% for statement in object.statement_set.all %}
    
      <div>

        <h3>{{ statement.text }}</h3>
    
        {% for key, text in choices %}
          <p>
            {{ text }}: <input type="radio" name="statement-{{ statement.id }}" value="{{ key }}">
          </p>
        {% endfor %}

        <p>
          not sure: <input type="radio" name="statement-{{ statement.id }}" value="" checked >
        </p>
    
      </div>
    
    {% endfor %}
  
    <input type="submit" value="Go">

  </form>
  
{% endblock %}
