{% extends 'base.html' %}

{% block title %}
  Scoring
{% endblock %}

{% block content %}

  <h1>Scoring</h1>

  <p>This is a brief explanation of how the scoring is calculated. For the exact algorithm used please see the <a href="https://github.com/mysociety/mzalendo/blob/master/mzalendo/votematch/views.py">source code</a>.</p>
  
  <p>To explain the scoring consider the following results:</p>
  
  <pre>
   statement                            |  Visitor   |  Party A  |  Party B  
  --------------------------------------|------------|-----------|-----------
   "Hats should never be worn indoors"  |  agree     |  agree    |  disagree
   "Umbrellas should be left outside"   |  disagree  |  agree    |  neutral
  </pre>

  <p>Each position (eg 'agree', 'disagree') is now given a score.</p>

  <pre>
   statement                            |  Visitor   |  Party A  |  Party B  
  --------------------------------------|------------|-----------|-----------
   "Hats should never be worn indoors"  |   1        |   1       |  -1
   "Umbrellas should be left outside"   |  -1        |   1       |   0
  </pre>

  <p>The score for each party is then subtracted from that of the visitor, and made positive. The size of the number represents the difference in opinion, with '0' meaning that there is agreement.</p>

  <pre>
   statement                            |  Visitor   |  Party A  |  Party B  
  --------------------------------------|------------|-----------|-----------
   "Hats should never be worn indoors"  |  N/A       |   0       |   2
   "Umbrellas should be left outside"   |  N/A       |   2       |   1
  </pre>

  <p>The various scores for each party are then averaged to get the final score. This averaging leaves out any statements that have not been answered by both visitor and party.</p>

  <pre>
                                        |  Visitor   |  Party A  |  Party B  
  --------------------------------------|------------|-----------|-----------
                              average:  |  N/A       |   1       |   1.5
  </pre>

  <p>The lowest average score represents the best match to the party - in this case 'Party A'.</p>
    
    <p>To make the scores easier to understand at a glance they are then adjusted so that they are both positive and negative with their average being 0. The higher score after this adjustment represents a better match.</p>

  <pre>
                                        |  Visitor   |  Party A  |  Party B  
  --------------------------------------|------------|-----------|-----------
                     adjusted average:  |  N/A       |   0.25    |   -0.25
  </pre>

{% endblock %}
