{% extends 'votematch/base.html' %}

{% block title %}
    {{ quiz.name }} Results
{% endblock %}

{% block content %}

  <h1>{{ object.quiz.name }}</h1>

  <div class="quiz-results votematch">

      <h2>Your Results</h2>

      <p>
        Based on you answers and those we have for the parties we've calculated
        a score for each party. The higher the score the more you agree.
      </p>

      {% for result in results %}
      <div id="party-result-{{ result.party.id }}" class="votematch-poll-spectrum">
        <div class="votematch-party-name-wrapper">
          <div class="votematch-party-name">
            {{ result.party.name }}
          </div>
        </div>
        
        <div class="votematch-spectrum {% if result.score >= 0 %}positive{% else %}negative{% endif %}">

          <div class="score-bar-side">
            <div class="score-bar" style="width: {{ result.score_percentage }}%;"></div>            
          </div>

          <div class="score-side">
            <div class="score">{{ result.score }}</div>
          </div>
          
        </div>
        
      </div>
      {% endfor %}

      <ul class="quiz-actions">
          <li class="play-again">
            <a href="{% url votematch-quiz slug=quiz.slug %}">Play Again</a>
          </li>
          <li class="share-facebook">
            <a  href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}" target="_blank">Share on Facebook</a>
          </li>
          <li class="share-twitter">
            <a  href="https://twitter.com/share?via=MzalendoWatch&amp;text=&amp;url={{ request.build_absolute_uri }}" target="_blank">Share on Twitter</a>
          </li>
      </ul>

    </div>

    <p><small><a href="/votematch/scoring/">How scoring is calculated</a></small></p>

  
{% endblock %}
