<ol class="alphabet-links">
    <li>
      {% if current_name_prefix %}
        <a class="alphabet-links__link" href='.{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}'>All</a>
      {% else %}
        <span class="alphabet-links__link alphabet-links__link--current">All</span>
      {% endif %}
    </li>

  {% for letter, count in count_by_prefix %}
    <li>
      {% if letter == current_name_prefix %}
        <span class="alphabet-links__link alphabet-links__link--current">{{ letter }}</span>
      {% elif count %}
        <a class="alphabet-links__link" href='{{ letter }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}'>{{ letter }}</a>
      {% else %}
        <span class="alphabet-links__link alphabet-links__link--disabled">{{ letter }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ol>
