{% load thumbnail %}
{% load hidden %}

<li>
    {% maybehidden person user %}
        {% thumbnail person.primary_image "90x90" as im %}
        <img src="{{ im.url }}" alt="{{ person.name }}" width="{{ im.width }}" height="{{ im.height }}" />
        {% empty %}
        <img src="{{STATIC_URL}}images/person-90x90.jpg" />
        {% endthumbnail %}
    {% endmaybehidden %}

    <section>
        <h4>{% maybehidden person user %}{{ person.name }}{% endmaybehidden %}</a></h4>
          <ul>
            {% for position in positions %}
                {{ position.title }} for <a href="{{ position.place.get_absolute_url }}">{{ position.place.name }}</a>
                {% if position.organisation %}
                   of <a href="{{ position.organisation.get_absolute_url }}">{{ position.organisation.name }}</a>
                {% endif %}
            {% endfor %}
          </ul>
        {% if not person.hidden %}
          <div class="read-more-wrap"><a href="{{ person.get_absolute_url }}" class="read-more">read more</a></div>
        {% endif %}
    </section>
</li>
