<div class="search-filters">
    <form method="get">
        Where:

        <select name="place_slug">
            <option value="">All</option>
            {% for place in places  %}
                <option
                    {% if place_slug = place.slug %}selected="selected"{% endif %}
                    value="{{ place.slug }}"
                >{{ place.name }} ({{ place.kind.name }})</option>
            {% endfor %}
        </select>

        <input type="submit" value="Search" />
    </form>
</div>
