{% load switch %}

{% if contacts %}    
    <h3>Contact Details</h3>
    
    <ul class="vcard">
        {% for c in contacts %}
            <li class="{{ c.kind.slug }}">

                {% switch c.kind.slug %}
    
                    {% case 'phone' %}
                        <span class="label">Tel:</span>
                        <p><a href="tel:{{ c.value }}">{{ c.value }}</a></p>
                        
                    {% case 'facebook' %}
                        <span class="label">Link:</span>
                        <p><a href="{{ c.value }}">{{ c.kind.name }}</a></p>
                        
                    {% case 'twitter' %}
                        <span class="label">Link:</span>
                        <p><a href="http://twitter.com/{{ c.value }}">@{{ c.value }}</a> on Twitter</p>
                        
                    {% case 'address' %}
                        <span class="label">Post:</span>
                        <p>{{ c.value|urlizetrunc:50 }}</p>

                    {% case 'parliament_url' %}
                    {# Suppress these as requested in issue #444 #}

                    {% else %}
                        <span class="label">{{ c.kind.name }}:</span>
                        <p>{{ c.value|urlizetrunc:50 }}</p>
        
                {% endswitch %}
    
                {% if c.notes %}<small>({{ c.notes }})</small>{% endif %}
    
            </li>
        {% endfor %}
    </ul>
{% endif %}