{% load thumbnail %}

<div class="content_box">

    {% block candidate_information_note %}{% endblock %}

{% with all_places_aspirants=object.get_aspirants %}

{% if all_places_aspirants %}

    {% with all_child_places=object.child_places_by_kind %}

      {% if all_child_places %}

        <div class="local-aspirants">

        {% for place_kind, child_places in all_child_places.items %}

           There are {{ child_places|length }} {{ place_kind.plural_name|lower }} in
           {{ object.name }}.  Please select your {{ place_kind.name|lower }} to view the aspirants:

           <p class="election-child-places">
           {% for child_place in child_places %}{% if forloop.first %}
             {% else %}{% if forloop.last %} and {% else %}, {% endif %}{% endif %}<a href="{% url "place_election" slug=child_place.slug %}">{{ child_place.name }}</a>{% endfor %}.
           </p>

        {% endfor %}

        </div>

      {% endif %}

    {% endwith %}

  {% for place, position_titles in all_places_aspirants %}

    {% for position_title, people in position_titles.items %}

       <div class="local-aspirants">
           <h3>{{ position_title }}s for {{ place.name }}</h3>
           <ul>

           {% for person in people %}

                <li>
                  <a href="{{ person.get_absolute_url }}">

                      {% thumbnail person.primary_image "210x210" crop="center" as im %}
                      <img src="{{ im.url }}" alt="{{ person.name }}" width="{{ im.width }}" height="{{ im.height }}" />
                      {% empty %}
                      <img src="{{STATIC_URL}}images/{{person.css_class}}-210x210.jpg" />
                      {% endthumbnail %}
                      <span class="name">{{ person.name }}</span>
                  </a>
                      <p><em>Parties:</em>
                           {% for party in person.parties %}
                             {% if forloop.first %}
                             {% else %}
                                {% if forloop.last %} and {% else %}, {% endif %}
                             {% endif %}<strong><a href="{{ party.get_absolute_url }}">{{ party.name }}</a></strong>{% empty %}Not a member of any parties.{% endfor %}
                      </p>
                      <p><em>Coalitions:</em>
                           {% for coalition in person.coalitions %}
                             {% if forloop.first %}
                             {% else %}
                                {% if forloop.last %} and {% else %}, {% endif %}
                             {% endif %}<strong><a href="{{ coalition.get_absolute_url }}">{{ coalition.name }}</a></strong>{% empty %}Not a member of any coalitions.{% endfor %}
                      </p>
                </li>

           {% endfor %}

           </ul>
       </div>

    {% empty %}

       <!-- We have no record (yet) of people standing for positions associated with {{ place.name }} -->

    {% endfor %}

  {% endfor %}

{% else %}

  {% with boundary_changes=object.get_boundary_changes %}

    {% if object.parliamentary_session.relative_time == 'Past' and boundary_changes.next %}

       <p>This is an <strong>old</strong> {{ object.kind.name.lower }} - to find your
          aspirants, you can <a href="{% url "map-home" %}">pick
          where you are on a map</a>, or choose from one of the
          {{ object.kind.plural_name.lower }} that replaced
          {{object.name}}:</p>

       <ul>
           {% for i in boundary_changes.next.intersections %}
               <li><a href="{{ i.place.get_absolute_url }}">{{ i.place.name }}</a></li>
           {% endfor %}
       </ul>

    {% else %}

      <p>There are currently no aspirants for this {{ object.kind.name.lower }}.</p>

    {% endif %}

  {% endwith %}

{% endif %}

{% endwith %}

</div>
