{% load switch %}

<li class="{{ object.css_class }}{% if not object.show_active %} inactive{% endif %}">

    {% switch object.css_class %}
        {% case 'position' %}
            {% include "core/position_list_item.html" %}
        {% case 'positiontitle' %}
            {% include "core/positiontitle_list_item.html" %}
        {% case 'person' %}
            {% include "core/person_list_item.html" %}
        {% case 'organisation' %}
            {% include "core/organisation_list_item.html" %}
        {% case 'place' %}
            {% include "core/place_list_item.html" %}
        {% else %}
            {% include "core/unknown_list_item.html" %}
    {% endswitch %}
</li>
