{% extends 'base.html' %}

{% block title %}Help: API{% endblock %}

{% block content %}

<h1>Available APIs for this site</h1>

<p>This site offers a number of ways of accessing its data programmatically:</p>

<h2>RESTful API</h2>

<p>Every night, data from this site is mirrored to an instance
of <a href="http://popit.poplus.org/">PopIt</a>. PopIt provides
an HTTP API for querying data about people, organizations and
their memberships that link those (e.g. that someone is a member
of a particular political party.</p>

<p>The endpoint of this API is:
<a href="{{ popit_api_url }}">{{ popit_api_url }}</a> and you can
find a more easily browseable
view of this data at
<a href="{{ popit_url }}">{{ popit_url }}</a>. There is
also <a href="http://popit.poplus.org/docs/api/">documentation
for PopIt's API here</a>.
</p>

<h2>Daily JSON Data Dumps</h2>

<p>If you prefer to work with an export of the site's core data
in JSON format, you can use one of the nightly data dumps that
we automatically generate.  All of data in files below are
different ways of presenting the JSON serialization of
the <a href="http://popoloproject.com/">Popolo data model</a>.
The following sections should explain which one of these would
be most suitable for you:
</p>

<h3>Popolo formatted JSON</h3>

<p>This data is a single JSON object with
'persons' and 'organizations' keys at the top level, and
membership information being included in each person object:</p>

<ul>
<li><a href="{{ dump_base_path }}pombola.json">Popolo JSON data</a></li>
</ul>

<h3>JSON suitable for mongoimport</h3>

<p>For large data imports, mongodb's mongoimport command should
be provided with newline separated JSON objects.  You can
download the data in this format from these links:</p>

<ul>
<li><a href="{{ dump_base_path }}mongo-persons.dump">Person data suitable for mongoimport</a></li>
<li><a href="{{ dump_base_path }}mongo-organizations.dump">Organization data suitable for mongoimport</a></li>
<li><a href="{{ dump_base_path }}mongo-memberships.dump">Membership data suitable for mongoimport</a></li>
</ul>

<h3>Person, Organization and Membership data as JSON arrays</h3>

<p>This data was intended for use with mongoimport's --jsonArray
option, although depending on your version of the software, the
files may be too large to be imported by that method.</p>

<ul>
<li><a href="{{ dump_base_path }}persons.json">Person data in a JSON array</a></li>
<li><a href="{{ dump_base_path }}organizations.json">Organization data in a JSON array</a></li>
<li><a href="{{ dump_base_path }}memberships.json">Membership data in a JSON array</a></li>
</ul>

<h2>License</h2>

<p>The data from these database dumps or the API may be used
under
the <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative
Commons Attribution-ShareAlike license (CC-BY-SA)</a>.</p>

<h2>Disclaimer</h2>

<p>We try to make sure that the information on this site is
accurate, but inevitably it may be incomplete on innaccurate -
we make no guarantee about the accuracy of the data.</p>

{% endblock %}
