{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}
    {% include "disqus_javascript.html" %}

    {% block title_space %}
      <div class="title-space">

        {% block object_title %}
          <h1>{{ object.title }} {{ object.name }}</h1>
        {% endblock %}

        {% block object_tagline %}
        {% endblock %}

        {% block object_menu %}
        <div class="object_menu">
          <nav>
            <ul>
              {% block object_menu_links %}
              {% endblock %}
            </ul>
          </nav>
        </div>
        {% endblock %}

      </div>
    {% endblock %}

    {% block profile_pic %}
      <div class="profile-pic">
        {% thumbnail object.primary_image "100x100" crop="center" as sm %}
          <img src="{{ sm.url }}"
        {% empty %}
          <img src="{{STATIC_URL}}images/{{object.css_class}}-210x210.jpg"
        {% endthumbnail %}
        {% thumbnail object.primary_image "210x210" crop="center" as lg %}
            srcset="{{ lg.url }} 640w"
        {% empty %}
            srcset="{{STATIC_URL}}images/{{object.css_class}}-210x210.jpg"
        {% endthumbnail %}
            alt="{{ object.name }}">
      </div>
    {% endblock %}

    <div class="profile-info">
      {% block profile_info %}
      {% endblock %}

      <div class="social-and-tools">
          {% include 'core/social_tools.html' %}
      </div>

    </div>

    <div class="large-container">
      {% block subcontent %}
        You should add your own custom content to this layout in a 'subcontent' block.
      {% endblock %}
    </div>
{% endblock %}


{% block extra_attribution %}
  {# If the object has a summary it may have come from Wikipedia. Display the attribution. #}
  {% if object.summary %}
    {% include 'wikipedia_attribution.html' %}
  {% endif %}
  {# Display any attribution for candidate data #}
  {% include 'candidate_data_attribution.html' %}
{% endblock %}
