{% extends 'core/organisation_base.html' %}
{% load thumbnail %}
{% load humanize %}

{% block title %}{{ object.name }} People{% endblock %}

{% block subcontent %}

  <h2>Related People</h2>

  <div>

    <ul class="listing">
        {% for position in sorted_positions %}
            {% with person=position.person person_url=position.person.get_absolute_url %}
                <li>
                    <a href="{{ person_url }}">
                        {% thumbnail person.primary_image "90x90" as im %}
                        <img src="{{ im.url }}" alt="{{ person.name }}" width="{{ im.width }}" height="{{ im.height }}" />
                        {% empty %}
                        <img src="{{STATIC_URL}}images/person-90x90.jpg" />
                        {% endthumbnail %}
                    </a>

                    <section>
                        <h1><a href="{{ person_url }}">{{ person.name }}</a></h1>
                        <p>
                          {{ position.title.name }}
                        </p>

                        {% if position.place %}
                          <p>
                            <a href="{{ position.place.get_absolute_url }}">{{ position.place.name }}</a>
                          </p>
                        {% endif %}

                        </p>
                        <p class="meta">{{ position.display_dates|safe }}</p>
                        <div class="read-more-wrap"><a href="{{ person_url }}" class="read-more">read more</a></div>
                    </section>
                </li>
            {% endwith %}
        {% endfor %}
    </ul>
  </div>

{% endblock %}
