{% extends 'core/object_base.html' %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block extra_head_meta %}
  {# Prefetch DNS for when the Disqus Javascript is loaded #}
  {% if settings.DISQUS_SHORTNAME %}
    <link href="//{{ settings.DISQUS_SHORTNAME }}.disqus.com" rel="dns-prefetch" />
    <!--[if IE 9]>
      <link href="http://{{ settings.DISQUS_SHORTNAME }}.disqus.com/" rel="prefetch" />
    <![endif]-->
  {% endif %}
{% endblock%}

{% block object_menu_links %}

  {% include 'core/_object_menu_link.html' with url_name='organisation' link_text='Overview' %}
  {% include 'core/_object_menu_link.html' with url_name='organisation_people' link_text='People' %}
  {% include 'core/_object_menu_link.html' with url_name='organisation_contact_details' link_text='Contact details' %}

  {# put the comments last so that it does not jitter the page layout too much when the js kicks in and the number of comments is added. #}
  {% if settings.DISQUS_SHORTNAME %}
    {% comment %}
    <li><a href="{% url "organisation" slug=object.slug %}#disqus_thread" data-disqus-identifier="{{ object.css_class }}-{{ object.id }}">Comments</a></li>
    {% endcomment %}
    <script type="text/javascript" charset="utf-8">
      addDisqusScriptTag('count');
    </script>
  {% endif %}
{% endblock %}


{% block object_tagline %}
  {% comment %}
      # Not possible in the database yet - but a nice idea.
      <p>part of <a href="/">Parent Company</a></p>
  {% endcomment %}

  {% if object.kind.slug != 'unknown' %}
      <p>{{ object.kind.name }}</p>
  {% endif %}
{% endblock %}


{% block profile_info %}
{% endblock %}

