{% extends 'core/organisation_base.html' %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block subcontent %}

  {% if object.summary %}
    <h2>Summary</h2>

    <div class="markdown">
      {{ object.summary }}
    </div>
  {% endif %}

  {% with people_count=object.position_set.all.count %}
    {% if people_count %}
      <h2>People</h2>

      <p>
        There
        {{ people_count|pluralize:"is,are"}}
        <a href="{% url "organisation_people" slug=object.slug %}">
          {{ people_count }}
          {{ people_count|pluralize:"person,people"}}
        </a>
        related to {{ object.name }}.
      </p>
    {% endif %}
  {% endwith %}


  {% with contact_detail_count=object.contacts.all.count %}
    {% if contact_detail_count %}
      <h2>Contact Details</h2>

      <p>
        There {{ contact_detail_count|pluralize:"is,are" }} {{ contact_detail_count }}
        way{{ contact_detail_count|pluralize }} to
        <a href="{% url "organisation_contact_details" slug=object.slug %}">get in touch</a>
        with {{ object.name }}.
      </p>
    {% endif %}
  {% endwith %}

{% endblock %}
