{% extends 'core/object_base.html' %}
{% load thumbnail %}
{% load url from future %}

{% block title %}{{ object.name }}{% endblock %}


{% block object_menu_links %}
  <li><a href="{% url "person" slug=object.slug %}">Overview</a></li>
  {% if object.has_scorecards %}
    <li><a href="{% url "person_scorecard" slug=object.slug %}">Scorecard</a></li>
  {% endif %}
  <li><a href="{% url "person_experience" slug=object.slug %}">Experience</a></li>

  {% if settings.ENABLED_FEATURES.hansard %}
    {% with hansard_count=object.hansard_entries.count %}
      <li>
        <a href="{% url "person_appearances" slug=object.slug %}">
          Appearances {% if hansard_count %}({{ hansard_count }}){% endif %}
        </a>
      </li>
    {% endwith %}
  {% endif %}

  <li><a href="{% url "person_contact_details" slug=object.slug %}">Contact details</a></li>

  {# put the comments last so that it does not jitter the page layout too much when the js kicks in and the number of comments is added. #}
  {% if settings.DISQUS_SHORTNAME %}
    {% comment %}
    <li><a href="{% url "person" slug=object.slug %}#disqus_thread" data-disqus-identifier="{{ object.css_class }}-{{ object.id }}">Comments</a></li>
    {% endcomment %}
    <script type="text/javascript" charset="utf-8">
      addDisqusScriptTag('count');
    </script>
  {% endif %}
{% endblock %}

{% block object_tagline %}
  {% if object.is_politician %}
      <p>Politician Profile Page</p>
  {% endif %}

  {% if object.is_aspirant %}
      <p>
          Aspirant in the upcoming elections:
          {% for aspiration in object.aspirant_positions %}
              {{ aspiration.title }}
              {% if not forloop.last %}, {% endif %}
          {% endfor %}
      </p>

      <p>
        Have information to add to our site about this aspirant?
        <a  href="{% url "feedback_add" %}?url={{ request.build_absolute_uri }}"
            class="feedback_link"
        >Tell us!</a>
      </p>
  {% endif %}
{% endblock %}

{% block profile_info %}
  <div class="constituency-party">

      {% if object.aspirant_constituencies.count %}
          <h3>Aspirant for</h3>
          <ul>
              {% for constituency in object.aspirant_constituencies %}
                  <li><a href="{{ constituency.get_absolute_url }}">{{ constituency.name }}</a></li>
              {% endfor %}
      {% endif %}

      <h3>Constituency</h3>
      <ul>
          {% for constituency in object.constituencies %}
              <li><a href="{{ constituency.get_absolute_url }}">{{ constituency.name }}</a></li>
          {% empty %}
              <li>Not an MP for any constituencies</li>
          {% endfor %}
      </ul>

      <h3>{% if settings.COUNTRY_APP == 'kenya' %}
        Party &amp; Coalition
      {% else %}
        Party
      {% endif %}</h3>
      <ul>
          {% for party in object.parties_and_coalitions %}
              <li><a href="{{ party.get_absolute_url }}">{{ party.name }}</a></li>
          {% empty %}
              <li>{% if settings.COUNTRY_APP == 'kenya' %}
                Not a member of any parties or coalitions
              {% else %}
                Not a member of any party
              {% endif %}</li>
          {% endfor %}
      </ul>
  </div>
{% endblock %}
