{% extends 'core/object_base.html' %}
{% load thumbnail %}

{% block title %}{{ object.name }}{% endblock %}

{% block extra_head_meta %}
  {# Prefetch DNS for when the Disqus Javascript is loaded #}
  {% if settings.DISQUS_SHORTNAME %}
    <link href="//{{ settings.DISQUS_SHORTNAME }}.disqus.com" rel="dns-prefetch" />
    <!--[if IE 9]>
      <link href="http://{{ settings.DISQUS_SHORTNAME }}.disqus.com/" rel="prefetch" />
    <![endif]-->
  {% endif %}
  <meta name="pombola-person-id" content="{{ object.id }}">
  {% for identifier in object.identifiers.all %}
  <meta name="pa:identifier-{{ identifier.scheme }}" content="{{ identifier.identifier }}">
  {% endfor %}
{% endblock%}

{% block open_graph %}{% include 'core/_person_open_graph.html' %}{% endblock %}

{% block object_menu_links %}
  {% include 'core/person_menu.html' %}
{% endblock %}

{% block object_tagline %}
  {% if object.hidden and user.is_superuser %}
    <p class="hidden-to-non-superusers">This user's profile is hidden from non-admins</p>
  {% endif %}

  {% if object.is_politician %}
      <p>Politician Profile Page</p>
  {% endif %}

  {% if object.is_aspirant %}
      <p>
          Aspirant in the upcoming elections:
          {% for aspiration in object.aspirant_positions %}
              {{ aspiration.title }}
              {% if not forloop.last %}, {% endif %}
          {% endfor %}
      </p>

      <p>
        Have information to add to our site about this aspirant?
        <a  href="{% url "feedback_add" %}?url={{ request.build_absolute_uri }}"
            class="feedback_link"
        >Tell us!</a>
      </p>
  {% endif %}
{% endblock %}

{% block profile_info %}
<div class="sidebar">
  <div class="constituency-party">

      {% if object.aspirant_constituencies.count %}
          <h3>Aspirant for</h3>
          <ul class="aspirant-constituencies">
              {% for constituency in object.aspirant_constituencies %}
                  <li><a href="{{ constituency.get_absolute_url }}">{{ constituency.name }}</a></li>
              {% endfor %}
          </ul>
      {% endif %}


      {% regroup object.constituencies|dictsort:"kind" by kind as constituency_groups %}
      {% for entry in constituency_groups %}
      <h3>{{ entry.grouper }}</h3>
      <ul>
          {% for area in entry.list %}
              <li><a href="{{ area.get_absolute_url }}">{{ area.name }}</a></li>
          {% endfor %}
      </ul>
      {% endfor %}



      {% if settings.COUNTRY_APP == 'south_africa' %}
      <h3>Constituency Offices</h3>
      <ul class="constituency-offices">
          {% for office in object.constituency_offices %}
              <li><a href="{{ office.get_absolute_url }}">{{ office.name }}</a></li>
          {% empty %}
              <li>Not associated with any constituency offices</li>
          {% endfor %}
      </ul>
      {% endif %}

      <h3>Party</h3>
      <ul class="party-memberships">
          {% for party in object.parties_and_coalitions %}
              <li><a href="{{ party.get_absolute_url }}" class="party-membership party-membership--{{ party.kind.name | slugify }}">{{ party.name }}</a></li>
          {% empty %}
              <li>Not a member of any party</li>
          {% endfor %}
      </ul>
  </div>
</div>
{% endblock %}
