{% extends 'core/place_base.html' %}
{% load thumbnail %}
{% load humanize %}

{% block title %}{{ object.name }} People{% endblock %}

{% block subcontent %}

  <h2>Related People</h2>

  <div>

    <ul class="listing">
        {% for person_and_position in object.related_people %}
            {% with person=person_and_position.0 positions=person_and_position.1 %}
                {% include "core/_place_people_position.html" %}
            {% endwith %}
        {% endfor %}
    </ul>

    <h3>People Related to Smaller Places in {{ object.name }}</h3>

    <ul class="listing">
        {% for child_place in object.child_places.all %}
            {% for person_and_position in child_place.related_people %}
              {% with person=person_and_position.0 positions=person_and_position.1 %}
                    {% if person %}
                       {% include "core/_place_people_position.html" %}
                    {% endif %}
                {% endwith %}
            {% endfor %}
        {% endfor %}
    </ul>
  </div>

{% endblock %}
