{% extends 'base.html' %}
{% load pagination_tags %}

{% block title %}Places{% endblock %}

{% block content %}

    <h1 class="page-title">Places</h1>

    {% block object_menu %}
    <div class="object_menu">
      <nav>
        <ul>
          <li><a href="{% url "place_kind_all" %}">All</a></li>

          {% for place_kind in all_kinds %}
              {% for session in place_kind.parliamentary_sessions_for_iteration %}
                <li>

                  {% if session %}
                     <a href="{% url "place_kind" slug=place_kind.slug session_slug=session.slug %}">{% firstof place_kind.plural_name place_kind.name %} {% if session %}({{session.relative_time}}){% endif %}</a>
                  {% else %}
                     <a href="{% url "place_kind" slug=place_kind.slug %}">{% firstof place_kind.plural_name place_kind.name %}</a>
                  {% endif %}</h2>
                </li>
              {% endfor %}
          {% endfor %}

        </ul>
      </nav>
    </div>
    {% endblock %}


    <hr>

    <div>
        {% if not kind %}
            {% include 'core/generic_list.html' %}
        {% else %}
          {% for place_kind in all_kinds %}
              {% for session in place_kind.parliamentary_sessions_for_iteration %}
                {% if kind == place_kind and session == selected_session %}

                    <h2>
                        {% firstof place_kind.plural_name place_kind.name %}
                        {% if session %}({{session.relative_time}}){% endif %}
                    </h2>

                    {% if kind.summary %}
                        <p>{{ kind.summary }}</p>
                    {% endif %}

                    {% include 'core/generic_list.html' %}

                {% endif %}
              {% endfor %}
          {% endfor %}

        {% endif %}
    </div>

{% endblock %}
