{% extends 'core/object_base.html' %}
{% load thumbnail %}
{% load humanize %}
{% load pipeline %}

{% block content %}

  <div class="page-wrapper wrapper election-area-page">

  <header>

    {% if object.mapit_area %}
      <div class="map-box example">
        {% javascript 'google-map' %}

        <div id="map_canvas"></div>
        <script type="text/javascript" charset="utf-8">
          add_kml_to_map( 'http://{{ request.get_host }}{% url "mapit_index" %}area/{{ object.mapit_area.id }}.kml?simplify_tolerance=0.001' );
        </script>
      </div>
    {% endif %}

    <hgroup>

      <h1 class="page-title">{{ object.name }}</h1>

      <div class="additional">is a {{ object.kind.name }} {{ object.parliamentary_session.readable_date_range }}
      {% if object.parent_place %}
          and is contained within the {{ object.parent_place.kind.name }} <a href="{% url "place_election" slug=object.parent_place.slug %}">{{ object.parent_place.name }}.</a>
      {% else %}.{% endif %}
      </div>

      <p><a href="{% url "place" object.slug %}">More details</a> about {{ object.name }}.</p>

    </hgroup>

  </header>

  <!-- header with maps chould go here -->

  {% include "core/place_candidate_lists.html" %}

  </div>

{% endblock %}
