{% extends 'core/place_base.html' %}
{% load thumbnail %}
{% load humanize %}

{% block title %}{{ object.name }} People{% endblock %}

{% block subcontent %}

  <h2>Related People</h2>

  <div>

    <ul class="listing">
        {% for person_and_position in object.related_people %}
            {% with person=person_and_position.0 positions=person_and_position.1 %}
                {% include "core/_place_people_position.html" %}
            {% endwith %}
        {% endfor %}
    </ul>

    {% with child_places=object.related_people_child_places %}
      {% if child_places %}

        <h3>People Related to Smaller Places in {{ object.name }}</h3>

        <ul class="listing">
            {% for cpt in child_places %}
                {% with child_place=cpt.0 all_people=cpt.1 %}
                  {% for person_and_positions in all_people %}
                      {% with person=person_and_positions.0 positions=person_and_positions.1 %}
                            {% if person %}
                               {% include "core/_place_people_position.html" %}
                            {% endif %}
                      {% endwith %}
                  {% endfor %}
               {% endwith %}
            {% endfor %}
        </ul>

      {% endif %}
    {% endwith %}

  </div>

{% endblock %}
