{% extends 'core/object_base.html' %}
{% load staticfiles %}
{% load thumbnail %}
{% load humanize %}
{% load hidden %}
{% load compressed %}

{% block title %}{{ object.name }}{% endblock %}

{% block extra_head_meta %}
  {# Prefetch DNS for when the Disqus Javascript is loaded #}
  {% if settings.DISQUS_SHORTNAME %}
    <link href="//{{ settings.DISQUS_SHORTNAME }}.disqus.com" rel="dns-prefetch" />
    <!--[if IE 9]>
      <link href="http://{{ settings.DISQUS_SHORTNAME }}.disqus.com/" rel="prefetch" />
    <![endif]-->
  {% endif %}
{% endblock%}

{% block object_menu_links %}
  {% include 'core/_object_menu_link.html' with url_name='place' link_text='Overview' %}

  {% if object.has_scorecards %}
    {% include 'core/_object_menu_link.html' with url_name='place_scorecard' link_text='Scorecard' %}
  {% endif %}

  {% if object.has_budgets %}
    {% include 'core/_object_menu_link.html' with url_name='place_budgets' link_text='Budgets' %}
  {% endif %}

  {% include 'core/_object_menu_link.html' with url_name='place_people' link_text='People' %}
  {% include 'core/_object_menu_link.html' with url_name='place_places' link_text='Places' %}

  {% if settings.ENABLED_FEATURES.place_data and object.placedata %}
    {% include 'core/_object_menu_link.html' with url_name='place_data' link_text='Data' %}
  {% endif %}


  {% if settings.ENABLED_FEATURES.projects and object.is_constituency %}
    {% include 'core/_object_menu_link.html' with url_name='place_projects' link_text=projects_sub_link_text %}
  {% endif %}

  {% comment %}
    <!-- Not showing organisations for the moment as the list isn't very good. -->
    {% include 'core/_object_menu_link.html' with url_name='place_organisations' link_text='Organisations' %}
  {% endcomment %}

  {# put the comments last so that it does not jitter the page layout too much when the js kicks in and the number of comments is added. #}
  {% if settings.DISQUS_SHORTNAME %}
    {% comment %}
    <li><a href="{% url "place" slug=object.slug %}#disqus_thread" data-disqus-identifier="{{ object.css_class }}-{{ object.id }}">Comments</a></li>
    {% endcomment %}
    <script type="text/javascript" charset="utf-8">
      addDisqusScriptTag('count');
    </script>
  {% endif %}
{% endblock %}


{% block object_tagline %}

  {% with session=object.parliamentary_session %}

      <p class="object-kind">{{ object.kind.name }}{% if session %} ({{ session.house.name }}){% endif %}</p>

      {% if session %}
        <p>{{ session.relative_time }} {{ object.kind.name }}: {{ session.readable_date_range }}</p>
      {% endif %}

      {% if object.organisation %}
        <p>part of <a href="{{ object.organisation.get_absolute_url }}">{{ object.organisation.name }}</a></p>
      {% endif %}

  {% endwith %}

{% endblock %}

{% block profile_pic %}
  {% if object.mapit_area %}
    <div class="profile-map">
      {% compressed_js 'google-map' %}

      <div id="map_canvas" width="300" height="300"></div>

      {% block "add_place_kml_to_map" %}
        <script type="text/javascript" charset="utf-8">
          add_kml_to_map( 'http://{{ request.get_host }}{% url "mapit_index" %}area/{{ object.mapit_area.id }}.kml?simplify_tolerance=0.001' );
        </script>
      {% endblock %}

    </div>
  {% else %}
    <div class="profile-pic">
      <img src="{% static 'images/place-200x200.jpg' %}" />
    </div>
  {% endif %}
{% endblock %}

{% block profile_info %}
  {% with politician_pos=object.current_politician_position %}
    {% if politician_pos %}
      <div class="constituency-party">
        <h3>Key figure</h3>
        <ul>
          <li>{% maybehidden politician_pos.person user %}{{ politician_pos.person.name }} <span>[{{ politician_pos.title.name }}]</span>{% endmaybehidden %}</li>
        </ul>
      </div>
    {% endif %}
  {% endwith %}

  {% with aspirant_positions=object.position_set.all.current_aspirant_positions %}
    {% if aspirant_positions %}
      <div class="constituency-party">
        <h3>Aspirant(s)</h3>
        <ul>
          {% for aspirant_pos in aspirant_positions %}
            <li>{% maybehidden aspirant_pos.person user %}{{ aspirant_pos.person.name }} <span>[{{ aspirant_pos.title.name }}]</span>{% endmaybehidden %}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
  {% endwith %}
{% endblock %}
