{% extends 'base.html' %}
{% load staticfiles %}
{% load pipeline %}
{% load thumbnail %}
{% load switch %}
{% load hidden %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <div class="view-selector">
        <a href="{% url "position_pt" pt_slug=object.slug %}{% if order %}?order={{order|urlencode}}{% endif %}">View as list</a>
    </div>

    <h1 class="page-title">{{ page_title }}</h1>

    {% if object.summary %}
        <div class="summary markdown">
            {{ object.summary }}
        </div>
    {% endif %}


    <div class="content_box">
        {% include 'core/_position_session_links.html' %}

        <div class="grid-listing">
          {% for position in positions %}
            <div class="grid-listing-item">
                {% maybehidden position.person user %}
                    {% thumbnail position.person.primary_image "210x210" crop="center" as im %}
                        <img src="{% static 'images/person-210x210.jpg' %}"
                             data-src="{{ im.url }}"
                             width="{{ im.width }}"
                             height="{{ im.height }}"
                             alt="{{ position.person.name }}">
                        <noscript><img src="{{ im.url }}" alt="{{ object.name }}" width="{{ im.width }}" height="{{ im.height }}" /></noscript>
                    {% empty %}
                        <img src="{% static 'images/person-210x210.jpg' %}" />
                    {% endthumbnail %}

                    <span class="name">
                        {{ position.person.name }}
                    </span>
                    <span class="place">
                        {{ position.place.name }}
                    </span>
                  {% if position.place.parent_place %}
                    <span class="parent-place">
                        {{ position.place.parent_place.name }} {{ position.place.parent_place.kind.name }}
                    </span>
                  {% endif %}
                {% endmaybehidden %}
            </div>
          {% endfor %}
        </div>
    </div>

    <br clear="both" />

{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'lazy-loaded-images' %}
{% endblock %}

