{% extends 'base.html' %}
{% load thumbnail %}
{% load switch %}

{% block title %}{{ object.name }}{% endblock %}

{% block content %}

    <div class="view-selector">
        <a href="{% url "position_pt" pt_slug=object.slug %}?view=grid{% if order %}&order={{order|urlencode}}{% endif %}">View as grid</a>
    </div>

    <h1 class="page-title">{{ page_title }}</h1>

    {% if object.summary %}
        <div class="summary markdown">
            {{ object.summary }}
        </div>
    {% endif %}

    <div class="content_box">
        {% include 'core/_position_session_links.html' %}
        {% include 'core/position_position_section.html' %}
    </div>

{% endblock %}
