<ul class="tools">
  <li>
    <a  href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&amp;t={{ object.name }}"
        target="_blank"
        class="big-btn-text-fb"
    >Share on Facebook</a>

  {% if settings.TWITTER_USERNAME %}
    <li>
      <a  href="https://twitter.com/share?via={{ settings.TWITTER_USERNAME }}&amp;text={{ object.name }}&amp;url={{ request.build_absolute_uri }}"
          target="_blank"
          class="big-btn-text-tw"
      >Share on Twitter</a>
    </li>
  {% endif %}

  <li>
    <a  href="{% url "feedback_add" %}?url={{ request.build_absolute_uri }}"
        class="feedback_link big-btn-text-red"
    >Correct this page</a>
  </li>

  {% if settings.DISQUS_SHORTNAME %}
    <li>
      <a  href="#disqus_thread"
          class="big-btn-text-green"
      >Post Comment</a>
    </li>
  {% endif %}

</ul>
