{% if settings.DISQUS_SHORTNAME %}
<script type="text/javascript">

  var disqus_shortname = '{{ settings.DISQUS_SHORTNAME|escapejs }}';

  var disqus_config = function () {
    var disqus_identifier = '{{ disqus_identifier|escapejs }}';
    this.page.url = '{{ disqus_canonical_url|escapejs }}';
    {# The Disqus docs say the title must be unique, which seems weird, but better safe than sorry #}
    this.page.title = '{{ object.name|escapejs }} (' + disqus_identifier + ')';
    {% if settings.DISQUS_USE_IDENTIFIERS %}
      this.page.identifier = disqus_identifier;
    {% endif %}
  };

  var disqusScriptTagsAdded = {};

  function addDisqusScriptTag (name) {
    if (!disqusScriptTagsAdded[name]) {
      var dsq = document.createElement('script');
      dsq.type  = 'text/javascript';
      dsq.async = true;
      dsq.src   = 'https://' + disqus_shortname + '.disqus.com/' + name + '.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      disqusScriptTagsAdded[name] = true;
    }
  }

  // Load the correct tag using either of these lines in your code. Don't worry
  // about repeating them, subsequent calls are ignored. Annoyingly the 'embed'
  // one produces an exception if it can't find the element it wants :(
  //
  // addDisqusScriptTag('embed');
  // addDisqusScriptTag('count');

</script>
{% endif %}
