{% load i18n %}
{% load url from future %}
<header id="site-header">
    <div class="wrapper">

        {% include "site_header_logo.html" %}

        <menu id="mobile-top-tools">
            <ul>
                <li><a href="#footer-menu" class="m-icon-nav">{% trans 'menu' %}</a></li>
                <li><a href="{% url "core_search" %}" class="icon-search"><img src="{{ STATIC_URL }}images/search-icon.png" alt="{% trans 'search' %}"/></a></li>
            </ul>
        </menu>

        <form action="{% url "core_search" %}" method="get" id="header-search">
            <input class="search-autocomplete-name" type="text" name="q" placeholder="{% trans 'name, place, party&hellip;' %}" />
            <button type="submit">{% trans 'Submit' %}</button>
        </form>
        
    </div>
</header>
