<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
    <head>
        <title>{% block title %}{% endblock %} :: Mzalendo</title>
        <link href="{{ STATIC_URL }}main.css" media="screen" rel="stylesheet" type="text/css" /> 
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon.png">
    </head>
    <body>


        <div id="header">
            <div id="logo">
                <a href="{% url home %}">Mzalendo</a>
            </div>

            <ul>
                <li><a href="{% url person_list %}">people</a></li>
                <li><a href="{% url organisation_list %}">organisations</a></li>
                <li><a href="{% url place_list %}">places</a></li>
            </ul>
            
            <br clear="both" />

        </div>

        {% include 'staging_header.html' %}

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>


        <div id="footer">

            <ul>
                <li><a href="https://github.com/mysociety/mzalendo/issues">issues</a></li>
                <li><a href="https://github.com/mysociety/mzalendo/wiki">wiki</a></li>
                <li><a href="{% url admin:index %}">admin</a></li>
            </ul>

        </div>


    </body>
</html>
