<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %} :: Mzalendo</title>
        <link href="{{ STATIC_URL }}main.css" media="screen" rel="stylesheet" type="text/css" /> 
        <link rel="icon" type="image/png" href="{{ STATIC_URL }}favicon.png">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=yes" />
    </head>
    <body>

        {% include 'staging_header.html' %}


        <div id="header">
            <div id="logo">
                <a href="{% url home %}">Mzalendo</a>
                
                
            </div>

            <ul>
                <li>
                    {% if request.user.is_authenticated  %}
                        {{ request.user.username }} (<a href="{% url django.contrib.auth.views.logout %}">logout</a>)
                    {% else %}
                        <a href="{% url django.contrib.auth.views.login %}?next={{request.path}}">login</a>
                    {% endif %}
                </li>                 
            </ul>
            
            <br clear="both" />

        </div>

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>


        <div id="footer">

            <ul>
                <li><a href="https://github.com/mysociety/mzalendo/issues">issues</a></li>
                <li><a href="https://github.com/mysociety/mzalendo/wiki">wiki</a></li>
                <li><a href="{% url admin:index %}">admin</a></li>
            </ul>

        </div>


    </body>
</html>
