.bills-list {

  table {
    width: 100%;
    margin-top: 30px;

    td, th {
      text-align: center;
      border: 1px solid #fff;
      padding: 15px 20px;
    }

    th {
      color: #999;
      line-height: 1.3em;
    }

    td {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) td {
      background-color: #f9f9f9;
    }

    .county {
      text-align: left;
    }

    td.county {
      font-weight: bold;
    }

    td.development {
      background-color: #F7E1E1;
    }

    tr:nth-child(even) td.development {
      background-color: #FAF0F0;
    }

  }

  @media only all and (max-width: 639px) {

    table {
      font-size: 0.8em;
      line-height: 1.2em;

      td, th {
        padding: 10px;
      }

    }

  }

  @media only all and (max-width: 439px) {

    table {
      font-size: 0.7em;

      td, th {
        padding: 5px;
      }

    }
  }

}
