$header-green: #36A74D;
$fill-green: #48bb60;
$section-border-top: 1px solid #ebebeb;
$section-verical-padding: 40px;
$light-red: #fb5e5e;
$dark-red: #be1919;

.county-performance, .exp-survey-form {

  #breadcrumb-replacement {
    display: none;
  }

  #page {
    background-color: #f2f2f2;
    text-align: center;
  }

  #report {
    margin-top: 30px;
    padding: 40px;
    background-color: #fff;
  }

  h1 {
    margin-top: 50px;
    font-size: 2.3em;
    line-height: 1.2em;
    color: $header-green;
    text-shadow: 0 1px 0 #fff;
  }

  h1 + p {
    margin-top: 30px;
    font-size: 1.3em;
    line-height: 1.4em;
    color: #333;
    font-weight: bold;
  }

  .link-button:hover {
    text-decoration: none;
    background-color: #444;
  }

  .link-button {
    padding: 10px 20px;
    font-weight: normal;
  }

  button {
    padding: 5px 20px;
  }

  button, .link-button {
    margin: 15px auto 0 auto;
    font-size: 1em;
    line-height: 30px;
    color: #fff;
    background-color: #333;
    @include border-radius(2px);
    text-transform: uppercase;
    border: 1px solid #000;
    cursor: pointer;
  }

  .submit-choice {
    button, .link-button {
      margin: 15px 10px 0 10px;
    }
  }

  button:hover {
    background-color: lighten(#333, 10%);
  }

  #report p {
    font-size: 1.1em;
    line-height: 1.4em;
  }

  #report-header {
    padding: $section-verical-padding 40px;
  }

  #report table {
    width: 100%;
    margin-top: 30px;

    td, th {
      text-align: center;
      border: 1px solid #fff;
      padding: 15px 20px;
    }

    th {
      color: #999;
      line-height: 1.3em;
    }

    td {
      background-color: #f2f2f2;
    }

    tr:nth-child(even) td {
      background-color: #f9f9f9;
    }

    tfoot td {
      background-color: $fill-green;
      color: #fff;
      font-weight: bold;
    }

    .county {
      text-align: left;
    }

    td.county {
      font-weight: bold;
    }

    td.development {
      background-color: #F7E1E1;
    }

    tr:nth-child(even) td.development {
      background-color: #FAF0F0;
    }

    tfoot td.development {
      background-color: #E96F6F;
    }

  }

  #quote {
    margin-top: $section-verical-padding;
    margin-bottom: 0;
    border-top: $section-border-top;
    padding: $section-verical-padding 15px;
    color: $header-green;
    font-weight: bold;
  }

  #quote .source {
    font-size: 0.7em;
    font-weight: normal;
    color: #bbb;
  }

  #threat, #opportunity, #share-petition {
    border-top: $section-border-top;
    padding: $section-verical-padding 15px;
    p {
      font-weight: bold;
      color: $header-green;
    }
  }

  #social-context, .survey-section {
    border-top: $section-border-top;
    padding: $section-verical-padding 15px;
    p  {
      font-weight: bold;
    }
  }

  #post-table-encouragement {
    border-top: $section-border-top;
    padding: $section-verical-padding 15px;
    p  {
      font-weight: bold;
    }
  }

  h2 {
    font-size: 1.5em;
    line-height: 1.4em;
    color: $header-green;
    margin-bottom: 1em;
  }

  #share-petition p:first-child {
    font-size: 1.3em;
    color: #666;
    margin-bottom: 40px;
  }

  #share-petition a {
    display: block;
    width: 34%;
    margin: 20px auto;
    padding: 10px 10px 10px 40px;
    background: #3c5a96 url(../images/county-perf-facebook.png) 10px 50% no-repeat;
    color: #fff;
    font-weight: bold;
    @include border-radius(2px);
  }

  #share-petition a:hover {
    text-decoration: none;
    background-color: darken(#3c5a96, 10%);
  }

  a#share-twitter {
    background-color: #59adeb;
    background-image: url(../images/county-perf-twitter.png);
  }

  a#share-twitter:hover {
    background-color: darken(#59adeb, 10%);
  }

  #id_constituencies,
  #id_comments {
    font-size: 1em; // make form element text bigger
  }

  #id_comments {
    padding: 0.3em;
    width: 100%; // fit to window width
    max-width: 20em; // ...up to a sensible maximum
  }

  .embedded-video {
      position: relative;
      width: 77%;
      margin: 0 auto;
  }

  .embedded-video .ratio-img {
      display: block;
      width: 100% !important;
      height: auto !important;
  }

  .embedded-video iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  }

  #petition {
    background-color: $fill-green;
    padding: 30px 20px;

    h2 {
      color: #fff;
      font-size: 1.3em;
      line-height: 1.2em;
    }

    input, button {
      width: 35%;
      font-size: 1.2em;
      line-height: 30px;
      margin-right: 10px;
      padding: 5px 10px;
    }

    button {
      width: 15%;
      min-width: 100px;
      color: #fff;
      background-color: #333;
      @include border-radius(2px);
      text-transform: uppercase;
      border: 1px solid #000;
      cursor: pointer;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .all-form-errors {
      color: #fff;
      font-size: 1.2em;
      border-top: 1px solid rgba(255,255,255,0.3);
      border-bottom: 1px solid rgba(255,255,255,0.3);
      padding: 1em 0;
      margin: 1em;
    }

  }

  #senate {
    background-color: #f2f2f2;
    padding: 30px 20px;
    margin-top: $section-verical-padding + 10px;
    margin-bottom: $section-verical-padding;

    h2 {
      margin-bottom: 5px;
    }

    h2 + p {
      color: #999;
    }

    textarea {
      width: 80%;
      margin: 0 auto;
      font-size: 1.2em;
      line-height: 30px;
      padding: 5px 10px;
    }

    p:last-child {
      margin-bottom: 0;
    }

    .all-form-errors {
      color: #cf0000;
      font-size: 1.2em;
      border-top: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 1em 0;
      margin: 1em 7em;
    }

  }

  #survey {
    margin-top: $section-verical-padding + 10px;
    padding-bottom: 20px; /* so it doesn't look like it's falling off the page */

    p {
      font-size: 1.2em;
      margin-bottom: 20px;
      color: #777;
    }

    #take-survey {
      display: inline-block;
      font-size: 1.6em;
      line-height: 30px;
      padding: 10px 40px;
      color: #fff;
      background-color: $light-red;
      @include border-radius(2px);
      text-shadow: 0 1px 0 darken(black, 10%);
      font-weight: bold;
      cursor: pointer;
      text-decoration: none;
    }

    #take-survey:hover {
      background-color: darken($dark-red, 10%);
    }

  }

  @media only all and (max-width: 639px) {

    #page h2 {
      border-top: none;
      background: transparent;
      padding: 0;
    }

    #report table {
      font-size: 0.8em;
      line-height: 1.2em;

      td, th {
        padding: 10px;
      }

    }

    #report-header {
      padding-left: 0;
      padding-right: 0;
      padding-bottom: $section-verical-padding;
    }

    #report {
      padding-left: 20px;
      padding-right: 20px;
    }

  }

  @media only all and (max-width: 439px) {

    #report table {
      font-size: 0.7em;

      td, th {
        padding: 5px;
      }

    }
  }

}
