$colour_off_white: #FBF7D7;
$breakpoint-sm: 40em; // 40em @ 16px == 640px
$breakpoint-md: 60em; // 60em @ 16px == 960px

.facebook-experiment-page {
  *, *:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  #site-footer {
    display: none;
  }

  #page {
    padding: 1em;

    @media (min-width: $breakpoint-sm) {
      padding: 1em 0;
    }

    @media (min-width: $breakpoint-md) {
      padding: 2em 0;
    }
  }

  h1, h2, h3, h4 {
    color: $colour_primary_mid;
    text-align: center;
    margin: 1em 0;
    line-height: 1.2em;
  }

  h1 {
    font-size: 2em;
  }

  h2 {
    font-size: 1.4em;
  }

  h3 {
    font-size: 1.1em;
  }

  p {
    font-size: inherit;
    line-height: 1.4em;
  }

  li {
    font-size: inherit;
    line-height: 1.4em;
    margin-bottom: 0.5em;
  }

  hr {
    margin: 1em 0;
    border: none;
    border-top: 1px solid #ddd;

    @media (min-width: $breakpoint-md) {
      margin: 2em 0;
    }
  }

  table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;

    @media (min-width: $breakpoint-md) {
      margin-bottom: 2em;
    }
  }

  td, th {
    font-size: inherit;
    padding: 0.5em;
    border: 1px solid #ddd;
  }

  th {
    font-weight: bold;
    background-color: #f3f3f3;
  }

  label {
    display: block;
    font-weight: bold;
  }

  select {
    max-width: 100%;
  }

  footer {
    text-align: center;
    margin-bottom: 4em;

    .button {
      font-size: 1.2em;
      padding: 0.7em 1.5em;
    }
  }

  .button {
    display: inline-block;
    background-color: $colour_primary_mid;
    color: #fff;
    padding: 0.5em 1.2em;
    border-radius: 0.3em;
    cursor: pointer;

    &:hover, &:focus {
      background-color: dakren($colour_primary_mid, 10%);
    }
  }

  .cta {
    padding: 1em;
    margin-top: 1em;
    border-left: 0.3em solid $colour_primary_mid;
    background-color: $colour_off_white;
    text-align: center;

    @media (min-width: $breakpoint-md) {
      padding: 2em;
      margin: 1em 0;
    }

    & > :first-child {
      margin-top: 0;
    }

    & > :last-child {
      margin-bottom: 0;
    }

    select {
      font-size: inherit;
      margin-top: 0.5em;
      width: 15em;
    }

    td, th {
      border-color: mix(#000, $colour_off_white, 10%);
    }

    th {
      background-color: mix(#000, $colour_off_white, 5%);
    }
  }

  table .event {
    display: block;
    font-size: 0.8em;
    font-style: italic;
    margin-top: 0.2em;
  }

  .row {
    @include clearfix();
    margin-left: -1em;
    margin-right: -1em;

    @media (min-width: $breakpoint-md) {
      margin-left: -2em;
      margin-right: -2em;
    }
  }

  .col {
    padding-left: 1em;
    padding-right: 1em;
    min-height: 1px;

    @media (min-width: $breakpoint-sm) {
      float: left;
    }

    @media (min-width: $breakpoint-md) {
      padding-left: 2em;
      padding-right: 2em;
    }
  }

  @for $i from 1 through 12 {
    .col-sm-#{$i} {
      @extend .col;

      @media (min-width: $breakpoint-sm) {
        width: 100% / 12 * $i;
      }
    }
  }
}
