.wrapper {
    .site-header &,
    .site-menu &,
    .site-footer &,
    body.home & {
        width: auto;
        padding-right: 1em;
        padding-left: 1em;

        // Override ridiculous `margin: 0 10px;` in _kenya_overrides.scss
        @media only screen and (min-width: 640px) and (max-width: 979px) {
            margin: 0 auto;
        }
    }
}
