body,
.site-footer {
    background: #444;
}

.site-footer {
    padding: 1em 0;
    border-top: 4px solid $colour_deep_green;
    color: #aaa;

    @media (min-width: 640px), print {
        @include clearfix();
        padding: 2em 0;
    }

    a {
        color: #fff;

        &:hover, &:focus {
            color: #eee;
        }
    }
}

.site-footer__links {
    @media (min-width: 640px), print {
        @include clearfix();
        float: left;
        width: 60%;
        margin-top: 15px;
    }

    ul {
        @include unstyled-list();
        padding-left: 23px; // Match up with "Mz" in the logo
        margin: 0.5em 0 1em 0;

        @media (min-width: 640px), print {
            padding-left: 37px; // Match up with "Mz" in the (now bigger) logo
            margin: 0 0 30px 0;
        }

        li {
            margin-bottom: 5px;
        }
    }

    ul ul {
        display: block; // Ignore the .js-hover-dropdown stuff
        margin: 0;

        @media (min-width: 640px), print {
            display: none !important; // Hide submenus on wide screens
        }

        li {
            font-size: 12px;
        }
    }
}

.site-footer__links__primary,
.site-footer__links__secondary {
    @media (min-width: 640px), print {
        float: left;
    }
}

.site-footer__subscribe {
    padding: 1em;
    background-color: $colour_deep_green;
    color: #fff;
    margin-bottom: 1em;

    @media (min-width: 640px), print {
        padding: 2em;
        float: right;
        width: 30%;
        margin-top: -20px;
    }

    h2 {
        color: inherit;
    }

    form {
        margin-bottom: 1em;
    }

    label {
        display: block;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0.5em;
    }

    .subscribe-fields {
        position: relative;
    }

    input[type="email"] {
        @include box-sizing(border-box);
        border: none;
        border-radius: 4px;
        padding: 5px 10px;
        font-size: 1em;
        width: 80%;
    }

    input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 15%;
        background: #000 url("../images/chevron-white.svg") 50% 50% no-repeat;
        border: none;
        border-radius: 4px;
        text-indent: -9999px;

        &:hover,
        &:focus {
            background-color: #444;
        }
    }

    a {
        &:after {
            content: "";
            display: inline-block;
            height: 15px;
            width: 10px;
            margin-left: 0.5em;
            background: transparent url("../images/chevron-white.svg") 0 0 no-repeat;
            vertical-align: -0.2em;
        }
    }

    & > :last-child {
        margin-bottom: 0;
    }
}

.site-footer__attribution {
    @media (min-width: 640px), print {
        float: left;
        clear: left;
        width: 60%;
        padding-left: 37px; // Match up with "Mz" in the (now bigger) logo
    }
}