@media only all and (min-width: 640px), print {
  #breadcrumb {
    height: 34px; /* to match nav bar */
    background-color: $colour_muted;

    nav {
      ul {
        padding: 0;
        line-height: 34px; /* to match nav bar */
      }
    }
  }
}
