$mz-grid-gutter: 30px;
$mz-grid-breakpoint: 640px;

.mz-grid-row {
    margin-right: ($mz-grid-gutter / -2);
    margin-left: ($mz-grid-gutter / -2);
}

// Extending this placeholder, rather than defining 12 separate rulesets
// inside the @for loop, will cut down on CSS bloat.
%col {
    @include box-sizing(border-box);
    padding-right: ($mz-grid-gutter / 2);
    padding-left: ($mz-grid-gutter / 2);
    min-height: 1px; // make sure empty columns still take up horizontal space
}

@for $i from 1 through 12 {
    .mz-grid-col-#{$i} {
        @extend %col;
    }
}

@media(min-width: $mz-grid-breakpoint) {
    .mz-grid-row {
        // Use floats and clears by default...
        @include clearfix();
        // And upgrade to flex layout if available.
        // (Handy for things like equal height columns.)
        @include display-flex();
        @include align-items(stretch);
    }

    @for $i from 1 through 12 {
        .mz-grid-col-#{$i} {
            float: left;
            width: (100% / 12 * $i);
        }
    }
}
