// There are two menus - the 'mobile-top-tools' and the 'main-menu'.

$no-frills-menu-breakpoint: 840px;
$no-menu-breakpoint: 640px;

#main-menu {
  display: none; // Don't show this menu at all by default
  @media only all and (min-width: $no-menu-breakpoint) {
    display: block;
  }

  background: #444;

  nav {
    width: 100%;
    max-width: 980px; /* override default 960px, to account for padding on list items */
    text-align: center;

    ul {
      @include list-reset-soft; /* removes list-style, padding, margin from ul and children */
      display: block; /* undo the default pombola inline-block */

      li {
        /* reset pombola defaults */
        position: static;
        display: block;
        float: none;
        height: auto;
        border-right: none;

        a {
          /* reset pombola defaults */
          display: inline;
          float: none;
          height: auto;
          padding: 0;
          color: inherit;
          background: transparent;
          border: none;

          &:hover {
            background: transparent;
          }
        }

        &.active > a {
          background: transparent;
          color: inherit;
          border: none;
          padding: 0;
        }
      }

      /* styles for inner menus */
      li ul, li:hover ul {
        display: none; /* hide inner uls until :hover */
        position: absolute;
        z-index: 1; /* make sure it appears over later list items, if the menu wraps onto two lines */
        top: 34px; /* 20px li line-height + 5px padding-top + 5px padding-bottom */
        left: 0;
        width: auto; /* override pombola default of 193px */
        border: 1px solid #ccc;
        border-top: none;
        background: #fff;
        text-align: left; /* reset the parent menu's "text-align: justify */
        float: left; /* allows dropdown menu to exceed parent li's width */
        white-space: nowrap; /* stops menu items wrapping onto more than one line */
        min-width: 100%; /* makes sure dropdowns are at least as wide as their parent */
        box-sizing: border-box; /* count border as part of width, in modern browsers */

        li {
          font-size: 12px;
          line-height: 16px;

          a {
            display: block;
            padding: 8px 10px;
            color: #000;
            text-decoration: none;
            background: transparent; /* override pombola default of #f6f6f6 */

            &:hover, &:focus {
              background: #eee;
            }
          }
        }
      }

      li:hover ul, li.active ul, li a:focus + ul {
        display: block;
      }
    }

    /* styles for top level menu */
    & > ul {
      text-align: justify; /* space out inline children to fill available width */
      font-size: 0; /* effectively hide all inline children (but mainly the fake element) */
      line-height: 0;

      &:after {
        display: inline-block;
        content: ""; /* create a fake final element in the menu */
        width: 100%; /* force element onto a new line, making text justification kick in for the previous line */
        height: 0; /* effectively hide this element */
      }

      & > li {
        display: inline-block; /* display list items horizontally, and use parent's text alignment (justify) */
        position: relative; /* so we can absolutely position the submenus */
        font-size: 14px; /* override the parent's 0px font-size */
        line-height: 24px;

        @media only all and (max-width: $no-frills-menu-breakpoint) {
          font-size: 12px;
        }

        & > a, &.active > a {
          display: block;
          color: #fff;
          text-decoration: none;
          padding: 5px 10px;

          @media only all and (max-width: $no-frills-menu-breakpoint) {
            padding: 5px;
          }
        }

        &:hover, &.active, & > a:focus {
          background: #666;
        }
      }
    }
  }

  .has-submenu > a {
    cursor: pointer;

    &:after {
      content: '';
      display: inline-block;
      vertical-align: -2px;
      margin-left: 5px;
      height: 0;
      width: 0;
      border: 4px solid transparent;
      border-top-color: #777;

      @media only all and (max-width: $no-frills-menu-breakpoint) {
        display: none;
      }
    }
  }

  .has-submenu:hover > a:after,
  .has-submenu a.active:after,
  .has-submenu a:focus:after {
    border-top-color: #999;
  }
}

.m-sub-menu {
  @include list-reset-soft;
  background: $colour_muted;
  li {
    margin: 0 10px;
    border-top: 1px solid $colour_black;
    a {
      display: block;
      padding: 10px 0;
      &:hover {
        text-decoration: none; } } } }

#footer-menu {
  // by default show the sub entries. Hide if the screen is big in which
  // case the menu at the top will be shown instead.
  li > ul {
    @media only all and (min-width: $no-menu-breakpoint), print {
      display: none;
    }

    margin-left: 1em;

    li {
      display: inline;
      font-size: 90%;
      padding-right: 1em;
    }
  }
}


