$logo-height-small: 25px;
$logo-width-small: 103px;
$logo-height-large: 40px;
$logo-width-large: 165px;

.site-header {
    @include clearfix();
    background-image: none;
    background-color: $colour_deep_green;
    padding: 10px 0;

    @media (min-width: 640px), print {
        padding: 1em 0;
    }

    // Naughtily overload the wrapper to also *vertically* centre it contents,
    // in addition to the horizontal padding/centering you'd normally expect.
    .wrapper {
        @include display-flex();
        @include align-items(center);
    }
}

.site-header__logo-svg,
.site-header__no-svg-fallback-logo {
    height: $logo-height-small;
    width: $logo-width-small;
    display: block;

    .site-header & {
        float: left;
    }

    @media (min-width: 640px), print {
        height: $logo-height-large;
        width: $logo-width-large;
        padding: 0;
    }
}

.site-header__logo-svg {
    display: none;

    .svg & {
        display: block;
    }

    svg {
        height: $logo-height-small;
        width: $logo-width-small;

        @media (min-width: 640px), print {
            height: $logo-height-large;
            width: $logo-width-large;
            margin-top: 0;
        }
    }
}

.site-header__no-svg-fallback-logo {
    background: url('/static/images/mzalendo-logo-small.png') left center no-repeat;
    background-size: $logo-width-small;
    overflow: hidden;
    text-indent: 150%;
    white-space: nowrap;

    @media (min-width: 640px), print {
        background-image: url('/static/images/mzalendo-logo-large.png');
        background-size: $logo-width-large;
    }

    .svg & {
        display: none !important;
    }
}

.site-header__tagline {
    display: none;
    color: mix($colour_deep_green, #fff, 30%);
    margin-left: 1em;

    @media (min-width: 640px), print {
        display: block;
    }
}

.site-header__social {
    @include unstyled-list();
    float: right;
    margin: 0 0 0 auto;

    li {
        float: left;
        margin: 0;
    }

    a {
        display: block;
        margin-left: 1em;

        svg {
            display: block; // avoid whitespace below svg
            width: 24px;
            height: 24px;

            @media (min-width: 640px), print {
                width: 36px;
                height: 36px;
            }
        }
    }

    a[href*="youtube.com"] {
        display: none;

        @media (min-width: 400px), print {
            display: block;
        }

        svg {
            width: (24px / 36 * 52);

            @media (min-width: 640px), print {
                width: 52px;
            }
        }
    }
}

#ms_srv_wrapper {
    background-color: $colour_red;

    & + .site-menu {
        // No need for red border if red survey bar is present.
        border-top: none;
    }
}