$serif-font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
$border-radius: 4px;

body.home {
    background-color: #fff;
}

// Vertical spacing for the main homepage sections.
.homepage-intro,
.homepage-sms,
.homepage-editorial,
.homepage-social,
.homepage-about {
    padding-top: 1em;
    padding-bottom: 1em;

    @media (min-height: 640px) {
        padding-top: 2em;
        padding-bottom: 2em;
    }
}

// Vertical spacing (on small screens) between
// things that will become columns on wider screens.
.homepage-intro__photo,
.homepage-intro__quote,
.homepage-tabs__sms,
.homepage-tabs__dokeza,
.homepage-tabs__newsletter,
.homepage-sms__question,
.homepage-news__story {
    margin-bottom: 1em;

    @media (min-width: $mz-grid-breakpoint) {
        margin-bottom: 0;
    }
}

.homepage-intro__photo {
    img {
        width: 100%;
        height: auto;
    }
}

.homepage-intro__quote {
    p {
        font-family: $serif-font-family;
        font-weight: bold;
        font-style: italic;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 1em; // up from 15px
    }

    footer {
        color: #999;
        font-size: 14px;
    }

    @media (min-width: 960px) {
        p, footer {
            padding-right: 2em; // extra whitespace to draw attention to "popular" section
        }
    }
}

.homepage-intro__popular {
    h2 {
        font-size: 1em;
    }

    ul {
        @include unstyled-list();
        margin-bottom: 0;
    }

    li {
        font-size: 1em;
        background: transparent url("../images/chevron-red-6x10.svg") 0 0.3em no-repeat;
        padding-left: 1em;
    }

    @media (min-width: $mz-grid-breakpoint) {
        height: 100%;
        padding-left: 2em;
        border-left: 1px solid darken($colour_cream, 10%);

        li {
            margin: 1.2em 0 0 0;
        }
    }
}

.homepage-tabs {
    a {
        @include box-sizing(border-box);
        display: block;
        text-align: center;
        padding: 1em;
        border-radius: $border-radius;
        color: #fff;

        @media (min-width: $mz-grid-breakpoint) {
            height: 100%;
            border-radius: $border-radius $border-radius 0 0;

            @media (min-height: 640px) {
                padding: 1.3em 1em;
            }
        }
    }
}

.homepage-tabs__sms {
    display: none; // hide on narrow screens, because there's another one just below

    @media (min-width: $mz-grid-breakpoint) {
        display: block;
    }

    a {
        background-color: $colour_deep_green;
    }
}

.homepage-tabs__dokeza {
    a {
        background-color: $colour_red;
    }
}

.homepage-tabs__newsletter {
    a {
        background-color: $colour_dark_grey;
    }
}

.homepage-sms {
    background-color: $colour_deep_green;
    color: #fff;

    h2 {
        color: mix(#fff, $colour_deep_green, 70%);
        font-size: inherit;
    }

    h3 {
        color: inherit;
        font-size: 1.5em;
        line-height: 1.25; // 30px line-height, 24px font-size
        margin-bottom: 0;
    }
}

.homepage-sms__cta {
    display: block;
    color: inherit;
    font-size: 1.125em; // 18px
    padding: 10px 0 10px 60px; // extra vertical padding to make sure we're at least 50px tall
    background: transparent url("../images/phone-white.svg") 0% 50% no-repeat;

    &:hover,
    &:focus {
        color: inherit;
    }

    strong {
        display: block;
        padding-top: 0.3em; // We would use line-height here, but Opera Mini doesn't support it.
    }

    @media (min-width: $mz-grid-breakpoint) {
        text-align: right;
        font-size: 1em; // 16px
        padding-left: 0;
        padding-right: 60px;
        background-position: 100% 50%;
    }
}

.homepage-sms__responses {
    @media (min-width: $mz-grid-breakpoint) {
        margin-top: 1.5em;
    }
}

.homepage-sms__response {
    @include box-sizing(border-box);
    padding: 1em;
    margin-top: 1em;
    border-radius: $border-radius;
    background: #fff;
    color: #444;

    p {
        margin-bottom: 5px;
    }

    footer {
        p {
            font-size: 0.75em;
            margin-bottom: 0;
            color: #808080;
        }
    }

    @media (min-width: $mz-grid-breakpoint) {
        height: 100%;
        font-size: 16px;
        margin-top: 0;

        p {
            font-size: 1em;
            line-height: 1.4;
        }
    }
}

.homepage-sms__pagination {
    margin-top: 1em;
    text-align: center;

    button {
        display: inline-block;
        vertical-align: top;
        border: none;
        box-sizing: border-box;
        background: rgba(#fff, 0.5);
        overflow: hidden;
        width: 50px;
        height: 0;
        padding: 10px 0 0 0;
        font-size: inherit;
        border-radius: 20px;
        border: 10px solid $colour_deep_green;
        margin: -10px -5px;
        cursor: pointer;

        &:focus,
        &:hover {
            background-color: #fff;
        }
    }

    button[disabled] {
        background-color: #fff;
        cursor: default;
    }
}

.homepage-editorial {
    background-color: $colour_cream;

    header {
        @include display-flex();
        @include align-items(center);
        margin-bottom: 1em;

        h2 {
            float: left;
            margin: 0 auto 0 0;
            font-size: inherit;
        }

        a {
            font-size: 0.875em; // 14px
            float: right;
            margin-left: 0.5em;
        }
    }

    h3 {
        font-size: 1.125em; // 18px
        line-height: 1.3;
        color: inherit;
    }

    p:last-child {
        margin-bottom: 0;
    }
}

.homepage-featured-person {
    background-color: #fff;
    padding: 1em;

    img {
        margin-bottom: 10px;
        max-width: 140px;
        height: auto;
    }

    .greek-img {
        display: block;
        width: 140px;
        height: 140px;
        background: #eee;
        margin-bottom: 10px;
    }
}

.homepage-featured-person__previous,
.homepage-featured-person__next {
    display: inline-block;
    overflow: hidden;
    height: 0;
    // Extra 5px padding around image on all sides, for bigger click target.
    width: (10px + 5px + 5px);
    padding-top: (15px + 5px + 5px);
    // Compensate for vertical padding. !important to override usual margin-left on header links.
    margin: -5px 0 !important;
    background: transparent url("../images/chevron-grey-left-10x15.svg") 50% 50% no-repeat;
}

.homepage-featured-person__next {
    background-image: url("../images/chevron-grey-right-10x15.svg");
}

.homepage-featured-person__role,
.homepage-news__story__date {
    color: #808080;
    margin-bottom: 10px;
}

.homepage-news {
    margin-top: 2em;

    @media (min-width: $mz-grid-breakpoint) {
        margin-top: 1em; // line up with .featured-person content (which has 1em padding)
    }

    header {
        border-bottom: 1px solid darken($colour_cream, 10%);
        padding-bottom: 1em;
    }
}

.homepage-news__story__date {
    text-transform: uppercase;
}

.homepage-social {
    .twitter-feed {
        display: block;
        height: 400px;
        overflow: hidden; // fixes bug in Opera Mini where twitter widget overflows into footer.

        @media (min-width: $mz-grid-breakpoint) {
            height: 100%;
        }

        iframe {
            height: 100% !important; // override the javascript-generated height
            width: 100% !important; // override the javascript-generated width
        }
    }
}

.homepage-social__buttons {
    @include unstyled-list();

    li {
        @media (min-width: $mz-grid-breakpoint) {
            font-size: 1em; // up from 14px
        }
    }

    li + li {
        margin-top: 1em;

        @media (min-width: $mz-grid-breakpoint) {
            margin-top: 1.5em;
        }
    }

    a {
        display: block;
        padding: 1em;
        border-radius: $border-radius;
        background-color: $colour_dark_grey;
        color: #fff;
        font-weight: bold;
        text-shadow: 0 2px 2px rgba(#000, 0.3);
        text-align: center;

        @media (min-width: $mz-grid-breakpoint) {
            font-size: 1em;
            padding: 1.5em 1em;
        }
    }

    a[href*="youtube.com"] {
        background-color: $colour_youtube_red;
    }

    a[href*="facebook.com"] {
        background-color: $colour_facebook_blue;
    }

    a[href*="instagram.com"] {
        // Plain colour fallback for browsers like Opera Mini.
        background-color: $colour_instagram_purple;
        // Linear gradient for Safari because it doesn't support the radial "at" syntax.
        background-image: linear-gradient(90deg, #FFDD55 10%, #FF543E 60%, #C837AB 100%);
        // Radial gradient for modern browsers.
        background-image: radial-gradient(16em at 10% 150%, #ffdd55 10%, #ff543e 60%, #c837ab 100%);
        background-position: 0 0;
        background-size: 100%;
    }

    a[href*="twitter.com"] {
        background-color: $colour_twitter_blue;
    }
}

.homepage-about {
    border-top: 1px solid darken($colour_cream, 10%);
}

.homepage-about__vision {
    @media (min-width: $mz-grid-breakpoint) {
        text-align: center;
        font-size: 1em;
        line-height: 1.75;
    }
}

.homepage-about__supporters {
    @include unstyled-list();
    @include display-flex();
    @include align-items(center);
    @include flex-wrap(wrap);
    @include justify-content(center);

    li {
        margin: 1em;

        @media (min-width: 800px) {
            margin: 1em 1.5em;
        }
    }
}
