$pull-out-background: #f2f0e7;
$serif-font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;

#home-quote,
#home-cta,
#home-featured-person,
#home-blog,
#home-social,
#home-special-features,
#home-twitter,
#home-background {
  margin: 0 20px 20px 20px;
}

@media only screen and (min-width: 640px) {
  #home-quote,
  #home-cta,
  #home-featured-person,
  #home-blog,
  #home-social,
  #home-special-features,
  #home-twitter,
  #home-background {
    margin: 0 0 30px 0;
  }

  #home-intro,
  #home-promoted {
    float: left;
    clear: left;
    width: 38%; // if you edit this, remember to also edit the `sizes` attribute for the #home-intro image
  }

  #home-editorial {
    float: right;
    clear: right;
    width: 56%;
  }

  #home-background {
    clear: both;
  }
}

#home-quote {
  background: $pull-out-background;

  img {
    width: 100%;
    height: auto;
  }

  p {
    padding: 20px;
    margin: 0;
    font-family: $serif-font-family;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    line-height: 24px;
  }

  footer {
    padding: 0 20px 20px 20px;
    color: #999;
    font-size: 14px;
  }
}

.home-cta {
  display: block;
  background: darken($colour_primary_mid, 10%) url(../images/search-50px.png) 15px 50% no-repeat;
  padding: 15px 10px 15px 80px;
  color: #fff;
  text-align: left;
  font-size: 16px;
  line-height: 21px;
  margin-top: 1px;

  strong {
    display: block;
  }

  &:hover, &:focus {
    color: #fff;
    text-decoration: none;
    background-color: darken($colour_primary_mid, 15%);;
  }

  &:first-child {
    margin-top: 0;
    @include border-top-left-radius(4px);
    @include border-top-right-radius(4px);
  }

  &:last-child {
    @include border-bottom-left-radius(4px);
    @include border-bottom-right-radius(4px);
  }
}

.home-cta--dokeza {
  background-color: $colour_red;
  background-image: url(../images/dokeza-50px.png);

  &:hover, &:focus {
    background-color: darken($colour_red, 5%);
  }
}

.home-cta--hansard {
  // background-color: $colour_primary_mid;
  background-image: url(../images/hansard-50px.png);

  // &:hover, &:focus {
  //   background-color: darken($colour_primary_mid, 5%);
  // }
}

#home-featured-person,
#home-social {
  background: $pull-out-background;
  padding: 20px;
}

@media only screen and (min-width: 640px) {
  #home-featured-person {
    // Visually position the next/prev arrows at top right of the section
    position: relative;

    .feature-nav {
        position: absolute;
        top: 20px;
        right: 20px;
    }
  }
}

#home-social {
  h2 {
    font-size: 1em;
  }
  @include clearfix;
  iframe {
    display: inline;
    vertical-align: middle;
    width: 150px;
  }
}

.home-social__facebook {
  margin-bottom: 1em;
  @media only screen and (min-width: 640px) {
    width: 50%;
    float: left;
    margin-bottom: 0;
  }
}

.social-profile-link {
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 1em;
}

.social-profile-link--instagram {
  background-image: url('../images/social-instagram-icon.png');
  background-size: 19px;
  padding-left: 27px;
}

.social-profile-link--youtube {
  background-image: url('../images/social-youtube-icon.png');
  background-size: 27px 19px;
  padding-left: 34px;
}

.home-social__profiles {
  @media only screen and (min-width: 640px) {
    width: 50%;
    float: left;
  }
}

.home-social__profiles-list {
  @include inline-list;
}

.featured-person {
  color: inherit;
  margin: 0;
  border: none;
  background: transparent;
  overflow: visible;

  img {
    max-width: 100px;
  }

  .featured-person-info {
    position: static;
    margin-left: 120px;
    min-height: 0;

    h2 {
      margin: 0 0 5px 0 !important;

      a {
        font-size: 18px;
      }
    }

    .feature-nav {
      display: block;
      margin-left: -5px;
      float: none;

      a {
        @include button-reset;
        display: block;
        width: 20px;
        height: 22px;
        float: left;
        @include opacity(0.7);
        font-size: inherit;
      }

      .feature-prev {
        background: transparent url(../images/chevron-left-alt.png) center no-repeat;
        margin-right: 10px;

        &:hover {
          @include opacity(1);
        }
      }

      .feature-next {
        background: transparent url(../images/chevron-right-alt.png) center no-repeat;

        &:hover {
          @include opacity(1);
        }
      }
    }

    .feature-person-role {
      font-style: normal;
      margin-bottom: 5px;
    }

    .feature-person-summary {
      display: block;
      padding: 0;

      p {
        font-size: 14px;
      }
    }

    .rating-container {
      position: static;

      .rating {
        margin: 0 40px 15px 0;
      }

      .rating-img {
        bottom: 10px;
      }
    }
  }
}

.home-editorial__actions {
    @include clearfix();
    padding-left: 0;
    margin: 20px;

    li {
        list-style: none;
        margin-bottom: 1px;

        &:first-child a {
            @include border-top-left-radius(4px);
            @include border-top-right-radius(4px);
        }

        &:last-child a {
            @include border-bottom-left-radius(4px);
            @include border-bottom-right-radius(4px);
        }
    }

    @media only screen and (min-width: 640px) {
        @include clearfix();
        margin: -10px -10px 30px -10px;

        li {
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            float: left;
            width: 50%;
            padding: 10px 10px 0 10px;

            a,
            &:first-child a,
            &:last-child a {
                border-radius: 4px;
            }
        }
    }

    a {
        display: block;
        background: darken($colour_primary_mid, 10%) url(../images/newsletter-40px.png) 22px 50% no-repeat;
        padding: 15px 10px 15px 80px;
        color: #fff;
        font-size: 16px;
        line-height: 21px;

        &:hover {
            background-color: darken($colour_primary_mid, 15%);
            text-decoration: none;
        }

        &[href^="sms"] {
            background-color: $colour_red;
            background-image: url(../images/sms-40px.png);
            background-position: 22px 50%;

            &:hover {
                background-color: darken($colour_red, 5%);
            }
        }

        &[href*="newsletter"] {

        }

        strong {
            display: block;
        }
    }
}

#home-news-list {
  @include list-reset-soft;
  border-top: none;
  padding-top: 0;

  li {
    margin-bottom: 0;
    position: relative;
    padding: 20px 0 20px 70px;

    &:first-child {
      margin-top: -10px; /* compensate for margin-bottom on h2 above */
    }

    h3 {
      padding: 0;
      margin: 0 0 5px 0;
      font-size: 18px;
      line-height: 21px;
    }

    p {
      padding: 0;
      margin: 0;
    }

    p.meta {
      position: absolute;
      top: 50%;
      left: 5px;
      width: 40px;
      text-align: center;
      font-family: $serif-font-family;
      font-style: normal;
      font-size: inherit;
      margin-bottom: 0;
      color: #b5b2a5;
      margin-top: -2.3em;

      span {
        display: block;

        &.day {
          display: none;
        }

        &.month {
          text-transform: uppercase;
        }

        &.date {
          font-size: 2em;
          line-height: 0.5em;
          margin: 0.1em 0 0.3em 0;
        }

        &.year {
          font-size: 1.2em;
          line-height: 1em;
        }
      }
    }
  }
}

#home-twitter {
  display: block;
  height: 400px;
  overflow: hidden; /* fixes bug in Opera Mini where twitter widget overflows into footer */

  iframe {
    height: 400px !important; /* override the javascript-generated height */
    width: 100% !important; /* override the javascript-generated width */
  }
}

#home-background {
  padding-top: 30px;
  border-top: 1px solid $pull-out-background;
  text-align: center;

  p {
    font-size: 16px;
    line-height: 28px;
  }

  img {
      margin-bottom: 1em;
      width: 150px;
      height: auto;
  }

  @media only screen and (min-width: 450px) {
    text-align: left;

    img {
        float: right;
        margin-left: 1em;
    }
  }
}
