$sidebar-width: 240px;
$facebook-color: #3b5998;
$twitter-color: #55acee;
$correction-color: #c32310;
$comment-color: #009f57;

body {
  background: #444;
}

#page {
  padding: 30px 0;

  h2, h3 {
    border-top: none;
    background: transparent;
    padding: 0;
  }
}

#page.object-base {
  padding-bottom: 0;
}

.object-header {
  max-width: 960px;
  margin: 0 auto;
}

.object-sidebar {
  float: left;
  width: $sidebar-width;
}

.profile-pic,
.profile-map,
.profile-info {
  position: static; /* override position:absolute */
  overflow: visible; /* override overflow:hidden */
  width: auto;
}

.object-titles {
  position: relative;
  margin-left: $sidebar-width + 30px; /* to clear the floating sidebar */
  padding-top: 5px; /* visually balance sidebar photo against top of h1 */

  h1 {
    font-size: 34px;
    line-height: 34px;
    margin-bottom: 5px;
  }

  p {
    font-size: 21px;
    line-height: 24px;
    margin-bottom: 0;
    color: #999;
    margin-right: 180px; /* stops long paragraphs interferring with share buttons */
  }

  p + p {
    margin-top: 5px;
  }

  .object_menu {
    /* this isn't shown on the Person page, but _is_ shown on Place and Organisation pages */
    margin-top: 20px;
  }

  .tools {
    @include list-reset-soft;

    position: absolute;
    bottom: 0;
    right: 0;

    li {
      float: left;
      margin-left: 10px;
    }

    a {
      text-indent: -9999px;
      width: 30px;
      height: 30px;
      padding: 0;
    }
  }

  .big-btn-text-fb {
    background: $facebook-color url(../images/facebook-16px.png) 50% 50% no-repeat;

    &:hover {
      background-color: darken($facebook-color, 5%);
    }
  }

  .big-btn-text-tw {
    background: $twitter-color url(../images/twitter-16px.png) 50% 50% no-repeat;

    &:hover {
      background-color: darken($twitter-color, 5%);
    }
  }

  .big-btn-text-red {
    background: $correction-color url(../images/pencil-16px.png) 50% 50% no-repeat;

    &:hover {
      background-color: darken($correction-color, 5%);
    }
  }

  .big-btn-text-green {
    background: $comment-color url(../images/comment-16px.png) 50% 50% no-repeat;

    &:hover {
      background-color: darken($comment-color, 5%);
    }
  }
}

.object-sidebar {

  .profile-pic {
    background: #fff;
    border: 1px solid #ddd;
    height: auto;

    img {
      max-height: none;
      max-width: 230px;
      width: 230px;
      height: auto;
      margin: 4px 4px 1px 4px;
    }
  }

  .profile-map {
    background: #fff;
    border: 1px solid #ddd;
    height: 240px;

    #map_canvas {
      width: 230px;
      height: 230px;
      margin: 4px 0 0 4px;
    }
  }

  .contact-details {
    p {
      word-break: break-all; // stops really long email addresses breaking out of sidebar
    }
    .contact-details-address {
      word-break: normal;
    }
  }
}

.object-sidebar__box {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px 0; // This gets overriden by core for .constituency-party

  ul, p {
    margin-bottom: 0;
  }

  ul + h3,
  p + h3 {
    margin-top: 15px;
  }

  li:last-child {
    margin-bottom: 0;
  }

  &.awards {
    background-color: #fbf6dd; // pale yellow
    border-color: #e4dfc5; // slightly darker greyer yellow
    padding-left: 52px;
    background-image: url(../images/peoples-shujaaz-award-badge.png);
    background-position: 11px center;
    background-repeat: no-repeat;
    font-size: 14px;
    line-height: 18px;

    h3, p {
      text-transform: none;
      font-size: inherit;
      line-height: inherit;
    }

    h3 {
      margin-bottom: 2px;
    }

    p {
      margin-top: 0.3em;
    }
  }
}

// clear old party link formatting
.constituency-party li a {
  background: transparent;
  padding: 0;
  color: $colour_primary;
  font-size: inherit;
  @include border-radius(0);

  &:hover {
    background: transparent;
    color: #004422; // this comes from _html_elements.scss
    text-decoration: underline;
  }
}

.constituency-party li + li {
  margin-top: 5px;
}

.object-detail {
  background-color: #f2f2f2;
  border-top: 1px solid #ebebeb;
  margin-top: 30px;
  padding: 30px 0;

  .object-detail-inner {
    max-width: 960px;
    margin: 0 auto;
    @include clearfix();
  }

  .large-container {
    overflow: hidden; /* clears floats */
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px;

    @media only screen and (min-width: 640px) {
      width: 67%; // fallback for browsers that don't support css calc()
      width: calc(100% - #{$sidebar-width} - 30px - 20px - 20px); // parent width minus gutter minus padding
    }
  }

  .large-container + .large-container {
    margin-top: 30px;
  }

}

.person-detail-experience,
.person-detail-hansard,
.person-detail-cdf-budgets {
  width: 48%;
  float: left;
  background: transparent url(../images/mz-person-detail-experience.png) 0 0 no-repeat;

  & > * {
    margin-left: 30px;
  }

  & > h2 {
    margin-bottom: 0;
  }

  & > ul {
    @include list-reset-soft;
    margin-left: 30px;

    li {
      padding: 1em 0;
      border-bottom: 1px solid #e9e9e9;
    }

    h4 {
      color: #777;
      margin-bottom: 0;
    }

    .ongoing h4,
    .appearance h4 {
      font-weight: bold; /* don't want old positions to be emboldened */
    }

    .appearance h4 a {
      display: block; /* stops flicker as cursor moves between lines */
    }

    p {
      color: #999;
      font-style: italic;
      margin-bottom: 0;
    }

    a {
      color: inherit;
    }
  }

  & > a {
    display: block;
    padding: 1em 0;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
  }

}

.person-detail-hansard {
  margin-left: 4%;
  background-image: url(../images/mz-person-detail-appearances.png);
}

.person-detail-cdf-budgets {
  margin-top: 20px;
  width: 100%;
  background-image: url(../images/mz-person-detail-budget.png);
  color: #777;

  h2 {
    color: $colour_primary;
  }

  & > ul li {
    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }

    a {
      color: $colour_primary;
    }
  }
}

/* used by old code on the /person/name/experience page */
#page.object-base .large-container .left-col,
#page.object-base .large-container .right-col {
  width: 48%;
}

#page.object-base .large-container .left-col {
  margin-right: 4%;
}

@media only screen and (max-width: 800px) {
  .person-detail-experience,
  .person-detail-hansard,
  .person-detail-cdf-budgets {
    width: auto;
    float: none;
    margin-left: 0;
  }

  .person-detail-hansard {
    margin-top: 20px;
  }

  #page.object-base .large-container .left-col,
  #page.object-base .large-container .right-col {
    width: auto;
    float: none;
    margin: 0 0 20px 0;
  }
}

.object-clear {
  clear: left;
}

@media only screen and (max-width: 639px) {

  .object-sidebar {
    float: none;
    width: auto;
    margin-top: -30px;
    padding: 20px 10px;
    background: #f2f2f2;
    border-bottom: 1px solid #ebebeb;

    .profile-pic {
      width: 240px;
      margin: 0 auto;
    }
  }

  .profile-info h3 {
    text-transform: uppercase;
    color: gray;
    font-size: 12px;
    margin-bottom: 0;
  }

  .object-titles {
    margin-left: 0;
    padding: 20px 20px 0 20px;

    p {
      margin-right: 0;
    }

    .tools {
      position: static;
      margin: 20px 0;

      li {
        float: none;
        display: inline-block;
        margin-right: 10px;
        margin-left: 0;
      }
    }
  }

  .object-detail .large-container {
    margin-left: 0;
  }

}

@media only screen and (min-width: 640px) and (max-width: 979px) {

  .wrapper,
  #site-header .wrapper,
  .object-header,
  .object-detail .object-detail-inner {
    margin: 0 10px;
  }

  .wrapper,
  #main-menu nav {
    width: auto;
  }

}

.iebc-office-lookup {
  margin-left: 0.5em;
  margin-right: 0.5em;
  form {
    margin-left: 1em;
    margin-right: 1em;
  }
  input {
    margin-bottom: 2em;
    margin-top: 0.5em;
    font-size: 1em;
  }
}

.iebc-office-result {
  margin-left: 0.5em;
  maring-right: 0.5m;
  dl {
    margin-left: 1em;
    margin-right: 1em;
  }
}
