$colour_shujaaz_yellow: #fcffea;

@font-face {
  font-family: 'Skolar';
  src: url('../fonts/Skolar_Regular.woff') format('woff');
}

@font-face {
  font-family: 'Skolar';
  font-weight: bold;
  src: url('../fonts/Skolar_Bold.woff') format('woff');
}

@font-face {
  font-family: 'Skolar';
  font-style: italic;
  src: url('../fonts/Skolar_Italic.woff') format('woff');
}

body.shujaaz {
  #page {
    padding: 0;

    *, *:before, *:after {
      box-sizing: border-box;
    }
  }

  .container {
    max-width: 1000px;
    padding: 0 10px;
    margin: 0 auto;

    @media (min-width: 768px) {
      padding: 0 20px;
    }
  }
}

.shujaaz__intro {
  background: $colour_shujaaz_yellow url(../images/peoples-shujaaz-background.jpg) center bottom no-repeat;
  background-size: 100%; // 100% width
  padding: 2em 0 4em 0;

  @media (min-width: 640px) and (min-height: 500px) {
    padding: 3em 0 5em 0;
  }

  @media (min-width: 640px) and (min-height: 700px) {
    padding: 4em 0 6em 0;
  }

  @media (min-width: 640px) and (min-height: 800px) {
    padding: 4em 0 8em 0;
  }

  @media (min-width: 640px) and (min-height: 850px) {
    padding: 4em 0 10em 0;
  }

  @media (min-width: 640px) and (min-height: 900px) {
    padding: 4em 0 12em 0;
  }

  @media (min-width: 640px) and (min-height: 950px) {
    padding: 4em 0 14em 0;
  }

  @media (min-width: 640px) and (min-height: 1000px) {
    padding: 4em 0 16em 0;
  }

  .shujaaz-button {
    margin: 0.5em 0.5em 0 0.5em;
  }
}

.shujaaz__main,
.shujaaz__outro {
  padding: 1em 0;

  @media (min-width: 640px) and (min-height: 500px) {
    padding: 2em 0;
  }

  @media (min-width: 640px) and (min-height: 700px) {
    padding: 4em 0;
  }
}

.shujaaz__intro__logo {
  margin: 0 auto;
  width: 461px; // width of background image
  max-width: 90%;

  span {
    display: block;
    padding-top: 100% * (50px/461px); // width and height of background image
    width: 100%;
    height: 0;
    overflow: hidden;
    background: transparent url(../images/peoples-shujaaz-logo.png) center center no-repeat;
    background-size: 100%;
  }
}

.shujaaz__intro__text {
  padding: 1.5em;
  margin: 2em auto 0 auto;
  max-width: 42em;
  border: 4px solid #ecf8ee;
  background: #fff;
  border-radius: 0.3em;
  text-align: center;

  @media (min-width: 640px) {
    padding: 2em;
  }

  h4 {
    font-family: 'Skolar', Georgia, serif;
    font-weight: bold;
    font-size: 1.375em; // 22px in 16px parent
    line-height: 1.5em;
    margin-bottom: 0.8em;
  }

  p {
    font-size: 1em;
    line-height: 1.5em;
    margin-bottom: 1.2em;
  }
}

.shujaaz-button {
  display: inline-block;
  color: #fff;
  padding: 0.9em 1.5em 0.7em 1.5em;
  border-radius: 0.3em;
  font-size: 1.1em;
  line-height: 1em;
  text-shadow: 0 1px 2px rgba(0,0,0,0.3);
  font-weight: bold;
  font-family: 'Skolar', Georgia, serif;

  &:hover, &:focus {
    text-decoration: none;
    color: #fff;
  }
}

.shujaaz-button--primary {
  background: #d44b00;
  background: -moz-linear-gradient(top, #fea100 0%,  #d44b00 100%);
  background: -webkit-linear-gradient(top, #fea100 0%, #d44b00 100%);
  background: linear-gradient(to bottom, #fea100 0%, #d44b00 100%);

  &:hover, &:focus {
    background: darken(#d44b00, 10%);
    background: -moz-linear-gradient(top, darken(#fea100, 10%) 0%,  darken(#d44b00, 10%) 100%);
    background: -webkit-linear-gradient(top, darken(#fea100, 10%) 0%, darken(#d44b00, 10%) 100%);
    background: linear-gradient(to bottom, darken(#fea100, 10%) 0%, darken(#d44b00, 10%) 100%);
  }
}

.shujaaz-button--secondary {
  background: $colour_primary_mid;
  background: -moz-linear-gradient(top, #b1d580 0%,  $colour_primary_mid 100%);
  background: -webkit-linear-gradient(top, #b1d580 0%, $colour_primary_mid 100%);
  background: linear-gradient(to bottom, #b1d580 0%, $colour_primary_mid 100%);

  &:hover, &:focus {
    background: darken($colour_primary_mid, 5%);
    background: -moz-linear-gradient(top, darken(#b1d580, 5%) 0%,  darken($colour_primary_mid, 5%) 100%);
    background: -webkit-linear-gradient(top, darken(#b1d580, 5%) 0%, darken($colour_primary_mid, 5%) 100%);
    background: linear-gradient(to bottom, darken(#b1d580, 5%) 0%, darken($colour_primary_mid, 5%) 100%);
  }
}

.shujaaz-other-year {
  display: block;
  font-size: 0.9em;
  margin-top: 1em;
}

.shujaaz__main {
  padding-bottom: 0; // avoid double padding with .shujaaz__outro

  h2 {
    color: $colour_primary;
    font-family: 'Skolar', Georgia, serif;
    font-weight: bold;
    font-size: 2em;
    line-height: 1.4em;
    margin-bottom: 0;

    .shujaaz--2018 & {
      font-size: 1.6em;
      margin-bottom: 0.5em;
    }

    small {
      font-size: 0.7em;
      line-height: 1;
      display: block;
    }
  }
}

.shujaaz-context {
  @include clearfix();
  margin: 0 0 2em 0;

  @media (min-width: 640px) {
    margin: 0 -1.5em 1em -1.5em;
  }
}

.shujaaz-context__methodology,
.shujaaz-context__vote {
  @media (min-width: 640px) {
    float: left;
    padding: 1.5em;
    width: 50%;
  }
}

.shujaaz-context__methodology {
  @media (min-width: 960px) {
    width: 60%;
  }
}

.shujaaz-context__vote {
  @media (min-width: 960px) {
    width: 40%;
  }
}

// A version of the person-gallery that uses markup to
// create the two columns, rather than just floating
// .person-gallery__items at 50% width.
// Useful when the items have drastically different heights,
// (which would otherwise result in gappy floats).
.two-column-person-gallery {
  @include clearfix();

  .person-gallery__item {
    float: none;
  }

  @media (min-width: 480px) {
    .person-gallery {
      float: left;
      width: 50%;
    }

    .person-gallery + .person-gallery {
      float: right;
    }

    .person-gallery__item {
      width: auto;
    }
  }

  @media (min-width: 960px) {
    margin: 0 -20px;

    .person-gallery {
      margin: 0;
    }
  }
}

.person-gallery--shujaaz {
  .person-card {
    background-color: $colour_shujaaz_yellow;

    p {
      display: none;
    }

    h4 {
      margin: 0.5em 0 0 0;
      line-height: 1.4em;
    }

    blockquote {
      padding-left: 0;
      font-style: italic;
      font-family: Georgia, Times, "Times New Roman", serif;

      p {
        display: block;
        padding: 0;
        margin: 0.5em 0 0 0;

        &:before, &:after {
          content: none;
        }
      }
    }

    img {
      margin-bottom: 0.5em;
    }

    ol {
      margin-top: 0.5em;
      margin-bottom: 0;
      list-style: decimal;
    }

    li {
      list-style: inherit;
    }
  }

  ul {
    margin-bottom: 0;
    padding-left: 0;
  }

  li {
    list-style: none;
  }

  li:last-child {
    margin-bottom: 0;
  }

  .person-card__name {
    margin-top: 0;
  }

  .shujaaz--2018 & {
    overflow: auto;
    margin-bottom: 2em;
  }
}

.shujaaz__share {
  font-family: 'Skolar', Georgia, serif;
  font-weight: normal;
  font-style: italic;
  text-align: center;
  font-size: 1.5em;
  margin-top: 2em;

  img {
    vertical-align: middle;
    margin: 0 0.1em;
  }

  a {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}


// This is a bit like person_gallery, except each option is actually
// a collection of three people (nominees for an awards category).
.shujaaz-nominees {
  @media (min-width: 960px) {
    @include clearfix();
    margin: 0 -1.5em;
  }
}

.shujaaz-nominees__category {
  margin: 0 0 2em 0;

  @media (min-width: 960px) {
    width: 50%;
    float: left;
    padding: 0 1.5em;
    margin: 0 0 4em 0;
  }
}

.shujaaz-nominees__category__title {
  border-bottom: 1px solid #eee;

  #page & {
    padding-bottom: 1.5em;
  }
}

.shujaaz-nominees__nominee {
  margin: 1.5em 0 0 0;
}

h2.shujaaz-nominees__nominee__name {
  font-size: 1.5em;
}

.shujaaz-nominees__nominee__show-reasons {
  color: $colour_primary;
  cursor: pointer;

  &:hover, &:focus {
    text-decoration: underline;
  }
}

.shujaaz-nominees__nominee__reasons {
  display: none;
  margin-top: 1em;
  background: $colour_shujaaz_yellow;
  padding: 1em;

  :last-child {
    margin-bottom: 0;
  }

  h4 {
    margin-bottom: 0.5em;
    line-height: 1.4em;
  }

  blockquote {
    padding-left: 0;
    font-style: italic;
    font-family: Georgia, Times, "Times New Roman", serif;

    p:before, p:after {
      content: none;
    }
  }
}

input[name="reasons-accordions"] {
  display: none;

  &:checked + .shujaaz-nominees__nominee__reasons {
    display: block;
  }
}

.shujaaz__logos {
  text-align: center;

  img {
    max-width: 100%;
    height: auto;
    margin: 0 1em;
  }

  p {
    color: #999;
    font-size: 0.8em;
    text-transform: uppercase;
    margin: 2em 0 1em 0;
  }
}

.shujaaz__logos__indigo {
  width: 12em;
}

.shujaaz__logos__pin {
  width: 6em;
}
