@import "compass/utilities/sprites";
@import "pombola-sprite/*.png"; // relative to "static/sass/images/"
@include all-pombola-sprite-sprites;

.sprite-test {
  padding: 10em;

  & > * {
    background-color: rgba(255, 0, 0, 0.2);
    margin: 1em;
    width: 32px;
    height: 32px;
  }
}

.pombola-sprite-settings {
  width: 128px;
  height: 128px;
}
