{% extends 'base.html' %}
{% load thumbnail %}


{% block title %}
    {% ifequal object.name|lower 'mp' %}
        MPs
    {% else %}
        {{ object.name }}
    {% endifequal %}
{% endblock %}

{% block extra_scripts %}
    {% ifequal object.name|lower 'mp' %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/easypaginate.js"></script>
    <script type="text/javascript">
    jQuery(function($){
    $('ul.position-list').easyPaginate({
            step:25
        });
    });    
    </script>
    {% endifequal %}
{% endblock %}

{% block content %}
    {% ifequal 'mp' object.name|lower %}
        {% include 'odekro/mps_detail_content.html' %}
    {% else %}
        {% include 'odekro/position_detail_content.html' %}
    {% endifequal %}
{% endblock %}

