/** News carousel **/
/* carousel */
#news-carousel
{
  padding: 0 10px 10px 10px;
  margin-top: 0px;
}

/* Control buttons  */
#news-carousel .carousel-control
{
  background: none;
  color: #222;
  font-size: 2.3em;
  text-shadow: none;
  margin-top: 0px;
}
/* Previous button  */
#news-carousel .carousel-control.left
{
  left: -64px;
}
/* Next button  */
#news-carousel .carousel-control.right
{
  right: -64px !important;
}
/* End carousel */



/**
  MEDIA QUERIES
*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #news-carousel
    {
      margin-bottom: 0;
      padding: 0 40px 30px 40px;
    }

}
