{% load i18n %}

<table>
<tr>
    <th>Year</th>
    <th>Person</th>
    <th>Category</th>
    <th>Number of Declarations</th>
</tr>

{% for row in data %}
  <tr>
      <td>
          {% if row.release.source_url %}
            <a href="{{ row.release.source_url }}" target="_blank" title="View Source Document">{{ row.release.date.year }}</a>
          {% else %}
            {{ row.release.date.year }}
          {% endif %}
      </td>
      <td><a href="{{ row.person.get_absolute_url }}#membersinterests">{{ row.person.name }} ({{ row.person.parties.0.slug|upper }})</a></td>
      <td>{{ row.category }}</td>
      <td>{{ row.c }}</td>
  </tr>
{% endfor %}

{% if data|length == 0 %}
  <tr><td colspan="4">No results found.</td></tr>
{% endif %}

</table>

<div class="step-pagination">
    <span class="step-links">
        {% if data.has_previous %}
          <a href="?display={{ display }}&category={{ category }}&party={{ party }}&organisation={{ organisation }}&release={{ release }}&page={{ data.previous_page_number }}">
              {% trans "Previous" %}
          </a>
        {% endif %}

        <span class="current">
          {% blocktrans with num=data.number pages=data.paginator.num_pages %}
            Page <strong>{{ num }}</strong> of <strong>{{ pages }}</strong>
          {% endblocktrans %}
        </span>

        {% if data.has_next %}
          <a href="?display={{ display }}&category={{ category }}&party={{ party }}&organisation={{ organisation }}&release={{ release }}&page={{ data.next_page_number }}">
              {% trans "Next" %}
          </a>
        {% endif %}
    </span>
</div>
