{% extends 'base.html' %}

{% load pipeline %}

{% block title %}Members' Interests{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'interests-filter' %}
{% endblock %}

{% block body_attributes %} class="members-interests" {% endblock %}

{% block content %}
<div class="interests-header">
    <div class="wrapper">
        <h1>Members' Interests</h1>
    </div>
</div>

<div class="members-interests-filter">
  <div>
    <form id="group-interests-form" action="{% url 'sa-interests-index' %}" method="get">
      <button name="display" value="all" class="button group-select {% if display == 'all' %} selected{% endif %}">
        All Declarations <br> per MP
      </button>
      <button name="display" value="numberbyrepresentative" class="button group-select {% if display == 'numberbyrepresentative' %} selected{% endif %}">
        Number of Declarations <br> per MP
      </button>
      <button name="display" value="numberbysource"
        class="button group-select {% if display == 'numberbysource' %} selected{% endif %}">
        Number of Declarations <br> per Source
      </button>
    </form>
    <hr>
  </div>

  <form action="{% url 'sa-interests-index' %}" method="get">
    <h3>Filter results by:</h3>
    {% if display == "all" %}
    <input type="hidden" name="display" value="all">
    {% elif display == "numberbyrepresentative" %}
    <input type="hidden" name="display" value="numberbyrepresentative">
    {% elif display == "numberbysource" %}
    <input type="hidden" name="display" value="numberbysource">
    {% endif %}

    {% if display == "all" %}
    <div class="filter-option">
      <label for="party">Party:</label>
      <select name="party" id="party">
        <option value="all" {% if party == "all" %} selected="selected" {% endif %}>All</option>
        {% for o in parties %}
        <option value="{{ o.slug }}" {% if party == o.slug %} selected="selected" {% endif %}>
          {{ o.name }}
        </option>
        {% endfor %}
        <option value="other" {% if party == "other" %} selected="selected" {% endif %}>Other parties</option>
      </select>
    </div>
    {% endif %}

    <div class="filter-option">
      <label for="category">Category:</label>
      <select name="category">
        <option value="all"{% if category == "all" %} selected="selected"{% endif %}>All</option>
        {% for c in categories %}
          <option value="{{ c.slug }}"{% if category == c.slug %} selected="selected"{% endif %}>
              {{ c.name }}
          </option>
        {% endfor %}
      </select>
      {% if display == 'numberbysource' %}
      <sup>(Sponsorships, gifts, benefits and pensions only)</sup>
      {% endif %}
    </div>

    <div class="filter-option">
      <label for="release">Year:</label>
      <select name="release">
        {% for r in releases %}
        <option value="{{ r.slug }}"{% if release == r.slug %} selected="selected"{% endif %}>
          {{ r.name }}
        </option>
        {% endfor %}
      </select>
    </div>

    <input type="submit" value="Filter" class="button">
  </form>
</div>

{% if layout == "numberbyrepresentative" %}
  {% include "interests_register/index_numberbyrepresentative.html" %}
{% elif layout == "numberbysource" %}
  {% include "interests_register/index_numberbysource.html" %}
{% elif layout == "complete" %}
  {% include "interests_register/index_complete.html" %}
{% elif layout == "section" %}
  {% include "interests_register/index_section.html" %}
{% endif %}

{% endblock %}
