{% load i18n %}

<table>

<tr>
    {% for header in headers %}
      <th>{{ header }}</th>
    {% endfor %}
</tr>

{% for row in data %}
<tr>
    {% for cell in row %}
      <td>
          {% if forloop.counter == 1 %}
            {% if cell.source_url %}
              <a href="{{ cell.source_url }}" target="_blank">{{ cell.date.year }}</a>
            {% else %}
              {{ cell.date.year }}
            {% endif %}
          {% elif forloop.counter == 2 %}
              <a href="{{ cell.get_absolute_url }}#membersinterests">{{ cell.name }} ({{ cell.parties.0.slug|upper }})</a>
          {% else %}
              {{ cell }}
          {% endif %}
      </td>
    {% endfor %}
    </tr>
{% endfor %}

{% if data|length == 0 %}
  <tr><td colspan="{{ headers|length }}">No results found.</td></tr>
{% endif %}

</table>

<div class="step-pagination">
    <span class="step-links">
        {% if paginator.has_previous %}
          <a href="?display={{ display }}&category={{ category }}&party={{ party }}&organisation={{ organisation }}&release={{ release }}&page={{ paginator.previous_page_number }}">
              {% trans "Previous" %}
          </a>
        {% endif %}

        <span class="current">
          {% blocktrans with num=paginator.number pages=paginator.paginator.num_pages %}
            Page <strong>{{ num }}</strong> of <strong>{{ pages }}</strong>
          {% endblocktrans %}
        </span>

        {% if paginator.has_next %}
          <a href="?display={{ display }}&category={{ category }}&party={{ party }}&organisation={{ organisation }}&release={{ release }}&page={{ paginator.next_page_number }}">
              {% trans "Next" %}
          </a>
        {% endif %}
    </span>
</div>
