{% extends 'base.html' %}

{% load i18n %}

{% block title %}Members' Interests Sources{% endblock %}

{% block body_attributes %} class="members-interests" {% endblock %}

{% block content %}
<div class="interests-header">
    <div class="wrapper">
        <h1>Members' Interests Sources</h1>
    </div>
</div>

<h3>Search</h3>

<div class="members-interests-filter">
<form action="{% url 'sa-interests-source' %}" method="get">

<div class="filter-option">
    <label for="source">Source:</label>
    <input type="text" name="source" id="source" value="{{ source }}" />
</div>

<div class="filter-option">
    <label for="match">Match Type:</label>
    <select name="match">
        <option value="absolute"{% if match == "absolute" %} selected="selected"{% endif %}>Absolute</option>
        <option value="contains"{% if match == "contains" %} selected="selected"{% endif %}>Contains</option>
    </select>
</div>

<div class="filter-option">
    <label for="category">Category:</label>
    <select name="category">
    {% for c in categories %}
      <option value="{{ c.slug }}"{% if category == c.slug %} selected="selected"{% endif %}>{{ c.name }}</option>
    {% endfor %}
    </select>
</div>

<div class="filter-option">
    <label for="release">Year:</label>
    <select name="release">
        <option value="all"{% if release == "all" %} selected="selected"{% endif %}>All</option>
        {% for r in releases %}
        <option value="{{ r.slug }}"{% if release == r.slug %} selected="selected"{% endif %}>{{ r.name }}</option>
        {% endfor %}
    </select>
</div>

<input type="submit" value="Search" class="button">

</form>
</div>

{% if data %}
<table>

<tr>
    {% for header in headers %}
      <th>{{ header }}</th>
    {% endfor %}
</tr>

{% for row in data %}
  <tr>
      {% for cell in row %}
          <td>
              {% if forloop.counter == 2 %}
                <a href="{{ cell.get_absolute_url }}#membersinterests">{{ cell.name }} ({{ cell.parties.0.slug|upper }})</a>
              {% else %}
                {{ cell }}
              {% endif %}
          </td>
      {% endfor %}
  </tr>
{% endfor %}

</table>

<div class="step-pagination">
    <span class="step-links">
        {% if paginator.has_previous %}
          <a href="?display={{ display }}&category={{ category }}&party={{ party }}&organisation={{ organisation }}&release={{ release }}&page={{ paginator.previous_page_number }}">
              {% trans "Previous" %}
          </a>
        {% endif %}

        <span class="current">
          {% blocktrans with num=paginator.number pages=paginator.paginator.num_pages %}
            Page <strong>{{ num }}</strong> of <strong>{{ pages }}</strong>
          {% endblocktrans %}
        </span>

        {% if paginator.has_next %}
          <a href="?display={{ display }}&category={{ category }}&party={{ party }}&organisation={{ organisation }}&release={{ release }}&page={{ paginator.next_page_number }}">
              {% trans "Next" %}
          </a>
        {% endif %}
    </span>
</div>
{% else %}
  <table>
      <tr><td colspan="{{ headers|length }}">No results found.</td></tr>
  </table>
{% endif %}

{% endblock %}
