{% load staticfiles %}
{% load thumbnail %}

<li class="search-results-item search-results-{{ object.css_class }}-item{% if not object.show_active %} inactive{% endif %}">

  {% thumbnail object.primary_image "90x90" crop="center" as im %}
    <a href="{{ object.get_absolute_url }}">
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
    </a>
  {% empty %}
    <a href="{{ object.get_absolute_url }}">
      <img src="{% static 'images/organisation-90x90.jpg' %}" />
    </a>
  {% endthumbnail %}

  <section class="search-result-body">
    <h3><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h3>

    <div class="kind">{{ object.kind.name }}</div>

    {% if object.num_positions %}
      <p class="meta">{{ object.num_positions }} related positions</p>
    {% endif %}
  </section>

</li>
