{% load staticfiles %}
{% load thumbnail %}

<li class="search-results-item search-results-{{ object.css_class }}-item{% if not object.show_active %} inactive{% endif %}">

  {% thumbnail object.primary_image "90x90" crop="center" as im %}
    <a href="{{ object.get_absolute_url }}" class="search-image-thumbnail">
      <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}"/>
    </a>
  {% empty %}
    <a href="{{ object.get_absolute_url }}" class="search-image-thumbnail">
      <img src="{% static 'images/person-90x90.jpg' %}" />
    </a>
  {% endthumbnail %}

  <section class="search-result-body">
    <h3><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h3>

    {% with pos_set=object.position_set.all.currently_active %}
    <p>

      {% for position in pos_set|slice:":4" %}
        <strong>{{ position.title.name }}</strong> of {{ position.organisation.name }};
      {% empty %}
        No currently active positions found.
      {% endfor %}

      {% with remaining=pos_set.count|add:'-4' %}
        {% if remaining > 0 %}
          and {{ remaining }} more&hellip;
        {% endif %}
      {% endwith %}

    </p>
    {% endwith %}

  </section>

</li>
