{% load url from future %}
{% comment %}

    Menu entries - for both desktop and mobile.

    We use the same menu structure twice - once in the header and once in the
    footer. However the footer does not require the drill down so there is a way
    to specifically request it. This is all here in a separate file so that we
    won't forget to keep the two in sync when doing edits.

{% endcomment %}

<li><a href="{% url "home" %}">Home</a></li>

<li><a href="{% url "info_page" slug='m-democracy-resources' %}">Democracy Resources</a>
  {% if include_sub_menu_entries %}
  <ul id="m-democracy-resources">
    <li>
      <a href="{% url "info_page" slug='citizens-rights-freedoms' %}"> Citizens Rights and Freedoms </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='how-our-democracy-works' %}"> How Our Democracy Works </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='constitution--zimbabwe-2013' %}"> The Constitution of Zimbabwe 2013 </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='electoral-law-and-legislation' %}"> Electoral Law and Legislation </a>
    </li>
  </ul>
  {% endif %}
</li>
 


<li><a href="{% url "home" %}">National Assembly</a>
  {% if include_sub_menu_entries %}
  <ul>
    <li>
      <a href="{% url "info_page" slug='political-parties' %}"> The Main Political Parties in Zimbabwe </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='senators' %}"> Senators </a>
    </li>
  </ul>
  {% endif %}
</li>
 


<li><a href="{% url "info_page" slug='m-parliament' %}">Parliament</a>
  {% if include_sub_menu_entries %}
  <ul id="m-parliament">
    <li>
      <a href="{% url "info_page" slug='senators' %}"> Senators </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='parliament-overview' %}"> Parliament Overview </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='ministry-overview' %}"> Zimbabwean Ministries and their functions </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='committee-overview' %}"> Committee Overview </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='women-caucus' %}"> Women Caucus </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='bills-overview' %}"> Bills Overview </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='hansard' %}"> Hansard </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='political-parties' %}"> The Main Political Parties in Zimbabwe </a>
    </li>

  </ul>
  {% endif %}
</li>
 
<li><a href="{% url "home" %}">Blogs</a></li>

<li><a href="{% url "home" %}">News</a>
  {% if include_sub_menu_entries %}
  <ul>
    <li>
      <a href="{% url "info_page" slug='newspapers' %}"> Newspapers </a>
    </li>
  </ul>
  {% endif %}
</li>
 
<li><a href="{% url "info_page" slug='about' %}">About</a>
  {% if include_sub_menu_entries %}
  <ul id="about">
    <li>
      <a href="{% url "info_page" slug='about' %}"> About Us </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='kuvakazim-overview' %}"> Kuvakazim Overview </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='our-history' %}"> Our History </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='get-involved' %}"> Get Involved </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='scorecard' %}"> Scorecard FAQs </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='privacy-policy' %}"> Privacy Policy </a>
    </li>
    <li>
      <a href="{% url "info_page" slug='contact' %}"> Contact Us </a>
    </li>
  </ul>
  {% endif %}
</li>
 
