<div class="sidebar">

    <ul class="social-links-list">
       <li><a href="{% url 'info_blog_feed' %}" class="rss-social-icon">RSS</a></li>
    </ul>

    <h3>Recent {% if category %}&ldquo;{{ category.name }}&rdquo;{% endif %} posts</h3>

    <ul>
      {% for post in recent_posts|slice:":5" %}
        <li><a href="{% url 'info_blog' slug=post.slug %}">{{ post.title }}</a></li>
      {% empty %}
        <li>There are no recent posts{% if category %} in &ldquo;{{ category.name }}&rdquo;{% endif %}.</li>
      {% endfor %}
    </ul>

    {% if some_popular_posts %}
      <h3>Popular posts</h3>

      <ul>
        {% for post in popular_recent_posts|slice:":5" %}
          <li><a href="{% url 'info_blog' slug=post.slug %}">{{ post.title }}</a></li>
        {% empty %}
          <li>No recent popular posts found.</li>
        {% endfor %}
      </ul>
    {% endif %}

</div>
