{% load url from  future %}

  <div class="sidebar">
    <ul class="social-links-list">
       <li><a href="{% url "info_blog_feed" %}" class="rss-social-icon">RSS</a></li>
    </ul>
    <h3>Recent posts</h3>
    <ul>
        <li><a href="#">Post title</a></li>
        <li><a href="#">Post title</a></li>
        <li><a href="#">Post title</a></li>
        <li><a href="#">Post title</a></li>
        <li><a href="#">Post title</a></li>
    </ul>
    <h3>Categories</h3>
    <ul>
        <li><a href="#">Category</a></li>
        <li><a href="#">Category</a></li>
        <li><a href="#">Category</a></li>
        <li><a href="#">Category</a></li>
        <li><a href="#">Category</a></li>
    </ul>
</div>
