{% extends 'base.html' %}
{% load url from future %}

{% block title %}
  {% if category %}&ldquo;{{ category.name }}&rdquo;{% endif %}
  Blog Posts
  {% if tag %}tagged &ldquo;{{ tag.name }}&rdquo;{% endif %}
{% endblock %}

{% block extra_head_meta %}
    <meta name="robots" content="noindex, follow">
{% endblock%}

{% block content %}
<div class="layout-major-minor blog-post blog-list">
  <div class="major-column">
  <h1>
    {% if category %}&ldquo;{{ category.name }}&rdquo;{% endif %}
    Blog Posts
    {% if tag %}tagged &ldquo;{{ tag.name }}&rdquo;{% endif %}
  </h1>


  {% if category and category.summary %}
    <div class="infopage-category-summary">
      {{ category.summary }}
    </div>
  {% endif %}


  {% for object in object_list %}
    <div class="blog-in-a-list">
      <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>

      <p class="meta">
        {{ object.publication_date|date }} ({{ object.publication_date|timesince }} ago)
        {% if settings.DISQUS_SHORTNAME %}
          &mdash;
          <a href="{{ object.get_absolute_url }}#disqus_thread">Comments</a>
        {% endif %}
      </p>

      {{ object.content|truncatewords_html:50 }}

      <p><a href="{{ object.get_absolute_url }}">Read more &hellip;</a></p>

    </div>

  {% endfor %}

  {% include "info/_pagination.html" %}

  </div>
  <div class="minor-column">

    {% include "info/_blog_sidebar.html"%}

  </div>
</div>
{% endblock %}
