{% extends 'base.html' %}

{% load blog_titles %}
{% load pagination_tags %}

{% block title %}
  {% if categories %}
    {{ categories|join_blog_post_titles }}
  {% endif %}
  Blog Posts
  {% if tags %}
    tagged {{ tags|join_blog_post_titles }}
  {% endif %}
{% endblock %}

{% block extra_head_meta %}
    <meta name="robots" content="noindex, follow">
{% endblock%}

{% block content %}
<div class="layout-major-minor blog-post blog-list">
  <div class="major-column">
  <h1>
    {% if categories %}
      {{ categories|join_blog_post_titles }}
    {% endif %}
    Blog Posts
    {% if tags %}
      tagged {{ tags|join_blog_post_titles }}
    {% endif %}
  </h1>


  {% if categories and categories|length == 1 and categories.0.summary %}
    <div class="infopage-category-summary">
      {{ categories.0.summary }}
    </div>
  {% endif %}


  {% for object in object_list %}
    <div class="blog-in-a-list">
      <h2><a href="{{ object.get_absolute_url }}">{{ object.title }}</a></h2>

      <p class="meta">
        {{ object.publication_date|date }} ({{ object.publication_date|timesince }} ago)
        {% if settings.DISQUS_SHORTNAME %}
          &mdash;
          <a href="{{ object.get_absolute_url }}#disqus_thread">Comments</a>
        {% endif %}
      </p>

      {{ object.content_as_cleaned_html|safe|truncatewords_html:50 }}

      <p><a href="{{ object.get_absolute_url }}">Read more &hellip;</a></p>

    </div>

  {% endfor %}

  {% paginate %}

  </div>
  <div class="minor-column">

    {% include "info/_blog_sidebar.html"%}

  </div>
</div>
{% endblock %}
