{% extends 'search/search_base.html' %}

{% block search_results %}

  {% if top_hits %}
    <div "top-hits-results">
      <h3>Top Hits</h3>
      <ul class="listing">
      {% for result in top_hits %}
        {% if result.app_label == 'speeches' %}
          {% include 'search/speech_item.html' %}
        {% else %}
          {% include 'core/generic_list_item.html' with object=result.object %}
        {% endif %}
      {% endfor %}
      </ul>
    </div>
  {% endif %}

  {% for section_results in results %}
    {% if section_results.results_count %}
      <div "search-{{ section_results.section_dashes }}-results">
        <h3>{{ section_results.title }}</h3>
        <ul class="listing">
          {% for result in section_results.results|slice:":5" %}
            {% if result.app_label == 'speeches' %}
              {% include 'search/speech_item.html' %}
            {% else %}
              {% include 'core/generic_list_item.html' with object=result.object %}
            {% endif %}
          {% endfor %}
        </ul>

        {% if section_results.results_count > 5 %}
          <p>
            <a href="{% url 'core_search_section' %}?q={{ query_text|urlencode }}&section={{ section_results.section }}">Show more matching people ({{ section_results.title|lower }} in total)</a>
          </p>
        {% endif %}

      </div>
    {% endif %}
  {% endfor %}

{% endblock %}
