{% extends 'base.html' %}

{% load thumbnail %}
{% load pagination_tags %}
{% load highlight %}

{% block title %}
    {% if query %}
        "{{ query }}"
    {% else %}
        Search
    {% endif %}
{% endblock %}

{% block content %}
    <h2>Search in Hansard</h2>

    <form method="get" action="." class="search-wrap">
        <p>Alternatively, <a href="{% url "core_search"  %}" id="search-core-instead">search Mzalendo's data</a> instead.</p>

        <div class="search-box">
            <input id="id_q" name="q" type="search" value="{{ query }}">

            <label for="search-results-order">Order by</label>
              <select name="order" id="search-results-order">
                <option value="relevance"{% if order == 'relevance' %} selected{% endif %}>Relevance</option>
                <option value="date"{% if order == 'date' %} selected{% endif %}>Newest first</option>
                <option value="adate"{% if order == 'adate' %} selected{% endif %}>Oldest first</option>
              </select>

            <input type="submit" value="Search" class="button">
        </div>

        {% if query %}
            <br />
            <h3>Results</h3>

            <style type="text/css">
                span.highlighted {
                    background-color: #8f8;
                }
            </style>

            <ul class="listing">
            {% for result in results %}
                {% comment %}
                   FIXME: this next guard is only present because
                   currently we have a not-properly-understood
                   issue with Haystack letting Elasticsearch get
                   out of sync with what's in the database:
                   https://github.com/mysociety/pombola/issues/1424
                {% endcomment %}
                {% if result.object %}
                <li>
                    <strong>{{ result.object.sitting.name }}</strong>
                    <a href="{{ result.object.get_absolute_url }}">view</a>
                    <br>

                    {% highlight result.object.content with request.GET.q %}

                </li>
                {% endif %}
            {% empty %}
                <li>There were no results for "<strong>{{ query }}</strong>" - please try a different search.</li>
            {% endfor %}
            </ul>

            {% if results.has_previous or results.has_next %}
                <div>
                    {% if results.has_previous %}<a href="?q={{ query }}&amp;page={{ results.previous_page_number }}">{% endif %}&laquo; Previous{% if results.has_previous %}</a>{% endif %}
                    |
                    {% if results.has_next %}<a href="?q={{ query }}&amp;page={{ results.next_page_number }}">{% endif %}Next &raquo;{% if results.has_next %}</a>{% endif %}
                </div>
            {% endif %}
        {% else %}
            {# Show some example queries to run, maybe query syntax, something else? #}
            <p>Example searches: <i>Nairobi Stock Exchange</i>, <i>"Thika Road"</i></p>

        {% endif %}
    </form>
{% endblock %}
