{% extends 'base.html' %}

{% load thumbnail %}
{% load pagination_tags %}
{% load pipeline %}

{% block title %}
    {% if query %}
        "{{ query }}" ::
    {% endif %}
    Search
{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'hide-reveal' %}
{% endblock %}

{% block content %}
    {% block search_title %}
    <h1>Search</h1>
    {% endblock %}

    <form method="get" action="." class="global-search-form">


        <div class="search-section-box">

          {% block search_form %}
            <div class="inline-search-box">
                <label for="id_q">Search</label>
                <input id="id_q" name="q" type="text" value="{{ query }}">
                <input type="submit" value="Search" class="button">
            </div>

            <a href="#advanced-search-options" class="js-hide-reveal-link open-advanced-search">Advanced search</a>

            <div class="advanced-search-options js-update-results-trigger" id="advanced-search-options">

                <div class="search-category-controls">
                  {% for search_section, title, selected in form_options %}
                    <div class="radio-button-columns">
                        <label>
                            <input type="radio" name="section" value="{{ search_section }}"{% if selected %} checked{% endif %}>
                            {{ title }}
                        </label>
                    </div>
                  {% endfor %}
                </div>

                <div class="search-order-by-controls">
                    <label for="search-results-order">Order by</label>
                    <select name="order" id="search-results-order">
                        <option value="relevance"{% if order == 'relevance' %} selected{% endif %}>Relevance</option>
                        <option value="date"{% if order == 'date' %} selected{% endif %}>Date</option>
                    </select>
                </div>

              <button type="submit" class="button js-update-results-button">Update results</button>

            </div>
          {% endblock %}

        </div>

    </form>
    <div class="global-search-results">
        {% if query %}
            {% block search_results %}
            {% endblock %}
        {% else %}
            {% block search_instructions %}
            {# Show some example queries to run, maybe query syntax, something else? #}
            <p>Please enter a search term in the form above.</p>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
