{% extends 'base.html' %}

{% load thumbnail %}
{% load pagination_tags %}
{% load compressed %}

{% block title %}
    {% if query %}
        "{{ query }}" ::
    {% endif %}
    Search
{% endblock %}

{% block extra_js_to_load %}
    addExtraJS([ {% compressed_js 'hide-reveal' %} null ]);
{% endblock %}

{% block content %}
    {% block search_title %}
    <h1>Search</h1>
    {% endblock %}

    <form method="get" action="." class="global-search-form">

      {% block alternative_search_section %}
        {% if settings.COUNTRY_APP == 'south_africa' %}
          <p>
            Alternatively search

            {% if settings.COUNTRY_APP == 'south_africa' %}
              {% block alternative_search %}
                <a href="{% url "core_geocoder_search" %}">for a location</a>
              {% endblock %}
            {% endif %}

            instead.
          </p>
        {% endif %}
      {% endblock %}

        <div class="search-section-box">
            {% block search_form %}
            <div class="inline-search-box">
                <label for="id_q">Search</label>
                <input id="id_q" name="q" type="text" value="{{ query }}">
                <input type="submit" value="Search" class="button">
            </div>
            <a href="#advanced-search-options" class="js-hide-reveal-link open-advanced-search">Advanced search</a>
            <div class="advanced-search-options js-hide-reveal" id="advanced-search-options">
              {% for search_section, title, selected in form_options %}
                  <div class="radio-button-columns"><input type="radio" name="section" id="{{ search_section }}" value="{{ search_section }}"{% if selected %} checked{% endif %}><label for="{{ search_section }}">{{ title }}</label></div>
              {% endfor %}
            </div>
            {% endblock %}

        </div>

    </form>
    <div class="global-search-results">
        {% if query %}
            {% block search_results %}
            {% endblock %}
        {% else %}
            {% block search_instructions %}
            {# Show some example queries to run, maybe query syntax, something else? #}
            <p>Please enter a search term in the form above.</p>
            {% endblock %}
        {% endif %}
    </div>
{% endblock %}
