{% extends 'base.html' %}

{% block title %}
    {% if query %}
        "{{ query }}" ::
    {% endif %}
    Search
{% endblock %}

{% block search_title %}
  <h1>Search</h1>
{% endblock %}

{% block content %}

  <h2>{{ title }}</h2>
  <ul class="listing">
  {% for result in results %}
    {% include 'core/generic_list_item.html' with object=result.object %}
  {% empty %}
    <li>There were no results found for '{{ query_text }}'</li>
  {% endfor %}
  </ul>

  {% if results.has_previous or results.has_next %}
    <div>
        {% if results.has_previous %}<a href="?q={{ query_text }}&amp;section={{ section }}&amp;page={{ results.previous_page_number }}">{% endif %}&laquo; Previous{% if results.has_previous %}</a>{% endif %}
        |
        {% if results.has_next %}<a href="?q={{ query_text }}&amp;section={{ section }}&amp;page={{ results.next_page_number }}">{% endif %}Next &raquo;{% if results.has_next %}</a>{% endif %}
    </div>
  {% endif %}

{% endblock %}
