{% load firstof from future %}
<div id="footer-menu" class="footer-section">
    <h4>ShineYourEye</h4>
    <ul class="nav">
        {% with include_sub_menu_entries=0 %}
            {% include 'menu_entries.html' %}
        {% endwith %}
    </ul>
</div>

<div class="footer-section">
    <h4>About</h4>
    <ul class="utilities">
        <li><a href="{% url "info_page" slug='policies' %}">Privacy</a></li>
        <li><a href="{% url "feedback_add" %}?url={{ request.build_absolute_uri }}" class="feedback_link">Give us feedback</a></li>

        {% if object and request.user.is_staff %}
            <li><a href="{{ object.get_admin_url }}">Edit '{{ object.name }}' in admin</a></li>
        {% endif %}

        {% if settings.STAGING %}
            <li>current_user_id: <span id="current_user_id">{% firstof request.user.id '0' %}</span></li>
        {% endif %}
    </ul>
</div>
