{% extends 'base.html' %}
{% load url from future %}

{% block title %}Home{% endblock %}

{% block extra_js_to_load %}
    pombola_settings.extra_js.push( 'js/feeds.js' );
{% endblock %}

{% block breadcrumbs %}
    {# Hide bread crumbs on the home page. Insert blank div to add padding #}
    <div id="breadcrumb-replacement">&nbsp;</div>
{% endblock %}

{% block content %}
    <div class="home-left">
        <h2 id="home-intro">
          Shine your eye is an sms and web platform that facilitates engagement
          with National Assembly members and other elected officials.
        </h2>
        <div class="embedded-video">
            <iframe width="420" height="315" src="//www.youtube.com/embed/fKUeuGJ7xgs?rel=0" frameborder="0" allowfullscreen></iframe>
        </div>
        {% if editable_content %}
          <div class="infopage">
            {{ editable_content }}
          </div>
        {% endif %}


        <form action="{% url "core_search" %}" id="home-search">
            <label for="core-search">Search people, places and organisations</label>
            <input class="search-autocomplete-name" id="core-search" type="text" name="q" value="" placeholder="e.g. Lagos, Goodluck Jonathan">
            <button type="submit">Search</button>

            {% if settings.ENABLED_FEATURES.hansard %}
                <a href="{% url "hansard_search"  %}" id="search-hansard-instead">Search Hansard instead</a>
            {% endif %}

        </form>


        {% if settings.BLOG_RSS_FEED %}
            <h2>Latest News</h2>
            <ul id="home-news-list" data-blog-rss-feed="{{ settings.BLOG_RSS_FEED }}">
                <li>
                    Loading news&hellip;
                </li>
            </ul>
        {% endif %}
    </div>
    <div class="home-right">
        <h2>Focus On</h2>
        <div id="home-featured-person">
            {% if featured_person != None %}
                {% include 'core/person_feature.html' %}
            {% else %}
                <div class="featured-person featured-person-placeholder"></div>
            {% endif %}
        </div>


        {% if settings.POLLDADDY_WIDGET_ID %}
            <style>
                .pds-box { width: 100% !important; }
                #polldaddy { margin-bottom: 30px; }
            </style>

            <div id="polldaddy">
                <h2>Latest Poll</h2>
                <script type="text/javascript" charset="utf-8" src="http://static.polldaddy.com/w/{{ settings.POLLDADDY_WIDGET_ID }}.js"></script>
                <noscript><a href="http://polldaddy.com/w.php?p={{ settings.POLLDADDY_WIDGET_ID }}">Take Our Poll</a></noscript>
            </div>
        {% endif %}

        {% if settings.TWITTER_USERNAME %}
            {% if settings.TWITTER_WIDGET_ID %}
                <div id="twitter">
                    <h2>Twitter</h2>
                    {% include 'twitter_widget.html' %}
                </div>
            {% endif %}

            <div class="social-and-tools">
                <ul class="tools">
                    <li><a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}&amp;t=ShineYourEye" target="_blank" class="big-btn-text-fb">Facebook</a>
                    <li><a href="https://twitter.com/share?via={{ settings.TWITTER_USERNAME }}&amp;text=ShineYourEye&amp;url={{ request.build_absolute_uri }}" target="_blank" class="big-btn-text-tw">Twitter</a></li>
                </ul>            
            
                <span class="tw-nub"></span>
                <a href="http://twitter.com/{{ settings.TWITTER_USERNAME }}" class="btn-text-green tw-follow" target="_blank">Follow</a>
            </div>
        {% endif %}
    </div>
{% endblock %}
