{% load url from future %}
{% comment %}

    Menu entries - for both desktop and mobile.

    We use the same menu structure twice - once in the header and once in the
    footer. However the footer does not require the drill down so there is a way
    to specifically request it. This is all here in a separate file so that we
    won't forget to keep the two in sync when doing edits.

{% endcomment %}

<li><a href="{% url "home" %}">Home</a></li>


<li><a href="{% url "info_page" slug='democracy-resources' %}">Democracy Resources</a></li>

<li><a href="{% url "info_page" slug='elections' %}">Elections</a></li>


<li><a href="{% url "info_page" slug='government-officials' %}">Government Officials</a>
    {% if include_sub_menu_entries %}
    <ul id="government-officials">
        <li>
            <a href="{% url "position_pt" pt_slug='senator' %}">Senators</a>
        </li>
        <li>
            <a href="{% url "position_pt" pt_slug='representative' %}">Representatives</a>
        </li>
        <li>
            <a href="{% url "position_pt" pt_slug='governor' %}">Governors</a>
        </li>
    </ul>
    {% endif %}
</li>


<li><a href="{% url "info_page" slug='places-overview' %}">Places</a>
    {% if include_sub_menu_entries %}
    <ul id="places-overview">
        <li>
            <a href="{% url "place_kind" slug='state' %}">States</a>
        </li>
        <li>
            <a href="{% url "place_kind" slug='senatorial-district' %}">Senatorial Districts</a>
        </li>
        <li>
            <a href="{% url "place_kind" slug='constituency' %}">Federal Constituencies</a>
        </li>
    </ul>
    {% endif %}
</li>


<li><a href="{% url "info_page" slug='about' %}">About</a></li>
