<!DOCTYPE html>
<html xml:lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
      {% block title %} Odekro | What has your MP done for you? {% endblock %}
      {% block title_suffix %} {% endblock %}
    </title>

<link rel="shortcut icon" href="{{ STATIC_URL}}images/favicon.ico" type="image/x-icon" />
{% load pipeline %}
{% block styles %}
  {% stylesheet 'ghana' %}
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block scripts %}
 {% javascript 'ghana' %}
{% endblock %}

{% block extra_scripts %}
{% endblock %}
</head>

<body role="document" style="min-height:100%;position:relative;background:url({{ STATIC_URL }}images/featimg_bg.png) no-repeat center top;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;">

    <div class="container" id="dekro-container">
      {% block pre_header %}
      {% endblock %}


        {% block header %}
            {% include 'header.html' %}
        {% endblock %}


        <div class="row">
            {% block content %}
            {% endblock %}
        </div>

        {% comment %}
        {% include 'analytics.html' %}
        {% endcomment %}

        <div class="row">
       {% block footer %}
         {% include 'footer.html' %}
       {% endblock %}
   </div>
    </div>
</body>
</html>
