<!DOCTYPE html>
<html xml:lang="en-GB">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>
      {% block title %} ODEKRO - Monitoring Our Leaders {% endblock %}
      {% block title_suffix %} {% endblock %}
    </title>

<link rel="shortcut icon" href="{{ STATIC_URL}}images/favicon.ico" type="image/x-icon" />
{% load compressed %}
{% block styles %}
  <link href="{{ STATIC_URL}}css/bootstrap.css" rel="stylesheet" type="text/css" />
  <link href="{{ STATIC_URL}}css/bootstrap-theme.css" rel="stylesheet" type="text/css" />
  <link href="{{ STATIC_URL}}css/bootstrap-select.css" rel="stylesheet" type="text/css" />

  {% compressed_css 'ghana' %}
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
   <![endif]-->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block scripts %}
 {% compressed_js 'ghana' %}
  <script type="text/javascript" src="{{ STATIC_URL}}js/jquery-1.11.3.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL}}js/bootstrap.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL}}js/bootstrap-select.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL}}js/jqcloud-1.0.4.js"></script>
{% endblock %}

{% block extra_scripts %}
{% endblock %}
</head>

<body role="document" style="min-height:100%;position:relative;background:url({{ STATIC_URL }}images/featimg_bg.png) no-repeat center top;-webkit-background-size:contain;-moz-background-size:contain;-o-background-size:contain;background-size:contain;">

    <div class="container" id="dekro-container">
      {% block pre_header %}
      {% endblock %}

        <div class="container" id="odekro-header">
        {% block header %}
            {% include 'header.html' %}
        {% endblock %}
        </div>

        <div class="container" id="odekro-page">
               {% block content %}
                {% endblock %}
         </div>
        {% comment %}
        {% include 'analytics.html' %}
        {% endcomment %}
        <div class="container text-center" id="odekro-footer">
           {% block footer %}
             {% include 'footer.html' %}
           {% endblock %}
        </div>
    </div>
</body>
</html>
