<footer class="footer">
    <hr>
    <div class="col-xs-12 col-sm-12">
        <div class="col-lg-12 text-center">
            <ul class="nav nav-pills nav-justified">
                <li>
                    <a href="{% url 'info_page' slug='odekro-overview' %}">About Us</a>
                </li>
                <li>
                    <a href="{% url 'info_page' slug='faqs' %}">FAQs</a>
                </li>
                <li>
                    <a href="{% url 'info_page' slug='policies' %}">Policies</a>
                </li>
                <li>
                    <div>
                        <a href="https://www.facebook.com/odekro">
                            <i id="social" class="fa fa-facebook-square fa-2x social-fb"></i>
                        </a>
                        <a href="https://twitter.com/odekro">
                            <i id="social" class="fa fa-twitter-square fa-2x social-tw"></i>
                        </a>
                        <a href="https://plus.google.com/+odekro-page">
                            <i id="social" class="fa fa-google-plus-square fa-2x social-gp"></i>
                        </a>
                        <a href="mailto:info@odekro.org">
                            <i id="social" class="fa fa-envelope-square fa-2x social-em"></i>
                        </a>
                        <div class="text-center">
                            <a href="/"><i class="fa fa-copyright">{% now "Y" %} Odekro. All Rights Reserved.</i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>

