<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>The Debates of the House of Commons :: ODEKRO</title>
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
<link href="css/1140.css" rel="stylesheet" type="text/css" />
<link href="css/ie.css" rel="stylesheet" type="text/css" />
<link href="css/styles.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="scripts/script.js"></script>
<script type="text/javascript" src="scripts/css3-mediaqueries.js"></script>
<script type="text/javascript" src="scripts/jquery.js"></script>
<script type="text/javascript" src="scripts/jquery-1.4.3.min.js"></script>
<script type="text/javascript" src="scripts/jquery.animate.js"></script>
<script type="text/javascript" src="scripts/jquery.truncate.js"></script>
<script type="text/javascript">
  $(document).ready(function() {
	$('.truncate').truncate
	({charLength:50,
	perOT:true,
	fx: "easeOutBounce"});
  });
</script>
<script type="text/javascript" src="scripts/easypaginate.js"></script>
<script type="text/javascript">
jQuery(function($){
$('ul.hansardEntries').easyPaginate({
		step:6
	});
});
</script>
<script type="text/javascript" src="scripts/easing.js"></script>
<script type="text/javascript" src="scripts/jquery.ui.totop.js"></script>
<script type="text/javascript">
	$(document).ready(function() {
	$().UItoTop({ easingType: 'easeOutQuart' });
});
</script>
<script type="text/javascript" src="scripts/custom.js"></script>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "5e003073-041c-4ff8-8b24-bf3e9f4315fb"});</script>
</head>
<body>
	<div id="container">
        <div id="header">
            <div id="h_mid">
                <div class="wrap">
                    <h1 id="logo"><a href="index.html">Odekro Logo</a></h1>
                    <div id="rightArea">
                        <div id="account">
                            <a href="#">login</a>
                            <a href="#">register</a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="main-menu">
                <nav class="wrapper">
                    <ul class="menu" id="menu">
                        <li><a href="page-hansard.html" class="menulink active">Hansard</a></li>
                        <li><a href="page-mps.html" class="menulink">Mps</a></li>
                        <li><a href="page-bills.html" class="menulink">Bills</a></li>
                        <li><a href="parliament.html" class="menulink">Parliament</a></li>
                        <li><a href="page-typo.html" class="menulink">About</a>
                            <ul>
                                <li><a href="#">FAQs</a></li>
                                <li><a href="#">Partners</a></li>
                                <li><a href="#">Contacts</a></li>
                            </ul>
                        </li>
                    </ul>
                    <script type="text/javascript">
                        var menu=new menu.dd("menu");
                        menu.init("menu","menuhover");
                    </script>
                    <ul id="mob-menu">
                    	<li><a href="#"><i></i> Menu</a>
                        	<ul>
                            	<li><a href="page-hansard.html" class="menulink">Hansard</a></li>
                                <li><a href="page-mps.html" class="menulink">Mps</a></li>
                                <li><a href="page-bills.html" class="menulink">Bills</a></li>
                                <li><a href="parliament.html" class="menulink">Parliament</a></li>
                                <li><a href="page-typo.html" class="menulink">About</a>
                            </li></ul>
                        </li>
                    </ul>
                    <div id="search">
                        <form id="odekro_search" method="get" action="#">
                            <input type="text" value="Search" onblur="this.value=!this.value?'Search':this.value;" onfocus="this.select()" onclick="this.value='';" />
                            <button type="submit">Submit</button>
                        </form>
                    </div>
                </nav>
            </div>
        </div>
        <div id="odekro-page">
            <div class="page-wrapper row">
                <div class="hansardContainer elevencol">
                    <div id="hansardIntro">
                        <h1 class="hansardH1">The Debates of the House of Commons</h1>
                        <p>When Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search via the box above.</p>
                    </div>
                    <div class="hansardMeta">
                        <h2>Topics</h2>
                        <ul id="content">
                            <li><a href="#">Question Period</a></li>
                            <li><a href="#">Workforce Integration Organization</a></li>
                            <li><a href="#">Boys and Girls Club</a></li>
                            <li><a href="#">Brain Tumour Awareness Month</a></li>
                            <li><a href="#">The Economy</a></li>
                            <li><a href="#">Food Safety Question Period</a></li>
                            <li><a href="#">Queen's Diamond Jubilee</a></li>
                            <li><a href="#">Youth Criminal Justice</a></li>
                            <li><a href="#">Foreign Investment</a></li>
                            <li><a href="#">Member for New Town</a></li>
                            <li><a href="#">Jobs and Growth Act, 2012</a></li>
                        </ul>
                    </div>
                    <ul class="hansardEntries">
                        <li class="statement">
                            <div style="opacity: 0;" class="fdw-background">
                                <span class='st_email' displayText=''></span>
                                <span class='st_twitter' displayText=''></span>
                                <span class='st_facebook' displayText=''></span>
                            </div>
                            <div class="context">
                                <p><strong>Foreign Investment</strong>
                                <br />Statements By Members</p>
                                <span>October 12th, 2012 / 11 a.m</span>
                                <strong><a class="partytag" href="#">NPP</a></strong>
                            </div>
                            <div class="focus truncateContainer">
                                <div class="truncate">
                                    <a class="hansardAvatar" href="#"><img src="#" /></a>
                                    <p class="speaker">
                                        <a href="#"><strong>Lala Mitre</strong></a>
                                        <span>Tema West, GR</span>
                                    </p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                </div>
                            </div>
                        </li>
                        <li class="statement">
                            <div style="opacity: 0;" class="fdw-background">
                                <span class='st_email' displayText=''></span>
                                <span class='st_twitter' displayText=''></span>
                                <span class='st_facebook' displayText=''></span>
                            </div>
                            <div class="context">
                                <p><strong>Foreign Investment</strong>
                                <br />Statements By Members</p>
                                <span>October 12th, 2012 / 11 a.m</span>
                                <strong><a class="partytag" href="#">NPP</a></strong>
                            </div>
                            <div class="focus truncateContainer">
                                <div class="truncate">
                                    <a class="hansardAvatar" href="#"><img src="#" /></a>
                                    <p class="speaker">
                                        <a href="#"><strong>Lala Mitre</strong></a>
                                        <span>Tema West, GR</span>
                                    </p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                </div>
                            </div>
                        </li>
                        <li class="statement">
                            <div style="opacity: 0;" class="fdw-background">
                                <span class='st_email' displayText=''></span>
                                <span class='st_twitter' displayText=''></span>
                                <span class='st_facebook' displayText=''></span>
                            </div>
                            <div class="context">
                                <p><strong>Foreign Investment</strong>
                                <br />Statements By Members</p>
                                <span>October 12th, 2012 / 11 a.m</span>
                                <strong><a class="partytag" href="#">NPP</a></strong>
                            </div>
                            <div class="focus truncateContainer">
                                <div class="truncate">
                                    <a class="hansardAvatar" href="#"><img src="#" /></a>
                                    <p class="speaker">
                                        <a href="#"><strong>Lala Mitre</strong></a>
                                        <span>Tema West, GR</span>
                                    </p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                </div>
                            </div>
                        </li>
                        <li class="statement">
                            <div style="opacity: 0;" class="fdw-background">
                                <span class='st_email' displayText=''></span>
                                <span class='st_twitter' displayText=''></span>
                                <span class='st_facebook' displayText=''></span>
                            </div>
                            <div class="context">
                                <p><strong>Foreign Investment</strong>
                                <br />Statements By Members</p>
                                <span>October 12th, 2012 / 11 a.m</span>
                                <strong><a class="partytag" href="#">NPP</a></strong>
                            </div>
                            <div class="focus truncateContainer">
                                <div class="truncate">
                                    <a class="hansardAvatar" href="#"><img src="#" /></a>
                                    <p class="speaker">
                                        <a href="#"><strong>Lala Mitre</strong></a>
                                        <span>Tema West, GR</span>
                                    </p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                </div>
                            </div>
                        </li>
                        <li class="statement">
                            <div style="opacity: 0;" class="fdw-background">
                                <span class='st_email' displayText=''></span>
                                <span class='st_twitter' displayText=''></span>
                                <span class='st_facebook' displayText=''></span>
                            </div>
                            <div class="context">
                                <p><strong>Foreign Investment</strong>
                                <br />Statements By Members</p>
                                <span>October 12th, 2012 / 11 a.m</span>
                                <strong><a class="partytag" href="#">NPP</a></strong>
                            </div>
                            <div class="focus truncateContainer">
                                <div class="truncate">
                                    <a class="hansardAvatar" href="#"><img src="#" /></a>
                                    <p class="speaker">
                                        <a href="#"><strong>Lala Mitre</strong></a>
                                        <span>Tema West, GR</span>
                                    </p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                </div>
                            </div>
                        </li>
                        <li class="statement">
                            <div style="opacity: 0;" class="fdw-background">
                                <span class='st_email' displayText=''></span>
                                <span class='st_twitter' displayText=''></span>
                                <span class='st_facebook' displayText=''></span>
                            </div>
                            <div class="context">
                                <p><strong>Foreign Investment</strong>
                                <br />Statements By Members</p>
                                <span>October 12th, 2012 / 11 a.m</span>
                                <strong><a class="partytag" href="#">NPP</a></strong>
                            </div>
                            <div class="focus truncateContainer">
                                <div class="truncate">
                                    <a class="hansardAvatar" href="#"><img src="#" /></a>
                                    <p class="speaker">
                                        <a href="#"><strong>Lala Mitre</strong></a>
                                        <span>Tema West, GR</span>
                                    </p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                </div>
                            </div>
                        </li>
                        <li class="statement">
                            <div style="opacity: 0;" class="fdw-background">
                                <span class='st_email' displayText=''></span>
                                <span class='st_twitter' displayText=''></span>
                                <span class='st_facebook' displayText=''></span>
                            </div>
                            <div class="context">
                                <p><strong>Foreign Investment</strong>
                                <br />Statements By Members</p>
                                <span>October 12th, 2012 / 11 a.m</span>
                                <strong><a class="partytag" href="#">NPP</a></strong>
                            </div>
                            <div class="focus truncateContainer">
                                <div class="truncate">
                                    <a class="hansardAvatar" href="#"><img src="#" /></a>
                                    <p class="speaker">
                                        <a href="#"><strong>Lala Mitre</strong></a>
                                        <span>Tema West, GR</span>
                                    </p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                </div>
                            </div>
                        </li>
                        <li class="statement">
                            <div style="opacity: 0;" class="fdw-background">
                                <span class='st_email' displayText=''></span>
                                <span class='st_twitter' displayText=''></span>
                                <span class='st_facebook' displayText=''></span>
                            </div>
                            <div class="context">
                                <p><strong>Foreign Investment</strong>
                                <br />Statements By Members</p>
                                <span>October 12th, 2012 / 11 a.m</span>
                                <strong><a class="partytag" href="#">NPP</a></strong>
                            </div>
                            <div class="focus truncateContainer">
                                <div class="truncate">
                                    <a class="hansardAvatar" href="#"><img src="#" /></a>
                                    <p class="speaker">
                                        <a href="#"><strong>Lala Mitre</strong></a>
                                        <span>Tema West, GR</span>
                                    </p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                </div>
                            </div>
                        </li>
                        <li class="statement">
                            <div style="opacity: 0;" class="fdw-background">
                                <span class='st_email' displayText=''></span>
                                <span class='st_twitter' displayText=''></span>
                                <span class='st_facebook' displayText=''></span>
                            </div>
                            <div class="context">
                                <p><strong>Foreign Investment</strong>
                                <br />Statements By Members</p>
                                <span>October 12th, 2012 / 11 a.m</span>
                                <strong><a class="partytag" href="#">NPP</a></strong>
                            </div>
                            <div class="focus truncateContainer">
                                <div class="truncate">
                                    <a class="hansardAvatar" href="#"><img src="#" /></a>
                                    <p class="speaker">
                                        <a href="#"><strong>Lala Mitre</strong></a>
                                        <span>Tema West, GR</span>
                                    </p>
                                    <p>Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search Parliament is in session, every word spoken</p>
                                    <p>Transcribed, and published in a document called a Hansard svery word spoken by a member is faithfully transcribed, and published in a document called a Hansard. We have the Hansards of the House of Commons dating back to 1994. Browse through them below, or search</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="row linkSecond">
                <ul class="qLinks sixcol">
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
                <ul class="copyRight">
                    <li>Copyright &copy; 2012 - 2014 ODEKRO. All Rights Reserved.<a class="pw" href="#">Powered by Hutspace</a></li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
