{% block extra_scripts %}

{% endblock %}
<div class="logo"><img src="{{ STATIC_URL }}images/logo.png"></img></div>
<nav class="navbar navbar-default">
         <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a class="navbar-brand" href="#"><img height="24" width="24" src="{{ STATIC_URL }}images/odekrobrand.png"></img></a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
                  <ul class="nav navbar-nav">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'hansard:index' %}">Hansard</a></li>
                    <li><a href="{% url 'position_pt' pt_slug='mp' %}">MPs</a></li>
                    <li><a href="{% url 'place_kind' slug='constituency' %}">Constituencies</a></li>

                    <li class="dropdown">
                          <a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            About
                            <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                            <li><a href="{% url 'info_page' slug='odekro-overview' %}">Odekro</a></li>
                            <li><a href="{% url 'info_page' slug='faqs' %}">FAQs</a></li>
                            <li><a href="{% url 'info_page' slug='policies' %}">Policies</a></li>
                            <li><a href="{% url 'info_page' slug='partners' %}">Partners</a></li>
                          </ul>
                    </li>
                  </ul>

                  <ul class="nav navbar-nav navbar-right">
                    <form class="navbar-form" role="search" method="get" action="{% url 'core_search' %}">
                    <div class="input-group">
                        <input type="text" class="form-control input-xs pull-right" style="background-color: #e5e5e5;" placeholder="Search..." onblur="this.value=!this.value?'Search...':this.value;" onfocus="this.select()" onclick="this.value='';" onkeyup="buttonUp();" >
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-xsbtn-default">
                                <span class="fa fa-search">
                                    <span class="sr-only">Search</span>
                                </span>
                            </button>
                        </span>
                    </div>
            </form>
                  </ul>
          </div><!--/.nav-collapse -->

</nav>

<!-- div id="h_mid">
  <div class="wrap">
    <h1 id="logo"><a href="#">Odekro Logo</a></h1>
  </div>
</div>
<div id="main-menu-wrapper" style="position: relative; top: 0px; left: 0px;">
  <nav class="">
    <ul class="sm sm-odekro" id="main-menu" >
      <li >
        <a href="{% url 'home' %}" >Home</a></li>

     {% if settings.ENABLED_FEATURES.hansard %}
     <li>
       <a href="{% url 'hansard:index' %}">Hansard</a>
     </li>
     {% endif %}

    <li><a href="{% url 'position_pt' pt_slug='mp' %}">MPs</a></li>
    <li><a href="{% url 'place_kind' slug='constituency' %}">Constituencies</a></li>
    <li><a href="page-bills.html">Bills</a></li>
    <li><a href="{% url 'info_page' slug='odekro-overview' %}">About</a>
      <ul>
        <li><a href="{% url 'info_page' slug='odekro-overview' %}">Odekro</a></li>
        <li><a href="{% url 'info_page' slug='faqs' %}">FAQs</a></li>
        <li><a href="{% url 'info_page' slug='policies' %}">Policies</a></li>
        <li><a href="{% url 'info_page' slug='partners' %}">Partners</a></li>
      </ul>
    </li>

 <div class="sociallinks">
    {% include 'social_links.html' %}
 </div>

 <div class="search">
        <form class="searchbox" method="get" action="{% url 'core_search' %}">
            <input class="searchbox-input" type="text" placeholder="Search..." onblur="this.value=!this.value?'Search...':this.value;" onfocus="this.select()" onclick="this.value='';" onkeyup="buttonUp();" required>
            <input type="submit" class="searchbox-submit" value="">
            <span class="searchbox-icon"></span>
        </form>
  </div>
  </ul>

  <script type="text/javascript">
  $(function() {
    $('#main-menu').smartmenus();
  });

  </script>


</nav>
</div -->
