<div class="panel panel-default">
    <h3 class="panel-heading">Parliament in the News</h3>
     <div class="panel-body">
     <div class="">
      <ul id="list-group odekro-news-list">
        <li class="list-group-item">
          <div class="meta-date">
            <strong class="month">Nov</strong>
            <span class="day">24</span>
          </div>
          <h4><a href="#">Dasellus ac nibh urna donec</a></h4>
          <p>Lorem ipsum dolor sit met, consectetur , id vestibulum tellus suscipit vitae ...</p>
          <a href="#">more</a>
        </li>

        <li class="list-group-item">
          <div class="meta-date">
            <strong class="month">Nov</strong>
            <span class="day">24</span>
          </div>
          <h4><a href="#">Dasellus ac nibh urna donec</a></h4>
          <p>Lorem ipsum dolor sit met, consectetur , id vestibulum tellus suscipit vitae ...</p>
          <a href="#">more</a>
        </li>
      </ul>
    </div>

  </div>
  </div>