{% extends 'core/person_base.html' %}

{% block title %}{{ object.name }} All Appearances{% endblock %}

{% block subcontent %}

	<h2>All parliamentary appearances</h2>

	{% load pagination_tags %}

	{% if object_list %}

	    {% autopaginate object_list %}

	    <h3>Entries {{ page_obj.start_index }} to {{ page_obj.end_index }} of {{ paginator.count }}.</h3>

	    <ul class="listing">
	    {% for entry in object_list %}
	    <li>
	        <strong>{{ entry.sitting.start_date}}</strong> in <strong>{{ entry.sitting.venue.name }}</strong>:
	        {{ entry.content|truncatewords:100 }}
	        <a href="{{ entry.get_absolute_url }}">view</a>
	    </li>
	    {% endfor %}
	    </ul>

	    {% paginate %}

	{% else %}
	    <p>No results were found</p>

	{% endif %}

{% endblock %}
