{% extends 'base.html' %}
{% load switch %}

{% block title %}
    Hansard
{% endblock %}

{% block content %}

    <h1 class="page-title">Hansard</h1>

    <div class="infopage">
        <p>The official record of the Kenyan National Assembly is called the Hansard – named after the British publication of parliamentary proceedings.</p>
        <p>Included on the site are Hansard records dating back to 2006, with the records for each individual day listed below.  When you click on the link, you go through to a page containing the full text of the proceedings.</p>
        <p>You can <a href="{% url "hansard_search" %}">search Hansard</a> for terms that interest you – for instance the name of a particular politician, a specific location or an issue that you are interested in.</p>
        <p>When you are looking at a Hansard page you will see that the names of speakers are highlighted in green.  These are links through to the individuals’ details pages on Mzalendo – click on them to find out more about the person.</p>
    </div>

    <h2>Most recent transcripts</h2>
    <ul class="listing">
        {% for sitting in sittings %}
        <li><a href="{{ sitting.get_absolute_url }}">{{ sitting }}</a></li>
        {% empty %}
        <li>There are no transcripts</li>
        {% endfor %}
    </ul>

{% endblock %}
