{% extends "base.html" %}
{% load pipeline %}

{% block title %}Write to a Parliamentary Committee{% endblock %}

{% block css_headers %}
  {{ block.super }}
  {% stylesheet 'chosen' %}
{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'writeinpublic' %}
{% endblock %}

{% block content %}

<div class="house-splash committee-write">
  <div class="house-title">
    <h1>Write to a Parliamentary Committee</h1>
  </div>
</div>

<div class="person-write-intro">
  <p>
    The most important work of Parliament takes place in its committees. There
    is a parliamentary committee responsible for overseeing each government
    department. Write to a committee if you want to bring attention to the poor
    service delivery or spending of a specific department. You can also lobby
    the committee to introduce or change a law that deals with your concerns.
  </p>
</div>

{% include 'writeinpublic/flash_messages.html' %}

<form action="" method="post" class="person-write-form person-write-form--emphasised">{% csrf_token %}
    {{ wizard.management_form }}

    <p class="form-group">
    <label for="{{ form.persons.auto_id }}">
      Search for committees by name, or select from the drop-down.
    </label>
    {{ form.persons.errors }}
    {{ form.persons }}
    </p>

    <input type="submit" value="Draft message" class="button pull-right">
</form>
{% endblock %}
