{% extends "base.html" %}

{% block title %}WriteInPublic messages to {{ person.name }}{% endblock %}

{% block content %}
<div class="js-person-messages-all">

  {% for message in messages %}
    <div>
        <h3>
            <a href="{% url 'writeinpublic-message' message_id=message.id %}">{{ message.subject }}</a>
            &ndash; <small>{{ message.created_at|date:"d M Y" }}</small>
        </h3>
        <p>
            {{ message.content|truncatewords:30 }}
            <a href="{% url 'writeinpublic-message' message_id=message.id %}">(Read more)</a>
        </p>
    </div>
  {% empty %}
    {% comment %}
      TODO: Just hide this panel completely if there are no messages?
    {% endcomment %}
    <p>Nothing here!</p>
  {% endfor %}

</div>
{% endblock %}
