{% extends "base.html" %}

{% block title %}Preview of message to {{ object.name }}{% endblock %}

{% block content %}
<div class="person-write-thread">
    <div class="person-write-message">
        <dl class="person-write-message__meta">
            <dt>To</dt>
            <dd>
              {{ persons|join:", " }}
            </dd>
            <dt>From</dt>
            <dd>{{ message.author_name }}</dd>
            <dt>Subject</dt>
            <dd>{{ message.subject }}</dd>
        </dl>
        <div class="person-write-message__content">
          {{ message.content|linebreaksbr }}
        </div>
    </div>
</div>

<form action="" method="post" class="person-write-form">{% csrf_token %}
    {{ wizard.management_form }}

    <div class="privacy-reminder">
      <h2><i class="fa fa-question-circle"></i> Are you happy for this message to be made public?</h2>
      <p>Once you send this message, it will be available on the Internet for anyone to read. Your name will be included alongside the message. Your email address will not be public.</p>
    </div>

    <a class="button secondary-button" href="{% url 'writeinpublic-new-message-step' step='draft' %}">Edit message</a>
    <input type="submit" value="Send message" class="button pull-right">
</form>
{% endblock %}
