{% extends "base.html" %}

{% block title %}Draft your message{% endblock %}

{% block content %}
<form action="" method="post" class="person-write-form">{% csrf_token %}
  {{ wizard.management_form }}

    <p class="form-group">
        <label for="recipients">To</label>
        <input type="text" disabled id="recipients" value="{{ persons | join:", " }}">
    </p>

    <p class="form-group">
        <label for="{{ form.subject.auto_id }}">Subject</label>
        {{ form.subject.errors }}
        {{ form.subject }}
    </p>

    <p class="form-group">
        <label for="{{ form.content.auto_id }}">
          Your message
          <small>This will be published, on this site.</small>
        </label>
        {{ form.content.errors }}
        {{ form.content }}
    </p>

    <div class="row">
        <div class="col-sm-6">
            <p class="form-group">
                <label for="{{ form.author_name.auto_id }}">
                    Your name
                    <small>This will be published, on this site.</small>
                </label>
                {{ form.author_name.errors }}
                {{ form.author_name }}
            </p>
        </div>
        <div class="col-sm-6">
            <p class="form-group">
                <label for="{{ form.author_email.auto_id }}">
                    Your email
                    <small>Nobody will see this, ever.</small>
                </label>
                {{ form.author_email.errors }}
                {{ form.author_email }}
            </p>
        </div>
    </div>

    <a class="button secondary-button" href="{% url 'writeinpublic:writeinpublic-new-message-step' step='recipients' %}">Change recipients</a>
    <input type="submit" value="Preview message" class="button pull-right">
</form>
{% endblock %}
