{% extends "base.html" %}
{% load pipeline %}

{% block title %}Write to an MP{% endblock %}

{% block css_headers %}
  {{ block.super }}
  {% stylesheet 'chosen' %}
{% endblock %}

{% block js_end_of_body %}
  {{ block.super }}
  {% javascript 'writeinpublic' %}
{% endblock %}

{% block content %}

<div class="house-splash person-write">
  <div class="house-title">
    <h1>Write to an MP</h1>
  </div>
</div>

<div class="person-write-intro">
  <p>
    MPs are your elected representatives - they must be accountable to the
    people and they must act in the public interest. Write to an MP if you want
    to petition or lobby them to assist you with a problem (no private disputes
    and only issues to do with government services), offer suggestions or
    support a campaign you feel strongly about.
  </p>
  <p class="person-write-intro__notice">
    <strong>Before you contact an MP</strong>, note that their ability to assist
    is limited. Often the right person to contact will be
    <a href="{% url "core_geocoder_search" %}">a local councillor</a>, the
    <a href="http://www.dpme.gov.za/keyfocusareas/hotlineSite/Pages/default.aspx">Presidential Hotline</a>,
    <a href="http://www.psc.gov.za/anti_corruption/anti_corruption.asp">National Anti-Corruption Hotline</a>,
    or the <a href="http://www.pprotect.org/?q=content/toll-free-line">Public Protector</a>.
  </p>
</div>

{% include 'writeinpublic/flash_messages.html' %}

<form action="" method="post" class="person-write-form person-write-form--emphasised">{% csrf_token %}
    {{ wizard.management_form }}

    <p class="form-group">
    <label for="{{ form.persons.auto_id }}">
      Search for MPs by name, or select from the drop-down.
      <small class="new-line">You can send your message to up to 5 people.</small>
    </label>
    {{ form.persons.errors }}
    {{ form.persons }}
    </p>

    <input type="submit" value="Draft message" class="button pull-right">
</form>
{% endblock %}
