{% extends "base.html" %}

{% block title %}WriteInPublic messages to {{ committee.name }}{% endblock %}

{% block content %}

<h2>Messages sent to {{ committee.name }}</h2>
  <ul class="list-of-committee-messages">
  {% for message in messages %}
    <li class="list-of-committee-messages__item">
        <h3>
            <a href="{% url 'writeinpublic-committees:writeinpublic-message' message_id=message.id %}">{{ message.subject }}</a>
            &ndash; <small>{{ message.created_at|date:"d M Y" }}</small>
        </h3>
        <p>
            {{ message.content|truncatewords:30 }}
            <a href="{% url 'writeinpublic-committees:writeinpublic-message' message_id=message.id %}" class="list-of-committee-messages__item__read-link">Read message</a>
        </p>
        
      </li>
  {% empty %}
    {% comment %}
      TODO: Just hide this panel completely if there are no messages?
    {% endcomment %}
    <p>Nothing here!</p>
  {% endfor %}
  </ul>
{% endblock %}
