{% extends "base.html" %}

{% block title %}WriteInPublic message{% endblock %}

{% block content %}
<div class="person-write-message">
    <dl class="person-write-message__meta">
        <dt>To</dt>
        <dd>
          {% for person in message.people %}
            <a href="{% url 'person' slug=person.slug %}">{{ person.name }}</a>{% if not forloop.last %},{% endif %}
          {% endfor %}
        </dd>
        <dt>From</dt>
        <dd>{{ message.author_name }}</dd>
        <dt>Subject</dt>
        <dd>{{ message.subject }}</dd>
        <dt>Date</dt>
        <dd>{{ message.created_at|date:"j F Y f a" }}</dd>
    </dl>
    <div class="person-write-message__content">
      {{ message.content|linebreaksbr }}
    </div>
</div>
{% endblock %}
